[2021-08-28 01:33] DanteBM opened #824 "False hints in snakes antidote game"
## Description

Citing the rules of the game

Once you synthesize the antidote, you will be presented with 4 markers
Tick: This means you have a CORRECT ingredient in the CORRECT position
Circle: This means you have a CORRECT ingredient in the WRONG position
Cross: This means you have a WRONG ingredient in the WRONG position

You should only use each ingredient once.

This is a screenshot of my fi

[2021-08-28 02:10] KittyBorgX commented on #819
My username : KIttyBorgX [ even in discord ]

[2021-08-28 02:52] KittyBorgX opened #825 "Bookmark command makes the bot DM a user without reacting to the pin"
## Description
On running the bookmark command, the bot asks the user to react if they want the bookmark to be sent but the bot sends the bookmark to the user even if the user doesn't react

## Steps to Reproduce
1. Go to #sir-lancebot-playground
2. Bookmark any message with the .bm command
3. DO not react with the push pin
4. Observe how the bot sends the message to you regardless

## Expected Be

[2021-08-28 03:00] Xithrius commented on #825
This is intended. If you active the bookmark command, it will send you the link.

The reaction is for anyone else that wants to also bookmark that same message.

[2021-08-28 03:01] KittyBorgX commented on #825
Oh alright

[2021-08-28 03:01] #825 closed

[2021-08-28 12:05] gitautas commented on #812
@lemonsaurus currently the insertion of emojis and the stuttering are handled by a weighted RNG, which by default sets both values to 20%, meaning the every fifth word is stuttered and every fifth space has an emoji or word inserted, this can be tuned to the desires of either the staff, or the user by passing additional arguments.

[2021-08-28 12:31] wookie184 commented on #824
I believe this is intended behaviour. The tick means you have a correct ingredient in it's correct position, but the *position* of the tick doesn't indicate anything, so you don't know *which* ingredient you have in the correct position. This makes the game more interesting, as the strategy for it is less simple.

You can see that the position of the result emojis (white circle, tick, cross) is so

[2021-08-28 12:37] #800 closed

[2021-08-28 13:47] KittyBorgX opened #826 "Duplicate bookmark prevention"
## Description

When a user has already bookmarked a message, we check if the same message is already bookmarked and warn the user regarding the same

## Reasoning
This feature would help detect duplicate bookmarks

## Proposed Implementation
No ideas as if now :)

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2021-08-28 14:00] ChrisLovering commented on #826
I'm not quite following what it is you're trying to describe here.

If you're referring to someone book marking a message, then removing their reaction and reacting again, we already check for this, and it does not re-send the bookmark.

https://github.com/python-discord/sir-lancebot/blob/0da256ca8986700e9c288f26b9db9c8e0f842465/bot/exts/evergreen/bookmark.py#L121-L122

[2021-08-28 14:37] KittyBorgX commented on #826
oh weird, the bot dm'ed me twice, must be a one time glitch. Thanks for letting me know chris, ill limit and edit the issue to only the second part

[2021-08-30 08:47] #821 closed

[2021-08-30 08:52] #811 closed

[2021-08-30 08:54] ChrisLovering opened #827 "Allow bookmark command in every channel"
## Description

As discussed in https://github.com/python-discord/sir-lancebot/pull/816 we should allow the bookmark command to be allowed in every channel.

## Reasoning

Bookmarking messages is very useful for people who want to remember things, and the command itself doesn't use up much screen real-estate, so it shouldn't cause an issue

## Proposed Implementation

Possibly add the everyone rol

[2021-08-30 08:54] ChrisLovering commented on #827
@Objectivitix Since you did the first PR, I'll give you first dibs on this issue.

Do you want this? If not, I'll leave it open for others to pickup.

[2021-08-30 09:03] #782 closed

[2021-08-30 09:11] #612 closed

[2021-08-30 13:37] KittyBorgX commented on #819
Before i commit, does this sound good ? - `You must provide a message id from this channel or copy the link of a message in a different channel for bookmarking `

[2021-08-30 15:25] Bluenix2 opened #828 "Real Python command lists more than articles"
## Description
When using the Real Python command and inspecting the links, you'll find that some links are courses, lessons, or quizes.

## Steps to Reproduce
Use the `.rp` command with `concurrency` as search words.

## Expected Behaviour
The point of the Real Python command is to provide articles, it should only bring up articles per its purpose.

## Actual Behaviour
Currently you may receive o

[2021-08-30 15:34] brad90four opened #829 "Real Python search command returning courses, lessons and quizzes"
## Description

Real Python search command returning courses, lessons and quizzes.

The intent of the search command is to return only articles based on the user's input.
Based on this discussion: [discord message link]( https://discord.com/channels/267624335836053506/635950537262759947/881918113979961396)

## Steps to Reproduce

`.realpython concurrency` returned this list during a discussion:

S

[2021-08-30 15:35] #829 closed

[2021-08-30 15:39] ChrisLovering commented on #828
They RealPython search API has a `kind` query parameter. It would be  acase of setting this query param to `article` to just get articles.

[2021-08-30 19:36] #828 closed

[2021-08-30 22:17] ventaquil commented on #826
The bot doesn't remove the reaction (even after bookmark was sent and we react again and again), is it okay too?

[2021-08-31 01:59] KittyBorgX commented on #826
Yep, thats the issue currently

[2021-08-31 02:32] brad90four opened #834 "Add .gitmessage.txt to allow for consistent commit messages"
## Description

Add a .gitmessage file to have the same message come up for running the command line `git commit` command. There are templates that exist and can be modified to match the communities needs. Users will have to configure their .gitconfig (or this can be pushed as well) to use the .gitmessage as the template for their commit messages. The command line command to configure this is:

`g

[2021-08-31 15:20] ChrisLovering commented on #819
Copying the docstring from Discord.py could be good too.
[code]

[2021-08-31 15:22] KittyBorgX commented on #819
Sure!

[2021-08-31 15:25] ChrisLovering commented on #823
As wookie said, we already have this game in the bot, just under a different theme.

Please feel free to take a look at the snake antidote game source and see how it compares to your planned implementation. You could always see if you'd do it differently or if there are improvements to be made.

Alternatively, you can wait a few days for the discord.py 2.0 PR to be merged, and re-write snake antid

[2021-08-31 15:25] #823 closed

[2021-08-31 18:22] DMFriends opened #836 "Add Hangman game command"
## Description

I created a Hangman game in Python and would like to add it to Sir Lancebot via a new cog.

## Reasoning

I think Hangman is a game I am sure many people will want to play!

## Proposed Implementation

I would like to add a new cog to Sir Lancebot with the command `.hangman`

The user will be given a set of underscores, line by line, which indicates the word that the computer (bot)

[2021-08-31 20:43] ChrisLovering commented on #836
Could you please fill out the `Proposed Implementation` section with how you propose to implement this game?

[2021-08-31 20:44] DMFriends commented on #836
@ChrisLovering Didn't I do that?
"I would like to add a new cog to Sir Lancebot with the command `.hangman`"

[2021-08-31 20:47] ChrisLovering commented on #836
Yes, but could you explain how you propose it would work? Does the user get shown an image? does it use text, emojis, buttons, all of the above?

Actually describe what it is you plan to implement.

[2021-08-31 20:53] DMFriends commented on #836
@ChrisLovering Done. Let me know if you need anything else

[2021-08-31 20:56] ChrisLovering commented on #836
I've just found this issue https://github.com/python-discord/sir-lancebot/issues/599 that has quite a bit more defined about it, did you want to take over that issue instead? As it's currently up for grabs?

[2021-08-31 20:58] DMFriends commented on #836
Ok, will take a look

[2021-09-01 10:54] sentry-io[bot] opened #837 "AttributeError: 'Member' object has no attribute 'permissions_in'"
Sentry Issue: [SIR-LANCEBOT-65](https://sentry.io/organizations/python-discord/issues/2617973014/?referrer=github_integration)

[code]

[2021-09-01 11:20] wookie184 commented on #615
Can confirm the described behaviour still happens, I can go through and fix these cases. Should be as simple as adding in some `\n`s where they are missing

[2021-09-01 12:50] sentry-io[bot] opened #840 "AttributeError: 'Member' object has no attribute 'permissions_in'"
Sentry Issue: [SIR-LANCEBOT-66](https://sentry.io/organizations/python-discord/issues/2618204123/?referrer=github_integration)

[code]

[2021-09-01 13:07] #837 closed

[2021-09-01 13:07] #840 closed

[2021-09-01 15:04] janine9vn opened #841 "Restructure Lancebot's exts/ folder"
## Description
Sir-Lancebot, way back in the day, was created around seasons. We'd have things associated with Christmas, Easter, Valentine's Day, and then year-round things that we put under the "Evergreen" folder. With the growth of our community, Sir Lancebot has since outgrown this structure.

I'd like to re-organize Lancebot to be more general and less revolving around seasons.

## Reasoning

[2021-09-02 00:05] Shom770 commented on #599
I noticed there is an `up for grabs` tag on this, if no one else wants to, I would love to implement this issue.

I've already started making the basics, once I'm free I can send a video of how the base looks

[2021-09-02 00:10] Shom770 commented on #599
https://user-images.githubusercontent.com/82843611/131761332-508c85f4-4acc-480a-84d4-06526033c64d.mp4

Experimented with this hangman idea. I would love to work on this issue though if anyone else wants to take it, that's fine with me

[2021-09-02 00:15] DMFriends commented on #599
@Shom770 I liked your video! You can certainly go ahead and implement this feature. I was actually going to take it but I had a feeling that I might not have much time to do it, so I didn't assign it to myself. If you get stuck along the way, feel free to DM me on Discord (DM-Friends is my username) or ping me here and I can try to maybe find some time to help you.

[2021-09-02 00:17] Shom770 commented on #599
@

[2021-09-02 00:18] Shom770 commented on #599
@DMFriends Sounds great!
I haven’t contributed much so I don’t really know if multiple people are allowed to help on one PR (I would presume so) but if you ever have time I would be more than glad to have you help out if you wanted to!

[2021-09-02 00:20] DMFriends commented on #599
@Shom770 I am pretty sure that you are allowed to work with multiple people on one PR.
Cool, thanks so much!

[2021-09-02 03:21] Objectivitix commented on #827
@ChrisLovering I'll be on it, thanks! Will `role=(everyone role)` be enough? I'll look through the code tomorrow, currently about to sleep lol

[2021-09-02 03:24] Objectivitix commented on #841
Wow, super cool :D Lancy getting a restructure!

[2021-09-02 13:28] D0rs4n commented on #841
That looks really nice. However, (that's just a suggestion.)  since Sir Lancebot is now on discord.py 2.0 I  believe it would be really great if somehow you could integrate the concept of views into the structure. That's still in the future, but as a concept I could imagine something like `generic_views` that are used all around the code, and are useful in many contexts, and "local" views that are

[2021-09-02 13:29] ChrisLovering commented on #841
I imagine generic views would go into the utils folder, similar to other helpers functions/classes, and cog-specific views would be near the cog itself.

[2021-09-02 13:48] ChrisLovering commented on #827
Great, I'll assign you to the issue! I'm not too familiar with the check, but that might do it. Feel free to ask in #dev-contrib if you're having issues.

As always there's no rush, so take your time :)

[2021-09-02 17:23] Objectivitix commented on #827
Thanks! I'd probably need a PyDis server clone, and since I haven't contributed for a while after the 3.9 and poetry upgrade, I'd need to update my Lance file as well to work with it. IIRC the instructions are in dev-announcements, so that's convenient :P

[2021-09-02 18:49] lxnn commented on #812
I, for one, am glad that we can remain on the cutting-edge in this vitally important area. All too often, the most advanced uwugorithms are locked up in the ivory towers of academia, where they are unable to fulfil the enormous potential they have to enrich the lives of ordinary people. Thank you, @gitautas, humbly.

[2021-09-02 19:02] lemonsaurus commented on #812
I don't have a problem with this idea, I'll leave it to you guys to find the right "intensity" for our use.

[2021-09-03 07:31] #615 closed

[2021-09-03 12:11] brad90four commented on #73
So I see that this was approved in Feb of last year, but was there an agreed implementation method?

There would be a command named "season" with options for astronomical, meteorological, and solar seasons. If no options are passed, what should the default response be? Should there also be a North / South hemisphere check or just default to sending both?

Just trying to wrap my head around what co

[2021-09-03 13:23] brad90four commented on #677
This seems like it is pretty well defined regarding the scope and the features required. I can try to give this a shot.

[2021-09-03 14:06] HassanAbouelela commented on #611
I don't mind adding support for gitpod, I just ask we maintain a high standard for what we add.

Gitpod is a large service, with many users, so it's okay to add. Smaller services are a dime a dozen, and don't make as much sense to support.

[2021-09-03 14:08] HassanAbouelela commented on #451
Hey @Xithrius I think we should close this for now.

We tried to poll for it in the dev-core channel, but we don't have enough people that can implement and review this feature, due to limited accessibility.

We can reopen it in the future if we do find people.

[2021-09-03 14:48] D0rs4n commented on #321
I'd like to grab this issue!

[2021-09-03 15:10] CyberCitizen01 commented on #677
I would also like to work on this.

[2021-09-03 15:28] #608 closed

[2021-09-03 16:30] Xithrius commented on #451
@HassanAbouelela Very well.

[2021-09-03 16:30] #451 closed

[2021-09-03 23:02] #836 closed

[2021-09-04 16:49] sentry-io[bot] opened #846 "AttributeError: 'Member' object has no attribute 'avatar_url'"
Sentry Issue: [SIR-LANCEBOT-67](https://sentry.io/organizations/python-discord/issues/2618379582/?referrer=github_integration)

[code]

[2021-09-04 17:50] DMFriends opened #847 "Add Madlibs game"
## Description

I would like to create a Madlibs game command for Sir Lancebot.

## Reasoning

Most often than not, the output of the game (the story with the blanks filled in) will sound really funny and/or silly, so I'm sure many people will want to play it!

## Proposed Implementation

The command for this game will be `.madlibs`

When the command, `.madlibs`, is run, the bot will ask the user

[2021-09-04 18:02] Kronifer commented on #847
Could you explain how you will get words from the user?

[2021-09-04 18:11] DMFriends commented on #847
@Kronifer By simply asking the user to send a message with the word they want to use

[2021-09-04 21:40] Shom770 opened #848 "Adding a challenge command"
## Description

The `.challenge` command would pull a random kata (challenge) from codewars.com, and the user can filter with either the query or the kyu (difficulty), 1 being the hardest, 8 being the easiest, along with the programming language the kata is in.

## Reasoning

`codewars.com` is a popular website for coding challenges, which many people use. A lot of people including myself want to

[2021-09-04 21:59] janine9vn commented on #848
Are you planning on using the codewars API?
I've looked at it previously and I'm curious how you're going to search for katas or select random ones because as far as I know it only returns challenges that you specifically query for.

[2021-09-04 22:27] Shom770 commented on #848
I'm using bs4 to get the kata ID, coupled with the codewars API to get information about the kata itself

[2021-09-05 18:46] #841 closed

[2021-09-05 18:46] #846 closed

[2021-09-05 19:45] D0rs4n opened #852 "Cogs under events directory are not loaded in."
## Description
The cogs that are in the events folder are not loaded in.

## Steps to Reproduce
Try to use `.aoc`
## Expected Behaviour
It should send an embed containing the specifics of the AoC commands
## Actual Behaviour
The cog(s) are not loaded in, so nothing happend
## Known Impacted Platforms

- [x] Web
- [x] Desktop
- [x] Android App
- [x] iOS App

## Possible Solutions
Add an `__init__.p

[2021-09-05 20:09] D0rs4n commented on #852
Fixed in #853

[2021-09-05 20:09] #852 closed

[2021-09-05 23:52] Objectivitix commented on #827
I'm getting quite confused over the whitelist logic - it's scattered over multiple files and I tried implementing an `every` parameter in `in_whitelist_check` but didn't get any results. I'll try some more stuff tomorrow, but if all else fails, I'm thinking of just making an `Everywhere` class whose instances can be put into the `channels` param. The class will roughly look like this: ```py
class

[2021-09-05 23:54] Objectivitix commented on #827
For now though, I still got some things I can try :P

[2021-09-06 12:58] ChrisLovering commented on #827
It might be best asking in #dev-contrib, I haven't looked into the whitelist check myself, others might have.

[2021-09-06 14:14] Numerlor opened #854 "Add coloredlogs"
We have been using coloredlogs on bot for a while now which makes the logs more readable. There initially were some issues on windows but those seem to have been taken care of now.
The same configuration as the bot uses can be used for consistency.

I can take care of this along with #706 if @ToxicKidz is not working on that issue

[2021-09-06 14:16] Akarys42 commented on #854
I believe we need to specify colorama as a win32 only dependency to make sure it is supported on any terminal. That sounds good to me though!

[2021-09-06 15:25] Objectivitix commented on #827
Me about to fall asleep:
My brain: hey, did you check the decorator type hints today? You might've simply reversed the order...
Me: no no shut up
Me brain: the solution to your bug was probably very simple
Me: ...

[2021-09-06 15:29] Objectivitix commented on #827
`def inner(func: Callable) -> Callable:`
So yeah, I swapped it around xD I used the decorator on a command object
BRUH IT EXPLICITLY STATES TO USE ON THE FUNCTION ITSELF

[2021-09-06 15:53] Objectivitix commented on #827
Update: lmao my late night brain was right, linting and making PR now

[2021-09-06 18:37] #803 closed

[2021-09-06 19:08] Xithrius commented on #783
Due to the concern of how long a animated avatar could be, this can cause large amounts of resources to be used up.

Maybe another feature can be created with rickrolling? If so, please make another issue.

[2021-09-06 19:08] #783 closed

[2021-09-06 19:10] Xithrius commented on #742
Why JSON instead of YAML?

[2021-09-06 19:12] Akarys42 commented on #742
I'd argue we would be better off switching everything to Yaml or Toml as it is much more readable :P but I'm not even sure that is worth doing

[2021-09-06 19:19] Xithrius commented on #641
I don't want to fill up the user's pinned messages, since it may collide with something in the future.

If anything, we should go with manual additions instead of automatic bookmarking so users aren't randomly DM'd.

[2021-09-06 19:28] onerandomusername commented on #641
To note, at this point, the bot *basically* has a database with redis.

[2021-09-06 19:31] Xithrius commented on #641
Well, yes, but I'm not sure if it's suited for long-term storage. We'd have to put some time limit on the bookmark or something so we don't use up storage for no reason.

[2021-09-06 21:05] Numerlor commented on #854
Alright, I'll start working on it

[2021-09-07 11:11] #446 closed

[2021-09-07 14:58] ChrisLovering commented on #848
Sounds good to me, approved.
Codewars robots.txt has a blanket allow, and no where in the terms does it disallow automation.

[2021-09-07 16:03] janine9vn opened #861 "`.timeleft` command should be a subcommand of hacktoberfest"
## Description
Currently we have a `.timeleft` command under the hacktoberfest cog. However, it's a top-level command.
I'd like to move it as a subcommand so you would have to do `.hacktoberfest timeleft`.

## Reasoning
Hacktoberfest is no longer going to be a major event we participate in and we have other events that I think would be better suited to this type of countdown. Advent of Code alread

[2021-09-07 16:07] janine9vn opened #862 "`.hanukkah` should not be timelocked to December"
## Description
Currently, the `.hanukkah` command is locked to only be usable in December. This is uh... not correct as Hanukkah can drift into November as well.

## Possible Solutions
The `@in_month()` decorator can be expanded to include November as well as December.

## Would you like to implement a fix?
- [ ] I'd like to implement the bug fix
- [X] Anyone can implement the bug fix

[2021-09-07 16:19] NIRDERIi commented on #862
Wow I am a jew and I didn't know it can be drifted to November as well. Anyways, yeah. Any chance you can point me to the commands source directory?

[2021-09-07 17:13] wookie184 commented on #862
The current check is here:
 https://github.com/python-discord/sir-lancebot/blob/edb80b90186b7ebfcce8b3dae55fedb62a77b912/bot/exts/holidays/hanukkah/hanukkah_embed.py#L40
Would you like to PR this change, @NIRDERIi?

[2021-09-07 18:49] sentry-io[bot] opened #863 "ValueError: dictionary update sequence element #0 has length 3; 2 is required"
Sentry Issue: [SIR-LANCEBOT-6C](https://sentry.io/organizations/python-discord/issues/2632383206/?referrer=github_integration)

[code]

Seems to be caused by running `.help latex` possibly other commands too.

[2021-09-07 19:29] NIRDERIi commented on #862
Basically al needed to change is just doing: `@in_month(Month.DECEMBER, Month.NOVEMBER)` right?

[2021-09-07 20:41] wookie184 commented on #862
Yeah that looks like it should work (although you could put November before December because it comes first :))

[2021-09-07 20:49] NIRDERIi commented on #862
I would love to do the PR, tho I am not good with github so I am afraid I might be doing it wrong or it might take too much time.

[2021-09-07 21:33] wookie184 commented on #862
There's no rush at all for this to be done (still two months until November, and even then it wouldn't be urgent...), and there's no need to worry about doing something wrong- everything is fixable and you can ask on the server if you have any questions.

This is a pretty good issue for a first PR if you haven't done one before, so I'd say you should give it a go if you want to. If not, that's als

[2021-09-07 21:45] NIRDERIi commented on #862
I did a PR once, but all I remember is forking the project, editing, and then somehow opening a PR. And after that Akarys did something with my fork and the repo.

[2021-09-08 21:11] Kronifer opened #865 "Switch to a Discord.py fork"
## Description

Consider switching to a discord.py fork, such as nextcord, which will be maintained for the foreseeable future.

## Reasoning

We won't miss out on new features of discords API, and therell be more support in the long term.

## Proposed Implementation

Switch to nextcord. It's more or less a drop in replacement. Switch up a few imports and we're good.

## Would you like to implemen

[2021-09-09 08:45] #862 closed

[2021-09-09 08:57] onerandomusername commented on #865
There's no reason to switch this early.
See https://canary.discord.com/channels/267624335836053506/635950537262759947/881484956495392768 for a statement from Zig.

Also that fork in particular is not the best, IMO.

Good summary here:

![image](https://user-images.githubusercontent.com/71233171/132655602-9a8784c8-41d3-4e69-8a33-ca7b9cf9b32f.png)
![image](https://user-images.githubusercontent.com/7

[2021-09-09 09:19] Xithrius commented on #865
I don't think we should switch to a fork unless we absolutely need to. dpy 2.0 seems to be doing well atm.

[2021-09-09 09:31] onerandomusername commented on #865
I've only found a few bugs anyhow, neither of which should affect pydis
right now.

[2021-09-09 10:34] Xithrius commented on #865
If this is considered, it will be done in the future. For now, there is no need to switch.

Thanks for bringing this up.

[2021-09-09 10:34] #865 closed

[2021-09-10 21:24] doublevcodes commented on #861
Can I do this?

[2021-09-11 19:04] camcaswell opened #866 "Fix the DDDG game board"
## Description
Editing an embed with an image causes the image to appear in the message as well. The original DDDG implementation used a workaround that immediately broke when we moved to discord.py 2.0. J9 then put in a temporary fix in the re-organization PR by editing the message text instead of the embed text. This fixes the image bug but places the text over the board, doesn't look as good, a

[2021-09-12 09:24] maxyodedara5 commented on #730
@Xithrius This looks interesting to implement, do you mind assigning me this issue.

My approach so far
Create a list of all anagrams which can be made (JSON file maybe)
Select a word which has anagrams from JSON at random and scramble the word so its letters are jumbled
Users will suggest words which are anagrams, check in JSON if they are valid anagrams if yes award points (still figuring out ho

[2021-09-13 01:32] Kronifer commented on #863
I'm making a guess that this is caused by a faulty disabling of `.latex`.

[2021-09-13 14:18] Kronifer commented on #611
@Xithrius, is this approved and could I be assigned?

[2021-09-13 15:16] HassanAbouelela commented on #611
Yes & yes

[2021-09-13 18:33] OculusMode commented on #772
Hey @Xithrius sorry for late reply, been bit busy in studies, haven't worked on this.

[2021-09-14 09:31] Vthechamp22 commented on #677
Another feature could be to generate color palettes?

[2021-09-15 15:32] janine9vn opened #868 "Add a per-channel cooldown for .topic"
## Description & Reasoning
The `.topic` command provides conversation starters for our channels. It's very useful for getting things back on topic or to bring up a new thing to talk about. However, I've noticed that some people will just use this command as a rapid-fire answer mechanism, so they end up using `.topic` several times in as many minutes.

That's not really the intent of this command a

[2021-09-15 15:50] janine9vn commented on #868
People have brought up the issue of if the users don't like the current topic, how can they get a new one?

The proposed solution there is to add a reaction to re-run the topic to pick a new one.

[2021-09-15 15:53] D0rs4n commented on #868
It could also be solved, by adding a countdown button, and when it reaches the desired amount of votes it picks new one.(Timeout should be configured accordingly)
(Just to make use of the new dpy. 2 features 👍 )

[2021-09-15 16:05] Vthechamp22 opened #869 "Update Spook Name Rate game"
## Description
About one year ago, I created a pull request (#590) that closed issue #277, a relatively simple game called the Spooky Name Rate game where people try to spookify a name announced everyday and compete for the spookiest name. Since October is arriving again, this cog is soon going to be in use, but now I realise that not only can this be improved using the new discord features such a

[2021-09-15 16:33] Qwerty-133 opened #870 "Unwanted error handling in command suggestions."
## Description

The bot sometimes sends you error messages when you type invalid commands.

## Steps to Reproduce
Type `...and` or `.cand` or so on in a channel, and you'll be met with an embed by the bot saying "Command can only be used in October." This happens because the command handler tries suggesting the `candy` command but its checks raise a check failure, and the check failure is passed t

[2021-09-18 12:46] CyberCitizen01 commented on #677
@Vthechamp22 Could you please elaborate a little more and If you can, please provide with some (visual) reference to what you are suggesting.
Thank you.

[2021-09-18 15:29] ToxicKidz commented on #670
This seems to be completed in #778.

[2021-09-19 04:45] #599 closed

[2021-09-19 10:17] Bluenix2 opened #871 "Multiplayer hangman listens to the whole server"
## Description
When using Hangman multiplayer Sir Lancebot will respond to every message sent in the whole server.

## Steps to Reproduce
Play a hangman game and send messages in other channels.

## Expected Behaviour
It should actually just listen to messages in the current channel.

## Actual Behaviour
Sir Lancelot intercepts every single message as one directed to the game and most commonly res

[2021-09-19 10:24] Bluenix2 opened #872 "Reintroduce hangman multiplayer"
## Description
Following the removal in #871, hangman should be re-added again.

## Reasoning
Quickly following its introduction it become apparent that hangman's multiplayer mode had some flaws. Most importantly, it meant that a whole channel was occupied.

## Proposed Implementation
Multiplayer mode should be reintroduced using **threads**, this is also the reason that the issues are separated.

[2021-09-19 16:32] wookie184 commented on #863
Looking into it i'm guessing this was caused by the switch from fuzzywuzzy to rapidfuzz, https://github.com/python-discord/sir-lancebot/pull/799/files, [`process.extract`](https://maxbachmann.github.io/RapidFuzz/process.html#rapidfuzz.process.extract) returns tuples with 3 elements, while creating a dictionary only accepts 2.

We can fix this the same way as Python bot does it, https://github.com/

[2021-09-19 17:03] #871 closed

[2021-09-19 17:06] wookie184 commented on #866
Sounds fine to me.

[2021-09-19 17:25] wookie184 commented on #742
In our resources folder we have 3 yaml/toml files (https://github.com/search?q=repo%3Apython-discord%2Fsir-lancebot+extension%3Ayaml+extension%3Atoml+path%3Abot%2Fresources) and 43 json files (https://github.com/search?q=repo%3Apython-discord%2Fsir-lancebot+extension%3Ajson+path%3Abot%2Fresources), so a change to all JSON would be much easier.

I prefer JSON for this sort of use case, as it's more

[2021-09-20 10:20] Akarys42 commented on #869
This sounds good. Putting a block on the thread part until we support threads publicly, but feel free to implement the rest.

[2021-09-20 10:28] lxnn commented on #869
Perhaps we should start compiling a checklist of things that need to be fixed?

[2021-09-20 10:53] Bluenix2 commented on #869
What's wrong with depending on threads?

The way I see it the Python bot will support threads when the PRs using threads are ready to be merged?

Even so, this system won't go into play until October and surely threads will be fully rolled out at places at that time.

[2021-09-20 15:19] sentry-io[bot] opened #875 "TypeError: can't compare offset-naive and offset-aware datetimes"
Sentry Issue: [SIR-LANCEBOT-6E](https://sentry.io/organizations/python-discord/issues/2660949350/?referrer=github_integration)

[code]

[2021-09-20 15:20] sentry-io[bot] opened #876 "TypeError: can't compare offset-naive and offset-aware datetimes"
Sentry Issue: [SIR-LANCEBOT-6E](https://sentry.io/organizations/python-discord/issues/2660949350/?referrer=github_integration)

[code]
This was caused by the emoji info command here https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/utilities/emoji.py#L110

[2021-09-20 15:21] Akarys42 commented on #876
BEEP BOOP DUPLICATES OF #875

[2021-09-20 15:21] ChrisLovering commented on #876
Duplicates https://github.com/python-discord/sir-lancebot/issues/875

[2021-09-20 15:21] #876 closed

[2021-09-21 20:02] janine9vn commented on #787
Thinking about this, I think it would be nice if this command accepted some sort of indication of tz. So it would have a converter and accept both:
- Timezone (i.e. EST, EDT, IST)
- UTC offset

For timezones, since some of them can be ambiguous, if there's more than one option that fits this, you can use the Discord Button components to have the user select the correct timezone.

I believe this al

[2021-09-21 20:04] doublevcodes commented on #787
What do you mean by "arrow" specifically?

[2021-09-21 21:50] Xithrius commented on #787
@doublevcodes https://pypi.org/project/arrow/

[2021-09-22 17:56] jchristgit commented on #611
@Kronifer should we document the gitpot support in the README, so people know where to quickly start working on the bot?

[2021-09-22 18:07] Kronifer commented on #611
@jchristgit I'll do that once I get home

[2021-09-23 07:59] Inheritanc-e commented on #551
This will be done very soon.

[2021-09-23 19:59] jchristgit commented on #611
Thank you 😌

[2021-09-24 11:17] ChrisLovering commented on #847
This sounds like a good idea and can be quite fun.

If you wanted to as part of this, we could also add a profanity filter to sir lance, so that users can't get lance to parrot bad words. This is optional though, as we already have other similar commands that don't do this.

[2021-09-24 11:30] DMFriends commented on #847
Thanks @ChrisLovering ! Yeah, that's a good idea, I will add the profanity filter as well.

[2021-09-24 20:34] #611 closed

[2021-09-26 03:28] onerandomusername opened #882 "help command doesn't always respond"
## Description

running `.help quote` sends no response

## Steps to Reproduce

run `.help quote`

## Expected Behaviour

Bot either gives help message or errors since it is not valid.

## Actual Behaviour

No response is provided.

## Known Impacted Platforms

- [ ] Web
- [ ] Desktop
- [ ] Android App
- [ ] iOS App

## Possible Solutions

I have no idea what the error is internally.

## Would you

[2021-09-26 03:40] onerandomusername opened #883 "suggestion: button paginator"
## Description

Now that sir-lancebot is on dpy2 v2, lance can use buttons.

I'd like to see a button paginator on lance, rather than reactions.

## Reasoning

Honestly, there's not much of an internal benefit, except for not having to listen for reactions 😄

## Proposed Implementation

Basically, would change the external interface to this:
![image](https://user-images.githubusercontent.com/71233

[2021-09-26 04:07] onerandomusername commented on #882
apparently this is a lot worse than i thought it was
or better, since this is more useful than one command not working 😛
![image](https://user-images.githubusercontent.com/71233171/134793266-77da87b0-3ca3-4151-b2f7-860f9066ff64.png)

[2021-09-26 19:18] onerandomusername commented on #882
Seems to be a dupe of #863

[2021-09-26 19:18] #882 closed

[2021-09-26 19:18] onerandomusername commented on #863
This is very noticiable in the help command
![image](https://user-images.githubusercontent.com/71233171/134821263-7fc5fa18-edd4-49a7-af1e-cc2b02e72dfa.png)

[2021-09-26 21:24] #827 closed

[2021-09-27 19:33] TizzySaurus commented on #861
@doublevcodes has [said on Discord](https://discord.com/channels/267624335836053506/635950537262759947/892099237649739776) they're no longer able to do this due to school work. If I'm able to, I'll approach this soon:tm:.

[2021-09-28 05:46] onerandomusername opened #887 "should the avatar commands support per-server pfps or not?"
## Description

Currently, avatar commands use the user's avatar, and not the guild specific avatar.

## Steps to Reproduce

run any avatar command

## Expected Behaviour

the displayed avatar is used to make the images.

## Actual Behaviour

the user's global avatar is used to make the images.

## Known Impacted Platforms

- [x] Web
- [x] Desktop
- [x] Android App
- [x] iOS App

## Possible Solut

[2021-09-28 10:29] lxnn commented on #872
I'm not up to date on whether we are already using threads with Sir Lancebot. Is this issue currently blocked?

[2021-09-28 11:21] DMFriends commented on #872
So, here's the thing: we _can_ technically use threads _manually_, but that's not going to be very effective for this game, right? So what we are waiting on is the full release of d.py 2.0, after which we can upgrade the main Python bot so it can manage threads (there is a PR for it in the bot repo), and only after that could someone start working on this. So yes, you are right, this issue is pret

[2021-09-28 11:27] DMFriends commented on #872
I have 2 alternative implementations that don't really require the use of threads.

1. What we could do is, instead of opening threads when the multiplayer game command is run, (I'm not even sure if this is possible) unlock a special channel where anyone can join the person who ran the command. This one has some problems, which I'm not sure if it's obvious or not so I'll say it anyway. Other peopl

[2021-09-28 15:51] lxnn commented on #787
@VikranthMaster are you still working on this? How's it coming along?

[2021-09-28 18:29] Bluenix2 commented on #872
Yes @lxnn we need to wait for Python bot's usage of discord.py to use threads anywhere. Even though Sir Lancebot does support threads.

I would much rather we wait until we can use threads.

[2021-09-28 18:45] DMFriends commented on #872
Ok, I guess we can wait. Do you know approximately when dpy 2.0 will be released? @Bluenix2

[2021-09-28 18:48] Bluenix2 commented on #872
It won't, discord.py has been archived and Python bot will be moved to the most recent commit and use that for the time being.

[2021-09-28 19:13] DMFriends commented on #872
What do you mean by "most recent commit"? Of dpy? And my guess is that commit does not include thread support, correct? If so, I'm curious to know how thread support will be added to the Python bot and when that will happen? @Bluenix2

[2021-09-28 19:21] Bluenix2 commented on #872
Discord.py has been archived and Python bot (the same way Sir Lancebot does) install from the GitHub repository where there is thread support and support for interactions.

[2021-09-28 19:30] Bluenix2 commented on #872
Python bot doesn't use discord.py 2.0 yet.

[2021-09-28 19:33] DMFriends commented on #872
Ok, thanks for clarifying.

[2021-10-01 09:32] #652 closed

[2021-10-02 11:23] TizzySaurus opened #888 "Pascal's Triangle Image in `.quiz` command doesn't render"
## Description

Pascal's image in `.quiz` command doesn't render.

## Steps to Reproduce

Play `.quiz math` until you get the pascal's triangle question

## Expected Behaviour

The image from the json file should be attached

## Actual Behaviour

No image gets attached, although the `image` is definitely set

![actual behaviour](https://user-images.githubusercontent.com/47674925/135713849-14511a3d

[2021-10-03 12:34] #875 closed

[2021-10-03 12:37] KittyBorgX commented on #819
@ChrisLovering is it possible to transfer this from my name to someone else? I've been a bit busy with school and exams 🥲

[2021-10-03 13:07] ChrisLovering commented on #819
Sure! I'll PR something now.

[2021-10-03 14:21] #784 closed

[2021-10-03 16:47] #819 closed

[2021-10-05 02:00] aaravm4 commented on #502
Im pretty busy at the moment. You can give both of my PRs to others interested.

[2021-10-07 18:31] Kronifer commented on #710
is this open?

[2021-10-07 19:34] #868 closed

[2021-10-08 07:57] Nipa-Code opened #894 "issue on .topic reaction"
## Description
When bot adds reaction  to `.topic` , and then user tries reacting happens on it. If moderator reacts to reaction, then it works.

## Steps to Reproduce

1. Use ``.topic`` without any mod role
2. Click the reaction
3. Nothing happens

## Expected Behaviour

On reaction bot should refresh the `topic`.

## Actual Behaviour

When non moderator reacts to message the bot does not refresh

[2021-10-08 08:15] Nipa-Code commented on #894
@TizzySaurus has said he'd like to work on this

[2021-10-08 10:07] ChrisLovering commented on #894
While you're doing this, could you also have the bot remove the user's reactions after it's refreshed the topic?

[2021-10-08 19:07] #894 closed

[2021-10-08 20:09] #866 closed

[2021-10-11 12:38] sentry opened #898 "AttributeError: 'AI' object has no attribute 'user'"
Sentry Issue: [SIR-LANCEBOT-6M](https://sentry.io/organizations/python-discord/issues/2704303843/?referrer=github_integration)

[code]

[2021-10-13 19:21] janine9vn opened #903 "Python Trivia Night Command(s)"
## Description
One of the events I'm planning to host in 2022 is a Python Trivia Night! People will gather in a stage channel and we'll be asking Python Trivia questions for people to answer. To help with participation and running the event, I'd like to have a cog/extension with a set of commands to help facilitate this.

## Proposed Implementation
I'd like a new set of commands under `.trivianigh

[2021-10-13 19:46] sentry-io[bot] opened #905 "Channel "advent_of_code" with ID 782715290437943306 missing"
Sentry Issue: [SIR-LANCEBOT-3E](https://sentry.io/organizations/python-discord/issues/2246032408/?referrer=github_integration)

[code]

[2021-10-13 19:46] sentry-io[bot] opened #906 "AttributeError: 'NoneType' object has no attribute 'guild'"
Sentry Issue: [SIR-LANCEBOT-6Q](https://sentry.io/organizations/python-discord/issues/2715568381/?referrer=github_integration)

[code]

[2021-10-13 19:54] #905 closed

[2021-10-13 20:20] sentry opened #907 "TypeError: object of type 'NoneType' has no len()"
Sentry Issue: [SIR-LANCEBOT-6R](https://sentry.io/organizations/python-discord/issues/2715756932/?referrer=github_integration)

[code]

Issues can have empty bodies, in this case GitHub doesn't include the key in the API response. This command should handle that.

[2021-10-13 21:23] #848 closed

[2021-10-13 21:25] Shom770 commented on #903
I'd be down to work on this! I'm not sure if this would require any database experience though because I've only worked with MongoDB and I don't know how any other databases work (like redis and what not)

[2021-10-14 00:20] onerandomusername commented on #907
https://github.com/python-discord/sir-lancebot/blob/a0c86e72c0a418f1265a1aa035b45048d8e921ec/bot/exts/events/hacktoberfest/hacktober-issue-finder.py#L107

[2021-10-14 00:21] onerandomusername commented on #907
I can fix this

[2021-10-14 02:23] Hillo111 opened #911 "Community costume catalogue! (.costume)"
## Description
A community costume catalogue would allow users to
1. Look through and use a catalogue of "costumes"
2. Rank those costumes using a simple upvote/downvote system
3. **Contribute their own costumes to the catalogue**

Each "costume" would be a `.png` of the "costume", as well as the costume name and author

For looking through a catalogue, a simple paginator could be set up, displayi

[2021-10-14 06:42] sentry-io[bot] opened #912 "AttributeError: 'NoneType' object has no attribute 'replace'"
Sentry Issue: [SIR-LANCEBOT-6T](https://sentry.io/organizations/python-discord/issues/2716655915/?referrer=github_integration)

[code]

[2021-10-14 08:16] TizzySaurus commented on #912
@Shom770 has solved that as part of #909 :+1:

(for some reason GitHub won't let me assign them so commenting instead)

[2021-10-14 13:05] #907 closed, assigned to nobody

[2021-10-14 19:55] #321 closed

[2021-10-15 00:50] Shivansh-007 opened #913 "XKCD Failed to catches an error if ran too early"
## Description
If no arguments are provided for the XKCD command, it finds the latest comic it fetched within the current half an hour and sends it to the user. There is no error handling if we run the command just as the bot starts i.e. the task won't be able to get finished and we won't be able to get the latest, thereby raising the below error:

![image](https://user-images.githubusercontent.co

[2021-10-17 12:17] #898 closed, assigned to TizzySaurus

[2021-10-18 09:26] hedyhli opened #916 "Poetry user install error on Gitpod workspace restart"
## Description
Everything works fine when spinning up a fresh new workspace with gitpod. This is because the `init` part in `.gitpod.yml` is run.

However, on workspace restarts (such as closing the tab and then reopening that workspace after some time), `poetry install` would show `ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.` for every single

[2021-10-18 15:39] Brodevil opened #917 ".dictionary command"
## Description

`.dictionary` command for sir-lance bot, This would be going to give the word's definition
Using [Dictionary API](https://dictionaryapi.dev/), it's free at all

## Reasoning

This will be get the quick access to the definition of new words
While chatting with others, It will definitely going to help to them who heard the word first time
Also this will improve English literacy

## A

[2021-10-18 15:42] Kronifer commented on #917
Hi @Brodevil, this needs some planning before you're assigned. It might take a few days

[2021-10-19 02:57] DMFriends commented on #917
@Brodevil I love this idea (and the API that you found) a lot! However, you do need core dev approval before you can get assigned, as Kron said. So just be patient someone should get back to you soon. Thanks again for the suggestion, it is really great!

[2021-10-19 07:04] Nipa-Code opened #918 "un bookmark command"
## Description
There would be a way to remove a bookmark. This would be useful while mistakenly creating a bookmark or if you have many of bookmarks and don't want to have them there anymore.
## Reasoning

If you happen to create a bookmark for a wrong message, you could delete that bookmark. Or if you just have a old bookmark that you don't anymore need. It would keep the bookmarks clear.

## Pro

[2021-10-19 08:10] ChrisLovering commented on #918
I think instead of checking it matches the bookmark structure, we can make it so that it can only be ran in DMs. Less room for error that way.

[2021-10-20 01:03] hedyhli commented on #489
I can work on this but it's blocked by #919 for now

[2021-10-20 09:40] ChrisLovering commented on #918
The other option is that we store messageIDs of the messages in DMs, and add a reaction. We then have a listener for RawReactionActionEvent which checks if that message ID is in redis, and deletes the message and removes it from redis.

[2021-10-20 09:43] garvit-sharma-iitbh opened #920 "Funny gif command"
This is a command for Sir Lancebot to send a funny gif from tenor.
There can be a cooldown on the command. The cooldown will be decided by other people, I think 5sec cooldown for the command is good.

I can alone work on this project but I just need some people to help me a bit.

Name of the command - .funny
Who is working? - Giant#5070 (Discord)
Cooldown- about 5 sec

It may take time to complete

[2021-10-20 14:07] Fuwad13 opened #921 "help command pagination using message components"
## Description

Discord's message components and interaction based pagination would be better for the help command.

## Reasoning

Since `@Sir Lancebot` is running on discord.py v2.0 , it would be cool and better to have help command pagination using buttons and interactions instead of reaction based pagination. It takes a little bit of extra time for the current help command session to add reacti

[2021-10-21 09:46] TizzySaurus opened #923 "Migrate to `discord.Colour.og_blurple()`"
## Description

Change all instances of `discord.Colour.blurple()` to `discord.Colour.og_blurple()`.

## Reasoning

Discord.py V2.0 changes `discord.Colour.blurple` to discord's new blurple colour, but we decided to stick to the og blurple for our branding. The bots should reflect this decision.

## Proposed Implementation

Just a matter of updating all of occurences of `discord.Colour.blurple()`

[2021-10-22 02:29] #602 closed

[2021-10-25 03:48] bsoyka opened #927 "Keep automatic issue links in order"
## Description

Automatic issue linking currently uses a `set` to remove duplicates, which makes the list of found issues and PRs unordered.

https://github.com/python-discord/sir-lancebot/blob/ec536f76da89cda38592f800e92b9c4de99a9d53/bot/exts/utilities/issues.py#L247-L248

I would like to use an alternative method to remove duplicates that retains ordering.

## Reasoning

Keeping the list of foun

[2021-10-25 03:55] #927 closed, assigned to nobody

[2021-10-25 13:04] sentry-io[bot] opened #928 "KeyError: 'draft'"
Sentry Issue: [SIR-LANCEBOT-6X](https://sentry.io/organizations/python-discord/issues/2743337733/?referrer=github_integration)

[code]

[2021-10-26 23:13] #923 closed, assigned to TizzySaurus

[2021-10-28 21:05] #920 closed, assigned to nobody

[2021-10-30 06:37] InvisibleOS opened #932 "Replace reactions in the `bookmark` command with buttons."
## Description
Right now, bookmarking messages as someone who is not the command invoker requires adding a reaction. I believe that the system can be made much more better using buttons as it greatly improves the UI and makes it a bit more simpler.

## Reasoning
While using interactions, we now have an option to make any error only visible to the interaction author by making the error message ephe

[2021-11-01 07:42] Nipa-Code opened #933 "possible error/bug at `.wiki` command"
## Description

There might be a bug/error when reacting to `.wiki` commands trashcan, I was able to remove the message by clicking trashcan even when I was not the one running the command.

## Steps to Reproduce

If this is not how it should act there might be a error in check. Maybe adding a check to function to `.wiki` command (if this is not how it should act). It would be nice to be limited,

[2021-11-01 07:45] HassanAbouelela commented on #933
Thanks for the report. The paginator takes a `restrict_to_user` argument:
https://github.com/python-discord/sir-lancebot/blob/ba4b0e498191195d773c031fcfdaef862bd472b8/bot/utils/pagination.py#L91-L95

which can be used for this exact purpose. I think we should use it here.

[2021-11-01 07:52] Nipa-Code commented on #933
I see, that would be really nice to have on commands that have the trashcan reaction, especially the ones with more than a bit of content eg. `.wiki` command.

[2021-11-02 00:31] SavagePastaMan opened #934 "Remove "What level are you" topic from rotation"
## Description
Remove the topic that asks people what skill level they are.

## Reasoning
We spend a bunch of time getting people to not rate themselves and we just have this topic that asks them to do just that.

## Proposed Implementation
Just remove it from the json or whatever it is.

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2021-11-02 07:51] #934 closed

[2021-11-02 17:56] ChiliMX opened #937 "New ".christmasify" command"
## Description
Changes a users current profile picture into something more seasonal, similar to commands like .spookify

## Reasoning
It would be fun and spread the holiday cheer

## Proposed Implementation
Adding Christmas hats, snowflakes, etc etc

## Would you like to implement this yourself?
- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

I would do it

[2021-11-03 14:13] janine9vn opened #938 "Change behavior of `.wtf` to link to repo when there is no query"
## Description & Reasoning
the `.wtf` command is quite nice for finding the explanation for a specific python quirk from the WTF Python?! repo. I would like an easy way to link to the entire repo directly. It would be nice to be able to provide that link to people so they can read through the repo on their own time.

## Proposed Implementation
If `.wtf` is called with no query, then an embed and/o

[2021-11-04 11:04] Nipa-Code opened #940 ".rp improvement"
## Description

The `.rp` command currently gives 5 results by default but what if you wanted to get only 1-4? There should be a option to get amount you want by still keeping the max 5 as default. If no amount provided default value, 5, will be returned.

## Reasoning

Getting only specific amount of results if you don't want to see more, and could possibly be good to limit results if wanted.
##

[2021-11-04 11:05] ChrisLovering commented on #940
This sounds good. I think an optional int argument before the query would work, since I doubt people will be starting their queries with numbers.

[2021-11-05 01:18] #940 closed

[2021-11-05 10:49] #933 closed

[2021-11-06 09:02] Qwerty-133 opened #942 "Hardcoded prefixes in command help texts."
## Description & Reasoning

In a few commands like `hacktoberissues`, we've hardcoded `.` as the prefix which won't make sense if a user is using a different prefix for the bot.

## Expected Behaviour

The correct prefix should be displayed, by fetching the correct prefix through the constants module.

## Would you like to implement a fix?

- [x] I'd like to implement the bug fix
- [ ] Anyone can

[2021-11-07 03:07] #938 closed

[2021-11-10 00:03] #912 closed

[2021-11-10 17:15] Akarys42 commented on #834
That's an interesting idea, I'm not a fan of the structure of the proposed template, but if we have a good one to use, sure, why not. I do like the mention of length limits and what should each paragraph be though.

[2021-11-12 00:48] #706 closed

[2021-11-12 00:48] #854 closed

[2021-11-14 16:27] #677 closed

[2021-11-15 11:58] Shivansh-007 opened #945 "Colour Command Enhancements"
## Description
#677 Was recently merged, while we focused on the main functionality on that as described in the issue, this issue proposes a few util commands which help when you are working with colours!

- lighten/darken subcommand
	- `.colour lighten #3f6d2a 40` would lighten the colour `3f6d2a` by `40` percent i.e. mixing 40% white colour
	- `.colour darken rgb(1, 92, 23) 50` would darken the

[2021-11-15 12:01] Shivansh-007 opened #946 "Remind from reply"
## Description
Get the remind content from the replied message

![Screenshot from 2021-11-15 17-30-20](https://user-images.githubusercontent.com/69356296/141778616-f8b2f7cc-e590-46d5-9ae1-d2c9f0d3e2e0.png)

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [X] Anyone can implement this feature

[2021-11-15 12:25] Shivansh-007 opened #947 "View Your Score in Candy Command"
## Description
Currently, there is no way to view your (the member who invoked the command) score, I suggest adding another line to the resulting embed which tells the user their own candy score.

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [X] Anyone can implement this feature

[2021-11-16 17:02] D0rs4n commented on #325
If the issue is up for grabs, I would like to give it a try.

[2021-11-18 10:57] hedyhli commented on #945
Thanks for including my suggestions!

Maybe we should come up with a standardized and user-friendly way to represent color values. I can think of three ways this can be done if we're implementing a mini parser to let users specify more than one color (especially for color schemes feature, or even the ability to show information on multiple colors at the same time):

**Single argument**
If it was a

[2021-11-18 14:41] Shom770 opened #948 "Quiz enhancements"
## Description

Migrating the `.quiz` command to threads for when it is called and deleting the thread once the quiz is over.

In addition, adding more questions to some of the most played categories, such as the `python` category.

## Reasoning

The `.quiz` python currently will take over the entire channel when you run it, and with the new Discord threads also supported in DPY 2.0,, the quiz com

[2021-11-20 15:59] #325 closed

[2021-11-20 18:07] Sn4u commented on #945
What I would like to see, is a 🔁 reaction that shows up after `.color random`, that allows you to quickly randomize colors. The existing embed would be edited rather than creating a new one each time

[2021-11-20 22:58] sentry-io[bot] opened #952 "AttributeError: 'NoneType' object has no attribute 'get_role'"
Sentry Issue: [SIR-LANCEBOT-6Z](https://sentry.io/organizations/python-discord/issues/2804527837/?referrer=github_integration)

[code]

The command is inappropriately allowed to be run in direct messages. We should disable that.

[2021-11-21 23:53] DMFriends commented on #937
I'd like to work on this issue.

[2021-11-23 19:13] Sn4u commented on #945
Personally, I like the idea of a complement or other color harmony command, however I don't see much utility of one for darken / lighten. If you really needed to darken or lighten a color, you could take the `hsl` part of your color and modify the lightness attribute.

The option to allow users to specify more than one color in a single command would be useful. I had an idea for an alternative app

[2021-11-26 02:50] KittyBorgX commented on #787
Hey, sorry for the late update but i may not be able to work on this as i'll be away for a month :(

[2021-11-26 16:39] Sn4u commented on #787
I'm quite interested, could I take your place? Are you still working on this @mathstrains21?

[2021-11-26 17:56] mathstrains21 commented on #787
Hi!

We haven't actually done any work on it yet! Could you message me on
discord please? (mathstrains19#2057)

On Fri, 26 Nov 2021, 16:40 bones, ***@***.***> wrote:

[2021-11-27 02:44] vcokltfre commented on #945
I'd also like to see something like `.colour list 87ceeb ff0000 ffaabb` which would show an image like:
![image](https://user-images.githubusercontent.com/16879430/143665707-c946f688-fbc7-4171-b91b-f0d4fc67089d.png)

[2021-11-27 23:56] Sn4u commented on #787
I had an idea to implement a drop-down where you can select different timestamp styles to be used with discord. I've inserted a screenshot below. Is this something we would want?
![image](https://user-images.githubusercontent.com/35849006/143723786-7906d54d-4f0d-4270-ad0f-28f6d0464091.png)

[2021-11-28 19:08] katimoth commented on #947
I'd like to work on this issue. Is there anyone else currently working on this?

[2021-11-30 19:02] evgriff commented on #947
![Screen Shot 2021-11-30 at 2 01 10 PM](https://user-images.githubusercontent.com/44847470/144110901-cf67139f-7a1c-44b5-b538-765d3c50ec0f.png)

I'm working on this with @katimoth right now - here is what we have this feature looking like right now. Any suggestions?

[2021-11-30 19:19] katimoth commented on #948
@evgriff and I would like to tackle for a school project.  Are there any recent updates on this issue?

[2021-11-30 22:38] Shom770 commented on #948
I think the only update is that we'll have to wait for Python Discord to support threads for us to be able to add these features (at least the migration to threads)

[2021-12-01 17:11] evgriff commented on #921
I would like to work on this with @katimoth for a school project - are there any updates?

[2021-12-01 17:54] janine9vn opened #958 "`.aoc link <aoc_name>` to link Discord Account and Advent of Code Name"
## Description
To support something I'd like to do this year regarding assigned roles, there needs to be a nice way for people to associate their Discord account IDs with their name/account of Advent of Code. I'd like to shift the bulk of the work of figuring this out away from myself and to the users themselves. I'd like them to create the "links" between their accounts.

## Proposed Implementati

[2021-12-02 03:02] onerandomusername opened #961 "Buff topic command to allow passing a channel as an arg"
## Description

Allow the topic command to take a channel as an argument, so the channel can be used to get a topic from the provided channel's pool, rather than the single channel.

## Reasoning

This would let some of the lesser accessed topics be useful outside of their own channel. For example, being able to draw from all of the topics in the normally-allowed channels would be beneficial to le

[2021-12-02 03:06] onerandomusername commented on #942
I'm not entirely sure if there's a way to inject stuff into a help docstring, although that would be nice.

If we could use `{prefix}` in the help text, and format it separately, that would work...

Perhaps an implementation in the bot.add_cog method which would format all of the function's docstrings.

*simplified:*
[code]

This would also allow adding other values too... hmmmm. If done in one wa

[2021-12-02 03:18] onerandomusername commented on #942
Tried something personally, I kind of like this, but obviously shouldn't use this in a production environment, although all of the docstrings are controlled.

Once again, this is not likely the proper iterator, but meh
[code]

[2021-12-02 03:23] bsoyka opened #962 "Better handling of AoC usernames with spaces"
## Description

Sir Lancebot doesn't handle Advent of Code usernames with spaces very well.

## Steps to Reproduce

Run `.aoc lb` followed by any AoC username with at least one space.

## Expected Behaviour

The bot would handle the arguments together as a username.

## Actual Behaviour

The bot uses the first word and ignores the rest, unless the username is wrapped in quotes.

## Known Impacted

[2021-12-02 04:41] Qwerty-133 commented on #942
I don't think it's worth it, there are like 6 commands which provide command invocation examples, and they can easily be reworded.

[2021-12-02 05:21] onerandomusername commented on #942
Yeah, it was still an idea, probably not worth it, but an idea nonetheless

[2021-12-02 12:41] senevr opened #965 "Add a BlackJack game where a member can play against Sir-Lancebot"
## Description
So my idea was to add a BlackJack game where the user can do !blackjack to start the game against Sir-Lancebot (which will be the dealer), the member is going to start with 5000 chips and he will bet a amount of chips for a round, he can save up these chips and buy a few perks for other game ideas I had (which will be in other issue requests). Those perks would be something similar

[2021-12-02 22:45] #962 closed

[2021-12-03 05:34] onerandomusername opened #966 "aoc buff: remove the leaderboard command, and make it an updating message"
## Description

Too many people are trying to get the leaderboard rapidly. Since it only updates once every 30 minutes, a channel of #aoc-leaderboard would be nice while the game is afoot. This would automatically update every 30 minutes, as the leaderboard currently does. The current aoc lb command would link to the #aoc-leaderboard channel, maybe showing the user where they currently are, but li

[2021-12-03 05:47] bsoyka commented on #966
A very similar idea (a pinned message) has been brought up [briefly](https://discord.com/channels/267624335836053506/897932607545823342/915957815481360394) on Discord already, and Kat's decision was that we want to reduce calls to the AoC servers as much as possible, so we're only refreshing the leaderboard when it's requested. (cc: @janine9vn)

I'm open to discussing potential solutions to this,

[2021-12-03 05:53] onerandomusername commented on #966
Hmmmm, depending on the complexity, we could use a button on the leaderboard message, and edit the message to make the button enabled or disabled depending on if we want to act on it, eg make a request to aoc to update the lb.

this would mean that every 30 minutes, we would be able to make a request to aoc, and anyone could press the button to trigger it, which would edit the message with the new

[2021-12-03 05:57] onerandomusername commented on #966
This may be worth a second and different issue, given that this can be implemented regardless of the rest of this pr.

[2021-12-03 05:58] bsoyka commented on #966
Personally I think the buttons are a great idea, although I think we should still keep the command around for the self-placement feature. (Should be straightforward to keep the same cooldown for API requests, looks like that's in another function already.)

I'll wait for Kat's input here as our events lead.

[2021-12-03 05:59] onerandomusername opened #967 "aoc leaderboard: use a discord formatted timestamp for when the lb can be next updated"
This may be worth a second and different issue, given that this can be implemented regardless of the rest of this pr.

_Originally posted by @onerandomusername in https://github.com/python-discord/sir-lancebot/issues/966#issuecomment-985238562_

Given the amount of updating, and times ran the command, it would helpful to see a timestamp that means how long until the leaderboard will be refreshed,

[2021-12-03 06:03] onerandomusername commented on #966
Yeah, but i also think we can shrink the full embed down, keep that function, but not the other part of the function.

Actually, when #964 gets merged, the default of the leaderboard command could be the user's user if they've linked it.

[2021-12-03 06:13] Shivansh-007 commented on #966
We can use buttons and ephemeral replies to display the user's score.

[2021-12-03 06:18] onerandomusername commented on #966
...That's true, with the above pr, a user will link it, and we will be able to have the lb in a command, then send an ephermal with the score of a user.

However, the lb command as @bsoyka mentioned should probably continue to exist.

[2021-12-03 17:47] janine9vn commented on #966
We will definitely not have a leaderboard that refreshes automatically every 30 minutes. As it stand now we're already pushing the limits of the refresh rate with 30 minutes considering we're requesting 7 leaderboards everytime. The 30 minute cooldown is an absolute minimum, meaning we would expect there to be longer intervals throughout the day where we don't make the request.

Additionally, havi

[2021-12-03 18:54] onerandomusername opened #968 "github command enhancements"
## Description

(Full list of changes is located on #778's review comments)
- constants
Some constants are unused, or not used well.
- move ratelimits
Ratelimits are only handled after a single call to fetch data, would make most sense to handle them in the fetch_data method
- remove git alias
while we're here, this should go as github is not git, and this allows future use of `git` as a command o

[2021-12-03 19:00] onerandomusername commented on #967
Update: as mentioned by @janine9vn, there is already a timestamp of the last update.

However, I did not notice that until it was pointed out by her.

As the current embed is like this, below a wall of codeblock, its not very noticiable.
![image](https://user-images.githubusercontent.com/71233171/144657943-898a86f1-6b15-4e7f-bb59-cc338a7db1fe.png)

To update this issue, my suggestion is changing t

[2021-12-03 20:03] evgriff commented on #947
Ready to start a PR, could I be assigned?

[2021-12-03 20:34] onerandomusername opened #970 "yank role commands"
## Description

Remove the subscribe commands from lance, because as of https://github.com/python-discord/bot/pull/1868, this is now supported on Bot. (Beautifully executed, too)

EDIT: Rather than removing the commands, they will be replaced with a message that tells the user to use the command on bot.

## Reasoning

No sense in having two commands that do the same thing, more maintenance work!

[2021-12-03 20:44] ChrisLovering commented on #970
To ease transition, I think it would be worth having the various commands send the user a message telling them to run `!subscribe` instead to get roles.

Probably worth updating Docstrings to reflect that too.

[2021-12-03 20:47] onerandomusername commented on #970
That makes sense, I've updated the contents of the issue for that

[2021-12-03 20:53] ChrisLovering commented on #970
Maybe have the messages delete_after ~20-30s too

[2021-12-03 22:37] onerandomusername commented on #970
I intentionally did not implement this, reasoning of not having stats on lance, so by leaving the responses, we can see if the commands are being used a lot, and not using the new commands.

[2021-12-04 16:07] #958 closed

[2021-12-09 04:14] Shivansh-007 opened #975 "2048 Game"
## Description

[2048](https://en.wikipedia.org/wiki/2048_(video_game)) is a single-player game in which you must slide around tiles labelled with powers of 2 in four directions. When two tiles of the same value combine, they get added together, creating a new tile with double the value. After each successful move, a random tile either 2 or 4 is generated. The goal, as one might guess, is to reach

[2021-12-09 04:22] Shivansh-007 opened #976 "Use Buttons For Tic Tac Toe"
## Description
Since we have migrated to discord v2.0a we have the new button interactions support, and since they allow making a 3*3 block (3 buttons per row in 3 rows) they would be a perfect fit in the tic toe game, using buttons would not only enrich the user experience, but it would also make them more efficient, currently, we need to wait for the emojis to be slowly added :(

Contributor Ref

[2021-12-09 12:02] DMFriends commented on #976
I'd like to work on this issue.

[2021-12-09 12:04] DMFriends commented on #976
Don't assign me yet though because I still haven't completely finished my 2 currently open PR's. If nobody else beats me, I'll let you know when I can be assigned.

[2021-12-10 19:53] katimoth commented on #928
Can someone supply more details about this? I don't have authorization to view the issue in Sentry.  It would be helpful to have a steps-to-reproduce or something similar. Thanks!

[2021-12-10 20:05] ChrisLovering commented on #928
Looking at the error, it mentions `File "bot/exts/utilities/issues.py", line 142, in fetch_issues`.

That leads me to this line
https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/utilities/issues.py#L142

So it seems `pull_data` here is the response from GitHub converted to a dict using `.json()`.

Since this is a `KeyError`, this suggests that the response from GitHub's API doesn't

[2021-12-10 20:08] HassanAbouelela commented on #928
There really isn’t much else to this. The command ran was `pr 919`, which does not currently produce an error. The original triggering message has been deleted, but it doesn’t add any useful context here.

I can only assume the API returned something unexpected, so let’s just add a check for that.

[2021-12-10 20:09] katimoth commented on #928
@ChrisLovering Thank you! Could you assign me and @evgriff to this?

[2021-12-10 20:31] ChrisLovering commented on #928
I've assigned you to the issue. I can't assign the other person, as I can only assign people who have commented.

[2021-12-10 20:56] onerandomusername commented on #928
this would be fixed as part of #968, if not fixed as part of #778 (which is waiting on one approval)

[2021-12-13 04:04] onerandomusername commented on #976
I'd like to implement this if @DMFriends is fine with that

[2021-12-13 04:19] DMFriends commented on #976
Go right ahead!

[2021-12-13 21:32] onerandomusername commented on #932
I'd like to see this happen too.

[2021-12-13 21:33] Akarys42 commented on #932
I'd also add that this is a good time to edit the feedback message instead of deleting it after the timeout, so you have a trace of the invocation and not just nothing

[2021-12-13 21:51] HassanAbouelela commented on #887
Approved and assigned.

[2021-12-13 23:06] onerandomusername commented on #887
This was resolved with https://github.com/python-discord/sir-lancebot/commit/ffda1f7069065fd4ce2b2fe781fbcb5793406f99

[2021-12-13 23:06] #887 closed

[2021-12-14 14:44] D0rs4n commented on #932
Approved, and assigned!
Good luck!

[2021-12-16 20:32] #947 closed

[2021-12-17 11:07] InvisibleOS commented on #932
I am extremely sorry to say but I currently have exams for a month due to which I will not be able to work on this. I had posted this sometime back when I had time but currently, my exams are right around the corner which is why I will not be able to work on this right now.

This can either be assigned to someone else or I can work on it from the 7th of January - whichever works (my exams end on t

[2021-12-17 15:05] onerandomusername commented on #932
I'm not sure what the priority is for this feature, but I don't think it's too high. Unless someone else comes along wanting to implement it, this will still be here in January.

[2021-12-17 17:06] D0rs4n commented on #932
I'll add the `up for grabs` label, unless someone else takes it, you can go ahead and implement it in January.
Good luck with your exams!

[2021-12-19 01:57] Shom770 opened #984 "`.aoc day` command"
## Description
A command that will fetch information about a certain day (can be filtered by the year too) for AOC puzzles.

## Reasoning
I've seen a lot of people including myself have trouble remembering what day had what. Especially with puzzles from past years when people didn't participate, you have to look up the day every time to see what happened on that day.

In addition, being able to pu

[2021-12-19 10:40] InvisibleOS commented on #932
Thank you very much!

[2021-12-19 21:44] DMFriends opened #985 "Sudoku command"
## Description

I would like to make a Sudoku game command for Lancebot. Here are the rules for playing Sudoku, in case you don't know: https://sudoku.com/how-to-play/sudoku-rules-for-complete-beginners/

## Reasoning

Sudoku is one of the most popular puzzle games in the world currently and it provides a good challenge for your brain.

## Proposed Implementation

- The bot will print an embed wit

[2021-12-19 21:59] Sn4u commented on #985
Sudoku is fun, but I'm not sure it's well suited to be played in discord. An average Sudoku game takes about 20 minutes to play which seems quite a long time for a discord mini game. What about a mini Sudoku in a 4x4 grid?

[2021-12-19 22:08] DMFriends commented on #985
Ok, maybe you're right about the game being too long, but how would a 4x4 grid work?

[2021-12-19 22:12] Sn4u commented on #985
![image](https://user-images.githubusercontent.com/35849006/146692647-18d38cd4-f33e-48b5-9e5b-b4afbbfa8a8d.png)

The rules are the same, just with less numbers

[2021-12-19 22:16] DMFriends commented on #985
Ok, if that's the case, then I can do that.

[2021-12-20 01:13] onerandomusername commented on #985
As we were talking about on discord, by reducing the size to a 4x4, we could use buttons for the user interface instead
Although, a 4x4 *seems* kind of small for a sudoku game, it should be fun enough.

However, if using buttons, it would not be possible to expand it any larger, so it would be a tradeoff that we would need to make.

[2021-12-20 01:15] DMFriends commented on #985
I think 4x4 should be fine with buttons. Not sure what you mean by "tradeoff" @onerandomusername

[2021-12-20 01:18] onerandomusername commented on #985
Given we can only have 5x5 buttons in total, if we use buttons we cannot ever grow beyond that size.

[2021-12-20 02:35] DMFriends commented on #985
Ah, I see. To be honest, now that I think about this, I feel like 4x4 would a bit too easy. Another thought I had was to make this game thread based so it's not taking up the entire channel but they haven't been enabled on PyDis yet, so I'm not sure if that's possible, at least without making this issue stalled.

[2021-12-20 17:49] Objectivitix opened #986 "Add more topics to topic starters"
## Description
This issue proposes to add more topics (number currently undecided, perhaps a few dozen) to our two `.yaml` files containing topic starters.

## Reasoning
I've seen quite some people complaining about how the topics aren't fresh anymore and have appeared several times already. This is due to our limited quantity of them. I believe adding more topics can benefit the community, especi

[2021-12-20 20:58] onerandomusername commented on #985
Its not possible right now to use threads, no. I do know that you would be able to get some nice colours out of the codeblock by setting the codeblock language.

The main reason I was on buttons is because the suggested input does not seem the most user-friendly--but only if there's a better option.

This looks complicated to me, although its probably the best way to input a number. We maybe could

[2021-12-20 21:02] Sn4u commented on #985
What about an image of the board that we edit every time the player makes a move? Could be done with PIL

[2021-12-20 21:03] onerandomusername commented on #985
See https://github.com/python-discord/sir-lancebot/pull/956#issuecomment-997322591

[2021-12-21 00:39] DMFriends commented on #985
Yeah, I think that is the best option for the input because the bot needs to know exactly what row and column the user is inputting a number so I think I'm going to stick with that.

About the button implementation, I'm honestly at odds as to what the best way to implement this is. I did have the idea of using modified images with PIL, but I'm not really that good at it (i.e. I don't really unders

[2021-12-21 02:40] Xithrius commented on #986
We do go through the topic suggestions that are linked when you fire the command every once in a while.

I believe that it's time I should go through them again. Thank you for bringing this up.

[2021-12-21 02:44] DMFriends commented on #985
@onerandomusername Actually, I did end up thinking of another way to implement the user input. We could have the user enter their input like so:
`row #, col #, #`
Or:
[code]
What do you think?

[2021-12-21 02:52] onerandomusername commented on #986
There was a discussion on discord about whether this is even the best way to add topics, but I'd like to see your input. https://canary.discord.com/channels/267624335836053506/429409067623251969/922543842530582609

[2021-12-21 13:56] gustavwilliam opened #987 "Twemoji utility command"
This issue proposes the addition of a `.twemoji <codepoint|emoji>` command. This will be useful for viewing and downloading Twemojis (the default emojis on Discord, which we base a lot of our branding on).

## Proposed Implementation

### Invocation
An invocation of the command could look something like this. These are all common formats for specifying an emoji. However, I might limit the availabl

[2021-12-22 16:45] onerandomusername commented on #985
it's possible, yeah.

I think it's safe to implement it now as it is,  but write a separate method to get the input so we can continue to bikeshed it and make it easier to change in the future.

[2021-12-22 16:51] DMFriends commented on #985
So are you saying it's fine to implement the user input the way I originally proposed? @onerandomusername

[2021-12-22 17:22] onerandomusername commented on #985
I'm thinking that's the input style we should use for now unless someone has a really really really great fantastic user input idea

[2021-12-22 20:34] DMFriends commented on #985
Alright, sounds good. I mean, the only other thing I can think of (and you mentioned this yourself I believe) is that I could use dropdowns. Do you think I should do that or just stick with the original proposal? @onerandomusername

[2021-12-22 20:55] DMFriends commented on #985
Ok, so I think I have made my final thoughts about this.

Here's my opinion: I think I should 1) not use 4x4 because as I said earlier, it's a bit too easy and may make the game not as interesting to play and 2) wait until PyDis supports threads (if it's not too far from now), that way the game doesn't block the entire sir-lancebot-playground channel and also allow me to make the game the original

[2021-12-24 00:11] Xithrius commented on #986
I currently don't have ideas for implementations of the current way we go through suggestions.

[2021-12-24 03:26] DMFriends commented on #985
Ok, so based off [this discussion](https://discord.com/channels/267624335836053506/635950537262759947/923725965593575464) (starts there), I have made my final (hopefully) decisions as to how I (and others) want this implemented.

- Instead of a 4x4 (or 9x9 for that matter), I will be making a 6x6 grid generator instead
- I will not be adding the embed that says whether a user's input is right or w

[2021-12-24 20:09] DMFriends opened #989 "Kenken command"
## Description

Create a Kenken game command. You can read more about the game here: http://www.kenkenpuzzle.com/howto/solve#

Thanks to @Sn4u for the original suggestion! [Link to discussion](https://discord.com/channels/267624335836053506/635950537262759947/923733863245692988)

## Reasoning

I've played this game before in middle school and it's a fairly easy game to play.

## Proposed Implement

[2021-12-25 21:51] sentry-io[bot] opened #990 "Internal eval logs an exception if the hastebin payload is too long"
Sentry Issue: [SIR-LANCEBOT-7F](https://sentry.io/organizations/python-discord/issues/2885555776/?referrer=github_integration)

Relevant lines: https://github.com/python-discord/sir-lancebot/blob/ec6eb2e3ce4d2f0a4c3917f9eff00266a6ecf894/bot/exts/core/internal_eval/_internal_eval.py#L96-L98

Our paste service currently has a length limit of 100000. The payload should be truncated before sending it

[2021-12-26 06:57] onerandomusername opened #992 "Advent of code ends before December ends"
## Description

Taken on the 26th
![image](https://user-images.githubusercontent.com/71233171/147401240-31cc67b9-98e0-4ebe-a34d-67743cf39c1c.png)

## Steps to Reproduce

Look at the bot after AOC

## Expected Behaviour

normal status or something

## Actual Behaviour

countdown since aoc of the day that didn't happen

## Known Impacted Platforms

- [x] Web
- [x] Desktop
- [x] Android App
- [x] iOS

[2021-12-30 23:37] sentry-io[bot] opened #995 "ValueError: 3 is not a valid AgeRatingCategories"
Sentry Issue: [SIR-LANCEBOT-7H](https://sentry.io/organizations/python-discord/issues/2897191665/?referrer=github_integration)

[code]

This is caused by the cog not support all of the possible age rating categories. See https://api-docs.igdb.com/#age-rating-enums for what is possible.

While looking, I also noticed that we don't support all of the possible age rating either, which are just below

[2022-01-01 15:15] ChrisLovering commented on #966
While we won't be implementing this exactly as stated, we do have plans for an improved leaderboard next year.

Where we serve a webpage that has the joined up PyDis leaderboard, in an AoC style.

Since this will serve as the static leaderboard as described in this issue, I think we can leader this command alone.

[2022-01-01 23:40] #995 closed

[2022-01-01 23:46] #952 closed

[2022-01-02 12:09] #847 closed

[2022-01-02 17:43] Kronifer commented on #710
@vcokltfre would it be okay if i take this one

[2022-01-02 20:16] #970 closed

[2022-01-03 11:56] TizzySaurus opened #999 "Show icons for issues closed as not-planned"
## Description

When users link to a github issue on discord via `repo#num` (e.g. `sir-lancebot#999`), we currently (as of #998) display a purple tick all the time if it's a closed issue.

Instead, we should display a purple tick only when it has a linked PR which has been merged, and otherwise a red tick (the tick from before #998).

## Reasoning

This change will allow users to easily see whethe

[2022-01-03 14:40] wookie184 commented on #999
GitHub itself doesn't provide this distinction (a closed issue is just a closed issue), so I'm not how this would be implemented in a practically useful way.

For example, one way of doing it would be checking for linked pull requests as you say. However, that brings the question: should we also check if the linked pull requests was merged or closed without merging? This also doesn't take into acc

[2022-01-03 14:47] D0rs4n commented on #999
Yes, I was gonna mention the same points.
Mostly, because as mentioned there are closed issues with no PR linked to it, but still.. they have been resolved, and closed manually.
If someone is curious about an issue, they could just click on the link sent by the bot and check it directly on GitHub.

Hence, there is no efficient way to correctly implement this, and ensure that it never shows false r

[2022-01-03 14:50] wookie184 commented on #992
Looking at the current code it does seem to currently *try* and end at the right time https://github.com/python-discord/sir-lancebot/blob/532a8d53fca6c06a90d9bcb4862a36062750d359/bot/exts/events/advent_of_code/_helpers.py#L536-L539

Is the issue just that it isn't reset to what it originally was after this while loop?

[2022-01-03 15:16] wookie184 commented on #986
If you have a bunch of ideas i'd say feel free to open a PR @Objectivitix, not sure what xith was planning though (was it that form thing we have you were going to look through @Xithrius?). If you both have some to add it might be easier to chuck them all in one PR.

[2022-01-03 19:13] onerandomusername commented on #992
I think so, as someone restarted the deployment and the status reset.

[2022-01-03 19:42] wookie184 commented on #992
Alright, that should be fairly simple to fix, just adding a line after the while loop to reset it. Would you like me to assign you?

Just need to think of a way of avoiding hardcoding the activity text across the two files, could have something like a `get_default_activity` function in bot/bot.py, or just put the text as a constant in constants.py, not sure.

[2022-01-03 19:49] wookie184 commented on #502
Alright, i've removed your assignment. Feel free to let us know if you'd like to pick it up again.

[2022-01-04 21:33] DMFriends opened #1000 "Add an "end game" button to Madlibs"
## Description

After #901 was merged, I thought of 2 more ideas that I think might be cool to add to the Madlibs game.
1) Add an "end game" button to end the game in case a user decides not to play after starting a game.
2) Add an "add word" button that randomly chooses a word from a list of words and adds it to the game in case the user can't think of a good word to use for the game.

## Reasoni

[2022-01-05 10:14] Akarys42 commented on #999
Making the difference between closed resolved and unresolved is part of the GitHub roadmap and has not been implemented yet https://github.com/github/roadmap/issues/289

[2022-01-06 16:09] brad90four opened #1001 "Modify `.realpython` blank command to embed a url to the site"
## Description

When no input is used in the command, the embed sent should have the url to the website.

## Reasoning

Currently a blank `.realpython` command raises an error, but it could be helpful to have a link to the Real Python homepage instead.

## Proposed Implementation

I have an idea for how this could work, but this can be a good first issue for someone starting out.

## Additional De

[2022-01-06 16:20] Krish-bhardwaj commented on #1001
Hi i can i contribute to your project , i am a fresher and looking for contributing to open source
can you assign me this issue

[2022-01-06 17:09] Krish-bhardwaj commented on #1001
yes i have forked it and joined the discord server , as i am new to all this can me expain me on a meet if possible

[2022-01-07 06:05] Krish-bhardwaj opened #1002 "Bug in Documentation"
## Description
Hi everyone i just sported a bug in your documentation

https://www.pythondiscord.com/pages/guides/pydis-guides/contributing/setting-test-server-and-bot-account/#setting-up-a-bot-account

in this documentation
under the section " Setting up a Bot Account "
point no. 6 " In the General Information tab, grab the Client ID. "
instead of " General Information tab " it should be " OAuth2

[2022-01-07 06:12] #1002 closed

[2022-01-07 11:03] vivax3794 commented on #581
minesweeper works **only** in dms atm, which with dms not being allowed breaks it currently, but I see no reason to not allow it on the server (I dont remember the orginal reason I made it dm only)

https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/fun/minesweeper.py#L234-L236
https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/fun/minesweeper.py#L155-L157

[2022-01-07 12:45] HassanAbouelela commented on #581
I had forgotten about the existence of this issue till now, but it was more or less resolved with #953.

Allowing a command in DMs needs to be done explicitly now, and we have not done that. I’ll be closing this issue.

We did kind of break minesweeper because it uses a command in DMs instead of just a message like battleship. We could either do what we do in battleship and have it listen to messa

[2022-01-07 12:45] #581 closed

[2022-01-07 12:54] HassanAbouelela opened #1003 "Minesweeper Unplayable"
## Description

PR #953 explicitly blocked all commands which run in DMs, but minesweeper was missed in testing. Minesweeper commands only work in DMs, which makes the game unplayable.

## Steps to Reproduce

Try to play the minesweeper game using `minesweeper start`.

## Expected Behaviour

You should be able to respond to the bot.

## Actual Behaviour

The bot will tell you you lack permissions

[2022-01-07 21:16] onerandomusername commented on #1003
I think a reason that ms uses dms is because of Python's spam protection. It is somewhat easy to send a few commands to ms in very quick succession.

[2022-01-08 21:00] #787 closed

[2022-01-08 21:32] sentry-io[bot] opened #1004 "Epoch Command OverflowError"
Sentry Issue: [SIR-LANCEBOT-7N](https://sentry.io/organizations/python-discord/issues/2916603914/?referrer=github_integration)

[code]

The epoch converter raises an overflow error if the value is too big. We should add a try/except.

[2022-01-09 17:57] JosiahWI opened #1007 "Quiz question missing one of the correct answers"
## Description
The following quiz question is missing "substitution" as a valid answer:

`A ____________ reaction is the one wherein an atom or a set of atoms is/are replaced by another atom or a set of atoms`

The accepted answers are "displacement" and "exchange" according to the bot, but "substitution" is also a correct answer. See this excerpt from Wikipedia:

"A substitution reaction (also kn

[2022-01-09 19:52] Xithrius commented on #986
@wookie184 Sorry for the late reply. Yes, the plan was just sift through the form.

[2022-01-10 04:25] ShakyaMajumdar opened #1009 "Latex Command Revamped"
## Description
A slightly different implementation of the .latex command, hopefully with no memory leaks this time.
see also: #663 #668

## Proposed Implementation
Previously, we were using matplotlib to render the latex, which seemed to hold references to the data even after we were done with it if the input contained invalid latex. This led to an increase in memory usage every time there was mal

[2022-01-10 04:29] MarkKoz commented on #1009
Sadder words have never been written.

Yes, this sounds like a feasible approach. You'd need to find out what the memory footprint is of the process, and what the limit on concurrent subprocesses should be.

[2022-01-13 21:12] onerandomusername commented on #968
New change:

As per this, https://canary.discord.com/channels/267624335836053506/635950537262759947/931292179744297010, github api can return a merged pr as still a draft for some ungodly reason, so the ordering of the emojis will be changed to support merged prs still being a draft..

[2022-01-16 14:22] #1004 closed

[2022-01-16 19:51] #966 closed

[2022-01-16 19:51] #967 closed

[2022-01-21 01:59] #986 closed

[2022-01-22 04:57] rtk-rnjn opened #1015 "Uptime command"
## Description
Uptime command
https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/core/ping.py#L29-L40

## Reasoning
It look cool

## Proposed Implementation
Use Relative timestamp of discord `<t:TIMESTAMP:R>`

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2022-01-27 02:21] DMFriends opened #1018 "Add #programming-pedagogy topics to `.topic` command"
## Description

@Shom770 had asked [here](https://discord.com/channels/267624335836053506/635950537262759947/936025673686986772) about potentially adding the topics mentioned [here](https://discord.com/channels/267624335836053506/934931964509691966/934931998366130238) to the `.topic` command and I think it should be done.

## Reasoning

Not sure exactly how to explain the reasoning, but I personal

[2022-01-27 23:57] sentry-io[bot] opened #1019 "ContentTypeError: 0, message='Attempt to decode JSON with unexpected mimetype: application/json', url=URL('http://a..."
Sentry Issue: [SIR-LANCEBOT-7P](https://sentry.io/organizations/python-discord/issues/2968237583/?referrer=github_integration)

[code]

This was caused by running `.wa cut y = W−1(x) if −1/e ≤ x < 0`

[2022-02-01 05:14] ShakyaMajumdar opened #1021 "Esoteric Challenges!"
## Description
Code-golf competition!

## Proposed Implementation

1. The bot stores a queue of challenges. Staff members should be able to add new questions to the queue with a command (say, `.cg add`). Questions should be uploaded as a .json file, containing the problem description, visible test cases and hidden test cases.
2. The bot should maintain per-day leaderboards, as well as an overall o

[2022-02-02 14:06] Brodevil commented on #1019
Hey
Can I work on it?

[2022-02-02 14:07] ChrisLovering commented on #1019
Yup! Assigned.

[2022-02-06 05:06] ghost opened #1023 "Suggestion: Joke command"
## Description

A .joke command, using the <a href = "https://pypi.org/project/pyjokes/"> pyjokes library .</a> Most of the jokes are programming based.

## Reasoning

It would be another fun command for sir lancebot, and as I said earlier, the jokes are programming based, which the community will find relatable.

## Proposed Implementation

I haven't implemented this in a discord bot yet, but I p

[2022-02-06 13:41] DMFriends commented on #1023
I love that idea!

[2022-02-09 17:08] sentry-io[bot] opened #1024 "NotFound: 404 Not Found (error code: 10008): Unknown Message"
Sentry Issue: [SIR-LANCEBOT-7R](https://sentry.io/organizations/python-discord/issues/3001072599/?referrer=github_integration)

[code]

This line causes the issue https://github.com/python-discord/sir-lancebot/blob/f6400516b4b577aaf335a9ae6c8e77e06d7ec79e/bot/exts/utilities/epoch.py#L89

If the message is deleted before the timeout, then this edit is invoked on a message that doesn't exist.

[2022-02-12 15:46] #903 closed

[2022-02-12 15:51] sentry-io[bot] opened #1025 "ExtensionFailed: Extension 'bot.exts.events.trivianight.trivianight' raised an error: AttributeError: type object ..."
Sentry Issue: [SIR-LANCEBOT-7T](https://sentry.io/organizations/python-discord/issues/3009576949/?referrer=github_integration)

[code]

[2022-02-12 16:09] #1025 closed

[2022-02-14 07:39] Reverend-Toady commented on #1007
hello can i fix this issue? that is if it has not already been fixed yet

[2022-02-14 23:43] #670 closed

[2022-02-14 23:43] #711 closed

[2022-02-15 03:26] MaskDuck commented on #1001
hi there!
is anyone is still working on the project?
if no i have a fork fixed, can i be assigned? thanks.

[2022-02-15 04:09] MarkKoz commented on #1001
@Krish-bhardwaj Pinging you to make sure you see the above. Are you still working on this?

[2022-02-15 04:18] MaskDuck commented on #948
sounds pretty cool!
but i would like the thread is archived and non-unarchiveable by non-mods instead of getting deleted.

[2022-02-15 04:32] MaskDuck commented on #1024
hi ||*again*||, can i being assigned? thanks.

[2022-02-15 04:43] MarkKoz commented on #1024
@MaskDuck yes, you've been assigned

[2022-02-15 17:53] Krish-bhardwaj commented on #1001
![image](https://user-images.githubusercontent.com/72294477/154120006-483cabca-46b9-4467-97db-00ad7e96c983.png)
i guess this is your expected output

[2022-02-15 18:04] MarkKoz commented on #1001
@Krish-bhardwaj You were the first to ask, so you have the right to work on the issue if you want. You have some code ready, so you can go ahead an open a pull request. Then someone will review it.

[2022-02-15 18:11] Krish-bhardwaj commented on #1001
i have opened one PR i have a error in than can you please guide me

[2022-02-15 18:33] #1024 closed

[2022-02-16 05:05] cheesemaafia commented on #1023
I'd like to work on this! I'm very new to open-source contributions, can someone please assign this to me and guide me a little?

[2022-02-16 21:37] onerandomusername opened #1032 "allow the source command in dev contrib"
## Description

allow the source command in dev contrib
## Reasoning

its a dev contribution channel, we should be able to run the source command because of its relevance to the channel

## Proposed Implementation

add dev contrib to the source command whitelist

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2022-02-16 21:59] Xithrius commented on #1032
I approve of this message.

[2022-02-16 22:14] #1018 closed

[2022-02-17 17:06] dannynotsmart opened #1034 "Add a Wordle command"
## Description
Wordle is a very, very popular word game that's rising in players.

## Reasoning
It's a game that would be fun to play with others, and the game would probably appeal to most people.

## Proposed Implementation
I have built a working Wordle generator, which would be too complicated to go in detail on Github. It will use modals, buttons.
There are only two issues currently, and that'

[2022-02-19 18:35] #1009 closed

[2022-02-19 18:51] sentry-io[bot] opened #1035 "KeyError: 'log'"
Sentry Issue: [SIR-LANCEBOT-7Y](https://sentry.io/organizations/python-discord/issues/3030389077/?referrer=github_integration)

[code]
This was generated by running `.latex \🍏`

The API responded with
[code]

[2022-02-20 10:33] MaskDuck commented on #1015
can i be assigned?

[2022-02-20 11:24] #1032 closed

[2022-02-20 11:25] TizzySaurus commented on #1015
This hasn't been approved yet, but if/when it does then I don't see an issue with that.

[2022-02-20 11:45] sentry-io[bot] opened #1038 "ExtensionFailed: Extension 'bot.exts.core.source' raised an error: TypeError: can only concatenate tuple (not "lis..."
Sentry Issue: [SIR-LANCEBOT-7Z](https://sentry.io/organizations/python-discord/issues/3031672910/?referrer=github_integration)

[code]

[2022-02-20 11:46] TizzySaurus commented on #1038
This was fixed in #1037.

[2022-02-20 11:46] #1038 closed

[2022-02-20 11:56] Akarys42 commented on #1015
This command [already exists](https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/core/ping.py#L29).

[2022-02-20 12:00] TizzySaurus commented on #1015
They're suggesting that the command be updated to use relative timestamps instead of manually getting humanized time.

[2022-02-20 12:08] Akarys42 commented on #1015
Right, now I understand 😅

[2022-02-20 12:22] MaskDuck commented on #990
sure i can work on this! can i be assigned *again*?

[2022-02-22 07:57] MaskDuck commented on #1015
can i be assigned

[2022-02-22 09:00] MaskDuck commented on #1003
the problem is we can't run minesweeper command on dms.

[2022-02-22 09:00] MaskDuck commented on #1003
also can i be assigned?

[2022-02-22 09:57] HassanAbouelela commented on #990
Assigned @MaskDuck now, feel free to ask if you need help!

[2022-02-22 13:50] MaskDuck commented on #990
ok!

[2022-02-22 15:06] MaskDuck commented on #1023
hi id wanna work on this!

[2022-03-02 15:23] DenseReptile opened #1044 "[`Suggestion`]: Dictionary Command."
## Description

A dictionary command, that's about it.

## Reasoning

As a small command for the added convenience of not having to search the definition of a word in a separate browser tab.

## Proposed Implementation

For the dictionary (API) to use, I suggest to either use Wiktionary (a Wikimedia Foundation project, parent of Wikipedia) or the Oxford Dictionary (which is what Google uses)

It s

[2022-03-02 16:42] HassanAbouelela commented on #1044
FWIW, you can already do this using the wolfram alpha command. For example: `.wolfram define hello` or `.wolfram short define hello`.

[2022-03-04 08:02] MaskDuck commented on #1044
can i be assigned

[2022-03-04 08:58] #990 closed

[2022-03-06 00:10] HassanAbouelela commented on #1044
The issue is not approved @MaskDuck (you can tell if it's approved when there's an `approved` label on it). I'm not sure if we need this given the wolfram command exists.

[2022-03-10 04:57] MaskDuck commented on #1044
ok~

[2022-03-10 06:13] jb3 commented on #1023
Hey @cheesemaafia, looks like we missed your comment sorry about that! If you are still interested join us on discord and let us know your name and we can help guide you!

[2022-03-13 02:09] #1035 closed

[2022-03-14 00:56] #987 closed

[2022-03-15 09:01] MaskDuck opened #1046 "anagram delay"
## Description

ahe anagram command always wait for 60s before announcing if i got right.

## Steps to Reproduce

1. `.anagram`.
2. guess the word
3. *guess correctly*

## Expected Behaviour

it announce that i got it right
## Actual Behaviour

it have delay for some seconds

## Known Impacted Platforms

- [ ] Web
- [x] Desktop
- [ ] Android App
- [ ] iOS App

## Possible Solutions

not yet, will

[2022-03-15 09:37] mbaruh commented on #1015
Timestamps do rounding, which isn't something I want if I need to check for uptime. Relative timestamps also don't work on mobile.

[2022-03-15 09:49] vcokltfre commented on #1015
I agree with @mbaruh, the rounding on relative timestamps makes them annoying for things like this

[2022-03-15 10:18] MaskDuck commented on #1015
didnt know =(

[2022-03-20 12:48] D0rs4n commented on #1044
That's a duplicate of #917
Hence, I'm going to close this issue.

[2022-03-20 12:48] #1044 closed

[2022-03-21 06:10] HassanAbouelela commented on #928
I believe this has been resolved with #778, closing.

[2022-03-23 06:17] onerandomusername commented on #928
This was not fixed with #778. https://github.com/python-discord/sir-lancebot/blob/657aaf5f613b0bd219d67c71f7dc37ede0bb6aab/bot/exts/utilities/githubinfo.py#L129-L130

[2022-03-25 02:45] JuaniBattiston opened #1047 "HLTB command"
## Description

[How Long To Beat](https://howlongtobeat.com/) is a page where you can find how much time a game takes to be beaten on average.

## Reasoning

It's a good and convinient tool for people interested in gaming.

## Proposed Implementation

1. Make a request to hltb search page.
2. Scrap the game id. bs4? (might change if smt better is found)
3. Make another request to the page with th

[2022-04-04 17:14] Robin5605 opened #1048 "Port `&blurplify` command from sir-robin"
## Description
Port `&blurplify` command from sir-robin to sir-lancebot, now that April fools is over. Contribution to this command can continue here.

## Reasoning
There seems to be interest in contributing to this feature, so removing `&blurplify` altogether would be less than ideal.

## Proposed Implementation
Shouldn't be very difficult. The code itself is already written, it should only be a

[2022-04-04 17:42] minalike commented on #1048
One thing we need to brainstorm, is a way to reference PEP 9001 somehow. As of now we plan on keeping [peps.pythondiscord.com](https://peps.pythondiscord.com/pep-9001/) live. Perhaps we could hyperlink it in the help embed for this command.

[2022-04-05 02:30] MaskDuck commented on #1048
ill do that.

[2022-04-18 23:26] nodausenis commented on #1001
Gracias

[2022-04-19 23:55] minalike commented on #1048
@Robin5605 @MaskDuck I think there was a PR pending for this blurplify on sir-robin still. Has that been merged yet?

[2022-04-26 07:39] onerandomusername commented on #928
@HassanAbouelela

[2022-05-03 13:33] sentry-io[bot] opened #1050 "KeyError: 'image_url' in spookygif command"
Sentry Issue: [SIR-LANCEBOT-83](https://sentry.io/organizations/python-discord/issues/3123505322/?referrer=github_integration)

[code]
This happens whenever running the `.spookygif` command, as `image_url` doesn't exist in the reponse from the API. Changing the line to `url = data["data"]["url"]` might work instead. See the API docs here https://developers.giphy.com/docs/api/endpoint#random

*post

[2022-05-03 17:09] SaumyaBhushan commented on #1050
Can you please assign this to me?

[2022-05-03 17:38] wookie184 commented on #1050
@SaumyaBhushan Thanks, I've assigned you. Note that the fix I mentioned in the issue may not be right. I think Discord may need a GIF, so looking at the docs we may need one of the other URLs in the response like `data["data"]["images"]["downsized_large"]["url"]` for it to work.

[2022-05-04 20:44] DMFriends opened #1051 "Embed that is sent when you try to bookmark with DM's off should auto-delete"
## Description

I think it would make sense for the embed that is sent when you try to bookmark with DM's off to auto-delete, just like the one that says "React with 📌 to receive your own bookmark..."
![image](https://user-images.githubusercontent.com/86751519/166822417-5cc211a4-6cf2-4b04-86be-61b7d49fc5fe.png)

## Reasoning

It's kinda hard to explain, to me it just doesn't make sense for just th

[2022-05-04 20:55] DMFriends opened #1052 "Add topics for the new `#media-processing` channel"
## Description

I think it would be nice to have some topics for the new `#media-processing` channel created 5/3/2022 for the `.topic` command.

## Reasoning

Well, all the other topical channels have topics so it only makes sense to have some for this channel as well.

## Proposed Implementation

Some topics I have in mind currently:
- Which Python package do you prefer for media processing?
- Wh

[2022-05-09 16:26] #812 closed

[2022-05-10 18:31] sentry-io[bot] opened #1055 "KeyError: 'status_code' in movie command"
Sentry Issue: [SIR-LANCEBOT-85](https://sentry.io/organizations/python-discord/issues/3263171130/?referrer=github_integration)

[code]

[2022-05-10 18:36] wookie184 commented on #1055
There are two issues here. Firstly, the reason the request fails is that the command fetches a random page up to the total number of pages
https://github.com/python-discord/sir-lancebot/blob/6609ceab1600ae5d08c2614f5a0f994b86f8ba5e/bot/exts/fun/movie.py#L88-L89
However the page parameter is documented as only allowing a maximum page numer of 1000 (https://developers.themoviedb.org/3/discover/movie

[2022-05-11 21:57] DMFriends commented on #872
Hey @Bluenix2, is this issue still stalled? I don't think I'll be able to work on it, but if it is no longer stalled you could switch the labels.

[2022-05-11 21:59] Bluenix2 commented on #872
Threads are still not yet allowed to be used by the wider community except for the permanent ones created by mods and admins. Therefore, this issue is still stalled yes.

[2022-05-14 16:53] DMFriends opened #1056 "Add more / make changes to the topics for the `.topic` command"
## Description

I think it would make sense to review the current questions we have in the [`py_topics.yaml`](https://github.com/python-discord/sir-lancebot/blob/main/bot/resources/utilities/py_topics.yaml) file and make appropriate additions/corrections.

## Reasoning

I think that the `.topic` command is really cool and engages members more in the topical channels as well as py-gen. I don't chec

[2022-05-14 17:00] minalike commented on #1056
You're welcome to make suggestions for new topics. Let's keep them on the issue and discuss, and once semi-finalized a PR can be raised?

[2022-05-14 17:06] DMFriends commented on #1056
Yep, that sounds like a good idea. 👍

[2022-05-15 15:25] DMFriends commented on #1056
Let's start with the ones that don't already have topics.

For #algos-and-data-structs:
- What is a good algorithm that you know in Python? (might need to be reworded, that sounds a bit weird)
- What are some advantages of NumPy arrays over Python lists?
- What do you know and/or understand about inheritance in Python?
- What are some benefits of modules in Python?

For #c-extenstions:
- What is a

[2022-05-18 20:40] PH-KDX opened #1057 "Add amsmath support"
## Description
I'd like amsmath to be included in the LaTeX command for Sir Lancebot.

## Reasoning
Amsmath is a widely used package for things such as including text in equations or aligning multiple equations. Its absence has long been a thorn in my side, and an extremely annoying one at times.

## Proposed Implementation
The amsmath package should be included in the default template, so it gets

[2022-05-19 03:54] ShakyaMajumdar commented on #1057
While we're at it, I think `amssymb` could be useful too.

[2022-05-20 14:46] CyberCitizen01 commented on #1055
Also, maximum page number doesn't seem to be 1000 (though it is documented as such), but 500?
[code]
**Response**
Status code: `422`
[code]
I'm guessing this is because I'm a new user?

[2022-05-20 17:07] wookie184 commented on #1055
I checked our bot and we get the same `"page must be less than or equal to 500"` so it seems the API docs may be wrong, good spot! We should probably limit it to 500 then.

[2022-05-20 22:11] #1052 closed

[2022-05-21 20:24] DMFriends commented on #968
In case this hasn't been considered already, I think it would also be nice to be able to delete the embed with the issues/PR's if you type the wrong number by mistake. Or possibly a better idea is to have an edit listener so if you typed `sir-lancebot#654` but you meant to type `sir-lancebot#653`, you could edit the message to say `sir-lancebot#653` and that would automatically edit the embed with

[2022-05-30 09:38] #1057 closed

[2022-06-02 00:02] NeilShah2026 opened #1061 "Add Python Challenge Command"

[2022-06-02 10:17] ShakyaMajumdar commented on #1061
A leaderboard would be difficult to implement on Lance since it doesn't have persistence

(side note: I'm currently working on Sir Robin for an event, and will be implementing a leaderboard for that soon)

[2022-06-04 04:19] 3ddP opened #1062 "improving the .latex command"
## Description
When one uses the .latex command with lancebot, the bot replies with a rendered image of the tex commands. The requested features are:
* when the original .latex message is edited, lancebot deletes its previous message with the rendered tex, and replies with the updated version
* lancebot's replies can be interacted with by using specific reactions. For example, if one reacts with a

[2022-06-11 03:17] DMFriends commented on #985
Quick update on this: I am still working on this, just haven't opened a PR yet - I don't think I'm ready to do that yet. I'm planning on getting it to a state where I will feel comfortable opening a PR sometime between now and the end of August. (Yes I know that's a large timeframe, but this turned out to be a lot harder than I initially thought but I like the challenge so I'm going to keep workin

[2022-06-17 07:52] #1001 closed

[2022-06-17 18:05] RohanJnr commented on #863
I will be working on this.

[2022-06-26 02:47] ichard26 opened #1065 "Help: subcommand aliases have a redundant space between the parent command name and the subcommand alias"
## Description

See title or screenshot below.

## Steps to Reproduce

1. Run `.help aoc about` in #bot-commands

2. See the double space in the "Can also use: " line

## Expected Behaviour

![image](https://user-images.githubusercontent.com/63936253/175797156-a4426b4d-f13a-48d8-8c42-e3ff445ac3ac.png)

## Actual Behaviour

![image](https://user-images.githubusercontent.com/63936253/175797076-1fc75

[2022-06-26 14:08] wookie184 commented on #1065
Go ahead! This seems to only be an issue on sir-lancebot and not bot.

[2022-06-26 14:23] #1065 closed

[2022-07-08 17:01] janine9vn opened #1069 "Add message replies support for `.uwu`"
## Description
I think it would be great that if you replied to a message with `.uwu` and no other text, that lancebot would uwu-ify the replied-to message. Alternatively, add support for `.uwu` in a context menu!

## Reasoning
We must allow `.uwu` in all its forms. But I think it would be a fun feature to implement and a good way to get familiar with our code base.

## Proposed Implementation
If

[2022-07-08 17:25] HassanAbouelela commented on #1069
Issue approved. I’ll leave whichever implementation method desired up to the PR author. I don’t think context menus are great for discoverability but it might not hurt to have them.

[2022-07-09 15:26] #1069 closed

[2022-07-11 22:38] ionite34 opened #1072 ".uwu command incorrectly transforms emojis in their raw text form"
## Description
The current .uwu feature does not handle or preserve external emojis

## Steps to Reproduce

### Example 1
![Example](https://cdn.ionite.io/img/yAlmKo.jpg)

### Example 2
![Example_2](https://cdn.ionite.io/img/aw7gyW.jpg)

## Expected Behaviour
Either ignoring external emojis, preserving them in place (may not be possible), or transforming them into emoticons instead of the normal t

[2022-07-11 22:57] MarkKoz commented on #1072
Since this command is just for fun, I think this approach is fine.

[2022-07-11 22:58] D0rs4n commented on #1072
Couldn't we make use of the `emojis` library, that is already a dependency?
https://github.com/alexandrevicenzi/emojis

[2022-07-11 23:09] ionite34 commented on #1072
Well, built-in emojis *do* work right now. And third-party emojis (such as those in python-discord) would work if the bot is in the server.

However third-party emojis wouldn't be able to be sent since SirLanceBot isn't in those servers, and as such doesn't have access to post those emojis. This is what this issue is for.

[2022-07-12 21:10] TizzySaurus opened #1074 "Use replied message as argument to `.randomcase` when text isn't provided."
## Description

Allow `.randomcase` to work on replied messages whenever no text argument is provided.

## Reasoning

Pretty self-explanatory; means you can just reply to a message instead of having to manually copy-paste the content as the command argument.

## Proposed Implementation

A simple if statement checking whether a text argument was provided, and if not whether a message was replied to

[2022-07-12 21:12] ChrisLovering commented on #1074
AFAIK this already exists?

[2022-07-12 21:13] TizzySaurus commented on #1074
Sorry, I said the wrong command. I meant `.randomcase` 😰

[2022-07-12 21:14] ChrisLovering commented on #1074
Ah I see now.

Since this in a few places now, I think we should make a custom converter that has the behavior, rather than duplicating code

[2022-07-12 21:15] TizzySaurus commented on #1074
Yeah, I'd agree with that. Should I replace the existing implementations too?

What would be a good converter name? Perhaps something along the lines of `TextOrReply`?

[2022-07-12 21:16] ChrisLovering commented on #1074
Yea, we should replace existing implementations of this.

maybe TextOrReplyCleaned, to indicate we run clean_content over it too, but that sounds good.

[2022-07-12 21:17] TizzySaurus commented on #1074
Would this be better in bot-core so that we can use it in bot too? (Does bot even need this?)

[2022-07-12 21:31] ChrisLovering commented on #1074
Yea, that could work. We should start adding converters to bot core more often.

[2022-07-12 22:04] AbooMinister25 opened #1075 "`.uwu` doesn't work when replying to an embed."
## Description
Using `.uwu` when replying to an embed doesn't work (returns a plain `>>>`), but it does work if you pass a message link to an embed.

## Steps to Reproduce
Run `.uwu` while replying to an embed.

![image](https://user-images.githubusercontent.com/67297584/178603051-31a963d0-6afa-4132-a644-e991e70e243d.png)

## Expected Behaviour
Return an embed with its contents uwuified.

![image]

[2022-07-12 22:10] shenanigansd opened #1076 "Embeds for multiple GitHub issues don't maintain ordering"
## Description
When Sir Lancebot creates an embed listing multiple GitHub issues, the issues are not in the same order that they were in in the orginal message

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2022-07-12 22:33] Numerlor commented on #1076
seems to be a duplicate of #743

[2022-07-12 22:35] shenanigansd commented on #1076
My mistake, closing in favor of #743

[2022-07-12 22:35] #1076 closed

[2022-07-12 23:02] D0rs4n commented on #1075
@AbooMinister25 Would you like me to assign you, or do you wish to wait for someone else first?

[2022-07-12 23:30] AbooMinister25 commented on #1075
I'd like to be assigned

[2022-07-14 19:56] TizzySaurus commented on #1074
NB: This is stalled by python-discord/bot-core#100

[2022-07-15 17:46] shenanigansd opened #1079 "Port GitHub code display embed from Python"
Move the feature that displays the lines of code from GitHub when a link with line numbers is sent from Python to Sir Lancebot

Approved by @Xithrius here: https://discord.com/channels/267624335836053506/635950537262759947/997558518968221696

[2022-07-15 17:47] Xithrius commented on #1079
I approve here as well.

[2022-07-15 21:43] TizzySaurus commented on #1079
For reference, [this](https://github.com/python-discord/bot/blob/main/bot/exts/info/code_snippets.py) is the location of said feature.

[2022-07-15 21:48] TizzySaurus commented on #1079
@shenanigansd has stated in #dev-contrib that they're not wishing to implement this themselves, so I'd like to claim this. Can I please be assigned?

[2022-07-23 13:53] TizzySaurus commented on #1074
python-discord/bot-core#101 has just been merged so I'll be working on this soon:tm:

[2022-07-26 17:43] Diabolical5777 commented on #1023
Could I be assigned to this issue please?

[2022-07-26 18:03] HassanAbouelela commented on #1023
Assigned

[2022-07-27 12:33] Diabolical5777 opened #1082 "Add number guessing game"
## Description
Add a command to play a number guessing game (a random number is generated and the user guesses it, the bot says whether it's higher or lower or if they won.

## Reasoning
It can be a fun game to play, perhaps more if there are different modes: easy, medium, hard.

## Proposed Implementation
A game where the user can input easy, medium, or hard to increase the range of which the ran

[2022-07-27 12:37] #1023 closed

[2022-07-28 04:50] Diabolical5777 commented on #932
Can I request to be assigned?

[2022-07-28 06:22] Xithrius commented on #932
@Diabolical5777 Yes.

[2022-07-28 07:31] Diabolical5777 commented on #932
Just to confirm, the suggestion is simply to replace the current reaction for others receiving the bookmark to a button, right?

[2022-07-28 08:52] Xithrius commented on #932
Yes.

[2022-07-28 22:12] #743 closed

[2022-07-29 06:56] Diabolical5777 commented on #932
For the implementation of the button, I would ideally add the multiple arguments to the init of the view class and call the button with the arguments how it's being called currently, right?

[2022-08-01 20:15] zeph-yrus9 commented on #1050
@wookie184 how about using `embed_url` in gif object, its given in documentation,
they must serve the purpose rightly here if i am not wrong ?
![image](https://user-images.githubusercontent.com/75779179/182237393-e84532e9-1ed8-4957-95e4-ee48d1537ac5.png)

[2022-08-02 15:43] wookie184 commented on #1050
It does look like it should work although I think I tried it a while back and it didn't seem to. Would be fine if it does work, although any solution would need testing.

[2022-08-02 17:02] #1072 closed

[2022-08-05 05:04] ionite34 opened #1084 "Rickroll Detection command"
## Adding a Rickroll Detection command
### Possible forms:
### 1. Command
Syntax: `.rolldet <link>`
- Can also reply to a link instead of providing as argument

### 2. Continuous link monitoring
- Monitors all links posted in public channels
- Replies with a warning message when a rickroll link is detected

## Reasoning
Would be fun for rickroll attempts to be detected

## Proposed Implementation

[2022-08-05 13:10] DMFriends commented on #1084
OMG that is actually a brilliant idea. Would love to see this approved and implemented.

[2022-08-05 15:04] JuaniBattiston commented on #1047
I've contacted the site stuff and although code of conduct say nothing about it they don't really like scrapping and they are also planning an API, so I'll just close the issue. Might ask for it to be reopened if the API releases.

[2022-08-05 15:04] #1047 closed

[2022-08-13 09:57] Diabolical5777 opened #1085 "Update the Hangman game"
## Description

## Reasoning

## Proposed Implementation

## Additional Details

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [ ] Anyone can implement this feature

[2022-08-14 19:32] 3ddP opened #1086 ".latex command preamble update"
## Description
The latex preamble determines which packages/commands are available to the user when writing .tex input for .latex command. The proposal is to include more packages in the preamble, which appears to be in sir-lancebot/bot/resources/fun/latex_template.txt. In particular, the proposed libraries extend the user-friendliness when writing maths by allowing bold symbols, calligraphic numb

[2022-08-17 07:02] Feroz2006 commented on #1034
I have a working solution to get a random 5-letter word from an API (in agreement with their terms of service) however I can't seem to find you using the discord ID provided.

[2022-08-17 10:57] ChrisLovering commented on #1085
I think having control over the config directly is quite useful.

So maybe instead we could have an additional optional param for difficulty. This param would set the "default" config for the game, but users could still give the existing params to overwrite that if needed.

IE you could do `!hangman easy 4` which would set the `min_length` to 4 and the other variables to whatever would be consider

[2022-08-17 11:02] Diabolical5777 commented on #1085
Maybe...we can have both? The 3 modes added on to the current implementation of being able to have full control over the generated word?
If we were to do `def hangman(self, ctx, *args)`, we could check the `len()` passed in, and the type to figure out what the user inputted

[2022-08-17 11:04] ChrisLovering commented on #1085
That's sort of what I was suggesting, with an additional optional param for difficulty.

However, rather than only allowing one or the other, I proposed that we would allow both if the user wanted, having the specific config overwrite the faults for the difficulty.

[2022-08-17 11:06] Diabolical5777 commented on #1085
Would the amount of times that one of the 4 current optional arguments be a factor that affects the decision? As in, if most of the time, users just use the command without arguments

[2022-08-17 11:48] wookie184 commented on #1086
I'm not a latex expert but this sounds fine to me if nobody is against this.

[2022-08-17 11:59] wookie184 commented on #932
Yes, I think that sounds right. There are some examples of discord.py views with buttons here if that helps: https://github.com/python-discord/sir-robin/blob/e90d24072baf2dc57acd455e8a9d7e5d40457d46/bot/exts/code_jams/_views.py

[2022-08-18 00:50] DMFriends commented on #1034
Yeah I can't seem to find them either on PyDis. Have you tried sending them a friend request, @Feroz2006?

[2022-08-18 04:01] ShakyaMajumdar commented on #1086
I would like to be assigned to this

[2022-08-18 04:36] Feroz2006 commented on #1034
The request fails with the given ID, must've changed their ID and forgot to update the issue.

[2022-08-18 09:40] Diabolical5777 commented on #932
![image](https://user-images.githubusercontent.com/84365102/185363935-8851eb69-3210-4c3e-bae6-8831a26789ef.png)
Is using a button to be redirected to the bookmarked message in the user's DM's a good idea?

[2022-08-18 15:59] #1075 closed

[2022-08-18 16:53] #1086 closed

[2022-08-18 23:02] #705 closed

[2022-08-19 03:35] shenanigansd opened #1089 "Allow bookmarking a message from a context menu"
We would like to update the existing bookmark command to also be available from the context menu.
#dev-contrib discussion here: https://discord.com/channels/267624335836053506/635950537262759947/1010024284971864104

[2022-08-19 03:41] Robin5605 commented on #1089
Maybe not necessarily update, but have the regular text-based bookmark command and the context menu one working side-by-side. I think this one will have to wait until #1087 is merged just to avoid merge conflicts or otherwise multiple PRs for the same feature with potentially conflicting code

[2022-08-19 08:36] PythonTryHard opened #1090 "Incorrect handling of invalid command names"
## Description
Sir Lancebot handles certain prefix "commands" incorrectly, invoking multiple commands at the same time and tossing "Did you mean:" embed box after ward

## Steps to Reproduce
1. Invoke Lancebot with `.ha`
	- This issue also appears with prefix command lookalikes (`".....hah?"`)
	- This issue does not appear for `"..."`

## Actual Behaviour
![image](https://user-images.githubusercon

[2022-08-19 08:47] TizzySaurus commented on #1090
After looking briefly into #1064, it looks like the issue is [these lines](https://github.com/python-discord/sir-lancebot/blob/3b891955a150ef5a6c47d2ab389348a5de8ef38e/bot/exts/core/error_handler.py#L170-L177).
[code]
I believe we need to remove the call to `on_command_error`. Note that prior to #1064 we called `on_command_error` so removing the call may break other parts of the bot that call this

[2022-08-19 18:34] #918 closed

[2022-08-20 15:40] DMFriends commented on #985
I do not wish to continue working on this (please ask me for access to my fork repo so you can see the code I wrote so far), feel free to ask to be assigned to this issue if you would like to work on it. Thanks!!

[2022-08-23 00:08] DMFriends commented on #1056
@minalike Would it be ok with you if I started a PR with the above changes? This issue has been around for quite a bit now and nobody else has suggested anything.

[2022-08-23 15:10] minalike commented on #1056
I am of the impression that the .topic command best serves its purpose in python-general and the off-topic channels. I think for the topical questions adding more questions wouldn't be of much use. But that's going but my gut, I haven't actually searched for invocations of the command.

[2022-08-25 01:13] minalike commented on #1056
After gathering some internal feedback, we feel the usage of the topic command outside of python-general, off-topic, and occasionally discord-bots is not high enough to require additional topics. While there is no harm in adding more, the current suggestions aren't compelling enough to add to the current list.

We do have interest however, in boosting the current topic questions for our more traff

[2022-08-25 01:15] #1056 closed

[2022-08-25 02:00] minalike opened #1093 "Make date formats consistent for `.github` embeds"
## Description

- Some dates are mm/dd/yyyy and others are dd/mm/yyyy. Make this consistent one way or another. Perhaps use localized timestamps since we have that option now instead of using the embed footers.
- Nitpick: I think "`minalike`'s GitHub profile info" should instead read: "minalike's GitHub Profile" (no backticks, proper casing)
- Nitpick: The usage of a large thumbnail in the user em

[2022-09-10 15:22] wookie184 commented on #1089
This seems fine to me, is the plan to use ephemeral messages when it's invoked or treat it exactly the same as the command invocation? Ephemeral sounds like it would be neater otherwise it would come out of nowhere.

[2022-09-10 15:53] wookie184 commented on #1093
I think the first one (Account created at) is a localised embed timestamp (shows dd/mm/yyyy for me), whereas the second one isn't, as localized timestamps in embed footers are very limited. I don't really have a preference on how to fix this inconsistency.

I agree with your second point on changing the title wording/formatting.

I don't really mind the icons being different. I quite like the bigg

[2022-09-10 20:22] Ibrahim2750mi commented on #1093
If the status gets approved can I be assigned this issue?

[2022-09-14 01:24] JBarth86 commented on #1050
Can I please be assigned this issue?

I believe I have fixed this.

[2022-09-14 04:37] Xithrius commented on #1050
@JBarth86 it is done.

[2022-09-16 14:50] Sas2k opened #1098 "1D Cellular Automaton Generator"
## Description
Hello, the feature I would like to propose is a cellular automaton generator.
like if someone types;
`.simulate <rule-number> <position: left|center|right|random> <initial-condition random|impulse>(startes with 1 cell)`

and it would send a picture of the output.

## Reasoning

For fun! and education purpose of course(https://www.techtarget.com/searchenterprisedesktop/definition/cel

[2022-09-16 15:24] mbaruh commented on #1098
Sorry, I'm not really sure what this is or what to do with that

[2022-09-16 15:41] Sas2k commented on #1098
Have you ever heard of cellular automaton

[2022-09-18 21:05] #1090 closed

[2022-09-19 11:54] wookie184 commented on #1046
Marking this as an enhancement as the current behaviour is intended, as there can be multiple possible anagrams. Two improvements would be:

- React with a green tick on messages that correctly guess an anagram.
- Finish early if all possible anagrams have been guessed.

Are you still interested in doing this?

[2022-09-19 11:57] wookie184 commented on #1019
Are you still interested in working on this? Did you get anywhere with identifying the cause of the error?

[2022-09-19 11:58] wookie184 commented on #1007
If you're still interested in fixing this feel free to open a PR

[2022-09-20 04:09] #1050 closed

[2022-09-21 17:57] #965 closed

[2022-09-24 20:25] TizzySaurus commented on #1079
NB: This is now waiting on python-discord/bot-core#141, as lancebot is missing certain util functions.

[2022-09-24 21:27] TizzySaurus commented on #1062
Updating this to stalled since it's waiting on python-discord/bot-core#137.

[2022-10-02 08:57] sentry-io[bot] opened #1106 "TypeError: Client.wait_for() got some positional-only arguments passed as keyword arguments: 'event'"
Sentry Issue: [SIR-LANCEBOT-8M](https://sentry.io/organizations/python-discord/issues/3622038705/?referrer=github_integration)

[code]

[2022-10-02 08:57] sentry-io[bot] opened #1107 "TypeError: object of type 'NoneType' has no len()"
Sentry Issue: [SIR-LANCEBOT-8Q](https://sentry.io/organizations/python-discord/issues/3636709935/?referrer=github_integration)

[code]

[2022-10-02 08:57] sentry-io[bot] opened #1108 "AttributeError: 'Select' object has no attribute 'data'"
Sentry Issue: [SIR-LANCEBOT-8P](https://sentry.io/organizations/python-discord/issues/3635087462/?referrer=github_integration)

[code]

[2022-10-02 09:00] sentry-io[bot] opened #1109 "HTTPException: 400 Bad Request (error code: 50035): Invalid Form Body"
Sentry Issue: [SIR-LANCEBOT-8K](https://sentry.io/organizations/python-discord/issues/3617925003/?referrer=github_integration)

[code]

From the traceback, we got a 403 error from wolfram, and tried to send a html page through to discord, which was too big. We should try to catch more errors from the wolfram API.

[2022-10-02 13:26] TizzySaurus commented on #1107
This appears to be a duplicate of #907, which was fixed in #908. When exactly was this traceback created?

[2022-10-02 13:35] TizzySaurus commented on #1108
This appears to be due to the change dpy made during 2.0 development where the `Interaction` and `Select` argument swapped positions. [All 3 uses](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/python-discord/sir-lancebot%24+%40discord.ui.select%28&patternType=standard) of this decorator need to be updated.

[2022-10-02 14:18] wookie184 commented on #1107
It's a new(ly found?) problem. The issue is that the `body` is `null` in the JSON, rather than not existing at all.

Example that caused the error: https://api.github.com/repos/Ank221199/WorkoutGenerator/issues/14

[2022-10-02 14:19] TizzySaurus commented on #1107
I see. So `dict.get("body") or ""` should work?

[2022-10-02 14:22] wookie184 commented on #1107
Yeah

[2022-10-02 14:25] #1106 closed

[2022-10-02 15:00] #1108 closed

[2022-10-02 16:15] #1107 closed

[2022-10-06 21:26] thatbirdguythatuknownot opened #1116 "Add a bat reaction for Halloween"
## Description

Proposing to add a spooky reaction with the bat emoji to any message that has any of `bat`, `bats`, `batman`, `batmen`, `batwoman`, `batwomen`, `batperson`, `batpersons`, and `batpeople` in it.

## Reasoning

It's October, and currently there are only 4 emojis that are the result of a few key words. Maybe it's time to add a little more?

## Proposed Implementation

Add a new entry

[2022-10-11 11:09] mbaruh commented on #1098
I think this is a fun standalone project to implement if you're interested in the algorithm, but honestly I don't think it fits the bot. It's not informational or interactive, and I don't see people using it.

[2022-10-11 11:09] #1098 closed

[2022-10-11 14:50] Sas2k commented on #1098
ok, thanks for reviewing it @mbaruh

[2022-10-12 19:28] #1116 closed

[2022-10-12 19:30] #1055 closed

[2022-10-16 08:34] sentry-io[bot] opened #1120 "AttributeError: 'async_generator' object has no attribute 'flatten'"
Sentry Issue: [SIR-LANCEBOT-8S](https://sentry.io/organizations/python-discord/issues/3674722961/?referrer=github_integration)

[code]

[2022-10-16 08:34] sentry-io[bot] opened #1121 "TypeError: object of type 'NoneType' has no len()"
Sentry Issue: [SIR-LANCEBOT-8R](https://sentry.io/organizations/python-discord/issues/3673171895/?referrer=github_integration)

[code]

[2022-10-16 09:04] TizzySaurus commented on #1121
Do we just want to change `selection_id = random.choice(data.get("results")).get("id")` to `selection_id = random.choice(data.get("results", [])).get("id")` here?

It seems there no validation afterwards to see whether `selection_id` is `None` before doing a `GET` request to the api, so I suppose this should be added too.

[2022-10-16 09:05] TizzySaurus commented on #1120
I believe `await self.hacktober_channel.history(limit=10).flatten()` should instead be `(await self.hacktober_channel.history(limit=10)).flatten()`. Can I please be assigned to this?

[2022-10-16 09:31] ChrisLovering commented on #1121
Yea, both those sound good.

[2022-10-16 09:32] ChrisLovering commented on #1120
I believe `.flatten()` was removed in 2.0, the way to do this now would be
[code]

[2022-10-16 09:34] sentry-io[bot] opened #1122 "AttributeError: 'NoneType' object has no attribute 'id'"
Sentry Issue: [SIR-LANCEBOT-8T](https://sentry.io/organizations/python-discord/issues/3674758941/?referrer=github_integration)

[code]

[2022-10-16 16:29] brad90four opened #1123 "Add blurple to the list of color names for the `.color` command"
## Description

`blurple` is not a recognized color for the color command

## Steps to Reproduce

Run `.color name blurple`

## Expected Behaviour

A color embed showing the color `blurple` (hex code #5865F2)
![image](https://user-images.githubusercontent.com/42116429/196046818-fad4c742-92d3-468f-ab03-433c09e3405e.png)

## Actual Behaviour

![image](https://user-images.githubusercontent.com/421164

[2022-10-18 12:39] #1123 closed

[2022-10-18 13:19] wookie184 commented on #1122
I assume it's `self.message` that is `None`, as `reaction.message` should never be `None`. It seems like this is a race condition, a reaction is added (probably to a different message) before `self.message` is set.

I believe this should be fixed by moving the listener adding to after `update_message` is called: https://github.com/python-discord/sir-lancebot/blob/f9cc77f55a7bac9cff1f5674b36b3f1756

[2022-10-18 13:25] wookie184 commented on #1121
`random.choice` will error on an empty sequence, so we should handle it being `None`/an empty array before trying to do that.

[2022-10-19 22:01] TizzySaurus commented on #1121
Right, that makes sense. What do we actually want to do in the event that `.get("results")` or `selection_id` ends up being `None`?

In fact, reading through [the code](https://github.com/python-discord/sir-lancebot/blob/6bbb12e9ad904cd6e0d3506d2b2c2ab9142830ef/bot/exts/holidays/halloween/scarymovie.py#L28-L58) and [API documentation](https://developers.themoviedb.org/3/discover/movie-discover), I

[2022-10-19 22:08] TizzySaurus commented on #1122
Looking through the code I don't see an issue with moving the listeners to below the `update_page`, and `update_page` defines `self.message` if it's not already defined meaning it'd no longer be `None`.

TL;DR; I agree with your assessment.

If no one else picks this up in the next fews days then I will.

[2022-10-20 07:58] wookie184 commented on #1121
I don't think there's any reason it *should* be `None` so probably send a message to the user saying no results were found and maybe log a warning so we can look into it.

The first request is to get the number of pages so one can be selected for the request. If we used the results from the first request we'd be much more limited in the results we got.

Side note: we may also want a fix like https

[2022-10-20 08:07] wookie184 commented on #1093
There's still not really a conclusion on what should be changed for each part (apart from the second part).

[2022-10-20 08:28] Ibrahim2750mi commented on #1093
@wookie184 For the first part I think these lines are concerned

+ https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/utilities/githubinfo.py#L350-L351
+ https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/utilities/githubinfo.py#L264

We could use either dd/mm/yyyy or mm/dd/yyyy for both.

Don't know about the third part, I think its better the way its now.

[2022-10-22 10:23] TizzySaurus commented on #1074
It seems I forgot about this issue, but it's now back on my radar and will hopefully have a PR ready over the next week or two.

[2022-10-22 10:23] TizzySaurus commented on #1121
Yep, that sounds good.

Right, I see. For some reason I was thinking that the initial response would include *all* entries, which isn't actually the case as you stated (it *seems* to return 20).

It seems like a smart thing to do for future-proofing. Seems it needs to be limited to a max of 500 (not the 1000 stated on the API's docs)?.

[2022-10-22 16:02] #1120 closed

[2022-10-23 09:54] TizzySaurus commented on #1074
Managed to get it done in my spare time this morning -- #1129.

[2022-10-26 22:13] #1074 closed

[2022-10-28 15:48] Evorage0 opened #1135 "Message prefixed by any length of dot's is responded to"
## Description
The bot currently responds to message prefixed with multiple dots that clearly aren't intended as commands, see:
![image](https://user-images.githubusercontent.com/68397475/198678059-1fe655e2-423c-4910-99f3-6433c1951715.png)
This behaviour is unhelpful and takes up space in the chat.

## Expected Behaviour
Any message prefixed with at least three dots should be ignored, this could b

[2022-10-29 01:17] #1109 closed

[2022-10-29 10:45] DivyanshuBist commented on #1122
So,we have to move update_page function before two add_listeners function?

[2022-10-29 11:09] TizzySaurus commented on #1122
Yep! Instead of
[code]
we want
[code]

[2022-10-29 11:43] DivyanshuBist commented on #1122
this is my first pull request.Can you help me by telling if I have to select this option and start pull request?

![Screenshot from 2022-10-29 17-11-59](https://user-images.githubusercontent.com/77827249/198829517-42f56e04-1e45-4202-a628-d1897c1985ee.png)

[2022-10-29 12:45] TizzySaurus commented on #1122
It depends on how you make/made the changes. If you join the discord server (discord.gg/python) and @ me in the #dev-contrib channel I can help you out :)

[2022-10-30 15:25] #1122 closed

[2022-11-02 23:30] #932 closed

[2022-11-06 21:13] Preocts opened #1142 "Enhance spoopy reactions for Halloween"
## Description

I would propose increasing the pattern match for "spooky" in the Halloween reacts to include such fun alternatives as "spoopy", "spookier", "spoopiest", and such.

## Reasoning

Following the spirit of the best season; "spoopy" is time honored meme'ry, ripe historic use. It seems a shame to ignore such valuable potential and, indeed, causes me to feel a pang of sadness when a happy

[2022-11-12 16:31] wookie184 commented on #1142
proposed regex sounds good, go ahead!

[2022-11-13 03:05] Anonymous4045 opened #1145 "Show previous conversation prompts after .topic command is reacted to"
## Description

After a member invokes the "topic" command, they have the ability to re-roll the embed to choose a different conversation prompt. When they do this, the previous contents of the message is overwritten. Instead, the content should be edited to include the new prompt with the old prompt(s) above it, with a number corresponding to the order it was created in.

## Reasoning

When the p

[2022-11-13 16:57] sentry-io[bot] opened #1146 "Handle Latex API Errors"
Sentry Issue: [SIR-LANCEBOT-90](https://sentry.io/organizations/python-discord/issues/3733301843/?referrer=github_integration)

We should better handle the case when the API itself is having internal issues (class 5xx of responses), and return an appropriate response to the user telling them to try again later. Here is the error handling for this function, it simply needs to catch and handle the 5

[2022-11-13 19:36] #1142 closed