[2020-07-11 16:21] Xithrius opened #423 "Cat status codes"
## Description

A command such as `.statuscat` would be implemented to visually show what different status codes are, with cats.

## Reasoning

For people who may be confused by status codes or need a reference when working on their projects, [https.cat](https://http.cat/) is the perfect resource. Humans can quickly either what the status code from the output of their program is trying to tell the

[2020-07-11 16:34] Den4200 commented on #423
This is great, go right ahead with this.

[2020-07-14 21:22] slushiegoose opened #425 "Optional user arguments"
## Description
Take optional user arguments for `.8bitify` (#247), `.prideavatar` (#209), `.avatareasterify` (#187) plus any other commands that I am missing, so that the avatars can be made of specific users rather than the message author

Since I created all 3 commands, I would like to work on this one too (since it shouldn't take long)

## Would you like to implement this yourself?

- [x] I'd l

[2020-07-15 02:33] #423 closed

[2020-07-15 04:14] MarkKoz commented on #417
As per https://github.com/python-discord/seasonalbot/pull/418#issuecomment-640119454, the integration is for an aiohttp server, which we don't use.

[2020-07-15 04:14] #417 closed

[2020-08-09 19:14] vivax3794 commented on #422
tbh I dont really like the code I wrote for minesweeper, so I would be up for just rewriting the hole cog.

[2020-08-09 20:17] Xithrius opened #426 "Adding Python topics for if called in Python-related channels."
## Description

`#python-general` and other python-related channels sometimes go offtopic. Implementation of this issue will add topics for specific python channels, so there aren't generic topics. If no topics can be found, the user will know because the bot will tell them.

## Reasoning

It could be hard to come up with a topic on the spot to continue the conversation, or maybe people just can't

[2020-08-09 20:18] vivax3794 commented on #426
I was thinking we could maybe implementing this in a more general way, were the [json file](<https://github.com/python-discord/seasonalbot/blob/d77a2bbc50305d05371197f4cfe3354cfca4c627/bot/resources/easter/starter.json>) looks something more like this:

[code]

[2020-08-09 20:22] Xithrius commented on #426
I'm guessing the `default` section would be meant for #python-general and the rest is for topical?

[2020-08-09 20:23] vivax3794 commented on #426
`default` would be for every channel not found in in `channels`

[2020-08-09 20:24] Xithrius commented on #426
But default having a topic like "what's your favorite PEP" wouldn't really work in the #discord.py channel.

[2020-08-09 20:24] vivax3794 commented on #426
this was just a quick draft, I am not saying it needs to be like that.

the general idea is that it can be easy to add a new set of topics for other channels

[2020-08-09 20:24] Xithrius commented on #426
If we don't have topics for that specific channel it should tell the user that there aren't any yet for the channel that they're in.

[2020-08-09 20:25] vivax3794 commented on #426
yhe that makes more sense,

[2020-08-09 20:30] Xithrius commented on #426
Here's another draft. Opinions?
[code]

[2020-08-09 20:31] vivax3794 commented on #426
that looks good, nicer than mine.

[2020-08-09 20:33] Xithrius commented on #426
Alright. I'll put this together in the code and then make a PR. More topics will be collected in there before merging.

[2020-08-10 22:28] Xithrius commented on #426
Reply with your suggestions for conversation starters on this comment.

[2020-08-17 16:58] MrAwesomeRocks opened #428 "Statuscat 418 doesn't work"
## Description
Http code 418 is reported to be invalid, even though its defined [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418). A [cat](https://http.cat/418.jpg) exists for the status code too.

## Steps to Reproduce
Send `.statuscat 418` to Seasonalbot.

## Expected Behaviour
Sends an embed with [this](https://http.cat/418.jpg) image in it, and a header of `Status: 418`.

##

[2020-08-17 17:36] Numerlor commented on #428
The status codes are verified by looking into the builtin [http](https://docs.python.org/3/library/http.html#http-status-codes) module; I don't think it's worth defining any special behaviour for that and keeping our own database of them as [python 3.9](https://docs.python.org/3.9/whatsnew/3.9.html#http) will update the builtin codes to include 103, 418 and 425

[2020-08-17 17:51] MrAwesomeRocks commented on #428
We could just add 103, 418, and 425, or maybe only just the 418 status code. Its just an if/else block for just one code, and if/elif/elif/else if we added all three.

[2020-08-17 23:12] MrAwesomeRocks commented on #428
Or it could be done with just one if/else checking if the code is one of the three that haven't been added yet.

[2020-09-02 11:42] Anubhav1603 commented on #331
i wnt to work on this command :)

[2020-09-05 04:03] Anubhav1603 commented on #414
I want to work on this issue :)

[2020-09-06 00:02] nitori opened #431 "Docstring on 8bitify doesn't match actual code"
https://github.com/python-discord/seasonalbot/blob/d77a2bbc50305d05371197f4cfe3354cfca4c627/bot/exts/evergreen/8bitify.py#L20-L22

A bit nitpicky, but after being curious on how it works, I looked it up and saw this little discrepancy.

Docstring says 256 colors (8-bit), but it actually only uses 32 colors (5 bit?). Either of those should probably be adjusted to match the other?

[2020-09-06 18:23] wookie184 opened #432 "Update discord.py version to 1.4.1"
## Description
Update the discord.py version to 1.4.1, and also put the voice extra back in

## Reasoning
It currently gets the package straight from GitHub,
https://github.com/python-discord/seasonalbot/blob/da468c51502c88c00687e2869f05a1a46c715e45/Pipfile#L10
which was necessary to allow for usage of `AllowedMentions` before it was released, but wasn't ideal. Now that the new version has been re

[2020-09-07 10:56] Anubhav1603 commented on #432
i wnt to do this :)

[2020-09-08 11:16] ikuyarihS commented on #425
@slushiegoose do you still want to work on this issue?

[2020-09-08 16:26] ikuyarihS commented on #414
@Vincenwobdo do you still want to work on this? Or you are fine leaving the issue to @Anubhav1603?

[2020-09-08 16:29] Vincenwobdo commented on #414
@Anubhav1603 you certainly can take it on. Thank you.

[2020-09-08 16:40] Anubhav1603 commented on #414
Ok i will work on this issue 🙂 ty

[2020-09-09 17:14] Anubhav1603 opened #433 ".source command"
## Description
We doesnt have source command for seasonal bot so it will be good if we add one

## Reasoning
with source command we can quickly check source of any command same like python bot

## Would you like to implement this yourself?
- [x] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2020-09-09 20:04] Xithrius opened #434 "Changing the .topic output from plain text to a useful embed."
## Description

Changing the output of the `.topic` command from plain text to an embed. The suggested topic will be in the title, bold. The description will be a hyperlink to the topic suggestion form, which can be found [here](https://forms.gle/zw6kkJqv8U43Nfjg9)

## Reasoning

The output of the `.topic` command is too plain, and no one knows where to suggest new topics! With this addition, peop

[2020-09-11 03:15] ncDevMan commented on #174
This sounds like fun. I could take a look at this if you would like.

[2020-09-11 08:07] ikuyarihS commented on #174
Sure thing, I've assigned the issue to you @ncDevMan

[2020-09-11 16:33] gustavwilliam opened #436 "Beardify — Lemoji beard structure text generator"
## Description

A command that would let the user easily convert text to a beard structure, using the beard structure lemojis.

Here's `PyDis` using the beard structure, in a Discord channel!

![image](https://user-images.githubusercontent.com/65498475/92949485-71670680-f45b-11ea-869b-53570313865c.png)

## Reasoning
Being able to write with lemoji beard, without having to reinvent the characters e

[2020-09-12 01:16] #434 closed

[2020-09-12 06:30] slushiegoose commented on #425
sure

[2020-09-14 20:51] aaravm4 opened #437 "Bot not able to catch answers typed in bursts"
## Description

I was using the `.quiz` command with the Seasonal Bot, and the question was **When did World War I start?** I put a bunch of years between 1910 and 1920 one after another and I had typed the correct answer **1914** but the Bot wasn't able to detect that even though it said the correct answer was **1914**.

## Steps to Reproduce

You can look at the quiz [thread](https://discordapp.

[2020-09-16 08:38] gustavwilliam commented on #436
TL;DR: I've begun implementing this myself.

I have a few updates to the implementation of it:
- Resulting text will be returned as a png
- Emojis will be on a separate server
- Multiple different fonts can be used (one exists as of now). The font height between fronts and letter width within fonts is variable

I'll write more about the custom emoji font format soon, if anyone is interested in con

[2020-09-16 20:57] gustavwilliam opened #440 ".dice doesn’t display emojis"
## Description
After an update to the server's dice emojis' names (together with updated designs), the output of `.dice` will be the string of the old emoji names, instead of the new ones. This causes it to be displayed as text.

## Steps to Reproduce

Send `.roll` in any channel that accepts the command.

## Expected Behaviour

Assuming that the output is 3, the returned string should be:
`:dice_

[2020-09-16 23:15] #440 closed

[2020-09-18 15:03] #420 closed

[2020-09-19 21:00] scragly commented on #433
Sounds good, go for it.

[2020-09-19 21:05] Xithrius commented on #398
I'll be taking this one.

[2020-09-19 21:05] scragly commented on #398
I agree, greedy parsing would be best here, as commas can be problematic especially on mobile.

[2020-09-19 22:39] #398 closed

[2020-09-20 22:19] gustavwilliam opened #446 "Wikiguess game"
## Description

A new `.wikiguess` game, where you get points for guessing the correct article name.

This would be a typical game:
- Send `.wikigame` or `.wikigame start` to start a new game.
- Get an embed with instructions about the game (click green reaction tick box to start game)
- X (5?) rounds are done
- The user receives a score

This is how a normal round would look:
- Get the first few

[2020-09-20 22:50] gustavwilliam opened #447 "Cog managment command"
## Description

Just like we can run `!c r COG_NAME` (`!cog reload COG_NAME`) to reload a cog with the Python bot, we should be able to do something similar with SeasonalBot.

While the entire suite of cog management commands would be nice to have, the reload one would be the most beneficial during development.

## Reasoning

While developing the `.emojify` command, I've restarted the bot around 1

[2020-09-21 03:45] PureFunctor commented on #447
Sounds good! Feel free to start working on this if you haven't already. One more thing, maybe you could use the `reload` [implementation](https://www.github.com/python-discord/bot/tree/master/bot/cogs/extensions.py] in [bot](https://github.com/python-discord/bot) as a reference.

[2020-09-21 04:02] Den4200 commented on #447
I would recommend just copying over the [extensions manager from bot](https://github.com/python-discord/bot/blob/ce8d758cf5c3a365be1cff683f0df7bed4bacd17/bot/cogs/extensions.py). The implementation there is already quite good, and no need to spend time creating a new solution when we already have one.

[2020-09-21 05:04] gustavwilliam commented on #447
Yep! That's what I'm thinking as well.

Could you assign me to the issue? I'll have a look at it soon, when I get time.

[2020-09-21 05:37] MarkKoz commented on #447
I don't think that what's on master will work with the current seasonalbot extension layout because it contains nested extensions. I've rewritten it to support that in https://github.com/python-discord/bot/pull/1103. That being said, since this is going to be used across 3 bots now, we should start considering moving such features to a common repo, like we did for async-rediscache.

[2020-09-21 06:23] gustavwilliam commented on #447
@MarkKoz I agree. Maybe it's best to move the common things like pagination as well, so we have it all in the same place.

For now, I think copying over the command (possibly from your PR) and maybe altering it slightly to work with SeasonalBot would be the best method.

We could work on combining it to a single repo later. Maybe open an issue about it in the meta already?

[2020-09-22 08:33] gustavwilliam opened #450 ".snake video command not responding"
## Description

When using the `.snake video` command, no response is given by the bot. This is the error message received from a local test bot:
[code]
This is most likely the result of an API change or similar, resulting in a NoneType return value.

## Steps to Reproduce

Send `.emoji video` in the #seasonalbot-commands channel.

## Expected Behaviour

A return message, containing a link to a Yo

[2020-09-22 09:28] Akarys42 opened #451 "Fully supporting GitHub codespaces"
## What are codespaces?

In their latest Satellite, GitHub announced the launch of Codespaces, an online development environment running VSC, fully integrated with GitHub. As the time of writing this, the feature is in public beta. You can read more about it [here](https://github.com/features/codespaces).

## What needs to be done?
I’ve tried this recently to review a PR, it was pretty great, alth

[2020-09-22 09:54] #331 closed

[2020-09-22 11:29] Anubhav1603 opened #452 "wikipedia command bug"
when u try to mention channel bot dont reply
![Capture](https://user-images.githubusercontent.com/57266248/93876712-e6a4c800-fcf4-11ea-9d8d-7364098aeaba.PNG)

- [x] Web
- [x] Desktop
- [x] Android App
- [x] iOS App

- [x] I'd like to implement the bug fix
- [ ] Anyone can implement the bug fix

[2020-09-22 11:52] PureFunctor opened #454 "`.emojicount` command for displaying the number of emojis categorically"
## Description

An `.emojicount` command can be used to display the categorical emoji count in the server through an embed.

## Reasoning

Due to recent changes as to how emojis in the server in the server are categorized with prefixes, implementing such a command would be fairly trivial.

## Proposed Implementation

An `.emojicount` command can be invoked with zero or more categories. For every c

[2020-09-22 12:27] algo-1 commented on #422
I’m willing to give this a go

[2020-09-22 17:59] #452 closed

[2020-09-24 08:14] #432 closed

[2020-09-24 14:02] Anubhav1603 commented on #454
Can I work on this issue also :)

[2020-09-24 14:38] Akarys42 commented on #454
Sure, I've assigned you.

[2020-09-24 17:38] #447 closed

[2020-09-26 18:52] AtieP opened #460 "Make a more stylish help command"
## Description
Currently, SeasonalBot uses the default help command, and it's kinda ugly. I propose to create a better help command, like Python bot does.

## Reasoning
It will be more visually appealing and it will be easier to explore commands.

## Proposed Implementation
Override the original help command and create a paginator.

## Would you like to implement this yourself?

- [ ] I'd like to

[2020-09-26 19:08] AtieP commented on #460
actually please don't mind this probably got a flashback lol

[2020-09-26 19:08] #460 closed

[2020-09-26 19:23] AtieP commented on #460
Well, to clarify what actually happened: I thought the global help template was the same as if you used `.space` command, for example.

[2020-09-28 09:28] AtieP opened #461 "Add cog that shows info about emojis"
## Description
Add a command that displays relevant info about emojis, like name, ID, created_at, CDN link...

## Reasoning
People could get more information about the server emojis.

## Proposed Implementation
Simple: create a new command called `emoji_info` or something. It will get a second parameter called `emoji` typehinted with `discord.Emoji`. Then, proceed to show relevant info about the e

[2020-09-28 09:31] gustavwilliam commented on #461
I think #454 could be added as a subcommand to this. It would be `.emoji count` or `.emoji list`, instead of a separate command.

[2020-09-28 09:33] AtieP commented on #461
Yeah, I think that's okay. My proposed name for this subcommand is `info`.

[2020-09-28 09:41] AtieP commented on #461
I'll work on this when #454 is closed.

[2020-09-28 11:55] Anubhav1603 commented on #461
I think `emoji count` and `emoji list` command will automatically cover #454  issue

[2020-09-28 13:19] gustavwilliam commented on #461
@AtieP no real need to wait. I think it would be equally good — if not better — to work on this one before the other command is even complete.

@Anubhav1603 exactly. That's what I was referring to in my previous comment.

[2020-09-28 13:26] AtieP commented on #461
okay time to work

[2020-09-29 13:19] CircuitSacul opened #463 "Add a starboard to SeasonalBot"
## Description
I have an [open source Starboard Bot](https://circuitsbots.github.io/Starboard) that I think would be very fun to have in the python discord server. I'm probably willing to create a PR to include the code here, but I don't want to go to that work unless you are actually going to implement it.

## Reasoning
Starboards are a lot of fun. I know the purpose of this server is python, but

[2020-09-29 13:40] SebastiaanZ commented on #463
Hello!

Thank you for your suggestion, but we're not planning on adding a public starboard to our community at this time. We feel that the potential benefits of a starboard are outweighed by the potential drawbacks in terms of moderation and effort.

[2020-09-29 13:40] #463 closed

[2020-09-30 15:32] LakshyaShastri opened #464 "A command which gives a quick overview of a GitHub profile"
## Description
This command would send an embed with details about a GitHub user's profile, like their follower and following count, number of public repos, blog link (if any), etc. All of them will be hyperlinks leading to the user's profile, their follower page, their following page, and so on.

## Reasoning
With the Hacktoberfest starting in less than a day, everyone's going to be working with

[2020-09-30 16:42] Akarys42 commented on #464
I like idea, except for the full name and location, I don't think that's up to us to decide if the user wants his/her private information to be on this server.

[2020-09-30 16:43] LakshyaShastri commented on #464
I mean it's publicly available on their profile anyways, but if needed I can remove those

[2020-09-30 16:44] ks129 commented on #464
@Akarys42 Full name and location fields should be shown only when user provided them.

[2020-09-30 16:47] Akarys42 commented on #464
@ks129 sure, but we still shouldn't repost that, they didn't explicitly agreed for us to publish their information.

[2020-09-30 17:10] PureFunctor commented on #464
+1 on this. Just because a user's full name and location is publicly available on GitHub (or any platform for that matter), that doesn't mean that we're allowed to publish their information on the server. Either way, I think this is a fairly neat addition.

[2020-09-30 17:15] AtieP commented on #464
I agree wirh pure

[2020-09-30 17:27] gustavwilliam commented on #464
This sounds like a great idea. As Akarys and Pure have already mentioned though, we should not include name and location, out of privacy reasons.

Instead of providing this, it would be nice to have some stats about the things that matter for Hacktoberfest, like PRs in a certain time frame. If you have any other ideas of things to include, I’d love to hear about them as well.

[2020-09-30 17:29] gustavwilliam commented on #464
Also, I think `.gh` would be a better name, especially after the release of the GitHub CLI, which uses `gh` to interact with GitHub.

[2020-09-30 18:27] LakshyaShastri commented on #464
So since we're not doing full name and location, how does replacing them with gists, starred repos, and maybe even organizations sound? As for the name, `.gh` looks pretty good to me too!

[2020-10-01 03:39] sentry-io[bot] opened #467 "GitHub API request for 'some_user_that_doesn't_exist' failed with message: The listed users canno..."
Sentry Issue: [SEASONALBOT-1E](https://sentry.io/organizations/python-discord/issues/1925901672/?referrer=github_integration)

[code]

[2020-10-01 07:36] Akarys42 commented on #464
Sure!

[2020-10-01 07:45] LakshyaShastri commented on #464
@Akarys42 I've made a [pull request](https://github.com/python-discord/seasonalbot/pull/465) for this issue already

[2020-10-01 08:18] #467 closed

[2020-10-01 10:04] PureFunctor opened #470 "Porting CustomHelpCommand from `bot`"
## Description

This proposes porting the [`CustomHelpCommand`](https://github.com/python-discord/bot/blob/3ac54c5dd926738ce4c5b9fe2433b006d1ea9cee/bot/exts/info/help.py#L41) class from the server's [Python Bot](<https://github.com/python-discord/bot>). This would mean either replacing the current implementation for [SeasonalBot](<https://github.com/python-discord/seasonalbot>) or extending it to

[2020-10-01 14:46] ChrisGallardo commented on #171
Cool! Can I try this one?

[2020-10-01 14:47] Akarys42 commented on #171
Sure, go for it! If you have any issue, you can always ask us at `#dev-contrib`.

[2020-10-01 14:50] ChrisGallardo commented on #171
Wow thanks!

[2020-10-01 16:59] Akarys42 commented on #428
As @Numerlor said, we can just wait for Python 3.9, there isn't really any urge for it right now.

[2020-10-02 03:22] ChrisGallardo opened #472 "Use GitHub accounts linked to discord."
## Description

Right now, we have at least 2 commands, #464, and `.hacktoberstats <user>` that take an argument which is a discord username. We should make a function in `bot/utils` to get a user's GitHub account if it is linked to their discord. So that the user doesn't need to type that extra argument.

## Reasoning

It would make using commands like #464 or `.hacktoberstats <user>` better, bec

[2020-10-02 03:23] ChrisGallardo commented on #472
Can I get assigned to this?

[2020-10-02 04:52] Anubhav1603 commented on #472
The suggestion u propose also require one step and and with command also user need to do one step in order to link ,I don't think it will make huge difference

[2020-10-02 05:41] Senjan21 commented on #472
It isn't really possible to get discord connections without OAuth2 afaik, and for that we'd need to set up site for that beforehand and quite frankly am not sure if it's worth it as for many people it would be faster to type the command than to go through process of OAuth2

[2020-10-02 11:47] ramansrivastava commented on #437
hey i am new here and want to contribute here what should i do?

[2020-10-02 13:55] ChrisGallardo commented on #472
I think a lot of people already have done that step though.

[2020-10-02 13:55] ChrisGallardo commented on #472
We couldn't just grab their username from the Discord API?

[2020-10-02 14:06] Akarys42 commented on #472
No, the discord API doesn’t give this sort of data without an explicit consent from the user, through a web interface.

[2020-10-02 16:58] vivax3794 commented on #472
last time I checked the only way to get linked accounts is by using a self-bot, but as this is against the discord ToS so it is not a option.

from looking at the discord.py docs, what we _would_ use is this: [Profile.connected_accounts](https://discordpy.readthedocs.io/en/latest/api.html?highlight=user#discord.Profile.connected_accounts), but as stated in [User.Profile()](https://discordpy.readth

[2020-10-02 19:53] ChrisGallardo commented on #472
Oh, that's too bad then

[2020-10-02 19:53] #472 closed

[2020-10-03 07:57] hedythedev opened #474 "filter out PR labeled 'spam' in get_october_prs() for hacktoberfest"
## Description
Currently it is only filtering out 'invalid' labeled PRs, we should also filter out 'spam'

## Reasoning
According to the website:
![image](https://user-images.githubusercontent.com/50042066/94986398-08be0600-0591-11eb-9f2e-b0d94c9de15d.png)

## Proposed Implementation
Add another `-label:` when constructing the query to the github API to filter out 'spam' labels

## Would you like

[2020-10-03 08:01] Akarys42 commented on #474
Sounds good to me, thanks for the issue!

[2020-10-03 09:01] Anubhav1603 opened #476 "Translator command"
## Description
We can use this [library](https://pypi.org/project/googletrans/) for command. This command can convert any language to english and represent translation on embed

## Proposed Implementation
We can have `.translate <language> <string>` language will be optional argument which will be default to english

- [x] I'd like to implement this feature myself
- [ ] Anyone can implement this f

[2020-10-03 09:03] gustavwilliam commented on #476
I don’t think this would be a good idea, since it’s an English speaking server (rule 4).

[2020-10-03 09:09] Anubhav1603 commented on #476
umm ok but rule 4 is for conversation only right and this command is just a showcase i can make this command to return translation in english only

[2020-10-03 09:14] gustavwilliam commented on #476
Since there shouldn't be conversations in other languages, this command won't really bring any value to the community. If you wish to translate something, feel free to use Google Translate or similar services instead.

[2020-10-03 09:22] scragly commented on #476
Yeah, this is too much of a pain for moderation, isn't considered a "fun" command, and isn't something that's genuinely useful in our community. Since there's no compelling reason to add it and it brings potential downsides, I'll have to say no to this proposal, sorry.

[2020-10-03 09:22] #476 closed

[2020-10-03 16:54] #414 closed

[2020-10-03 18:00] ChrisGallardo commented on #237
Can I try this?

[2020-10-03 18:12] ChrisGallardo commented on #237
Wait there is already a `.speedrun` command, but it gets data from `speedrun_links.json` not the API. Should there be a new command, or switch it to use the API?

[2020-10-03 18:17] Akarys42 commented on #237
The command `.speedrun` is indeed already implemented.

[2020-10-03 18:17] #237 closed

[2020-10-03 18:17] ChrisGallardo commented on #237
But it doesn't use the API @MarkKoz mentioned

[2020-10-03 18:17] ChrisGallardo commented on #237
I think we can make it better with the API

[2020-10-03 18:21] Akarys42 commented on #237
The feature is already working really well like that, I think it is better to focus on new features instead.

[2020-10-04 03:26] ChrisGallardo commented on #238
How many choices should the user make?

[2020-10-04 07:43] Anubhav1603 commented on #208
I wnt to work on this :)

[2020-10-04 08:06] #454 closed

[2020-10-04 08:12] hedythedev opened #477 "Error traceback when using next/prev arrows with .help cmd"
## Description

This error traceback is printed every time I click on a reaction after running the help cmd

[code]

Note that this line `Ignoring exception in on_reaction_add` is because there was an error with loading the 🗑️ emoji. (Another error is printed too, but I ignored that)

## Steps to Reproduce

1. clone code in master in set up environement
2. `pipenv run start`
3. go to discord chann

[2020-10-04 08:59] #433 closed

[2020-10-04 09:25] vivax3794 commented on #477
The bug looks to be here: https://github.com/python-discord/seasonalbot/blob/master/bot/exts/halloween/candy_collection.py#L138

if I am not mistaken it is since that is the wrong use of `next()`, the traceback went away when the line was switched to:
[code]

[2020-10-04 12:56] scragly commented on #208
I've assigned you @Anubhav1603.

Feel free to ask any clarification questions if needed, and since it'll likely involve a decent amount of prose-like information, be sure to have at least another set of eyes go over the text for spell-checks/grammar to avoid needing to do so during code review.

[2020-10-04 13:57] gustavwilliam commented on #450
Unless anyone is keen on fixing this, we should simply disable the command for now.

[2020-10-04 17:00] ChrisGallardo opened #480 "8bitify attached images"
## Description

Let the `.8bitify` not just work on avatars, but if the user uploads an image, 8bitify that instead.

## Reasoning

It would let users 8bitify more than just their avatar.

## Proposed Implementation

I think the ideal way to do this is to first check if the user passed any extra arguments to `.8bitify`, and if so, skip the getting the avatar and instead use the image URL they pass

[2020-10-04 17:45] Vthechamp22 commented on #446
Can I try to implement it? I think I will start with just a single player in #seasonalbot-commands though.

[2020-10-05 00:42] WillDaSilva commented on #224
If @JackyFWong is not opposed, I'd like to implement this.

[2020-10-05 01:07] WillDaSilva commented on #393
I'd like to implement this

[2020-10-05 01:12] WillDaSilva commented on #344
I'd like to implement this

[2020-10-05 01:17] Den4200 commented on #344
Hello @WillDaSilva, this was already fixed. Sorry, we should've closed this issue.

[2020-10-05 01:17] #344 closed

[2020-10-05 01:25] WillDaSilva commented on #136
If @adityaprakash-bobby isn't opposed, I'd like to implement this.

[2020-10-05 01:42] #422 closed

[2020-10-05 01:43] JackyFWong commented on #224
Hi @WillDaSilva, I think it's completely fine if you would like to implement this. To be honest, with university going online and 2 jobs, I've forgotten about this. Sorry to the seasonalbot folks about ignoring this!

[2020-10-05 01:47] Den4200 commented on #224
No problem @JackyFWong, I hope your studies are going well!

@WillDaSilva, I've assigned you.

[2020-10-05 02:16] WillDaSilva commented on #393
I've been playing around with alternatives for `NamedTuple` for the `Channels` class. I think it would be best to leave it as a named tuple, as its attributes are used all over the codebase as ints. It could be changed to an `IntEnum`, whose attributes subclass `int`, but some errors arise from that since the attributes don't behave exactly like ints do. Changing it to an `IntEnum` would require c

[2020-10-05 11:22] hedythedev commented on #477
@vivax3794 if I do that flake8 tells me:
[code]

[2020-10-05 11:33] SebastiaanZ commented on #477
It's a `flake8` false positive. When you call `channel.history`, you get an instance of `discord.iterators.HistoryIterator` back and that class does implement a [`next` method](https://github.com/Rapptz/discord.py/blob/f308f34db1b1c24178fbdb1756838064cd9e4348/discord/iterators.py#L258). You'll need to add an ignore/noqa for flake8 here.

[2020-10-05 18:59] gustavwilliam commented on #446
I'd like to implement this command myself. There are plenty of other issues to work on, though 😄

[2020-10-06 02:01] #171 closed

[2020-10-06 12:31] quanta-kt commented on #450
I've checked on this one, the said error occurs to me only when `YOUTUBE_API_KEY` environment variable is missing, works fine otherwise.

[2020-10-06 13:06] gustavwilliam commented on #450
Great to get some info on this issue. Maybe the API token we're using for SeasonalBot simply isn't valid any longer.

[2020-10-06 13:51] quanta-kt opened #486 "HTTP 400 in command hacktoberissues when the issue description is too long"
## Description
Discord does not allow embeds with description greater than 2040 in length. When `.hacktoberissues` comes across an issue with long enough body, the command does not respond and fails with the traceback shown in "Actual Behaviour section"

_Edit: Yes, it is rare, but I've encountered it more than 2 times in my test environment_

## Steps to Reproduce
Repetitively using `.hacktoberis

[2020-10-06 14:32] Vthechamp22 commented on #446
So can I do it? I have already started implementing it, with ability to play with more than one player too.

[2020-10-06 14:35] Anubhav1603 commented on #446
@Vthechamp22,  @gustavwilliam  have already opted to work on this issue,so sorry

[2020-10-06 15:38] Akarys42 commented on #446
Hey @Anubhav1603, @gustavwilliam checked the "I'd like to implement this feature myself", besides you didn't even commented on this issue, it is up to vestergurkan to implement it.

[2020-10-06 15:41] Anubhav1603 commented on #446
I am saying same thing to @Vthechamp22, @Akarys42 😅,sorry if I was not clear

[2020-10-06 17:11] Akarys42 commented on #446
Alright @Anubhav1603, although please leave this job to core devs, thanks.

[2020-10-07 00:05] hedythedev opened #489 "hacktoberissues must have "hacktoberfest" topic for the repo"
## Description
`hacktoberissues` command returns issues, but the repo should also have "hacktoberfest" topic for it to count (and i don't really think a hacktoberfest label is needed but i may be wrong, please let me know)

with current logic, it finds issues with hacktoberfest label, without checking if the repo is even eligible

## Possible Solutions
loop through results, only include those that

[2020-10-07 02:15] ChrisGallardo commented on #489
Yes, it's not just the `hacktoberfest` topic, but also issues labeled`hacktoberfestissue`.

[2020-10-07 02:37] sentry-io[bot] opened #490 "Unhandled tag command error: Command raised an exception: KeyError: 'items' ('items')"
Sentry Issue: [SEASONALBOT-11](https://sentry.io/organizations/python-discord/issues/1830840781/?referrer=github_integration)

[code]

[2020-10-07 02:38] Den4200 commented on #450
@gustavwilliam @quanta-kt Here's a bit of context: #490

[2020-10-07 04:55] Vthechamp22 commented on #277
If no one wants to do this any more, can I get assigned to this?

[2020-10-07 04:59] Senjan21 commented on #277
I have assigned you, feel free to work on it @Vthechamp22

[2020-10-07 05:11] Vthechamp22 opened #491 "Bot is showing reverse PRs as valid Hacktober PRs"
## Description
When I do `.hackstats`, the bot thinks my reverse pull requests are also valid Hacktober PRs.
![image](https://user-images.githubusercontent.com/61617820/95289267-f50fe980-0887-11eb-9c33-3f2ae4efcb1b.png)
Even though I haven't made any PR, it says that I have made a contribution
![Valid PRs](https://user-images.githubusercontent.com/61617820/95289687-05749400-0889-11eb-8cc4-71ff568d

[2020-10-07 05:50] hedythedev commented on #491
this is being worked on in #475, thanks for opening the issue though

[2020-10-07 05:54] Vthechamp22 commented on #277
Thanks @Senjan21 !

[2020-10-07 13:26] #486 closed

[2020-10-07 17:28] Anubhav1603 commented on #351
Hello @manusaurio r u still planning to implement this feature if not can I work on this issue 🙂

[2020-10-07 17:53] #490 closed

[2020-10-07 17:55] Vthechamp22 opened #493 "TypeError: 'HistoryIterator' object is not an iterator"
## Description
When running the `seasonalbot`, I occasionally get an error:
[code]
This repeats several [times](https://paste.pythondiscord.com/ehokihoqad.sql)

## Steps to Reproduce
Run the `seasonalbot` using `pipenv run start`, and wait for some time

## Expected Behaviour

No error to occur and `candy_collections.py` to run normally

## Actual Behaviour

Errrror

## Known Impacted Platforms

-

[2020-10-07 18:02] kwzrd commented on #490
This was caused by an invalid API key, which is now resolved (the linked PR did not resolve the issue, but it resolved a different one and made the cog more resilient to the same issue happening again).

[2020-10-07 18:03] kwzrd commented on #450
The cause of this issue is not providing a youtube API token env var.

[2020-10-07 18:03] #450 closed

[2020-10-07 18:04] Vthechamp22 commented on #493
EDIT: I am not sure if this is a bug for everyone, but it is happening for me so I thought I should mention it

[2020-10-07 18:07] SebastiaanZ commented on #493
It should be `await channel.history(limit=1, before=o).next()`.

[2020-10-07 18:28] aaravm4 opened #494 "Add Yoda Text Command"
## Description

I was thinking of adding a `.yoda <text>` command that transforms text into yoda-like speech.
Example:
`.yoda You must have patience my young Padawan.`
Returns:
`Patience you must have my young Padawan. Hrmm`

## Reasoning

I recently saw the `.snake snakify` command, and thought it would be nice to implement a command that converts normal text to yoda-like text. It seems like a re

[2020-10-07 18:42] quanta-kt commented on #348
Instead of checking if the first post is 18+ using `if posts[1]["data"]["over_18"] is True:` I'd rather `filter` out all the 18+ posts

[2020-10-07 18:58] gustavwilliam commented on #494
How are you planning to switch the subject and action? Would that require some basic natural language processing?

Also, I don’t think Yoda only adds “hhmmm” at the end. I think randomly putting it in the sentence (between statements) or at the end or beginning would be the way to go.

[2020-10-07 19:07] aaravm4 commented on #494
I agree that yoda does add other sounds including hhmmm and yes, which I can sprinkle in throughout the text. In terms of switching the subject, verb, and action I could use a nlp parser such as spaCy to accomplish finding the subject. I'll look over some of his lines to get a better understanding of his talk as well.

[2020-10-07 19:10] gustavwilliam commented on #494
Alright. How would many sentences and more complex ones be handled? Like the one I just wrote (or this one).

[2020-10-07 19:21] aaravm4 commented on #494
Let me test around with spaCy and yoda translations, and get back on a more concrete approach.

[2020-10-08 05:34] hedythedev commented on #489
@ChrisGallardo @Den4200
i'm talking about fetching *issues* (.hacktoberissues) command, not PRs, so I don't think #475 fixes this, and I don't think `hacktoberfest-accepted` label on PRs is related. Am I missing something?

[2020-10-08 10:48] Vthechamp22 opened #495 "Candies getting repeated on leaderboard"
## Description
On the leaderboard, If you get a candy twice, your name is repeated twice on the leaderboard. So, instead of
![image](https://user-images.githubusercontent.com/61617820/95435325-10562400-0970-11eb-8162-94c27a0fb82a.png)
shouldn't it be
![image](https://user-images.githubusercontent.com/61617820/95435835-b6099300-0970-11eb-9aa4-6c1e64d44b52.png)
?

## Steps to Reproduce

Get two cand

[2020-10-08 11:30] Den4200 commented on #489
@hedythedev Right, sorry, I misread the issue.

[2020-10-08 12:55] quanta-kt commented on #495
I have played around with this a bit and would like to work on it, can I get assigned?

[2020-10-08 14:32] Vthechamp22 commented on #277
In about how much much time should the event trigger? Every day? Twice every day? Every two hours?

The bot sends the name in the off topic and event channels at once and people can come up with a halloweenified version of it.

I was thinking it could be a thing only for the `#seasonalbot-commands` channel?

[2020-10-08 18:29] RohanJnr commented on #348
yes, that should also work @quanta-kt.

[2020-10-08 22:25] ChrisGallardo commented on #489
Oh I see.

[2020-10-09 19:07] wookie184 commented on #425
The spookyavatar/savatar command currently accepts an optional user input, but it doesn't actually seem to use that for the image, using the message author instead anyway, so this could also be fixed. Relevant line: https://github.com/python-discord/seasonalbot/blob/ba6536cf2011dc52d1e103407d75aa699975656b/bot/exts/halloween/spookyavatar.py#L39

I think you can count this as approved and start wor

[2020-10-09 19:53] manusaurio commented on #351
Sorry, feel free to do it.

[2020-10-10 06:31] ks129 commented on #244
I'm gonna work with it.

[2020-10-10 08:16] Vthechamp22 commented on #277
and, I made the command as `.ratethespook`, is it fine?

[2020-10-10 08:47] hedythedev opened #498 "Same winner getting repeated when correct answer sent multiple times (.riddle)"
## Description

With the `.riddle` command, when a user sends a correct answer multiple times (probably because there isn't any response immediately after correct answer), the final 'who wins' message becomes like this:
![image](https://user-images.githubusercontent.com/50042066/95650684-ab3d3280-0b17-11eb-9082-7504408cf1c6.png)
🔗 [message link](https://discord.com/channels/267624335836053506/6072

[2020-10-10 13:19] jayson-310801 commented on #431
I would like to work on this issue

[2020-10-10 16:09] Vthechamp22 commented on #277
I added a command for adding a spookified entry, since the user may not be wanting to make an entry, or may want to discuss about something else in that channel

[2020-10-10 17:48] quanta-kt commented on #428
`http.cat` urls respond with HTTP status 404 if a cat image does not exist. It could be used instead of checking the status validity using the stdlib.

[2020-10-10 18:25] jb3 commented on #428
Honestly that doesn't sound that bad. We can do some integer validation, checking that a user isn't looking for dodgy stuff, and otherwise let that handle all the validation. There is no reason why new status codes will not be implemented, and will take longer to get into stdlib than they do http.cat.

[2020-10-10 19:38] #464 closed

[2020-10-11 19:28] ChrisGallardo opened #500 "httpcat missing codes"
## Description

The `.http_cat` command is supposed to send the picture associated with the status code the user enters. To check if the user has entered a valid status code, it checks if it is in the [`HTTPStatus` enum](https://docs.python.org/3/library/http.html#http.HTTPStatus).  The problem with this, is that three of the status codes, `103 EARLY_HINTS`, `418 IM_A_TEAPOT` and `425 TOO_EARLY`,

[2020-10-11 19:29] jb3 commented on #500
http.cat returns a 404 cat for any code it does not know about, so maybe we should just do that?

We could check the argument is an integer and leave it at that, then we'll leave it up to http.cat to see whether the code is supported.

[2020-10-11 19:44] ChrisGallardo commented on #500
I guess we could check if the code returns 404 cat, and if it does, and the code isn't 404 we send something saying the code doesn't exist and show 404 cat.

[2020-10-13 08:28] #351 closed

[2020-10-13 21:11] Den4200 commented on #428
That sounds like a good idea to me. Would you still like to implement this
fix @Anubhav1603?

[2020-10-13 21:43] Den4200 commented on #500
Related to #428

On Sun, Oct 11, 2020 at 3:44 PM Chris Gallardo <notifications@github.com>
wrote:

[2020-10-14 00:50] ChrisGallardo commented on #428
I mentioned some fixes in #500.

[2020-10-14 00:50] ChrisGallardo commented on #428
Maybe you want to check those out too.

[2020-10-14 01:24] Anubhav1603 commented on #428
@Den4200  sure I would like to implement this feature :)

[2020-10-14 15:33] ChrisGallardo commented on #428
@Akarys42 when will that be?

[2020-10-14 15:34] Anubhav1603 commented on #428
@ChrisGallardo  i still think my proposed idea can solve this

[2020-10-14 15:38] Akarys42 commented on #428
We will update to 3.9 when the libraries we are using will be ready and at least one patch of CPython will have been released. Be patient. 🙂

[2020-10-14 23:32] 15695 opened #502 "Riddle command should operate like the Quiz"
## Description

Currently, the riddle waits until the end of the riddle to display the correct answers. I think this should operate like the [quiz command](https://github.com/python-discord/seasonalbot/blob/master/bot/exts/evergreen/trivia_quiz.py#L47-L183), as soon as someone gets the answer right, the riddle ends.

## Reasoning

Some people get confused when they got the answer correct and the b

[2020-10-14 23:33] aaravm4 commented on #502
Can I implement this fix?

[2020-10-14 23:33] 15695 commented on #502
Sure!

[2020-10-14 23:34] aaravm4 commented on #502
Staff have to decide.

[2020-10-14 23:34] 15695 commented on #502
Nevermind then.

[2020-10-15 00:33] mbaruh commented on #502
@aaravm4 go ahead

[2020-10-15 00:39] aaravm4 commented on #502
Thanks!

[2020-10-15 11:30] Vyvy-vi opened #504 "The .hackstats command also states the invalid repos"
## Description
We can perhaps make the .hackstats command only show valid repos instead of total contributions.

## Reasoning
Many ppl use the discord bot to keep track of their repos and they will be in the delusion that some of their PRs were qualified, when they might have been invalid as the HacktoberFest team is closing submissions from certain large public repos, due to lack of quality.

##

[2020-10-15 13:01] #498 closed

[2020-10-15 13:59] quanta-kt commented on #493
I have removed these lines in #496
I assume I can make a note about this in my PR saying `"Closes #493"` ?

[2020-10-16 18:41] WillDaSilva opened #505 "Comply with TMDB API ToS"
## Description

[TMDB API ToS states under section 3 (attribution)](https://www.themoviedb.org/documentation/api/terms-of-use):

We should set TMDB logo as the thumbnail for every embed using TMDB, and ensure the footer has the exact text they specify.

## Would you like to implement a fix?

- [X] I'd like to implement the bug fix
- [ ] Anyone can implement the bug fix

[2020-10-16 20:24] #505 closed

[2020-10-21 08:03] #474 closed

[2020-10-21 08:03] #491 closed

[2020-10-21 08:03] #504 closed

[2020-10-25 07:03] sentry-io[bot] opened #512 "Spookygif: TypeError: Invalid variable type: value should be str, int or float, got None of type <class 'NoneType'>"
Sentry Issue: [SEASONALBOT-16](https://sentry.io/organizations/python-discord/issues/1879463811/?referrer=github_integration)

[code]

[2020-10-25 07:41] ks129 commented on #512
Problem is on missing API key. This have to be solved by DevOps team, nothing to change in code.

[2020-10-25 08:13] scragly commented on #512
This has now been addressed, thanks.

[2020-10-25 08:13] #512 closed

[2020-10-31 15:09] #495 closed

[2020-11-06 12:26] thomaspet opened #513 "Create rollover cooldown logic for wolfram alpha"
## Description

https://github.com/python-discord/seasonalbot/blob/44bc2efb37702758594f7218ae998fd725394773/bot/exts/evergreen/wolfram.py#L28

Keep track of how many uses we've had of the wolfram commands. The max usage should be listed in their documenation, and the daily user & guild cooldown should reflected on how much we have left in total divided by how many days until the next year.

## Rea

[2020-11-19 19:18] janine9vn opened #522 "Advent of Code Updates for 2020"
## Description
Advent of Code (AoC) will be run a bit differently this year on PyDis, so some changes are required in the code itself. We'll have 3 leaderboards in the server, a global leaderboard, "private" PyDis leaderboard, and then a staff leaderboard. The current code only allows for the global and private PyDis leaderboard.

## Proposed Implementation
- The leaderboard commands should provid

[2020-11-20 02:31] fisher60 opened #523 "Add "Wonder Twins" inspired command"
## Description
A fun command that assembles a phrase which is an object to transform into. Similar to the old "Wonder Twins" cartoon. I.e "Form of a bucket of water."

## Reasoning
I was recently watching a compilation of all the wonder twins' transformations and the video is hilarious. I believe users could have some fun seeing all of the combinations of (usually useless) water-themed objects a p

[2020-11-20 21:52] gustavwilliam opened #525 "Hard coded bot name when connecting"
## Description

The bot sends "SeasonalBot" — a hardcoded string for the bot name — in the dev log, when connecting. This use the username of the bot instead.

## Steps to Reproduce

(Re)start the bot and check the "connected" message sent in your dev log. The interesting part is the author name.

## Expected Behaviour

I would expect either the username or display name of the bot to be used.

##

[2020-11-20 22:53] lemonsaurus opened #526 "Rebranding the bot to Sir Lancebot"
Now that the bot is changing its name, it needs a refactor to use the new name everywhere.

We also need to change the name of this repository.

I'll make these changes personally.

[2020-11-20 22:55] gustavwilliam commented on #525
This should be solved by #526.

[2020-11-20 22:55] lemonsaurus opened #527 "Clean up constants.py"
## Description
`constants.py` has quite a bit of mess. There are constants we no longer use, there is a mix of regular classes and NamedTuples, and a lack of documentation. Let's clean it up.

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2020-11-21 00:06] #525 closed

[2020-11-21 00:06] #526 closed

[2020-11-21 21:42] gustavwilliam commented on #494
@aaravm4 How did it go? Any further thoughts on the implementation?

[2020-11-21 21:47] aaravm4 commented on #494
Hi. I have been pretty busy the past few months, but it's finally Thanksgiving break, so I can spend more time on an implementation.

[2020-11-21 21:59] gustavwilliam commented on #494
Alright, sounds good! Life happens; There's no hurry.

[2020-11-23 14:39] Akarys42 commented on #480
We don't want to give the users the option to pass any sort of image to cogs, as it can result in inappropriate content to be used and passed through our bot.
I'm afraid that's something we aren't going to support.

[2020-11-23 14:39] #480 closed

[2020-11-23 15:21] ChrisGallardo commented on #480
Makes sense, I didn't think about that.

[2020-11-23 15:22] ChrisGallardo commented on #500
I'm closing this as it is a duplicate of #428.

[2020-11-23 15:22] #500 closed

[2020-11-23 21:24] janine9vn commented on #522
## More Implementation Details
- There will be 5 leaderboards that have to be combined and sorted into a custom PyDis community leaderboard that we share as an embed. We effectively need to re-implement AoC's scoring system. See below for more info on the specifics.
- How do we distribute which join code gets sent to which user and track when a leaderboard is full? There's a cap of 200 people per

[2020-11-24 04:48] #523 closed

[2020-11-24 08:03] Akarys42 commented on #527
I think this should wait until the migration to `server-bootstrap`/`smartconfig`; what do you think?

[2020-11-24 08:08] Akarys42 opened #530 "Migrate the Reddit channel to sir-lancebot"
## Description
The current code for the [Reddit cog](https://github.com/python-discord/bot/blob/master/bot/exts/info/reddit.py#L257-L260) in the [Python bot](https://git.pydis.com/bot) is taking care of updating the `#reddit` channel. This should be migrated to Sir-Lancebot in order to remove the cog from Python.

## Reasoning

For quite a while now, we have two `reddit` commands, on both Python a

[2020-11-24 08:57] RohanJnr commented on #530
I would like to work on this

[2020-11-24 08:58] RohanJnr commented on #530
I will also be completing #348 along with this.

[2020-11-24 14:53] lemonsaurus commented on #527
Sure, I don't mind that.

[2020-11-24 17:23] RohanJnr commented on #348
I will be completing this along with #530

[2020-11-30 08:25] Akarys42 opened #533 "`.extension list` incorrectly feed lines to the paginator"
## Description

Instead of putting each line as a separate entry in the `lines` parameter, `.extension list` will create a line with newline characters in it, like so

https://github.com/python-discord/sir-lancebot/blob/b0bddb905b8b7e311aad103570c8245f7c0a0683/bot/exts/utils/extensions.py#L164-L168
While this can seem harmless, this will cause the line length check to fail, and raise a `RuntimeErr

[2020-11-30 08:59] HassanAbouelela opened #602 "Add Subsection Command for WTFPython"
While discussing python-discord/meta#63, a suggestion that came up was to add a command to get a direct link to subsections of the python gotchas list. This can be used to quickly direct people towards relevant sections of this resource.

A possible implementation would fuzzy match the headers on the page, and send the link to the relevant sections.

[2020-11-30 14:38] #522 closed

[2020-11-30 15:43] ChrisGallardo opened #534 ".aoc leaderboard show when last updated"
## Description

Currently, the `.aoc leaderboard` command says "Here's our current top 9! :christmas_tree::christmas_tree::christmas_tree:". This is confusing because it is actually not the current top 9, because the leaderboard only updates every 30 minutes. This already led to a bit of confusion in the #advent-of-code channel. The leaderboard command should make it clear that it updates every 30

[2020-11-30 15:46] SebastiaanZ commented on #534
The info embed does already show you the last time the leaderboard has been updated:

![2020-11-30_16-46](https://user-images.githubusercontent.com/33516116/100631017-9321ac80-332b-11eb-8c57-ae96e28afba3.png)

[2020-11-30 15:47] ChrisGallardo commented on #534
Oh completely missed that. Closing issue.

[2020-11-30 15:47] #534 closed

[2020-12-02 06:41] HassanAbouelela opened #536 "AoC Leaderboard Incorrect Parsing"
## Description
The logic for the custom Advent of Code leaderboards is unable to handle duplicate names, leading to instances where the score and the actual work done do not line up. [Line 56 of  This Public Leaderboard.](https://paste.pythondiscord.com/raw/odopamoses)

## Steps to Reproduce
1. Register two accounts with the same username on the AoC website.
2. Submit with the first username only.

[2020-12-02 07:48] #536 closed

[2020-12-02 14:32] Dragon-Batch opened #537 "music bot"
## Description
make a music bot that can play music from any website and any video

## Reasoning
it would be a great addition to python discord server because i know many people that like to listen to msuic while coding

## Proposed Implementation
i give code

## Additional Details

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] Anyone can impl

[2020-12-02 14:38] SebastiaanZ commented on #537
Hello @Dragon-Batch,

Thank you for your interest in contributing to one of our open source projects. Unfortunately, we don't want to add the proposed feature to one of our bots or have such a feature available in our community.

One of the reasons is that most music bots violate both copyright laws as well as the terms of service of the websites/service they use as the source for the music they p

[2020-12-02 14:38] #537 closed

[2020-12-02 16:04] RohanJnr opened #538 "Normalize check for existing error handler between @Sir-lancebot and @python bots"
## Description
Currently, the way we check if an error is handled locally in the cog/command is different in both the bots.
@Sir-lancebot checks if the `command` has the attribute `on_error` whereas @Python checks if the `error` has the attribute `handled`

## Proposed Implementation
Use @Python bot's way of checking if the error is handled locally, i.e, to check if the `error` has the attribute `

[2020-12-02 16:32] Numerlor opened #539 "Only display channels the user can see for InChannelCheckFailure"
When an user invokes a command in a channel seasonal bot doesn't have whitelisted, the bot will dump a list of all the channels the commands is allowed in as a part of the response; with the global whitelist most of those channels are not visible to regular users. The error embed gets deleted after a bit but is still quite large and pushes out the conversations in the channel

When constructing th

[2020-12-05 14:02] Vthechamp22 commented on #493
I think this issue has been closed by PR #496

[2020-12-05 14:02] #493 closed

[2020-12-11 09:55] #538 closed

[2020-12-12 16:26] #318 closed

[2020-12-13 14:39] RohanJnr opened #545 "Centralized caching of discord guild, channels and roles."
## Description
Cache guild, channels, and roles during the bot start and before any cog loads in.
This is going to make accessing channels and roles easier in the cogs/code without `getting`/`fetching` them in the cog.
This will also avoid repetitively `getting` or `fetching` the same channel/role in multiple cogs.

By doing this, we can make sure that all required channels and roles are loaded an

[2020-12-13 16:12] Numerlor commented on #545
I don't think this is really necessary, with the `wait_until_guild_available` it's almost guaranteed that the get will succeed for channels the bots may use, with the gets being a fairly cheap lookup. When #393's implementation gets merged we'll get the warnings for missing channels, and then the cogs that try to get them can handle failed gets in their own way if necessary

[2020-12-13 16:38] RohanJnr commented on #545
Won't it make it more convenient to just use the cached value instead of getting it again? and as I mentioned above, `This will also avoid repetitively getting or fetching the same channel/role in multiple cogs.`

So instead of importing the ID, we would just simply importing the channel/role instance.

[2020-12-16 17:40] janine9vn commented on #321
@Skaft Hey, are you still working on this? It's a great idea and I'd love to have it for AoC this year.

[2020-12-21 06:45] ks129 opened #548 "Migrate IGDB v3 API to v4 for games command"
## Description

IGDB shut down APIv3 in October 2020. `games` command is currently built to use v3 of API, but now, when URLs is gone, this command is currently not usable. Command must be migrated APIv4, about to what migrating can be read https://api-docs.igdb.com/#upgrading-to-v4-from-v3.

## Steps to Reproduce

When you have API key of IGDB, then genres refreshing task fails, because API not f

[2020-12-22 21:05] SebastiaanZ opened #549 "Investigate an upgrade to Python 3.9.4"
## Description
Python 3.9.1 has been released today (yay!), which means that it's mature enough for us to start looking into upgrading the Python version of sir-lancebot. We'll obviously have to make sure all our dependencies support 3.9 and everything works well, but it would be nice to use the new language features.

## Reasoning
It's better to keep up with Python version, adjusting our code bas

[2020-12-23 14:52] digasred commented on #246
How about a music quiz command like mee6 has ?

[2020-12-23 15:26] ks129 commented on #246
@digasred Hello, your comment is not related with this issue, what is also already closed. Please open new issue instead.

[2020-12-26 07:26] ks129 commented on #549
I will investigate (and when possible, update) Sir Lancebot to 3.9.

[2020-12-27 11:53] ks129 commented on #549
`discord.py` doesn't officially support 3.9 yet, because it's dependencies doesn't support it too. discord.py 1.6.0 will bring support for 3.9 (at least based on that what is said in server), so we need to wait until this.

[2020-12-28 13:19] #224 closed

[2020-12-29 06:08] #136 closed

[2021-01-05 20:42] Inheritanc-e opened #551 "Have a type race command for the bot."
We would have a command name typeface or tr. It could be multiplayer or single player.
What this would basically be is that the bot would generate text and send it in a picture which the user would have to type it and send the message, it would calculate the `average` wpm for of the user based on the time taken to type the text.
We should also have a leaderboard based on the time taken to type the

[2021-01-06 09:20] Akarys42 commented on #551
This sounds like a good idea. If you feel up to the task, you can even use a Markov chain to generate the input and train it on something Python related.

[2021-01-09 19:53] ChrisLovering commented on #549
Discord py 1.6 was released yesterday, with `Better support for 3.9 by bumping the dependencies`. Probably worth investigating this now.

[2021-01-09 19:54] ks129 commented on #549
I have already slowly started upgrading Python and discord.py.

[2021-01-10 05:57] #431 closed

[2021-01-10 07:11] Inheritanc-e commented on #551
Sure thing, I will work on this then

[2021-01-15 08:46] melodicht commented on #127
Hi, I am interested in working on this.

[2021-01-15 12:44] gustavwilliam opened #556 "Only recommend one channel in “you can’t use it here” embed"
## Description

When using a command in a non-whitelisted channel, something like the following will appear.
![image](https://user-images.githubusercontent.com/65498475/104727706-12c9d600-5736-11eb-996f-cd34e79281bb.jpeg)

It would be nice to have a single preferred channel for bot commands, instead of listing all available channels.

## Reasoning

The current embed is very long, and users have re

[2021-01-17 18:48] #548 closed

[2021-01-17 19:05] ChrisLovering commented on #556
There is also issue #539 which is similar to this. I see two good options either we send the user to the designated bot channel, or list all of the channels that they have access to post in.

I prefer the former of the two, as I agree this embed is quite big, and with it disappearing after 7.5 seconds we want it to be short so the user has time to read it.

Either implementation we decide on, I'd

[2021-01-17 19:25] ChrisLovering commented on #384
Since #329 is closed now, I presume this can be worked on?

If so, I  don't mind working through all the `logging` calls and making sure they match up to the definitions :)

[2021-01-17 19:28] Numerlor commented on #556
That sounds good when the default overrides are used, as the channel the users should be trying commands in really is only the bot commands channel; but in case of overrides I think we should display all the allowed channels (or the difference if it's a superset of the default) as there may be other channels intended as the "commands" channel. I don't think there is and will be such a case but the

[2021-01-17 20:16] ChrisLovering commented on #556
Ah yea agreed. If there's an override, we should list all override channels the user has access to. For the case when there aren't any overrides, do we just want to hardcode the bot to always point to `community_bot_commands`?

[2021-01-20 01:38] Shivansh-007 opened #561 "Porting Command Suggestions from bot"
## Description
suggest similar command(s) to a miss spelt command

## Proposed Implementation
- Port it over from bot.
- Limit it to #sir-lancebot channel only.
- Add the seasons check, so only the commands of the season are show.

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] Anyone can implement this feature

[2021-01-20 14:11] HassanAbouelela opened #563 "Battleship Cog Causes IndexError"
## Description

The `battleship` cog runs into an error when given lowercased input. An IndexError is caused when trying to get the matching letter from the list of letters. The bot quits the game with the error:
[code]

## Steps to Reproduce

1. Start a game of battleship
2. Send a DM containing any spot in lowercase on your turn (example: `a1`)
3. The bot sends the failure message in the command

[2021-01-21 16:20] #277 closed

[2021-01-21 18:14] #563 closed

[2021-01-22 05:58] Shivansh-007 opened #565 "Improve Wikipedia Command."
Currently the `.wiki` command only gives the titles of the options and no description of the topics, so it would be good, if it would a show paginated messaeg containing each topic in the following embed format (Top 10 results)
[code]

## Would you like to implement this yourself?
- [x] I'd like to implement this feature myself
- [ ] Anyone can implement this feature

[2021-01-22 06:21] RohanJnr commented on #565
How about the have the first-page show all the titles(like the current implementation) and then pagination to show each title with some description and image if possible?

[2021-01-22 08:57] Akarys42 opened #566 "Automatically linking issues using repo#number in messages"
Actions python-discord/organisation#318

We should make a message listener that would send a link to an issue when the message contains `repo#number`. Here is an example:

![image](https://user-images.githubusercontent.com/44778521/105468724-96844500-5c97-11eb-95d6-e9209634b135.png)

# Specifications
* The bot should match the regex `.+?#\d+` outside of a codeblock.
* If the repo or the issue can'

[2021-01-22 12:28] Shivansh-007 commented on #565
Alright will do that!

[2021-01-22 12:29] Shivansh-007 commented on #566
Can I work on this issue?

[2021-01-22 12:31] Akarys42 commented on #566
@Shivansh-007 Sure thing!

[2021-01-22 17:40] ks129 commented on #549
Everyone is now able to take this issue. I don't have enough time to test every command and feature to ensure they are working after dependency upgrades.

[2021-01-23 06:37] Shivansh-007 commented on #566
Will it send all the issues/prs contained in the message or only the first one.
For example:
`Hey folks, can you please check bot#1341 and meta#444`

So basically my question is whether it will send both the issues or only the first one?

[2021-01-23 15:59] Shivansh-007 opened #568 "Dog status codes"
## Description
A command such as `.http dogs` would be implemented to visually show what different status codes are, with dogs.

## Reasoning
Another fun way to learn status codes or refer them. And for non-cat people and dog lover ❤️ .

## Proposed Implementation
- Make a group named `http` which would contain `cat` and `dog` nested commands.
- Since dogs have some codes missing, we will use `aio

[2021-01-24 08:37] Xithrius commented on #568
Not sure how necessary this is since we can use the `http` module to see if the codes exist.

Besides that, I'd like to see this get implemented.

[2021-01-24 13:42] #377 closed

[2021-01-24 15:21] #300 closed

[2021-01-27 09:10] Shivansh-007 opened #570 "Python Cheat Sheet Command"
## Description
This is just like tldr pages. It is a really good resource and I use them regularly either when trying to help others or wanna look up something.

## Screenshots
![105967971-7e079680-60ac-11eb-8e30-a0e8b7deecf2](https://user-images.githubusercontent.com/69356296/105968820-90360480-60ad-11eb-8042-650b2f5c6c9d.jpg)

## Proposed Implementation

- https://cht.sh/
- It supports a number

[2021-01-30 22:35] Xithrius commented on #570
@Shivansh-007 I'd like to see this get implemented. Would you like to work on it?

[2021-02-01 00:45] #566 closed

[2021-02-02 12:30] Senjan21 opened #573 "Adding int eval command to Sir Lancebot"
## Description

Adding command such as [int eval](https://github.com/python-discord/bot/blob/master/bot/exts/utils/internal.py#L219) to Sir Lancebot

## Reasoning

It often might be useful to have some form of evaluation command to debug certain things that can't necessarily be debug-able via logging or other methods

## Proposed Implementation

Implementation could simply be porting the `Internal

[2021-02-03 11:32] Akarys42 commented on #312
I don't think this is needed anymore since we don't have eso challenges anymore. At worst we can have a tag explaining what esoteric python is.

[2021-02-03 11:32] #312 closed

[2021-02-03 11:37] Akarys42 commented on #213
Closed by #350

[2021-02-03 11:37] #213 closed

[2021-02-04 00:48] #568 closed

[2021-02-04 10:54] HassanAbouelela opened #574 "Remove Member Intent Reliant Features From Lovefest"
## Description

After discord introduced the intents  system, sir-lancebot no longer has access to the list of members for a role. This has led to a weird situation with some of the commands in the lovefest cog, as they relied on fetching members for a given role.

## Steps to Reproduce

(Make sure your bot does not have the members intent enabled)
1. Sign up for the lovefest role.
2. Try to use o

[2021-02-04 12:02] ChrisLovering commented on #574
I'd like to give this one a go. I'll take a look through the cog tonight and come up with a few solutions that I think will work and get some feedback on them here.

[2021-02-04 12:17] Shivansh-007 opened #576 "Automatic linking issues catches a error when message sent to it on DMs."
## Description
The Bot should skip when a message is sent to it on DMs since it is checking for the category and the DMChannel has no category.
[code]

## Steps to Reproduce
Send a DM message to your test bot, and check your terminal.

##  Behaviour
Should ignore the message which isn't being done currently,

## Possible Solutions
[code]

## Would you like to implement a fix?

***Note: For high-pr

[2021-02-05 04:15] #570 closed

[2021-02-05 18:51] ChrisLovering commented on #576
I'd like to work on this. There's a few other places that don't behave well when the ctx is from a DMChannel, I'll sort those at the same time.

[2021-02-05 23:04] Daemo00 commented on #284
Hi all, I found this looking for a 'good first issue' (this is the only one).
After some research, I found out that maybe this can be closed because of https://github.com/python-discord/sir-lancebot/commit/5e249bc2e0a944d0683ba35a2e1ee459d60668ce ?

[2021-02-06 00:26] HassanAbouelela commented on #284
Yeah, this no longer seems to be an issue. I'm sorry there wasn't an issue marked to work on, but if you are still interested, drop into the [dev-contrib channel](https://discord.com/channels/267624335836053506/635950537262759947/807392255768789013) on the discord server, and we could look for issues you can work on 😄.

[2021-02-06 12:39] #284 closed

[2021-02-06 13:11] HassanAbouelela commented on #214
This issue is available to be worked on.

[2021-02-07 06:21] Shivansh-007 commented on #574
Can i work on this? (Well actually am already working and opened a PR, but commented for getting assigned to this to avoid confusion)

[2021-02-07 06:42] RohanJnr commented on #561
I don't think we have to port things over from bot, in the help cog, there is code already to handle `HelpQueryNotFound` error. But after a lil testing, it is not being handled properly. the way to fix this is to look at the code and see whats missing from raising the `HelpQueryNotFound` error and handling it

[2021-02-07 08:07] Vthechamp22 opened #579 "Stackoverflow command"
## Description
Implement a `.stackoverflow` or `.so` command which takes a search query and lists the top (5?) results. This command would be limited only to `#sir-lancebot-commands`. The command structure would be very simple, just `.stackoverflow <search query>`

## Reasoning
This would help quickly getting solutions to problems that are not apt to use a help-channel, or questions which aren't p

[2021-02-08 09:14] Shivansh-007 commented on #573
After going through the `int eval` on bot, I think i can work on this issue. Thanks!

[2021-02-08 09:17] Akarys42 commented on #573
We should be porting the code from our closed source project Black Knight to both of our bot, I believe @SebastiaanZ is working on it. Thanks for your interest in this issue though!

[2021-02-08 18:04] ChrisLovering opened #581 "Block commands from working in DMs"
## Description

Quite a few commands don't quite work when being invoked from a DM. https://github.com/python-discord/sir-lancebot/pull/577 was a quick fix to resolve some cases that raised errors.

However, as a long term fix, we should remove the ability to run commands within DMs completely, and point our users towards the bot-commands channels.

## Reasoning

Some people may try to invoke comm

[2021-02-08 18:06] Akarys42 commented on #581
While we should make sure that the bot doesn’t go down in flames when a command is being invoked through DMs, I don’t think we should actually allow it. Keeping everything in the server is useful for both moderation and debugging, and I’d prefer if we can keep everything there (except for cogs that requires the use of a private channel, such as the battleship game).

[2021-02-08 18:07] ChrisLovering commented on #581
So should we change the requirement from make it work, to always tell the user to go to bot commands channel?

[2021-02-08 18:17] Akarys42 commented on #581
I think so, if everyone agrees to that.

[2021-02-08 18:26] ChrisLovering commented on #581
Yea, I agree with the moderation and debugging points, I hadn't thought of it like that. I'll update the issue and get further feedback.

[2021-02-10 22:22] ChrisLovering opened #584 "8bitify GIF support"
## Description

Extend the 8bitify command to work with GIF profile pictures too. The output should be the full animated gif, but 8bitified.

## Reasoning

As nitro users can have GIFs as their profile picture, we should have the ability to 8bitify their whole avatar!

## Proposed Implementation

Same input & output as the current implementation, but make it work with GIFs

## Would you like to im

[2021-02-10 22:22] ChrisLovering commented on #584
To kick off the discussion, I know the current 8bitify command can take a few seconds to run, I'm not sure how much more this would add to CPU load. It could also be open to abuse by users with long GIFs. The implementer should take this into consideration if we decide to approve this.

[2021-02-11 16:28] SuperMaZingCoder opened #585 "Youtube Command"
## Description
Implement a `.youtube` or `.yt` command to get the top 5 results from YouTube with that search query.

## Reasoning
Users can share videos with each other and recommend YouTube tutorials on different topics.

## Proposed Implementation
Use the [Youtube API](https://developers.google.com/youtube/v3/docs/search/list).

## Would you like to implement this yourself?
- [x ] I'd like to i

[2021-02-11 16:46] decorator-factory commented on #585
I'm a bit afraid that it could be used in a LMGTFY way. That is, instead of linking a tutorial or an article, just invoke that command with a query.

[2021-02-11 16:47] HassanAbouelela commented on #585
Hmm most sir-lancebot commands are locked to the bot channels, and a few others. As long as we don't allow this command within help contexts, I think we should be fine.

[2021-02-11 16:49] decorator-factory commented on #585
@HassanAbouelela  That makes sense.

It's also important to set up some sort of rate limit. Besides the documented limits, Google also apparently has some undocumented rate limits, so you just have to be careful.

[2021-02-11 16:53] SuperMaZingCoder commented on #585
@decorator-factory I think we have a few other Lancebot commands that are similar such as the Wikipedia, and in-development StackOverflow command, but I think like @HassanAbouelela said, we should be fine as long as we limit its usage.

[2021-02-12 04:16] MrKomodoDragon opened #587 "Add command for fun facts about Python"
## Description
A simple command that would give you fun facts about python itself.

## Reasoning
If people wanted to learn more about Python and get some trivia, this would be a useful command.

## Proposed Implementation
I was thinking of using a text/json file, and pick a random fact from that.

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ]

[2021-02-12 07:17] Xithrius commented on #219
@AvianAnalyst Greetings! I hope you're doing well.

I know this is 2 years later, but are you still interested in making a PR? I'd like to see this get implemented.

[2021-02-12 07:39] Xithrius commented on #556
I think the first steps in this process was solved by #578, where whitelist overriding was given to a few commands.

Over time we should be able to cover the entire bot.

[2021-02-12 10:20] AvianAnalyst commented on #219
Hey! This actually got implemented in PR #227, there's certainly room to implement feature additions, but it's in there! It's just only active during June iirc. You can search for 'prideanthem' to find examples of it being used!

[2021-02-12 10:21] Xithrius commented on #219
Thanks for the quick response! Have a good one!

[2021-02-12 15:47] kosayoda commented on #587
Hello. I like the idea, and I think we should discuss a couple more implementation details before proceeding.

What do you think would be a good name for the Cog? What about the command?

[2021-02-12 15:49] Shivansh-007 commented on #587
`.pyfacts` maybe?

[2021-02-12 16:05] MrKomodoDragon commented on #587
I think `.pyfacts` is a good idea, like @Shivansh-007 said. About the cog, would py-facts work?

[2021-02-12 16:15] Shivansh-007 commented on #587
`PythonFacts` for the cog.

[2021-02-12 16:19] MrKomodoDragon commented on #587
Yup

[2021-02-12 16:20] MrKomodoDragon commented on #587
I made a concept of what it could look like:

![image](https://user-images.githubusercontent.com/74436682/107793393-18054b00-6d0b-11eb-8ca1-2d2794b42fa0.png)

[2021-02-12 16:21] Shivansh-007 commented on #565
Next time please ping me on discord or here. When u assign me, thanks!

[2021-02-13 01:28] MrKomodoDragon opened #588 "Improve xkcd command"
## Description
The current xkcd command doesn’t have the description, or a link to the comic.

## Reasoning
It would help provide more info about the comic.

## Proposed Implementation
Use the ‘alt’ key in the json page and use the URL var we use to make the requests.

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] Anyone can implement this fea

[2021-02-13 01:55] Xithrius commented on #588
You can go ahead and do it.

[2021-02-13 02:14] MrKomodoDragon commented on #588
Ok, will do! :D

[2021-02-13 12:56] #219 closed

[2021-02-13 14:31] #574 closed

[2021-02-13 20:21] #588 closed

[2021-02-13 23:33] MrKomodoDragon commented on #587
So how is this idea?

[2021-02-14 05:55] kosayoda commented on #587
Sold. Let's go with `PythonFacts` for the cog, and `.pythonfacts` as the command, and `pyfacts` as an alias.

Since you already provided the proof-of-concept, I think it'll look better with just the first word capitalized. The title could also be `Python Facts` rather than `Hey <username>!` just so it's clearer as to what the response is talking about.

Take it away!

[2021-02-14 12:36] ChrisLovering opened #591 "Use aiofiles for all file interactions"
## Description

Currently, when interacting from files we use the normal method of:
[code]
This way of interacting with files is blocking. We should switch to a non-blocking method of handling files, both when reading and writing.

## Reasoning

Most file interactions happen on startup, so doing this will improve bot start times. It is also possible that we do this in some places during the comman

[2021-02-14 14:58] MrKomodoDragon commented on #587
Ok!

[2021-02-14 16:15] #477 closed

[2021-02-15 03:59] swfarnsworth opened #592 "Remove question about the Nile"
https://github.com/python-discord/sir-lancebot/blob/13620a6461a78e43e8b16b9ad35691ff30622332/bot/resources/evergreen/trivia_quiz.json#L194

There's no way to definitively say if the Nile river or Amazon river is larger than the other. While the Amazon indisputably discharges more water, I believe there's some debate about where the Amazon definitively starts, and thus there's no way to say which i

[2021-02-15 04:04] MrKomodoDragon commented on #592
Could we possibly add the thing about the dispute in the info part?

[2021-02-15 04:05] swfarnsworth commented on #592
@MrKomodoDragon That's fine if we change the question to be one that has a definitive answer.

[2021-02-15 17:36] MrKomodoDragon opened #593 "Make Avatar manipulation commands non-blocking"
## Description
The Avatar commands such as `.prideavatar`, and `.8bitify` are blocking, meaning other people can’t execute other command.

## Reasoning
It. would help so people could execute more commands simultaneously.

## Proposed Implementation
Use an executor.

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this featur

[2021-02-15 18:35] ChrisLovering opened #594 "Only allow 1 concurrent image processing command"
## Description

We limit add a global limit of 1 concurrent command at a time to the image processing commands (easterifiy, pride avatar 8bitify etc.). We should also run them in an executor so they are non-blocking.

## Reasoning

Image processing commands can be quite CPU intensive, especially if the image is high resolution. We discussed adding a concurrency limit across the bot of only allowin

[2021-02-15 18:39] ChrisLovering commented on #593
I'd most likely implement this at the same time as #594

[2021-02-16 07:33] Akarys42 commented on #584
Hey Chris! As our resource constraints are fairly low right now, and we would have to moderate the gif content, that's not something we are interested in right now.

I am going to close this issue for now, thanks for suggesting this!

[2021-02-16 07:33] #584 closed

[2021-02-16 13:42] RohanJnr commented on #579
A few suggestions:
- Add paginated response for many results (maybe 5 pages, 5 results on each page or maybe a bit less pages).
- Order results in descending order of views or another parameter which would suit.
- I don't like the idea of this being restricted to only sir-lancebot channel, I think even voice channels, help channels, python and general/adv channels should have access to this comman

[2021-02-16 14:15] Shivansh-007 commented on #579
1. I don't think 5 pages are needed, we should get only say the top 10, since after that, the questions are non relevant ones.
2. Agree with this.
3. On every question people would just run the command, and I am not in the favour of that, voice channels and bot commands channels are fine, and ots, but I am not in favour about the others.
4. It is quiet fast right now, so caching isn't really neede

[2021-02-16 14:17] anand2312 commented on #591
I can do this, could you give me some pointers as to where the file interactions happen? I'm rather new and am not familiar with the codebase.

[2021-02-16 14:27] ChrisLovering commented on #591
Yea, once one of the core dev's sign this off, you could do a code base search for `with open(` and that should show you all the places.

[2021-02-16 16:41] Akarys42 commented on #579
We had a discussion with the other core devs about this command the other day, and we want it to be restricted to #sir-lancebotplayground to avoid RTFM behaviors.

Caching sounds a bit overkill, although I wouldn't mind a non persistent one as long as we put a limit on the amount of entries.
We shouldn't show unanswered questions, I agree.

[2021-02-16 19:31] ChrisLovering commented on #594
We have an option on how to deal with concurrent requests, either we can queue them, or we can deny them and require the user to request them again. Is there any preference on either of these?

[2021-02-16 20:58] Arez1337 commented on #592
Hey Guys,
i am completely new to open source but an intermediate in python. I would like to take over this request if that is ok for you.

Best Regards,
Arez1337

[2021-02-16 20:59] swfarnsworth commented on #592
@Arez1337 we actively encourage you to do so. Let us know in the `#dev-contrib` channel if you have any questions.

[2021-02-18 17:15] Akarys42 commented on #594
I don't mind queueing, as long as we have some healthy maximum.

The issue itself looks good, go for it!

[2021-02-20 20:10] Arez1337 commented on #592
Ok, I requested a pull for my updated repository with the removed question https://github.com/python-discord/sir-lancebot/pull/598

[2021-02-22 02:25] Hillo111 opened #599 "Hangman Game Command"
## Description

A hangman game command where the user can play as the guesser or the executioner. When the player is a guesser, they will guess letters one at a time. Each time, the bot will show how hanged the man is and if the half-guessed word. By default, the word will be 4-8 letters long and will have 3-4 unique letters. When the player is the executioner, the bot will first guess a letter an

[2021-02-22 19:14] AadilVarsh opened #601 "insufficient choices of questions for command '.topic'"

[2021-02-22 19:15] ChrisLovering commented on #601
Feel free to submit more topics here!
https://forms.gle/zw6kkJqv8U43Nfjg9

[2021-02-22 19:18] Akarys42 commented on #601
Hello, thanks for your interest in our bot.

Since you can use the form above to suggest new topic, I am going to close this issue for now.

Have a good day!

[2021-02-22 19:18] #601 closed

[2021-02-24 12:18] ChrisLovering commented on #581
So, we already have this handler here https://github.com/python-discord/sir-lancebot/blob/3ad829d98f1de30f08d26fe592b8a89701301983/bot/exts/evergreen/error_handler.py#L85-L87 which catches the case where a command decorated with the `commands.in_guild()` check fails.

The question is, do we want to enforce this across all commands, or do we want to just make sure this check is added to commands as

[2021-02-24 12:38] HassanAbouelela commented on #581
Up until recently, I was under the impression commands were already blocked in DMs. They definitely are blocked in [Python](https://github.com/python-discord/bot/blob/1c2b384915f4a7ba070c95c86126746bae2f7279/bot/exts/filters/security.py#L16). I think they should be globally blocked here as well. Are there commands that explicitly need DMs open?

[2021-02-24 12:39] Akarys42 commented on #581
On top of my head, minesweeper, aoc join, battleship and bemyvalentine secret will need to use DMs. Other commands shouldn't work inside DMs.

[2021-02-24 12:42] HassanAbouelela commented on #581
Bemyvalentine secret was already transferred to server only, aoc already runs in the server, and battleship is already guild only. I'd have to check minesweeper, but I don't see a reason for it to not be on the server.

[2021-02-24 12:43] Shivansh-007 commented on #581
So basically, we need to stop anyone from starting a command in DMs, since for `aoc join` it would just send the message, for `minesweeper` it would take input but we shouldn't allow it to start (maybe), same for others.

[2021-02-24 14:22] #244 closed

[2021-02-25 11:07] Shivansh-007 commented on #602
I would like to work on this.

[2021-02-25 11:15] Akarys42 commented on #602
Thanks you @Shivansh-007, assigned !

[2021-02-25 15:21] MrKomodoDragon commented on #602
Would this possibly go along with the PR i made about python facts?

[2021-02-25 15:36] Shivansh-007 commented on #602
Should I make use of the line pagination here, since some examples are really big. For example the [walrus operator example](https://github.com/satwikkansal/wtfpython/blob/master/wtfpython-pypi/content.md#-strings-can-be-tricky-sometimes).

[2021-02-25 16:19] MrKomodoDragon commented on #602
@Shivansh-007 just an idea, could we add it as a subcommand for the .pyfacts command PR #596 ?

[2021-02-26 04:08] RohanJnr commented on #599
I am a little confused with the executor part, so the bot will become the guesser?

[2021-02-26 06:54] Shivansh-007 commented on #602
Ahh I am not in favour of that, this should be kept separate.

[2021-02-26 15:19] Kronifer commented on #174
This sounds like something I'm interested in, only problem is I've never worked with cogs...

[2021-03-01 16:35] #565 closed

[2021-03-02 05:51] Xithrius commented on #127
@melodicht hi, are you planning on implementing this feature?

[2021-03-02 06:26] Xithrius commented on #174
@ncDevMan are you still planning on working on this feature?

[2021-03-02 06:32] Xithrius commented on #214
@RohanJnr are you still interested?

[2021-03-02 06:40] Xithrius commented on #228
Greetings. Great idea y'all, I think this should be implemented.

[2021-03-02 06:53] Xithrius commented on #325
Hello @LeptoFlare, it seems the other user has become inactive. Would you like to take over this?

[2021-03-02 07:14] #393 closed

[2021-03-02 07:16] Xithrius commented on #416
As of #584 getting closed, we can't really work on GIFs given the possibility of them being very long.

CPU usage is also a problem, as this would definitely take up a large portion of it.

Maybe we can do this in the future, but for now we'll have to put it off until we can afford more computations.

[2021-03-02 07:16] #416 closed

[2021-03-02 07:34] Xithrius commented on #470
@PureFunctor are you still planning on implementing this?

[2021-03-02 07:38] Xithrius commented on #436
I've communicated with @gustavwilliam. This is still in the works, and is a bit on hold.

I hope this feature works out, very cool stuff.

[2021-03-02 07:40] PureFunctor commented on #470
I can't say I can work on this for now; I suppose further discussion might be needed in terms of the implications towards complexity or feature parity with the other bot.

[2021-03-02 07:40] Xithrius commented on #437
@ramansrivastava would you still be willing to work on this? I'm not completely sure if this bug still exists.

[2021-03-02 07:41] Xithrius commented on #470
Thank you for the quick response. I hope everything works out in the end.

[2021-03-02 07:46] Xithrius commented on #425
@slushiegoose are you still planning on making a PR for this?

[2021-03-02 07:47] Xithrius commented on #494
@aaravm4 I'd like to see this feature in Sir-Lancebot. Are you still willing to implement this?

[2021-03-02 10:03] HassanAbouelela opened #606 "Startup Channel Check Bug"
## Description
#482 Was merged a couple hours ago, and in it, the following change was introduced:
https://github.com/python-discord/sir-lancebot/blob/53af90f92258905c2bfc4c2db2341dfd1fdc0124/bot/bot.py#L74-L82

This logs an error for every single channel we have into sentry.

## Steps to Reproduce

Startup the bot.

## Expected Behaviour

It should only log missing channels.

## Actual Behaviour

[2021-03-02 10:08] Shivansh-007 commented on #606
I would like to work on this.

[2021-03-02 10:24] HassanAbouelela commented on #606
Thanks, you've been assigned.

[2021-03-02 12:24] aaravm4 commented on #494
Yea, I can still implement it.

[2021-03-02 13:00] #606 closed

[2021-03-02 15:30] ncDevMan commented on #174
If @Kronifer would like to take this, he may. I tested a few API's- one around NASA. But I did not get very far.

[2021-03-02 15:34] Kronifer commented on #174
@ncDevMan I'd love to! I'm gonna go over cogs and get started.

[2021-03-02 15:41] Kronifer commented on #174
@Xithrius the command file should go in the bot/exts/Easter folder, right?

[2021-03-02 19:44] LeptoFlare commented on #325
Hey! I haven't worked with the bot in a while, but I'd to see if I can take a crack 😄

[2021-03-02 20:01] Xithrius commented on #325
Alright, cool! Be sure to include features mentioned in https://github.com/python-discord/sir-lancebot/issues/321 as well.

[2021-03-02 20:03] Xithrius commented on #174
Yep!

[2021-03-02 20:04] Xithrius commented on #494
Alright, cool.

[2021-03-02 20:05] Kronifer commented on #174
Alright, perfect! I'll get started on that soon.

[2021-03-02 20:31] sam-heller opened #608 "HTTP Status Code 418 not recognized by .http_status command"
## Description
The .http_status .status and .httpstatus commands do not recognize HTTP status code 418 (I am a Teapot) as described in [RFC-2324 : Hyper Text Coffee Pot Control Protocol (HTCPCP/1.0)
](https://tools.ietf.org/html/rfc2324)

## Steps to Reproduce
Input any of the following commands in the sir-lancebot-playground channel
[code]

## Expected Behaviour
The relevant image from either htt

[2021-03-02 20:39] Kronifer commented on #174
Hey @Xithrius , I'm trying to do this with the unsplash API. Is there somewhere we can store secret keys for the bot?

[2021-03-02 20:43] HassanAbouelela commented on #174
Hey checkout:
https://github.com/python-discord/sir-lancebot/blob/a3bd208580ff223cd0120d0c4b5a1bf3c28d03e5/bot/constants.py#L264-L266

Basically, you add an environment variable to this list, and we'll set it up on our end before we merge the feature. Just be sure to leave a note asking us to do so in the pull request.

[2021-03-02 20:45] Kronifer commented on #174
@HassanAbouelela so when it's ready, should I email one of you guys the keys?

[2021-03-02 20:46] HassanAbouelela commented on #174
No, we'll create our own app, and I see they have a process for requesting a production token, which we will have to go through.

[2021-03-02 20:46] HassanAbouelela commented on #174
I'm having a quick look through the API, please note that:

\- [Unsplash Documentation](https://unsplash.com/documentation#registering-your-application)

This is something you'll have to keep in mind with your implementation, as well as all their other rules.

[2021-03-02 20:49] Kronifer commented on #174
@HassanAbouelela thanks for clarifying! I'll make my own for testing purposes then. I'll be sure to keep in line with the rules 🙂

[2021-03-03 03:39] Den4200 commented on #608
This has been discussed a couple of times in the past. I believe we came to a general consensus that we don't need to use the `http` module to check the status code. Instead, we can just send a request to the site and if the status code returned is invalid, display a 404 dog/cat.

[2021-03-03 03:43] Xithrius commented on #608
According to issue https://github.com/python-discord/sir-lancebot/issues/428, we'll probably be waiting until we can upgrade to 3.9 without any worries.

[2021-03-03 04:05] Den4200 commented on #608
Nevertheless, I think it'd be quite amusing for a 404 status dog/cat to appear for invalid status codes. I don't see any reason not to fix this now and remove our dependency on the `http` module either.

[2021-03-03 04:26] Shivansh-007 commented on #608
Another way is to use regex and get all the status codes.

[2021-03-03 07:26] Skaft commented on #321
Apologies for abandoning this, after missing the first deadline of having it included in the 2019 event I kinda lost interest =/ I've since lost my progress on it, so I'd be happy for someone else to pick it up.

[2021-03-03 11:55] ChrisLovering commented on #608
I concur with @Den4200 I think we should remove the http module check and just call the status sites directly. Then rely on them sending a 404/302 and dealing with that.

[2021-03-03 11:56] HassanAbouelela commented on #608
I've approved it now,  and assigned you. I think you'd be best off following Den's suggestion yeah.

[2021-03-03 13:38] sam-heller commented on #608
PR is up, please do your worst! I'll take brutality over pushing dodgy code any day of the week.

[2021-03-03 21:20] Kronifer commented on #451
This would be in my interest if I had access to CodeSpaces

[2021-03-03 21:25] Kronifer opened #611 "Full support for Gitpod"
## Description
Similar to the issue open for supporting GitHub CodeSpaces. When you try to use Gitpod for sir-lancebot, you have to install lots of things manually.

## Reasoning
Quicker development times online as there is no need to manually install dependencies.

## Proposed Implementation
Creating a .gitpod.yml file, described [here](https://www.gitpod.io/docs/configuration/)

## Would you lik

[2021-03-04 20:27] Kronifer commented on #238
I would be interested in taking this!

[2021-03-04 22:29] #174 closed

[2021-03-04 22:42] #587 closed

[2021-03-04 22:54] Kronifer commented on #238
@Xithrius is it ok if I take this one?

[2021-03-05 01:13] #592 closed

[2021-03-05 02:52] Kronifer commented on #238
Hi, please add @MrKomodoDragon to the issue, were doing this together

[2021-03-05 04:01] Xithrius commented on #238
Alright. Good luck on development! Remember, if you have any questions, feel free to post in #dev-contrib.

[2021-03-05 04:02] Xithrius commented on #238
They will have to participate in this issue if you want me to assign them.

[2021-03-05 04:31] MrKomodoDragon commented on #238
Yes?

[2021-03-05 16:52] Shivansh-007 commented on #446
I will be taking over this issue, had a talk with @gustavwilliam.

[2021-03-05 16:53] gustavwilliam commented on #446
I'm too busy to implement this myself, but let's wait for a core dev to assign you, before getting started.

[2021-03-06 15:14] InvisibleOS opened #612 "Coin Flip Command"
# Description
Coin flipping is a very common game that can be really interesting to play, especially on Discord. It would be a good choice to have it on Sir LanceBot, known for its simple but fun and interesting games.

## Reasoning
This is a simple game that can instantly cure boredom and can also be very engaging at times. It would be used by many on the server and it also deserves to be added a

[2021-03-06 15:40] Shivansh-007 commented on #208
I will take over PR #485. Thanks

[2021-03-07 09:54] Srijandev commented on #612
Sounds like a great idea , I appreciate that :D

[2021-03-07 10:24] HassanAbouelela commented on #612
Hello,
Thanks for the suggestions, they sound cool. Could you split these out into two issues though? They seem like separate features.

Be sure to check out our contributing guide for setting up the bot, and the style guide we use, before starting work. They can both be found here:

https://pythondiscord.com/pages/contributing/

[2021-03-07 11:26] InvisibleOS commented on #612
Alright, so I'll change this one to the coin flip command and make another one for the rock-paper-scissors command.

I'll also be sure to check out the contributing guide.

[2021-03-07 11:32] InvisibleOS opened #613 "Rock-Paper-Scissors Command"
## Description
Rock-paper-scissors is a very common game that can be really interesting to play, especially on Discord. It would be a good choice to have it on Sir LanceBot, known for its simple but fun and interesting games.

## Reasoning
This is a simple game that can instantly cure boredom and can also be very engaging at times. It would be used by many on the server and it also deserves to be

[2021-03-07 11:33] HassanAbouelela commented on #612
👍 Sounds good to me, I've assigned you here.

[2021-03-07 12:55] LeptoFlare commented on #325
Regarding features in #321, some of them I don't think I'd be able to implement as they seem out of the scope of this issue. I'll try my best though

[2021-03-08 11:12] #461 closed

[2021-03-08 11:27] scragly opened #615 "Codeblock rendering inconsistency on Android client."
## Description

In Discord's markdown formatting, it has been mentioned in the past that codeblocks should have their triple backticks on their own lines. For the vast majority of time, this could be ignored, however recently the Android Discord client renders the two codeblocks differently now, with those without the dedicated lines for the backticks resulting in inline code blocks being rendered

[2021-03-08 11:39] HassanAbouelela commented on #611
Gonna leave my two cents here:

I don't have anything against gitpod, and wouldn't mind us adding this. What I do have a problem with, however, is if this will "open the floodgates" so to speak. Will this lead to more editor specific changes? If so, which editors do we accommodate?

I'm not going to shoot this down immediately, because it seems cool and helpful, but I also won't approve it until w

[2021-03-08 13:25] aaravm4 commented on #494
Almost done.

[2021-03-08 18:23] Hillo111 commented on #599
yes

[2021-03-08 21:20] JakeM0001 opened #617 "Funny Tech Tips"
## Description

This feature will post funny and just really outrageously silly and funny. For example I was thinking the command could be along the lines of .techtip and there would be a bunch of different responses one being "Make sure after you come home for work you run a virus scan on your laptop to make sure it isn't sick" and just really funny pointless stuff like. I can give a more updated

[2021-03-09 23:02] TizzySaurus opened #620 "Incorrect Zodiac Dates"
## Description
The stored start/end dates of zodiac signs are mostly incorrect, resulting in dates given on the `.zodiac` command being incorrect, as well as the wrong zodiac sign being given in certain scenarios for the `.zodiac date` command.

## Steps to Reproduce
Perform the `.zodiac` command (e.g. `.zodiac scorpio` / `.zodiac date 22 november`)

## Expected Behaviour
The correct dates / zodia

[2021-03-10 11:16] bast0006 opened #622 "Battleship game ends abruptly if given bad input"
## Description
Entering `I9ASDF` causes the .battleship game to error and end.

## Steps to Reproduce
Start a game, enter a valid target, then add more to the message before sending it. Any text will do.

## Expected Behaviour
The bot to respond with a red X like it does for non-matching input (such as `AAAA`)

## Actual Behaviour
The game ends abruptly with `An error occurred. Game failed`

## Po

[2021-03-10 19:23] Kronifer commented on #611
I don't think so, there aren't many browser dev environments used besides these two @HassanAbouelela

[2021-03-11 15:43] ToxicKidz opened #624 "Using group commands without specifying a subcommand sends the default help command."
## Description
Whenever someone uses a group command without providing a subcommand, it sends the default help command instead of the one we already have.:

## Steps to Reproduce
If I just do `.group_name`, it sends the default help command.

## Expected Behaviour
It should use our help command, so it should look like this:
![image](https://user-images.githubusercontent.com/78174417/110805693-55e4

[2021-03-11 23:00] Xithrius commented on #624
Dew it.

[2021-03-13 15:43] #624 closed

[2021-03-14 22:07] ChrisLovering commented on #591
The files we are loading on startup by the bot are so small that this extra dependency isn't really worth benefit, if there is one.

Discussed this in dev-contrib and people agreed. Closing this issue for now.

[2021-03-14 22:07] #591 closed

[2021-03-16 11:54] scragly commented on #593
Due to #594 being essentially the same issue, this one can be closed.

[2021-03-16 11:58] scragly commented on #428
This issue has been usurped by #608, and a solution is already in place.

[2021-03-16 11:58] #428 closed

[2021-03-16 12:02] scragly commented on #412
This issue has been usurped by #470 due to more recent activity and being more detailed.

[2021-03-16 12:02] #412 closed

[2021-03-16 12:23] Shivansh-007 opened #627 "Global Leaderboard"
## Description
Add a global points leader-board, for the points/coins which are earned by users while playing a game like Trivia Quiz, Tic Tac Toe, Connect 4, etc. Currently each game has its own leader-board, and not a combined one together for all games. In short, combining all the leader-boards into one.

## Proposed Implementation

- [ ] Make a new redis cache in `bot/bot.py` called `Leaderboa

[2021-03-16 12:27] dawnofmidnight commented on #627
The points scoring for the rest of the games would definitely have to be normalized. That might be as simple as changing 5 points to 50 in one game to match the rest. Either way, this would be a lot of work, but it's a really good idea!

[2021-03-16 15:23] AG4lyf opened #628 "Music Command"
## Description
After seeing a constant demand of songs music channel, An idea was given in #meta to have a command that suggest songs

This command can have multiple sub commands
- Random
- Search
- category

## Reasoning
Helps getting more familiar by the medium of music taste <3.

## Proposed Implementation
Currently I am thinking of using one of API that serves the purpose of music suggestion
K

[2021-03-17 18:16] Raghav-Gupta24 commented on #620
Greetings @TrizzySaurus, I have checked out a couple websites (attaching link for the same) and according to them, the date entered here are correct.

https://www.britannica.com/topic/zodiac
https://www.cosmopolitan.com/uk/entertainment/horoscopes-monthly/a29383721/star-sign-dates/

[2021-03-18 01:06] ToxicKidz opened #629 "Feature: ".github repo" command"
## Description
This will make `.github` a group command.
A `.github repo` command that shows you information about a repository in github. A search subcommand that searches repositories for that specific term. This changes the current `.github` to `.github user`.
## Reasoning

I think it would be cool to see info about a repository in discord instead of having to find it myself on github, and to b

[2021-03-18 01:13] MrKomodoDragon commented on #629
Quick note, we already have a `.github` command for user info. My idea is, we could make it as a subcommand like `.github user`

[2021-03-18 01:14] ToxicKidz commented on #629
Oh never noticed, and yeah, I agree it should be `.github repo <reponame>` and `.github user <username>`.

[2021-03-18 02:05] PureFunctor commented on #629
Sounds good, feel free to work on this feature

[2021-03-18 11:40] Akarys42 opened #630 "Allow automatic linking of issues everywhere"
We have been limiting the channels where automatic linking issues can be used in (See #566).

Since we haven't seen any potential issue with it, we can allow it everywhere to avoid updating it every two days or missing some channels.

If you have any concern with this, feel free to leave a comment!

[2021-03-18 12:45] gustavwilliam commented on #630
Sounds like a good idea. I’ve been missing it in quite a few channels.

If, for some reason, it turns out to have been a bad idea, it should be fairly simple to revert.

[2021-03-19 13:50] Akarys42 commented on #627
I like this idea. Maybe we should introduce a maximum amount of points earned per game and per day, so spamming Quizzes alone won’t get you to the top of the board?

[2021-03-19 14:15] Akarys42 commented on #613
Sounds good, go for it!

[2021-03-19 14:17] Akarys42 commented on #561
In a similar way the command suggestion works on Python, I don’t think we should limit it to #sir-lancebot-playground, what do you think?

[2021-03-19 14:22] Akarys42 commented on #545
I am going to close this issue since it would require quite a bit of rewrite that will be overwrote when smartconfig will be completed. The current behavior also makes development easier as you don’t need to have every settings pointing to a valid object, you only need what you use.

[2021-03-19 14:22] #545 closed

[2021-03-19 14:25] Akarys42 commented on #556
I agree with Numerlor proposal, we should only show #sir-lancebot-playground and the override channels. Are you still interested to work on that @ChrisLovering ?

[2021-03-19 14:25] Akarys42 commented on #539
Superseded by #556.

[2021-03-19 14:25] #539 closed

[2021-03-19 14:27] Akarys42 commented on #502
Hello @aaravm4, have you managed to do any progress in it?

[2021-03-19 14:28] ChrisLovering commented on #556
I think I might already have this fix in a branch on my fork. I'll dig it up over the weekend it PR it over here

[2021-03-19 14:31] aaravm4 commented on #502
Yea i'm about halfway done.

[2021-03-19 15:39] Shivansh-007 commented on #627
Yeah, that sounds a good idea, maximum per day points per game. Users would be able to play the game but won’t earn points for them.

[2021-03-19 15:41] Shivansh-007 commented on #561
Right, I will keep it open.

I will open a PR once I get offloaded a bit (4 PRs open as of now).

[2021-03-22 16:17] AnkithAbhayan opened #634 "over-used easter topics in .topic command of sir-lancebot"
## Description
I don't know whether this is a feature or a bug since I didnt read the source code; but the `.topic` command has been spilling out a lot of topics related to Easter. I don't blame the topics (its actually pretty good), its about how frequently the same topics are being sent by the bot. I know this is a one-time-thing where topics are more likely to be about a specific celebration (i

[2021-03-22 16:18] Akarys42 commented on #634
I’d personally be for eviscerating all the Easter related questions, what do you think?

[2021-03-22 16:20] AnkithAbhayan commented on #634
yeah that would work as well.

[2021-03-22 16:22] AnkithAbhayan commented on #634
Or... just remove all pre-existing Easter topics. And add 5-7 new topics (related to Easter of course) and keep them till Easter ends. (afaik its 4th of April?)

[2021-03-22 18:06] ChrisLovering commented on #634
Another approach could be to store an optional month against each topic. Then on cog load, we only load the topics that don't have a month, or are from the current month.

[2021-03-23 03:44] aaravm4 commented on #502
Ok, I should be finished with both of my assigned stuff by the end of this week.

[2021-03-25 06:51] #556 closed

[2021-03-26 16:44] ChrisLovering opened #640 "Enhance bookmarking cog"
## Description

When a really cool message is sent in the server, people want to bookmark it for future reference.
If many people want to bookmark the same message, the chat could be flooded with `.bm 1231231231313` calls.

We should add a way for users to also bookmark the same message as another user, without having to send another command.

## Reasoning

To reduce the amount of messages sent in

[2021-03-26 16:46] HassanAbouelela commented on #640
Duplicate of #341 which has... gone very silent

[2021-03-26 17:05] ChrisLovering commented on #341
My thoughts on this is to change the `.dm` command to have the bot output a small embed with the context along the lines of `<user> has bookmarked <message> from <author>. React with 📌 to also bookmark this message.`.

We use redis to store these embed messages linked to the bookmarked messages and a reaction add listener which checks the cache when a pin is added to a message.

[2021-03-26 17:06] #640 closed

[2021-03-26 17:16] ChrisLovering commented on #341
An alternative is to use a wait_for to listen for reactions for ~5 mins and then delete the bot's embed.

[2021-03-26 19:38] NeilShah2026 opened #641 "A Bookmark Command"
## Description
When a user tends to use a command often, either by the user manually adding it, or have the bot automatically add through command tracking, add a ".bookmarks", and it will pull up all the bookmarked commands of that user.

## Reasoning
For easier use and memorization of the bot commands.

- [ ] I'd like to implement this feature myself
- [ x] Anyone can implement this feature

[2021-03-28 08:59] SebastiaanZ commented on #630
This seems like a major change in the scope of where we allow a feature. Is there some discussion surrounding the decision somewhere?

[2021-03-28 09:02] kosayoda opened #643 "Unhandled HTTP responses in Issues cog."
The current implementation of `fetch_issues` only handles responses `404` and `403`, while assuming everything else is valid.

The [issue endpoint](https://docs.github.com/en/rest/reference/issues#get-an-issue) called in the method returns other HTTP responses, all of which should be handled properly:

- [`301 Moved Permanently`](https://docs.github.com/en/rest/overview/resources-in-the-rest-api#h

[2021-03-28 09:28] Akarys42 commented on #630
It has been discussed in #dev-core, in #organisation and the issue was left open for a week. Everyone seemed on board with the idea.

[2021-03-28 18:40] ChrisLovering commented on #341
I'd like to give this a go. Even though this is already approved, I just want to confirm my plans.
- When someone calls `.bm` on a message the bot will:
   - Send a DM as normal (with the same error embed if DMs are disabled)
   - Send 1 sentence embed explaining that you can react to the embed and also get sent a DM with a link
   - Have a 5 min wait for listening for reactions
   - On reaction,

[2021-03-28 20:33] Kronifer commented on #341
that sounds great! however, i think we could use the reaction that is already added to the command.

[2021-03-28 20:38] ChrisLovering commented on #341
My plan is to remove that reaction entirely, since it wouldn't be needed with this idea.

The reason for not using the reaction that's already there is due to it not being an obvious way to interact with this new system.

[2021-03-28 22:10] Kronifer commented on #341
Oh! In that case, sounds good!!

[2021-03-29 12:41] NeilShah2026 opened #646 "Slash Commands"
## Description
Add Slash Commands To The Discord Bot With The Most Used Commands

## Reasoning
This Would Make Using Common Commands Easy And Accessible

- [ ] I'd like to implement this feature myself
- [ x] Anyone can implement this feature

[2021-03-29 12:45] Akarys42 commented on #646
Hello @NeilShah2026, thanks for your interest in our project.

As Discord.py doesn’t provide any slash command support at the moment and your issue doesn’t suggest any other way to achieve this, I am going to close this for now.

Please reach out in the `#dev-contrib` in our [Discord server](https://discord.gg/Python) before opening such major issues.

Thank you,
- Akarys

[2021-03-29 12:45] #646 closed

[2021-03-30 06:48] Brodevil commented on #643
I want to work on this

[2021-03-30 06:49] HassanAbouelela commented on #643
Thanks, you've been assigned.

[2021-03-31 17:06] #629 closed

[2021-04-01 04:54] Shivansh-007 opened #651 "Build-Your-Own Ducky!"
# Build-Your-Own Ducky!

Well by now you know what this issue is going to be about, so lemme just brief it to you - Duckies are lovely, so why not have a command which can:

 - Allow you to build a ducky image, with help of reactions, or maybe user input.
- Or make a random ducky for you, using vco's ducky algorithm.

## Allow users to build their ducky!

 So now let us get to the details of this,

[2021-04-01 07:35] Akarys42 commented on #651
Hello!

I’m afraid we are currently not interested in putting a ducky generator in Sir Lancebot. We have other plans such as https://github.com/python-discord/site/issues/465 and other Super Secret Projects:tm:.
In the future please coordinate with us before making everyone waste time.

[2021-04-01 13:56] lemonsaurus opened #652 ".quack - Procedural Duck Generator!"
## Description
A command to fetch a random duck from QuackStack.

https://github.com/python-discord/quackstack

## Proposed Implementation
This command can be called in two ways:
- With `.quack`, you simply get a completely random duck. Different every time.
- By using `.quack <seed>`, you'll get a duck that's always the same if the seed is the same.

## Is this blocked?
Probably. We need to get Q

[2021-04-01 13:56] lemonsaurus commented on #651
@Shivansh-007 This is a well-specified issue, thanks for opening it.

I think putting the build-your-own-ducky feature into the bot is a UX nightmare, but since we'll be doing that on the site in https://github.com/python-discord/site/issues/465, this will still be solved.

I do think we should put a simpler random duck feature into Sir Lancebot, though, so I'm opening a similar issue now that's a

[2021-04-01 14:13] Shivansh-007 commented on #651
Thanks @lemonsaurus, I will have a look at them and share my inputs.

Well for build-your-own-ducky feature, we discussed this a bit in #dev-contrib channel and sort of agreed of making an API, which would allow us to do this, this API would then be used on the site for python-discord/site#465, and for the this feature.

[2021-04-01 16:49] Akarys42 commented on #651
Will be reopening this issue and marking it as deferred until quackstack is done. After that we can discuss if we want such a feature.

For the record, the current concerns about this feature would be the UX design and the fact that we would have to regenerate the ducky every time an option change which would hurt ratelimits, bandwidth and resources, we shall benchmark all of this.

I still would

[2021-04-01 17:02] lemonsaurus commented on #651
This issue is a duplicate of https://github.com/python-discord/sir-lancebot/issues/652, and https://github.com/python-discord/sir-lancebot/issues/652 is the implementation we should go for. We don't need a ducky builder in the bot, we're gonna do that in the site.

[2021-04-01 17:02] #651 closed

[2021-04-02 17:59] rijusougata13 commented on #622
i think  this line ```self.match = re.fullmatch("([A-J]|[a-j]) ?((10)|[1-9])", message.content.strip()) ``` will solve this issue @bast0006

[2021-04-02 23:02] mbaruh opened #653 "Add internal evaluation to sir-lancebot"
## Description
Admins should be able to run evaluations on sir-lancebot at runtime.

## Proposed Implementation
The implementation can be similar to the one in the bot, but it's possible the code is outdated or over-complicated, so alternative suggestions are fine.

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this featur

[2021-04-02 23:40] #576 closed

[2021-04-03 11:29] Brodevil commented on #641
Okay that means a bot  who will book mark all the commands for the user
This will be going to increase the storage and Idea I think it is not good
Because while if any user want to just want to use the command he can just `.help`
So I don't think this will be a good idea to add .bookmark command

[2021-04-03 13:36] Akarys42 commented on #653
We should be using @SebastiaanZ's implementation on Black Knight for that.

[2021-04-04 02:13] Shivansh-007 opened #655 "Bonk! Bonk!"
## Description
Add a `.bonk <userid/username/mention>` command,  which when invoked would send gif of mentioned member being "bonked" by Master Yoda. Example:

## Reasoning
It would be a fun command to have around on the bot.

## Proposed Implementation

![Screenshot from 2021-04-04 07-34-06](https://user-images.githubusercontent.com/69356296/113496529-2eb06d00-9518-11eb-8e5f-80cbe1657504.png)

##

[2021-04-04 12:24] Akarys42 commented on #655
Thanks for the issue! This is something we are not currently interested in as it may lead to some poor interactions between the users, and porting cogs from other bots isn’t really fun.

[2021-04-04 12:24] #655 closed

[2021-04-05 13:05] onerandomusername opened #656 "Pfp commands sometimes don't update/error after recent pfp change"
## Description

Sometimes, after a pfp change, the bot cache tries to get a user pfp but its not valid anymore and doesn't properly handle the errors. In most cases, it results in an image not even being presented.

## Steps to Reproduce

Change pfp, wait until discord deletes your old avatar, then run any profile command.
(Tested with `.8bitify`)

## Expected Behavior

What should happen is eithe

[2021-04-05 13:27] onerandomusername commented on #656
After more testing, its a problem related to the member cache.
This does mean that sometimes the bot will respond with the old pfp instead.

[2021-04-07 14:58] ToxicKidz opened #661 "Use a grey :PRDraft: emoji for the .pr command if the PR is a draft"
## Description

Currently, the `.issue` | `.pr` command uses a green open pull request emoji when showing open pull requests. Although, when pull requests are drafts in Github, then the colour of the sign will be grey. For example, #623 is a draft PR, and doing `.pr 623` currently looks like this:
![green-pr-emoji](https://user-images.githubusercontent.com/78174417/113887071-2dd54080-978f-11eb-97e

[2021-04-07 19:48] Kronifer commented on #661
Seems like a good idea

[2021-04-08 09:13] ShakyaMajumdar opened #663 "LaTeX Command"
## Description
It would be great to have Sir Lancebot spot latex syntax in messages and send an image rendering it.

## Reasoning
There are math-related questions in the off-topic channels fairly frequently, and writing equations in plain text is quite, uh, painful.

## Proposed Implementation
We could use matplotlib for rendering the latex, it seems to do the job pretty well.
Messages with text e

[2021-04-08 15:14] onerandomusername opened #664 "Remove/edit a topic which is impossible to answer."
## Description

There is never anyone to the right. Remove that line from the topic command.

## Reasoning

Every time this topic comes up, people tend to hate it or make fun of it.

## Proposed Implementation

Remove the topic from [/bot/resources/evergreen/starter.yaml#L9](https://github.com/python-discord/sir-lancebot/blob/d76ec41d0d19099488f09677dce50aeae16967b8/bot/resources/evergreen/starter

[2021-04-08 15:52] jb3 commented on #664
Approved.

[2021-04-08 18:12] SavagePastaMan opened #667 "Add Cowsay Command"
## Description

It'll just emulate the cowsay program.

## Reasoning

This would be useful because it would be funny.

## Proposed Implementation

It would have the flags of the original cowsay, such as tux, except maybe the head in ass one.

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2021-04-09 00:15] onerandomusername opened #670 "Authenticate all Github Requests"
## Description

Some of the requests to the github api aren't authenticated, specifically in the [github cog](https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/evergreen/githubinfo.py#L29-L34)

## Proposed Implementation

I have two different ideas here. The one and simple idea would be to copy code from the [issues cog](https://github.com/python-discord/sir-lancebot/blob/main/bot/

[2021-04-09 05:54] #664 closed

[2021-04-10 04:22] vcokltfre opened #671 "Feature: .timed <command> command to allow any command's execution time to be displayed"
## Description
Quite simply, the ability to use `.timed <command + args>` (.t as an alias), to be able to time the execution time of a command.

## Reasoning
Considering a conversation in dev-contrib about having time displayed in a latex rendering command, I figured why not have the best of both worlds; by default don't display the time since it can be considered bloat, but have the ability to ti

[2021-04-11 18:13] #671 closed

[2021-04-12 02:11] onerandomusername opened #677 "Create a colo[u]r command"
## Description

TL;DR add a command to get info on a color supplied by rgb, hex, possibly fuzzy matching by name, and possibly hsv or hsl. All of this would be local and no api usage whatsoever.
More details are below in the [`Proposed Implementation`](#Proposed-Implementation) section.

## Reasoning

Say one was in [`#media`](https://discord.com/channels/267624335836053506/753252897059373066/) an

[2021-04-12 16:57] #630 closed

[2021-04-12 16:57] #643 closed

[2021-04-12 21:42] #622 closed

[2021-04-12 22:12] jb3 commented on #677
# Overview

Here are some features we should include:

- [ ] Colour information
- [ ] Random RGB or HSV colours
- [ ] Colour conversions
- [ ] Colour naming

These should *all* be implemented in the same command, but can be implemented separately, the above order is my recommendation for tackling them one by one.

# Details

## Colour information

Given a colour in one of the supported colour mode

[2021-04-12 22:18] dawnofmidnight commented on #677
@onerandomusername Which parts of this are you interested in doing, since this is a rather large task.

[2021-04-13 03:26] Shivansh-007 commented on #549
I would be working on this along with @DawnOfMidnight

[2021-04-13 03:30] #661 closed

[2021-04-13 11:28] ChrisLovering commented on #549
Can I request that we upgrade to 3.9.4, rather than 3.9.1 as this issue title suggests.

[2021-04-13 12:10] dawnofmidnight commented on #549
I'll be working on this along with ToxicKidz and Shivansh-007. Also, I agree that 3.9.4 is better since it's more stable (assuming I understand versioning right).

[2021-04-13 16:34] Shivansh-007 commented on #549
| Dependency Name  | Upgraded                | Tested                  |   |
|------------------|-------------------------|-------------------------|---|
| aiodns           | <ul><li>- [ ] </li></ul> | <ul><li>- [ ] </li></ul> |   |
| arrow            | <ul><li>- [ ] </li></ul> | <ul><li>- [ ] </li></ul> |   |
| beautifulsoup4   | <ul><li>- [ ] </li></ul> | <ul><li>- [ ] </li></ul> |   |
| fuzzywu

[2021-04-16 11:03] HassanAbouelela opened #685 "Rework The PR Template"
## Description

The PR template has a lot going for it. I like the fields it has, and the descriptions written there for each one are quite adequate, yet, we still end up with a lot of PRs that either don't use the template and fail to provide information in any other way, or fail to fill in one or more fields that contain very important information. This applies to staff, core-devs, and non-staff

[2021-04-16 12:29] HassanAbouelela commented on #685
Update 1: Better explanation on when it is okay to make a PR without an issue.

[2021-04-16 19:47] HassanAbouelela commented on #685
Update 2: Expand on what it means for an issue to be approved. [Discussion](https://discord.com/channels/267624335836053506/411200599653351425/832598212811554838)

[2021-04-16 20:13] MarkKoz commented on #685
Could be shorter

_Corresponding issue_ denote a stronger relationship than _related_ issue, though maybe the word is too "fancy". _Must_ has a stronger connotation than _needs to_.

[2021-04-16 20:14] MarkKoz commented on #685
"Corresponding" could also be "equivalent" or "matching" I suppose.

[2021-04-16 20:26] HassanAbouelela commented on #685
I agree with shortening that part. I think mentioning core dev approval in there is important, what do you think of:

(mostly dropping the first sentence)

I've rewritten that whole section to be more to the point (implicitly addresses your second comment):
Original

All changes require explicit Core Developer approval (for issues, those are given using the "status: approved" tag). Pull requests n

[2021-04-16 20:30] dawnofmidnight commented on #685
I think it would be nice to add that if it was discussed in Discord and you were told not to open an issue, you must provide links to the conversation.

It's not uncommon that admins and owners say that you can open a pr, so I think that making sure you provide links is something worth pointing out.

[2021-04-16 20:31] HassanAbouelela commented on #685
That part is already in the original gist as

It is also included in the rewritten comment.

[2021-04-17 15:59] #653 closed

[2021-04-17 16:12] vincepy opened #687 "splitify - new command similar to 8bitify (command name could be changed)"
hello id like to add a new feature to lancebot similar to 8bitify. my idea is to take user's profile image, split it in x pieces, randomize those pieces and stitch it back up. ill show an example below.

original:
![image](https://user-images.githubusercontent.com/20439493/115882892-1fe91600-a445-11eb-9629-3e997bf7c4b9.png)
modified:
![image](https://user-images.githubusercontent.com/20439493/1158

[2021-04-17 16:16] Akarys42 commented on #687
This looks good to me! Do you think you can also make the number of squares customisable too?

[2021-04-17 16:17] vincepy commented on #687
by splits, i meant the squares, so yes.

[2021-04-19 05:49] scragly commented on #573
Resolved by #673

[2021-04-19 05:49] #573 closed

[2021-04-19 12:57] vcokltfre opened #689 "Bookmark messages using the message reference (replying)"
## Description
The ability to use the bookmark command without a message link argument to bookmark a message by replying to it. Like this:
![image](https://user-images.githubusercontent.com/16879430/115239467-ae445b80-a116-11eb-8fc1-c22a5e12ada1.png)
(I already have the code since I was curious, but I need to make an issue so everything is done by the book)

## Reasoning
It's just a small QoL chan

[2021-04-19 13:00] ChrisLovering commented on #689
I'd suggest waiting until https://github.com/python-discord/sir-lancebot/pull/645 is merged, and integrating your code with the changes there.

[2021-04-19 13:01] vcokltfre commented on #689
Will do, mind pinging me on Discord when that's done :P

[2021-04-19 14:13] laundmo opened #690 "Spookify shows different embed header than profile picture spookified"
## Description
when running spookify with a id, it shows the other users pfp and name in the embed header, and the own profile pic spookified.

## Steps to Reproduce
The header should match the spookified image

## Expected Behaviour
The other persons pfp should be spookified, or the header should match the

## Actual Behaviour
![image](https://user-images.githubusercontent.com/24855949/115249815-

[2021-04-19 14:16] ToxicKidz commented on #690
This is already fixed in #597, however, I don't know how long it will take to get merged.

[2021-04-19 14:54] Kronifer opened #691 "Add `.catify`"
## Description

Would intersplice args and add ᓚᘏᗢ between them

## Reasoning

Because ᓚᘏᗢ

## Proposed Implementation

Kind of like .uwu

## Would you like to implement this yourself?

- [x
] I'd like to implement this feature myself
- [ ] Anyone can implement this feature

[2021-04-19 14:57] janine9vn commented on #691
To clarify, this would take an arbitrary string and add in the cat unicode at various points inside the string?

[2021-04-19 14:58] Kronifer commented on #691
Was talking in dev-contrib, was thinking maybe would add the cat to the end of a user's nickname

[2021-04-19 14:59] hypergamer80 opened #692 "Catification"
## Description
We would like to see an addition to the Sir Lancebot commands: `.catify`. This would insert random ᓚᘏᗢ's into a message sent by the invoker of the command.

## Reasoning
This would be useful since it enhances the ᓚᘏᗢ cult.

## Proposed Implementation

## Additional Details

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x ] Anyone c

[2021-04-19 14:59] dawnofmidnight commented on #691
I like it where it's stuck between words since it can be used more than once.

[2021-04-19 15:00] dawnofmidnight commented on #692
#691 is the same thing/

[2021-04-19 15:00] Kronifer commented on #692
Yeah I kinda beat you to it

[2021-04-19 15:00] janine9vn commented on #692
I'm going to close this as it's a duplicate of #691. We can move discussion there.

[2021-04-19 15:00] #692 closed

[2021-04-19 15:01] hypergamer80 commented on #692
got it.

[2021-04-19 15:02] hypergamer80 commented on #691
this is magnificent. for proposed implementation, see dev squid's meme func

[2021-04-19 15:03] Kronifer commented on #691
Hmm,  maybe those interested could vote and I'll implement one of them

[2021-04-19 15:03] dawnofmidnight commented on #691
Poll in ot0?

[2021-04-19 15:04] Shivansh-007 commented on #691
I would have moved this into the user's nickname instead, as this is were it is getting used mostly. For example, when i do `.catify`, my nickname should be changed to `Shivansh-007 ᘡᘏᗢ`.

Another feature I would like to have is, a list of different cats, from which it would be randomly chosen and put into the user's nickname.

[2021-04-19 15:07] Shivansh-007 commented on #691
Yeah, that sounds better, but how would catify text work, adding cats after each word would not look that great, the cat are a bittt long.

[2021-04-19 15:07] AbooMinister25 commented on #691
We have somewhat of a catify function in ot0

[2021-04-19 15:07] dawnofmidnight commented on #691
Not every word. They could be randomly interspersed throughout the message

[2021-04-19 15:08] janine9vn commented on #691
@Kronifer you are assigned! Y'all can have fun discussing the implementation details.

[2021-04-19 15:08] AbooMinister25 commented on #691
Yeah, it also replaces all the words that have "cat" in them with the ᓚᘏᗢ

[2021-04-19 17:47] vcokltfre opened #693 "Quackstack integration in lancebot"
## Description
The ability to run `.duck [manduck=False]` command to get a random duck or manduck, generated by quackstack.

## Reasoning
Quackstack is currently fairly inaccessible since it's pretty much just a raw API. One thing we can do to make it more accessible to everyone is to allow them to use it through lancebot to create their own duckies!

## Proposed Implementation
Unsure of exact imp

[2021-04-19 18:07] vcokltfre commented on #693
here's how it looks because I'm bored and decided to make it, but I'll wait for approval before PRing
![image](https://user-images.githubusercontent.com/16879430/115282785-7fdc7580-a142-11eb-8028-6de90b342028.png)

[2021-04-19 19:03] Kronifer commented on #693
I'm Kronifer [REDACTED], and I approve this PR :shipit: 👍🏼

[2021-04-20 07:44] RohanJnr opened #695 "[BUG] Paginated embed image gets carried to next page"
## Description
With the current paginator, when a new image is set on a page, the paginator shows the same image in the next page if the next page does not have an image of its own

Current source code:
[code]
If the next page's image is an empty string, then the paginator uses the image from the last page.

## Solutions
1. Set image to empty string when required.
[code]
Settings the image to an e

[2021-04-20 14:53] Shivansh-007 commented on #693
This is a duplicate of #652.

[2021-04-20 15:26] vcokltfre commented on #693
being able to merge 2 issues when :blobpain:

[2021-04-20 16:12] #691 closed

[2021-04-20 18:29] Kronifer commented on #667
Id be interested

[2021-04-20 18:29] Akarys42 commented on #667
Go for it!

[2021-04-20 18:30] Kronifer commented on #667
Awesome

[2021-04-20 18:33] MrKomodoDragon commented on #667
Can I help?

[2021-04-20 20:28] MrKomodoDragon commented on #677
@jb3 I would like to help

[2021-04-20 22:05] hypergamer80 commented on #612
@InvisibleOS may i collaborate with you on this project? It seems as if you've forgotten about this issue or has other things to do, so if you'd like I could work with you on this, making it easier.

My nickname on the Python Discord server is "wait... it's all ᓚᘏᗢ? | 🐈"

Best regards.

[2021-04-21 14:29] InvisibleOS commented on #612
Hello,
I have already made both the commands (rock-paper-scissors and coin-flip) long ago. I have also shared the code in #dev-log but I didn't receive a definite reply which was why I accidentally forgot about it. I'm ready with the code now, I just need some help getting it added to Sir Lancebot.
Maybe we can discuss further on PyDis, I'll hit you up.

[2021-04-21 23:03] HassanAbouelela commented on #685
Update 4: Dropped the reasoning field.

This has been prompted by internal discussions [here](https://discord.com/channels/267624335836053506/411200599653351425/832710804541276190) and [here](https://github.com/python-discord/organisation/issues/268).

The gist of it is: In theory, it's great, but it often does not work (perhaps that was the old wording, perhaps people just don't understand it). I

[2021-04-21 23:11] HassanAbouelela commented on #685
Actual final update: removed screenshots and additional details section, for the same reason as reasoning.

[2021-04-21 23:16] Shivansh-007 commented on #685
I think we should keep screenshots, it helps reviewers see how the output looks, like the other day, there was a suggestion by Alec on consistent spacing. But once he saw the screenshots of the error embed, he was convinced with the embed.

We could not make it compulsory, but yeah it is a really good field.

[2021-04-22 19:26] sentry-io[bot] opened #701 "IndexError: list index out of range"
Sentry Issue: [SIR-LANCEBOT-4W](https://sentry.io/organizations/python-discord/issues/2356593012/?referrer=github_integration)

[code]

[2021-04-23 00:02] HassanAbouelela opened #703 "Catify Can Embed Images"
## Description

Commands that echo user input have the vulnerability of allowing embedded images where they otherwise should not be allowed. It manifested today multiple times through the catify command, but has implications for other commands such as `uwu` and `randomcase`.

## Steps to Reproduce

1. Use the catify command with a CDN link.
2. The bot should embed the link (even if the user can't)

[2021-04-23 00:13] HassanAbouelela opened #705 "Preserve The State Of Unloaded Cogs"
## Description

Unloaded cogs should be saved in redis, and should not be loaded after restarts.

## Reasoning

From time to time, we may end up with problematic code that we choose to unload. This can happen for many reasons, from slight oversights to huge breaking bugs. The main point is, when we unload something, we usually don't want it loaded again until the problem is addressed.

Unloading r

[2021-04-23 00:24] Shivansh-007 commented on #705
Cool, I will go ahead and implement this, thanks!

[2021-04-23 00:24] HassanAbouelela commented on #705
It's not approved yet, I want discussion from people who rejected it previously.

[2021-04-23 04:07] #703 closed

[2021-04-23 07:33] HassanAbouelela commented on #685
I don't agree that we should have it when most of the time most people won't use it. Screenshots may be useful when deciding what looks best, but I still expect reviewers to actually test out the features they are approving (because when they don't, we end up with broken code. ask me how I know).

There is also something to be said about keeping the template concise and limited to what is absolute

[2021-04-23 07:35] kwzrd commented on #705
Do you have any ideas for how this could work?

The bot could walk modules in the cache and verify membership in the [extensions](https://github.com/python-discord/sir-lancebot/blob/d02c79e569092dbd6823f2edb6c78ed8ab1bcae4/bot/utils/extensions.py#L44) constant. This would mean looking into the cache before the bot connects, which is probably ok, as by the time the bot instance exists, we should al

[2021-04-23 07:41] HassanAbouelela commented on #705
Yup, that's mostly what I had in mind. To answer a few of your points:
- Trying to figure out where a module might have been moved is not something I think is worth much time or effort.
- Any cog that should've been unloaded, but was not found will just be ignored.
- Once the bot reconnects, it'll send out a ping in some channel (preferably hidden), to alert core-devs, or anyone with permissions t

[2021-04-23 07:51] kwzrd commented on #705
Sounds good. Sending a manual alert in the desired staff channel probably makes more sense to me than logging an error, since the situation requires administrative action more so than a fix in the code.

[2021-04-23 13:21] #701 closed

[2021-04-24 08:47] #685 closed

[2021-04-25 18:35] Numerlor opened #706 "Adapt selective trace logging from bot"
## Description
Implement selective trace logging from the python-discord/bot#1529 PR, enabling whitelisting or blacklisting certain loggers to emit trace logs instead of always emitting all trace logs with the debug mode.

## Reasoning
Discussed in python-discord/bot#1502

## Proposed Implementation

A new entry for the trace loggers will need to be added to the `Client` config, grabbing its value

[2021-04-25 20:07] vcokltfre opened #707 "New `...case` commands"
## Description
New commands for:
- camelcase
- pascalcase
- snakecase
- other cases that get suggested in issue comments here

This would essentially just be a cases extension to randomcase

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] Anyone can implement this feature

[2021-04-26 12:29] vcokltfre commented on #707
i realised this was a bit vague, but essentially you'd call `.pascalcase this is a sentence` which would spit out `ThisIsASentence`

[2021-04-26 13:22] ChrisLovering commented on #687
I'd suggest that we wait until #597 is merged for this issue.

[2021-04-27 09:36] chincholikarsalil opened #708 "Grammatical error in the commented part"
## Description
There is a grammatical error in the commented part of [exceptions.py](https://github.com/python-discord/sir-lancebot/blob/main/bot/utils/exceptions.py)

## Possible Solutions
To reword/fix the comment.

## Would you like to implement a fix?
- [x] I'd like to implement the bug fix
- [ ] Anyone can implement the bug fix

[2021-04-27 13:47] #708 closed

[2021-04-27 19:57] #693 closed

[2021-04-27 19:58] vcokltfre commented on #652
Hey, I'd like to take this up (see #693 lol)

[2021-04-30 08:35] vcokltfre opened #710 "New avatarmod command [name subject to change]"
## Description
I'll preface this by saying that the command name is subject to change, I don't like the current one (avatarmod) a great deal, but I can't currently think of a better name. Essentially the command would do similar transformations to current commands like spookify, and other commands that play with the avatar image, but in a more convenient way.

## Reasoning
It would mean that all a

[2021-04-30 09:06] ChrisLovering commented on #710
I'd suggest waiting until https://github.com/python-discord/sir-lancebot/pull/597 is merged and building on top of that :D

[2021-04-30 09:07] vcokltfre commented on #710
Yep, that was my intent, I just wanted to make the issue so i didn't forget :P

[2021-04-30 09:08] ChrisLovering commented on #710
Sounds good! Also, hope you didn't mind but I stole the name for the cog already and put it in the PR, since pfp_modify sounded terrible compared to avatarmod :)

[2021-04-30 09:09] vcokltfre commented on #710
Haha, that's all good

[2021-04-30 09:11] ChrisLovering commented on #710
Yea, this sounds good to me, after the PR is merged, all of the effects are in the same file too, so should make it easier to get a list of options :)

[2021-04-30 09:14] #656 closed

[2021-04-30 09:14] #690 closed

[2021-04-30 14:30] ToxicKidz opened #711 "Move the .issue/.pr command into the .github group"
## Description

The `.issue` command should be moved to the `.github` group, so it would show in the `Github` cog, and the invocation could be `.gh pr`.

## Reasoning

It makes more sense for it to be in the github group, since this command deals with github, just like `.gh repo` and `.gh user`. We could also use [root aliases](https://github.com/python-discord/sir-lancebot/blob/main/bot/command.p

[2021-04-30 15:01] ToxicKidz commented on #687
Since #597 was merged, I am willing to implement this.

[2021-04-30 15:01] ChrisLovering commented on #687
Go for it 👍

[2021-04-30 16:23] Srijandev opened #712 "Savatar command shows the savage image outside the embed!"
## Description

When running `.savatar` , there was unexpected issue explained below

The image shows the image outside the embed, which is abnormal It happens with **Parzivel_1 #4463** can be seen [here](https://discord.com/channels/267624335836053506/607247579608121354/837716924812492800)

## Steps to Reproduce

The image should be in the embed.

## Expected Behaviour
Note : This is a example ho

[2021-04-30 16:56] #712 closed

[2021-04-30 17:18] vcokltfre opened #714 "Increase the amount of information given in .issue/.pr commands"
## Description
Basically: remove the ability to have multiple issue/pr numbers and add additional info to the embed, such as the issue/pr author, since the automatic linking of issues everywhere (#642) means that it's not necessary anymore to have these commands separate, as they display the same info unless of course that is changed to display more info about it.

## Proposed Implementation
I do

[2021-04-30 17:35] sentry-io[bot] opened #715 "ValueError: empty range for randrange() (10, 9, -1)"
Sentry Issue: [SIR-LANCEBOT-4Y](https://sentry.io/organizations/python-discord/issues/2373621629/?referrer=github_integration)

[code]

Seems to be caused by profile pictures with a width smaller than 100 pixels due to the this line `y = randint(10, bat_size)` where `bat_size` is defined as `bat_size = randint(wt//10, wt//7)`

[2021-05-01 07:13] Srijandev commented on #712
Great!

[2021-05-04 15:04] Objectivitix opened #719 "Add "Math" and "Science" category in .quiz"
## Description
Since the .quiz command currently only has the "General" category which is pretty much only geography and history questions, we propose to add "Math" and "Science", 30 (or more) questions each which would be randomly picked.

## Reasoning
Because it only has "General", and we NEED MORE!

## Proposed Implementation

## Additional Details

## Would you like to implement this yourself?

[2021-05-04 17:06] Objectivitix commented on #719
https://docs.google.com/document/d/1qIbapQUMLD40s5yzrqXZ7n0-6p1z3azpz1O_rPOWTv4

list of math questions, subject to change

[2021-05-04 17:53] janine9vn commented on #719
Sounds good! I think the Math and Science categories would go well in this server.

[2021-05-04 18:03] Evorage0 commented on #719
How about a programming category as well, since its a programming server? I wouldn't say python specific questions, more general knowledge of programming mixed in with some actual programming techniques.

[2021-05-04 18:10] Objectivitix commented on #719
that's an incredible idea!!

[2021-05-04 18:18] Kronifer commented on #719
McPoggers

[2021-05-04 19:50] Objectivitix commented on #719
update: currently have 30 questions in math, 10 questions in science, and 2 in cs. more coming

[2021-05-05 18:04] vcokltfre opened #721 "Merge the ping and uptime cogs"
## Description
Since both the ping and uptime commands are a similar 'category' of command it would make sense to merge both into one file/cog, this should be a simple change and there is no additional context.

## Reasoning
The reasoning is to make the code more concise and navigable.

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] Anyone can

[2021-05-05 19:05] HassanAbouelela commented on #705
@Shivansh-007 discussion for this issue is now closed, you are free to work on this issue if you still want it.

[2021-05-06 04:40] Shivansh-007 commented on #705
Sure, I will implement this feature according to the discussion we had here and in #dev-contrib.

[2021-05-06 07:16] ATOMICMAN007 opened #723 "`.snakes` command bug"
## Description

When giving argument `python` in subcommand `get` of command `snakes`, bot returns Wikipedia page of Python programming language instead of returning result related to python snake.

## Steps to Reproduce

Type `.snakes get python`

## Expected Behaviour

An embed which contains information about Python snake retrieved from Wikipedia.
(Not including link of most suitable Wikipedia

[2021-05-06 07:21] anand2312 commented on #723
[This looks like it has been done intentionally](https://github.com/python-discord/sir-lancebot/blob/05ba3de5c99b30a8eba393da1460fae255373457/bot/exts/evergreen/snakes/_converter.py#L27) 😉

[2021-05-06 08:14] ATOMICMAN007 commented on #723
Ok! 😂

[2021-05-06 08:14] #723 closed

[2021-05-06 12:52] Objectivitix commented on #719
update: currently have 30 questions in math, 30 questions in science, and 16 in cs/python. also did a revamp of the original code so it's compatible with image urls, multiple possible answers, etc.

[2021-05-07 15:25] #687 closed

[2021-05-07 18:16] Objectivitix commented on #719
PR'ed

[2021-05-09 19:01] magicandcode commented on #628
I'm happy to work on this together with someone more experienced, per the discussion in #dev-contrib.

[2021-05-09 19:01] vcokltfre commented on #628
I'll also work with @magicandcode on this :P

[2021-05-09 19:02] vcokltfre commented on #628
Assigned as per discussion here: https://discord.com/channels/267624335836053506/635950537262759947/841025174593863731

[2021-05-09 20:49] #530 closed

[2021-05-09 20:49] #695 closed

[2021-05-11 02:43] dannynotsmart opened #730 "Anagrams Minigame command"
## Description

This command will create a mini game, called Anagrams.
To sum it up, Anagrams is a word game, where you make words from given letters.
This game will be implemented in Sir LanceBot to play with
## Reasoning

It is a fun minigame where anyone can participate. The game tests how well you are at making words, and can get a bit competitive

## Proposed Implementation

In the end, it wo

[2021-05-11 02:43] dannynotsmart commented on #730
I am Cat btw

[2021-05-12 13:58] Objectivitix commented on #730
sounds fun!

[2021-05-12 15:47] ChrisLovering commented on #348
Fixed with #530

[2021-05-12 15:47] #348 closed

[2021-05-12 18:26] #721 closed

[2021-05-12 18:31] Icebluewolf opened #731 "Random Cat Or Dog Pic When Not Specified In .http_status"
## Description

When not specified there should be a random dog or cat pic response.
EX: `.status cat ` and `.status dog` would be unchanged but if `.status 404` was entered it would choose dog or cat randomly.

## Reasoning

This would be useful if you dont care about the picture and are using the command to find the meaning of the status code.
I use it for this reason mainly. You just dont need

[2021-05-13 00:23] dannynotsmart commented on #730
it is almost done, i just need to change the code a bit and change some responses to make it look neater.

[2021-05-13 18:00] Kronifer commented on #652
Hey @lemonsaurus I'd love to take this!

[2021-05-13 18:03] jb3 commented on #652
@Kronifer vco is interested in taking this as shown above, but on top of that this issue is currently blocked pending futher development on QuackStack, there are a few things we need to do before we should slot it into a production application.

You are welcome to contribute to quackstack though, and I'm sure that if you ask in `#dev-contrib` then you can find out what needs to be done to get that

[2021-05-13 18:04] Kronifer commented on #652
alright, sounds good joe, ive been looking into the readme

[2021-05-14 23:44] #341 closed

[2021-05-15 00:03] vcokltfre opened #734 "Persist cog load states when using unload"
## Description
This would mean that when using commands such as `.ext unload` the state of those cogs would be stored in redis, and when the bot starts back up the state is restored and cogs that were marked as unloaded are not loaded during cog load.

## Reasoning
This would be useful in instances such as the current latex cog where every time the bot restarts the cog needs to be unloaded as it's

[2021-05-15 00:07] #734 closed

[2021-05-15 16:02] ChrisLovering commented on #338
A version of this was implemented in #645. If further changes wish to be made to this command, we should open a new issue for clarity.

[2021-05-15 16:02] #338 closed

[2021-05-16 18:05] #689 closed

[2021-05-16 20:09] #719 closed

[2021-05-16 20:25] sentry-io[bot] opened #739 "Quiz cog KeyError"
Sentry Issue: [SIR-LANCEBOT-59](https://sentry.io/organizations/python-discord/issues/2401932701/?referrer=github_integration)

[code]

Caused when multiple users with permission try to stop the same quiz.

[2021-05-16 23:09] vcokltfre opened #742 "Make storage of static data consistent"
## Description
Currently, the vast majority of static data stored in lance is in JSON format, but a few files are YAML or plain text. I propose that this all be turned into one format (JSON, and while I'm there make the JSON formatting consistent across *all* JSON files) so all static data is stored consistently.

## Reasoning
This is a QoL improvement to make the bot more consistent, akin to the

[2021-05-16 23:20] doublevcodes opened #743 "Issue/PR hyperlink embed upgrade"
## Description

### What this issue solves

This issue aims to solve two things:

- The format in which issues and pull requests are displayed in the embed that the bot automatically sends.
- The order in which the issues and pull requests are sent. This wasn't part of the original issue but I figure if this is correctly implemented then this could be fixed too.

### Current implementation

Upon m

[2021-05-17 12:41] Objectivitix commented on #730
hm. i just realized... this didn't get an explicit approval yet-

[2021-05-18 16:52] #739 closed

[2021-05-19 03:26] MarkKoz opened #746 "Escape square brackets in reddit post bodies"
On mobile (Android, not sure about iOS), an opening bracket without a matching closing bracket causes the Markdown renderer to interpret everything in between as a link title. The mobile renderer ostensibly uses the earliest opening bracket it finds while the desktop renderer uses the latest. It renders as a link because later on, there is link Markdown which is used for the following post's title

[2021-05-19 20:18] Objectivitix opened #747 "Question missing a possible correct answer in `trivia_quiz.py`"
## Description
The following math question with ID of 228 should have one more possible correct answer in the database.

## Steps to Reproduce
1. input the command `.quiz math 30`.
2. wait for it to reach that question (randomly generated, might take a while)
3. input the answer "centisecond".

It won't recognize it as a correct answer.

## Expected Behaviour
It should recognize it as a correct an

[2021-05-19 22:31] #731 closed

[2021-05-20 13:04] #561 closed

[2021-05-21 15:04] Kronifer opened #749 "Add a .reverse command"
## Description

Add a .reverse command that reverses a submitted string.

## Reasoning

Idk, as a joke I guess, could go with fun.py.

## Proposed Implementation

Basically, something like this
[code]

But if no args are given, we could reverse the users profile picture and send it in an embed.

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] An

[2021-05-22 21:16] Objectivitix opened #753 "Add "cs" and "python" categories to the `.quiz` command"
## Description
This is an extension of PR #726. It was planned to also add these two categories in that PR, but we didn't get enough quiz entries on "cs" and "python" and thus it couldn't be implemented. But now, thanks to lak, we got 30 questions each, which is enough!

## Reasoning
I believe this would be beneficial to our community because they're programming, computer science and Python questi

[2021-05-23 04:12] NovaTohsaka opened #754 "ascii command"
## Description
A command to convert the text args (passed to the command by a member) into an ascii art.

## Reasoning
Well, just a fun command! People may find it fun using.

## Proposed Implementation
Implementation will require an installation of third-party lib `pyfiglet`.

## Would you like to implement this yourself?

- [x] I'd like to implement this feature myself
- [ ] Anyone can implement

[2021-05-23 05:34] Brodevil commented on #754
I don't know that this Idea is good or not
But I Guess using pyfiglet this can be done easily

[2021-05-23 06:02] NovaTohsaka commented on #754
Me neither but this is how a basic output will look like if this helps. (Not final product.)
![abc](https://user-images.githubusercontent.com/84652009/119249957-779cad80-bbba-11eb-902f-11a800ba5bbb.png)

[2021-05-23 08:59] NovaTohsaka opened #755 "new command: evergreen_images"
## Description
A command which fetches (evergreen) forest images using unsplash API like earth_photos.

## Reasoning
I and (many of us) find greenery "relaxing", thus a command for providing such photos will be good.

## Proposed Implementation
Implementation will (mostly) be same as earth_photos, frontend will have all the appropriate details like it as well.

## Would you like to implement this

[2021-05-23 11:57] Akarys42 commented on #753
I shall approve this issue

[2021-05-23 12:16] HassanAbouelela commented on #754
I'm not convinced this'll lead to anything more than spam. People can already make ascii art outside of discord and paste in, and as a mod, 99% of that is spam, usually disruptive, and probably leads to some sort of infraction.

[2021-05-23 12:54] NovaTohsaka commented on #754
yeah, understandable.

[2021-05-23 12:54] #754 closed

[2021-05-23 23:18] Objectivitix commented on #753
THANK YOU AKARYS! WOOHOO

[2021-05-24 00:19] Objectivitix commented on #753
Database has been completely copied to the JSON. Next step is to test, then PR Time™️

[2021-05-24 00:53] Objectivitix commented on #753
All questions tested. PR Time™️ tmr

[2021-05-24 04:40] #755 closed

[2021-05-24 07:13] soham4abc commented on #747
Is this issue not yet approved. I did make a pull request for this one

[2021-05-29 03:45] JakeM0001 commented on #749
I like the idea, I wouldn't have it send the message in the ">". But other than that it would fit right into fun.py.

[2021-05-29 03:51] #617 closed

[2021-05-29 03:51] Xithrius commented on #749
@Kronifer You can go ahead and implement this if you'd like.

[2021-05-29 04:24] #747 closed

[2021-05-29 04:47] Xithrius commented on #599
@Hillo111 would you still like to make a PR for this?

[2021-05-29 04:52] Hillo111 commented on #599
@Xithrius No, kinda lost interest

[2021-05-29 04:54] Xithrius commented on #599
Would you still be willing to discuss how this would be implemented with others?

[2021-05-29 04:55] Hillo111 commented on #599
Yes

[2021-05-29 04:55] Xithrius commented on #599
Alright, thank you.

[2021-05-29 05:14] Xithrius commented on #634
@AnkithAbhayan does this problem still occur? We've added a bunch of new topics for offtopic channels. The order in which topics are selected is randomized, which can be seen [here](<https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/evergreen/conversationstarters.py#L29-L32>).

The current list for offtopic topics can be seen [here](<https://github.com/python-discord/sir-lancebot/b

[2021-05-29 05:20] Xithrius commented on #641
@NeilShah2026 This bot currently doesn't have a database, such as postres.

I don't think many users would like to be message automatically if the bot noticed a pattern that is set by some constant.

The bot does have a feature for [bookmarking](<https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/evergreen/bookmark.py>) a message, so if the user wants to save something for later, th

[2021-05-29 05:25] Xithrius commented on #670
@onerandomusername There will probably be some commands in the near future that will need authentication, so I think we should go with this method.

Would you like to go ahead and put this together?

[2021-05-29 05:26] Xithrius commented on #707
@vcokltfre I'd like to see this implemented.

[2021-05-29 05:41] Xithrius commented on #730
This may be true. @dannynotsmart if there was a conversation about this, could you link us to it?

If not, please follow the [contributing guidelines](<https://pythondiscord.com/pages/guides/pydis-guides/contributing/contributing-guidelines/>) more closely next time.

In the meantime, I will be the one approving this issue.

[2021-05-29 05:45] Xithrius commented on #711
So in the end, would we have `.github repo`, `.github user`, `.github issue`, and `.github pr`?

[2021-05-29 06:26] KatsumiKougen commented on #711
Oh, of course we would. The thing is, you would really need some _help_ if you want to implement it by yourself.

[2021-05-29 07:01] Xithrius commented on #711
@KatsumiKougen

What is this in response to?

I'm not so sure, this would probably be a relatively simple PR to implement.

[2021-05-29 10:44] OculusMode commented on #613
Hello, I'd like to implement this feature.

[2021-05-30 00:09] Kronifer commented on #749
Not hard, sure

[2021-05-30 02:08] Xithrius commented on #749
Very cool.

[2021-05-30 09:20] OculusMode commented on #613
@InvisibleOS seems like there is no activity done on this, if in case you have dropped this, may i do this? since I made it in lancebot.

[2021-05-30 12:01] AnkithAbhayan commented on #634
@Xithrius No it doesn't. Ever since the new topics got added and after April, it just didn't repeat that often.
(I almost forgot that this issue was open lol)
I'll guess I'll close this issue?

[2021-05-30 16:56] Xithrius commented on #634
@AnkithAbhayan Thank you for the update. I will now obliterate this issue.

[2021-05-30 16:56] #634 closed

[2021-05-30 18:39] InvisibleOS commented on #613
Yeah, alright. I initially had the whole command ready but I didn't know how to raise a pull request for it so I wasn't able to implement it.

[2021-05-31 02:23] OculusMode commented on #613
Great, thanks for the update @InvisibleOS .
@Akarys42 can you please assign this to me?
Thanks.

[2021-06-01 08:31] OculusMode opened #759 "Change link of contribution guide to the website instead of .md file"
## Description
As we are already using contribution content of our website, the reason for first going to [CONTRIBUTING.md](https://github.com/python-discord/sir-lancebot/blob/main/CONTRIBUTING.md) file and then with another click, going to [url](https://pythondiscord.com/pages/guides/pydis-guides/contributing/contributing-guidelines/) seems unneeded.

In Python-discord bot we already have direct

[2021-06-02 10:24] gustavwilliam opened #761 "Add straight/ally flag to .prideavatar"
## Description

There is currently no straight/ally flag in the `.prideavatar ` command. The following image is the most recognised flag for this purpose. Let's add it to the command.

https://media.discordapp.net/attachments/551789653284356126/849589019364294657/image0.jpg

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement th

[2021-06-02 21:59] #761 closed

[2021-06-03 07:44] Xithrius commented on #711
Either way, I approve of this occurring.

[2021-06-03 13:12] Objectivitix opened #762 "Inconsistency: "Dangling Comma" on multiline data structures and function calls"
## Description
There is a project-wide inconsistency within Sir Lancebot's code. For multiline data structures and function calls such as
[code]
, some people think we should add a trailing/"dangling" comma at the last line while others don't.

In the code, there are instances where the dangling comma is used and instances where it is not. This can be misleading for new people wanting to contribut

[2021-06-03 13:25] Kronifer commented on #762
number 2 can just be avoided by not being stupid

[2021-06-03 13:25] Kronifer commented on #762
copy-pasting code for an open source contribution is frowned upon unless you wrote it somewhere else

[2021-06-03 13:30] Objectivitix commented on #762
@Kronifer for number 2, everyone make mistakes. For number 3, I mean this kind of copy-paste https://medium.com/@nikgraf/why-you-should-enforce-dangling-commas-for-multiline-statements-d034c98e36f8

[2021-06-03 13:32] janine9vn commented on #762
So there shouldn't need to be a discussion about this nor should we have to go back and update our codebase.
Dangling commas should be the standard, see [PEP8](https://www.python.org/dev/peps/pep-0008/#when-to-use-trailing-commas). It also ensures the git blame is accurate if someone adds another option to an already existing list.

Our style guideline falls back to PEP8 for this, so there really

[2021-06-03 13:32] #762 closed

[2021-06-03 13:33] Objectivitix commented on #762
@janine9vn currently it's not the standard. Should we do a project-wide refactoring?

[2021-06-03 13:35] janine9vn commented on #762
No. Adding trailing commas isn't critical enough to warrant a project-wide refactoring. Those types of PRs are generally bad ideas and hell to review. While we try to maintain a standard this is still Sir Lancebot, which is a project designed for new people to learn how to contribute to open source projects. It's not critical that we follow the style guideline 100%, but when noticed we should try

[2021-06-03 13:37] Objectivitix commented on #762
@janine9vn got it. Thank you!

[2021-06-03 13:44] Objectivitix commented on #762
@janine9vn

I noticed the same kind of inconsistency in our main `bot` project as well... would that be not worth a refactoring either? I'm sure this can be automated with some more Python Magic :tm:

[2021-06-03 14:41] jb3 commented on #762
No, it's not worth refactoring on any of our projects.

Minor modifications like this can be amended as and when the code is touched, if we have automated PRs with hundreds of lines changed then it just results in conflicts that someone has to work out. It's the same thing as typehints, we're not going to retroactively upgrade them to 3.9 style (`dict[str, str]` vs. `typing.Dict[str, str]`) becaus

[2021-06-03 15:33] Objectivitix commented on #762
@jb3 alright. Thank you for explaining this, I didn't realize that this kind of refactoring can arise conflicts.

[2021-06-04 04:43] JakeM0001 commented on #612
@InvisibleOS Hey so is this ready to be implemented, if so then feel free to make a pull request for the command so we can get it pushed.

[2021-06-04 17:38] #759 closed

[2021-06-04 18:31] #208 closed

[2021-06-05 14:49] sentry-io[bot] opened #766 "AttributeError: 'PrideAnthem' object has no attribute 'anthems'"
Sentry Issue: [SIR-LANCEBOT-5M](https://sentry.io/organizations/python-discord/issues/2438589742/?referrer=github_integration)

[code]

[2021-06-05 14:49] sentry-io[bot] opened #767 "AttributeError: 'PrideFacts' object has no attribute 'facts'"
Sentry Issue: [SIR-LANCEBOT-5K](https://sentry.io/organizations/python-discord/issues/2438588127/?referrer=github_integration)

[code]

[2021-06-05 16:06] #766 closed

[2021-06-05 16:06] #767 closed

[2021-06-06 15:57] sentry-io[bot] opened #769 "TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'"
Sentry Issue: [SIR-LANCEBOT-5N](https://sentry.io/organizations/python-discord/issues/2440262025/?referrer=github_integration)

[code]

`total_pages` could be None if the data isn't included in the response. We should handle this.

[2021-06-07 07:54] #613 closed

[2021-06-07 09:36] kosayoda opened #771 "Handle Tic-Tac-Toe draw results."
## Description
![image](https://user-images.githubusercontent.com/41782385/120993916-93a56f00-c7b6-11eb-8638-89cfabba4e43.png)

The `!ttt history show` command displays the past state of a game in an embed. Currently, the embed does not account for draws, and instead assumes that every game has a winner and a loser.

The embed should display a draw condition similar to how the `!ttt history` comma

[2021-06-07 09:44] kosayoda opened #772 "Handle the AI in Tic-Tac-Toe requester check."
## Description
![image](https://user-images.githubusercontent.com/41782385/120994811-6e653080-c7b7-11eb-9b2e-aefe7e1acf67.png)

The `!ttt` command currently has a `is_requester_free` check, which ensures that players cannot run more than one game at a time. To reproduce, run `.ttt` and then while the game is still running, run `.ttt` again.

However, the check does not check for games played again

[2021-06-07 19:51] CasualCoder99 commented on #771
I'm absolutely a beginner to open source but good with python. I figure I can solve this bug if assigned to this issue.

[2021-06-08 02:58] kosayoda commented on #771
@CasualCoder99 Go ahead!

[2021-06-08 04:19] Shivansh-007 commented on #772
There are two issues here

- Firstly, on line https://github.com/python-discord/sir-lancebot/blob/0a6a355419d9382b35ac651117287d907e98af0c/bot/exts/evergreen/tic_tac_toe.py#L233 it access `game.channel` which isn't an attribute the `Game` class.

- Secondly, the one pointed out by the issue, a simple fix for that could be to add a `if isinstance(player, Player)` when you are checking if the author

[2021-06-08 04:44] Shivansh-007 commented on #549
This issue can be closed, see #623

[2021-06-08 04:47] Shivansh-007 commented on #641
A possible way for doing this is by going through each message in the user DM history and checking if the message is an embed and if so it has the title of `Bookmark`.

[2021-06-08 12:04] dawnofmidnight commented on #549
After the update to poetry and python 3.9, this issue can be closed.

[2021-06-08 12:04] #549 closed

[2021-06-08 16:26] Xithrius commented on #641
That's not the best idea if the user has a long message history with the bot.

[2021-06-08 16:35] Shivansh-007 commented on #641
Agreed, a better way I just remembered as we had discussed in dev-contrib was to pin the bookmark messages in DMs of the user and then the bot could go through the pin history?

[2021-06-08 17:16] NeilShah2026 commented on #641
True, that would also work

[2021-06-09 04:30] OculusMode commented on #772
Hey, @kosayoda @Shivansh-007 I'd like to give this a go.

[2021-06-09 05:00] Xithrius commented on #772
@OculusMode do what you must.

[2021-06-10 12:00] #771 closed

[2021-06-10 12:54] swordysrepo opened #775 "add topic to py_topics"
## Description

looking to add "  Which recently discovered Python module has changed your general use of Python?"
as a question to the #python-general channel

## Reasoning

i see it's a great topic to have a discussion about . I've just picked up sql alchemy and i've seen it makes a great difference in how i use python . i first heard about it in voice chat on the discord

## Proposed Implementa

[2021-06-12 08:16] vcokltfre opened #776 "Colour command to display colours in various formats"
## Description
A command, `.colour` that would allow people to input a given colour and Lance will show the actual colour in an embed/image.
- `.colour hex <hex>`
- `.colour rgb <r> <g> <b>`
- `.colour hsl <h> <s> <l>`
- `.colour cmyk <c> <m> <y> <k>`

## Reasoning
Especially with things like the pixels event, and in cases like Discord embeds, it would be nice to be able to see what a specific col

[2021-06-12 08:17] ChrisLovering commented on #776
It seems like something like this already exists https://github.com/python-discord/sir-lancebot/issues/677

[2021-06-12 08:19] ChrisLovering commented on #677
Hey @onerandomusername are you still looking to work on this? It seems like there are a bunch of people who would also like to help out.

[2021-06-12 08:20] vcokltfre commented on #776
How does this always happen aaaaa i look and it doesn't exist and I make an issue and then it does

[2021-06-12 20:41] Xithrius commented on #641
I still think this is relevant. Not sure if the default should have this feature turned on or off.

[2021-06-14 11:35] #776 closed

[2021-06-20 14:08] D0rs4n commented on #769
Hi! I'm interested in solving this issue.
(My first time, honestly)

[2021-06-20 14:09] kosayoda commented on #769
Assigned. Go for it!

[2021-06-28 22:44] ChrisLovering commented on #743
Looks good to me, consider this approved. FWIW I prefer the second implementation proposal

[2021-06-28 22:46] D0rs4n commented on #743
Hi! I would like to give it a try! 👍

[2021-07-06 20:50] sentry-io[bot] opened #780 "Channel "hacktoberfest_2020" with ID 760857070781071431 missing"
Sentry Issue: [SIR-LANCEBOT-48](https://sentry.io/organizations/python-discord/issues/2246032976/?referrer=github_integration)

[code]

[2021-07-06 21:16] 12944qwerty commented on #707
@vcokltfre Are you still working on this? I'm assuming that this hasn't been worked on because I can't seem to find any PRs related to this...

[2021-07-06 22:09] #780 closed

[2021-07-06 22:40] camcaswell opened #782 "A Competitive Duck Game"
## Description
Implement a game inspired by the classic card game, Set, using pydis ducks.

After running the command, the bot posts an embed with an image of the board consisting of 12 cards. Players race to claim [valid sets](https://en.wikipedia.org/wiki/Set!) of 3 cards. Correct answers earn them a point, incorrect answers deduct a point. After a time limit the game ends, and the scores are di

[2021-07-07 00:19] 12944qwerty opened #783 "Rickroll Avatar"
## Description
An Avatar modifier that will return a gif of your Avatar, but turns into a rickroll

## Reasoning
Just a fun trick when someone asks for your profile and if you have nitro and want it. Also, it's just a fun command lmao.

## Proposed Implementation
Don't have it yet. I can't seem to find the person who's pfp looks like this lmao (or any recording). I can make one though if needed. ~

[2021-07-07 01:50] 12944qwerty commented on #783
Ah, found it! ![Rick roll pfp](https://cdn.discordapp.com/avatars/652979428456136704/a_51e3bbc6143378d2397e9d36c28d5323.gif?size=256)

[2021-07-07 06:43] Akarys42 commented on #782
I love this idea, let's do this! Even as a proof of concept your board looks rather nice.

[2021-07-07 08:45] ChrisLovering commented on #782
This looks great! I wonder how much help quackstack could be for this, would be worth reaching out to @vcokltfre

[2021-07-07 08:58] Shivansh-007 commented on #782
To generate those ducks randomly, quackstack 🦆 would be great. If you want to keep the ducks similar you could randomly choose details (`/details/{type}`) and provide it to the API, allowing it to choose the others.

Alec was working on a package version of quackstack, there is a WIP PR open for that, not sure how long it would take 🤷🏾‍♂️

[2021-07-07 14:55] camcaswell commented on #782
There are 3^4 = 81 cards, so I pre-generated all of them into a single PNG. Assembling a board is then just a matter of slicing and pasting the cards you want. I considered generating them on the fly, but I think it's just simpler this way.

[2021-07-07 16:25] OculusMode opened #784 "Wrong title in love calc when 0% love"
## Description
In love calculator when love is found 0% it does not show "There's no real connection between you two" like in [json file](https://github.com/python-discord/sir-lancebot/blob/main/bot/resources/valentines/love_matches.json).

## Steps to Reproduce
Found it while getting love as 0%

## Expected Behaviour
It should be "There's no real connection between you two" as per json(I did try

[2021-07-07 17:15] Akarys42 commented on #784
While this truly is a bug, I think it is quite fun and it is a known hidden fact of our bot, I would actually vote to not fix it.

[2021-07-07 17:39] OculusMode commented on #784
haha yeah, @Akarys42 I actually thought that this may be a sarcastic intended `feature` too, but looking at code, it's indeed bug.
But +1 to not fixing the bug lol(or maybe fixing the bug and changing the value of 0% as in json for current funny output.)

[2021-07-09 17:09] vcokltfre commented on #707
I have most of it done, just been a bit busy with life stuff recently

[2021-07-16 18:40] janine9vn opened #787 ".epoch command"
## Description
Discord's timestamp feature will be rolling out to all platforms soon... ish ... probably. This timestamp takes an epoch timestamp to use in a rich/dynamic updating field. More information about this can be found [here](https://discord.com/developers/docs/reference#message-formatting-timestamp-styles). I am not ~~Xith~~ a bot, therefore I don't know specific epoch times off the top

[2021-07-16 19:08] ChrisLovering commented on #787
We can't get the timezone of the user calling the command, I propose we use the same time/duration converter we have in Python.

This converter accepts durations and ISO date times.

[2021-07-17 00:23] VikranthMaster commented on #787
@ChrisLovering  Did u found anything ?

[2021-07-17 00:25] VikranthMaster commented on #787
I want to implement this

[2021-07-17 08:04] ChrisLovering commented on #787
This is the converter I was referring to, that we use in Python.
https://github.com/python-discord/bot/blob/133a1349ee52cc774c3c991a0753fd12f478a010/bot/converters.py#L570

It's a union of https://github.com/python-discord/bot/blob/133a1349ee52cc774c3c991a0753fd12f478a010/bot/converters.py#L317-L332 and https://github.com/python-discord/bot/blob/133a1349ee52cc774c3c991a0753fd12f478a010/bot/convert

[2021-07-17 08:04] ChrisLovering commented on #787
Sure! Once it's finished planning and accepted, we can assign it to you.

[2021-07-17 09:40] VikranthMaster commented on #787
Cool thanks ^^

[2021-07-20 07:50] vcokltfre opened #788 "Display more useful information in .issue command"
## Description
Since introducing inline issue resolving, i.e. `quackstack#9`, the .issue command has been essentially useless - it contains the same information but with confusing syntax. I propose that we make the command show more detailed information about a single issue or PR. This information would include author info, creation date, and issue tags.

## Reasoning
The command is, currently, es

[2021-07-20 08:45] ChrisLovering commented on #788
I'm tempted to delete the `.issue` command entirely.

As you said it doesn't get used often, in favour of the on_message listener. I don't think adding more info to the embed is worth the time and maintenance, since you can get the most information by just clicking on the link to github.

[2021-07-20 11:26] dawnofmidnight commented on #788
I'm in favor of what Chris said as well. Plus, the default meta image that GitHub shows is already really nice and provides the information in a clean, readable manner.

[2021-07-20 11:36] Akarys42 commented on #788
I don't see myself using a command or even automatically linking anymore instead of the new preview embeds, to be honest. I vote for removing the command.

[2021-07-20 12:51] VikranthMaster opened #789 "Pokemon Game"
**PokemonGame**
It would be fun if we add more games..making it intresting

**Reasoning**
Overall would be really fun to play with and later i will add some more features to it

**Proposed Implementation**
Got this idea from watching pokemon 😅..would like to implement this "who is that pokemon" from classic pokemon series..add then later people can view the stats to it

I would like to implement t

[2021-07-20 16:00] doublevcodes commented on #788
I think removal of the command seems better as well

[2021-07-31 07:25] #769 closed

[2021-08-02 07:28] sentry-io[bot] opened #793 "KeyError: 'query' (wikipedia cog)"
Sentry Issue: [SIR-LANCEBOT-5T](https://sentry.io/organizations/python-discord/issues/2548014774/?referrer=github_integration)

[code]

This looks like the request didn't return an expected result, even with a 200 response code.

[2021-08-02 11:18] wookie184 commented on #775
Sounds like a good question. Since @Xithrius already has #792 open and it's a simple addition, it may be easier for him to just add it to that, unless you wanted to do it yourself?

[2021-08-02 11:20] wookie184 commented on #753
Seems like this can be closed

[2021-08-02 11:20] #753 closed

[2021-08-02 11:43] wookie184 opened #794 "Remove GPL Dependencies"
## Description
In https://github.com/python-discord/bot/pull/1676 we removed fuzzywuzzy from the python bot as it used GPL so is not compatible with our MIT License. I guess the same thing would apply to sir-lancebot, so we should probably replace the fuzzywuzzy module with Rapidfuzz.

## Would you like to implement a fix?

***Note: For high-priority or critical bugs, fixes may be implemented by s

[2021-08-02 13:43] D0rs4n commented on #793
I'd like to pick that up! 👍

[2021-08-02 13:54] ChrisLovering commented on #793
Assigned!

[2021-08-02 14:03] ChrisLovering commented on #793
@D0rs4n
If it's any use to you, this is the message that caused this error
https://discord.com/channels/267624335836053506/607247579608121354/871523573846638632
The command was `.wiki ICANNT`

[2021-08-03 21:21] #579 closed

[2021-08-04 15:33] brad90four commented on #425
Would this change need to be made in [sir-lancebot/bot/exts/evergreen/avatar_modification/avatar_modify.py](bot/exts/evergreen/avatar_modification/avatar_modify.py) ? I would assume the changes would be to the different functions defined there.

.8bitify : [link](https://github.com/python-discord/sir-lancebot/blob/32b6d0e386350ea12ab9e745e2bede844d289d07/bot/exts/evergreen/avatar_modification/avat

[2021-08-04 15:34] janine9vn commented on #425
@Xithrius This issue should be closed as we decided to not allow user input for these images anymore.
cc: @ChrisLovering

[2021-08-04 15:37] ChrisLovering commented on #425
yes agreed, the parts of commands that allowed this have been thrown into the sun

[2021-08-04 15:39] ChrisLovering commented on #425
To expand on this for others: This was a moderation decision that is two-fold.
1. We will no longer allow users to run commands on any other members, unless the other member has opted into it (see the valentines command)
2. We no longer allow arbitrary user inputted images to be rendered and parroted by the bot

[2021-08-04 19:08] Shom770 opened #797 "Adding tags to the stackoverflow command"
## Description

The proposal is that we allow tags to be specified as another argument for the stackoverflow command. Stack Exchange API allows filtering by tags with the query, so if the user would like to specify the tags for a certain query, i,e. ``.so JSON [tags]``, the stackoverflow command would add the additional ``tagged`` parameter with the Stack Exchange API with the query 'JSON'.

## Re

[2021-08-04 19:21] Xithrius commented on #425
@janine9vn Thank you. I will proceed to throw this issue into the sun.

[2021-08-04 19:21] #425 closed

[2021-08-04 19:30] brad90four commented on #797
I would guess a flag would be the best way to do this? Maybe -t <tag> <tag> <tag>
Then a user would do .so <search terms> -t <tag> <tag> <tag>

[2021-08-04 19:33] Shom770 commented on #797
That's true. I can update it to take a flag instead.

[2021-08-05 02:28] brad90four commented on #797
This is my first shot at it, definitely could clean up the string combination as well as having an embedded error message for more than 5 tags.

[code]

[2021-08-05 13:33] ChrisLovering commented on #788
We have decided to delete this commend entirely in #778

[2021-08-05 13:33] #788 closed

[2021-08-05 13:33] ChrisLovering commented on #714
Duplicate of #788

[2021-08-05 13:33] #714 closed

[2021-08-06 19:55] brad90four opened #800 "Real Python Search"
## Description

A user command to search Real Python for a relevant article. The command would take user input and return a short list of articles with the search terms in the title of the Real Python articles. This is heavily inspired by the recent Stackoverflow search command.

## Reasoning

Similar to the Stackoverflow command, this would give a shortcut to the information existing on the Real

[2021-08-07 00:34] decorator-factory opened #801 "URL Injection"
# Explanation

It's like SQL injection, but for URLs. Carelessly formatting user input into a URL template can allow attackers construct a specific string to do something nasty. No direct exploit has been found, but the practices used are risky

# To fix

https://github.com/python-discord/sir-lancebot/blob/main/bot/exts/evergreen/movie.py
URL formatting partially using f-strings (line 145). I wasn

[2021-08-07 02:33] decorator-factory opened #803 "Type annotation improvements"
## Description
I want to change some type annotations

## Reasoning
Good type hints make code easier to understand, and bad type hints are misleading and should be fixed.

## Would you like to implement this yourself?
- [x] I'd like to implement this feature myself
- [ ] Anyone can implement this feature

## WIP PR
https://github.com/python-discord/sir-lancebot/pull/802

[2021-08-07 17:14] D0rs4n commented on #801
I'd like to grab this! 👍

[2021-08-08 00:49] #801 closed

[2021-08-09 14:45] #794 closed

[2021-08-09 17:23] Vthechamp22 commented on #797
I had an idea in the original PR, maybe you could allow people to search using the stackoverflow search syntax:
![image](https://user-images.githubusercontent.com/61617820/128747537-ae2fc164-1d5c-4f26-afaa-5a82b7e9a126.png)
and use a regular experession to get and pass in the tags, authors, etc. This would not only make it neater, but also provide support for other filters like authors and whether

[2021-08-09 17:33] Shom770 commented on #797
That would be pretty cool to be honest, I can work on adding other features too, I presume the Stack Exchange API allows all of these parameters in one API request?

[2021-08-09 18:06] Vthechamp22 commented on #797
Yup, here are the [parameters allowed](https://api.stackexchange.com/docs/advanced-search):
`q` - a free form text parameter, will match all question properties based on an undocumented algorithm.
`accepted` - true to return only questions with accepted answers, false to return only those without. Omit to elide constraint.
`answers` - the minimum number of answers returned questions must have.
`bo

[2021-08-09 18:11] Shom770 commented on #797
Ah alright, thanks!

[2021-08-10 02:00] brad90four commented on #797
Hey are you still planning on working on this? Someone sent me this link for Discord Flags: [https://pypi.org/project/discord-flags/](https://pypi.org/project/discord-flags/ )might be helpful to use these for all of the parameters? Could default most of them to None.

[2021-08-10 04:15] Vthechamp22 commented on #797
Hey @brad90four, I was thinking that there is no need for using flagged arguments, as I have [mentioned here](https://github.com/python-discord/sir-lancebot/issues/797#issuecomment-895401906).

[2021-08-10 04:39] Shom770 commented on #797
So I presume we would be using Regex?

[2021-08-10 19:49] JacobMonck commented on #789
Can you give some more information on what the commands would be?

[2021-08-11 08:05] VikranthMaster commented on #789
well was thinking like in a particular channel when a person messages, at random a Pokemon appears then when they guess the Pokemon name correctly they will be added to their pokedex..in future I will add battles and gym

[2021-08-11 11:44] Arnab1181412 commented on #214
Can I work on this issue. I am a new comer.

[2021-08-11 18:28] Xithrius commented on #214
@Arnab1181412 go ahead.

[2021-08-13 05:27] ShadowRStar opened #810 "Wrong tooltip .mosaic"
When .mosaicing ur avatar with some wrong input u get an example with .avatar_modify Mosaic and not .mosaic

[2021-08-13 05:27] #810 closed

[2021-08-14 17:24] Neilisop commented on #667
Alright so basicly this is done correct?

[2021-08-16 04:05] Xithrius commented on #784
This be a bug. I approve of this issue being fixed.

[2021-08-16 20:20] Xithrius commented on #775
Added.

[2021-08-16 20:20] #775 closed

[2021-08-17 10:56] wookie184 commented on #715
Have managed to reproduce this locally, it seems discord will let you upload profile pictures as small as 1x1px, and even when accessing them with e.g. `?size=1024` discord will not upscale them. The fix for this is pretty simple, just using PIL to resize the image before applying the effect. This will also make images display more consistently in the embeds.

I can implement this

[2021-08-17 11:24] ChrisLovering commented on #715
Sounds good to me, probably want to make the upscale a helper function, rather than specific to spookify effect, just in case we need it elsewhere too.

Preferably the upscaling is done in the executor too, rather than blocking the main thread 👍

[2021-08-17 11:26] ChrisLovering commented on #715
Possibly even make the upscaling default behaviour, if a user's avatar is found to be smaller than 1024x1024 when applying any effect

[2021-08-17 16:04] Kronifer commented on #789
I dont think this fits the theme of the server

[2021-08-18 03:15] VikranthMaster commented on #789
its just a extra game that's all for sir Lanceot

[2021-08-18 03:23] JacobMonck commented on #789
Yeah, this doesn't really fit our server too well. It's a great idea but I don't think it suits our server.

[2021-08-18 04:04] VikranthMaster commented on #789
at least we can try right?

[2021-08-18 04:15] bsoyka commented on #789
There's really no point in trying something that wouldn't fit or be used in our server. You're always welcome to make your own bot for your own server, but if multiple staff have said it wouldn't fit here, there's really no reason to make this for Python Discord.

[2021-08-18 04:52] VikranthMaster commented on #789
alright

[2021-08-18 04:53] #789 closed

[2021-08-18 15:53] #749 closed

[2021-08-19 19:09] minalike opened #811 "Allow bookmark command `.bm` by users in help channels"
## Description

The proposal is to allow users to run the bookmark `.bm` command in help channels. Currently the command can be run in some other channels such as off-topic, but it is not allowed in the help channels.

## Reasoning

Sometimes I wish to bookmark a particularly helpful response I receive in a help channel without having to go to #bot-commands or #sir-lancebot-playground. It would be

[2021-08-19 19:26] ChrisLovering commented on #811
Seems like a good idea to me. With the recent changes to the bookmark command, the ability to react to an embed to receive a bookmark, I don't feel like it would be too spammy either.

Whoever looks into implementing this can take a look at the issue command `bot.exts.evergreen.issues` to see how it does it. Specifically the `whitelist_override` decorator.

[2021-08-20 09:13] gitautas opened #812 "Uwuification unsatisfactory."
## Description and reasoning

The current uwuification algorithm is very simple and frankly unsatisfactory, as there have been many recent advances in the field of uwuification I believe that Sir Lancebot would be greatly improved by the addition of a more feature-rich uwugorithm.

## Proposed Implementation

I personally have written a more advanced [uwuifier](https://github.com/gitautas/slowo) i

[2021-08-20 09:21] HassanAbouelela commented on #812
Hey! Congrats on finishing your project!

I’m not personally in favor of this idea. There are costs to implementing any feature, which most people don’t consider. The most obvious costs are implementation, and review, but the more expensive ones are maintenance.

I really don’t care all that much about this command, and I don’t think it’s worth investing effort into making it some super generator

[2021-08-20 09:24] gitautas commented on #812
That's a valid concern, I personally believe that it's a fine feature, also with things like this, once they're up and running, maintenance isn't a real burden since there are no additional dependencies and there would be a single call to a black box which alters a string, not exactly a towering monolith of complexity. I'd personally be more interested in seeing the project grow, not regress in te

[2021-08-20 13:23] JacobMonck commented on #812
I have to agree with Scale on this one, I think it will take way too much time and effort for just one command that only a few people will use. I don't see a problem with the current implementation honestly.

[2021-08-20 13:31] MrHemlock commented on #812
I disagree with this.  Lancebot is, at its whole, a fun bot.  If people want to improve on existing things, more power to them.

I've read the code for the implementation @gitautas wrote up.  Since it uses all built-ins and execution/processing time is minimal, there is very little strain on the system itself.  @gitautas Has also mentioned (in voice chat) that they are more than willing to make it

[2021-08-21 15:24] #715 closed

[2021-08-23 07:10] Xithrius commented on #238
@MrKomodoDragon @Kronifer what's your status on this feature?

[2021-08-23 07:11] Xithrius commented on #325
@LeptoFlare Will you be able to continue the development of this feature?

[2021-08-23 07:13] Xithrius commented on #384
@ChrisLovering looks like this can be worked on. Would you like to go ahead?

[2021-08-23 07:14] Xithrius commented on #746
@PseudoCodeNerd @Joe-Sin7h Sorry for being a year late, would either of you like to still work on this?

[2021-08-23 07:16] Xithrius commented on #436
@gustavwilliam How's this feature going?

[2021-08-23 07:21] Xithrius commented on #437
I've seen people spam on purpose and I've tried reproducing myself, the bug no longer seems to exist.

[2021-08-23 07:21] #437 closed

[2021-08-23 07:34] Xithrius commented on #489
@hedyhli Greetings. I seem to be around a year late to this, but would you still like to implement this fix?

[2021-08-23 07:34] Xithrius commented on #494
@aaravm4 How's it going?

[2021-08-23 07:35] Xithrius commented on #502
@aaravm4 will you be able to output a PR?

[2021-08-23 07:38] Xithrius commented on #513
Unfortunately I'm not for this issue as we're usually against "gamifying" commands where a number can go up over time if a user triggers a command.

We only have a limited amount of API calls to Wolfram, and I'd rather not hit the ratelimits of such a powerful command.

[2021-08-23 07:38] #513 closed

[2021-08-23 07:46] Xithrius commented on #527
Given that smartconfig may not be worked on until later this year, @HassanAbouelela would you like to have a crack again at cleaning up constants.py?

[2021-08-23 07:50] Xithrius commented on #551
@Inheritanc-e how's this feature going?

[2021-08-23 07:53] Xithrius commented on #581
What's the verdict of this issue?

[2021-08-23 07:55] Xithrius commented on #594
@ChrisLovering how's the 1 concurrent command at a time feature going?

[2021-08-23 07:57] ChrisLovering commented on #384
I don't think this is relevant any more, we change the log levels as needed if we a sentry report come in at a wrong level.

[2021-08-23 07:58] ChrisLovering commented on #594
Ah, I did not realise I was still assigned to this one, it's up for grand for anyone to work on

[2021-08-23 08:53] Xithrius commented on #652
Stalled because of quackstack

[2021-08-23 08:55] Xithrius commented on #670
@D0rs4n you can go ahead and take this once that PR is merged. Should be done sometime soon.

[2021-08-23 08:56] Xithrius commented on #677
Given that the author hasn't responded to the ping, this issue is now up for grabs.

[2021-08-23 08:57] Xithrius commented on #706
@ToxicKidz is this being done, or should I make this up for grabs?

[2021-08-23 08:58] Xithrius commented on #707
@vcokltfre Greetings. I hope you've been doing well. Are you still planning on doing this feature?

[2021-08-23 08:59] Xithrius commented on #710
@ChrisLovering @vcokltfre #597 is now merged, this can be done.

[2021-08-23 09:01] Xithrius commented on #730
The author doesn't seem to be active in GitHub, and hasn't responded to the ping.

This issue is now up for grabs.

[2021-08-23 09:01] Xithrius commented on #743
@D0rs4n Is this currently being worked on?

[2021-08-23 09:02] Xithrius commented on #772
@OculusMode what's your status on this fix?

[2021-08-23 09:04] Xithrius commented on #783
I'm worried about how much computational power this would take.

@HassanAbouelela random poke, what do you think about this?

[2021-08-23 09:05] Xithrius commented on #787
@VikranthMaster I think the planning stage is done, would you like to implement this?

[2021-08-23 09:07] #793 closed

[2021-08-23 09:09] Xithrius commented on #797
We're thinking of slimming down the stackoverflow command because it looks like a dumpster fire on mobile, so I'm going to mark this as stalled until we fix that up.

Planning can continue, if possible.

[2021-08-23 09:10] Xithrius commented on #811
I've approved this, anyone can take this up.

[2021-08-23 09:13] Xithrius commented on #620
I have checked more websites, and the dates do indeed seem correct.

[2021-08-23 09:13] #620 closed

[2021-08-23 09:14] Xithrius commented on #615
For people on android, does this bug still exist?

[2021-08-23 09:15] Xithrius commented on #612
@InvisibleOS Can you make a PR with your feature so we can start reviewing it?

[2021-08-23 09:17] D0rs4n commented on #743
Yes, it is. Unfortunately, I'm waiting for the same [PR(merge issues into GithubInfo cog)](https://github.com/python-discord/sir-lancebot/pull/778) to be merged. That PR was also gonna introduce minor bug fixes in the `.issue` command, but it was removed.

[2021-08-23 09:18] Xithrius commented on #611
I think this falls under the same reasoning of if https://github.com/python-discord/sir-lancebot/issues/451 should be kept open as well. Codespaces are now paid for, so not many users are going to have this as an advantage.

My point is: should we implement codespaces at all? @HassanAbouelela @Kronifer please give me your opinions.

[2021-08-23 09:19] Xithrius commented on #743
Ah yes, we're just waiting on Toxic to fix things up and we should be good.

[2021-08-23 09:19] Xithrius commented on #384
Alright then. Thanks for the information.

[2021-08-23 09:19] D0rs4n commented on #743
OK, I'll push my PR**s** right after it is merged! 👍

[2021-08-23 09:19] #384 closed

[2021-08-23 09:20] Xithrius commented on #743
Very cool.

[2021-08-23 09:44] Shivansh-007 commented on #652
If we decide to use the quackstack API, there shouldn't be any reason to stall this issue and it can be worked on. Otherwise, if we decide to use quackstack via a PyPI package and generate the duck images ourselves, we would need to wait for python-discord/quackstack#52.

There are downsides to both of them, if we use the API, anyone wanting to run the quack command on sir-Lancelot would need to h

[2021-08-23 09:46] Xithrius commented on #652
I think we should wait for quackstack to be contained within a package.

[2021-08-23 09:51] ChrisLovering commented on #652
Does quackstack not support api requests from the public? I don't understand why someone would need a version of quackstack running locally.

[2021-08-23 09:51] Shivansh-007 commented on #652
🤦🏾 You are right.

[2021-08-23 09:52] ChrisLovering commented on #652
It would be nice to have sirlance use the internal cluster route in production, but then use the public api endpoint for local dev, just to save egress/ingress from the cluster

[2021-08-23 09:53] Xithrius commented on #652
If we have those public API requests, that solves all our problems. Let's just go with that for now.

[2021-08-23 09:56] Xithrius commented on #652
Whoever wants to pick this issue up, you're free to do so. Ping a core dev and we'll assign.

You can find all the docs stuff here: <https://quackstack.pythondiscord.com/docs>.

[2021-08-23 12:30] hedyhli commented on #489
@Xithrius I'm not sure I'll have the time, and I haven't worked with the codebase for quite a while so I might need some getting use to.

Also (for hacktoberfest stats/prs), this year's hacktoberfest (if it's happening) probably doesn't need the "first 3 days counts even if it doesn't haven hacktoberfest label" anymore. Again, I haven't been on discord for a long time nor have I seen the commits a

[2021-08-23 14:54] Kronifer commented on #652
@Xithrius I'll take this on

[2021-08-23 14:54] VikranthMaster commented on #787
@Xithrius I thought u guys implemented it already

[2021-08-23 14:57] Kronifer commented on #611
I think either way works. It would be nice to have dependencies installed right off the bat, but at the same time it isn't hard to install them

[2021-08-23 14:58] Kronifer commented on #238
I don't think it's happening at the moment

[2021-08-23 15:35] Inheritanc-e commented on #551
Its in the testing phase and nearly done

[2021-08-23 15:37] LeptoFlare commented on #325
I am looking to complete this during October !

[2021-08-23 18:38] Xithrius commented on #489
Alright, I'll leave it up for grabs for now.

[2021-08-23 18:39] Xithrius commented on #652
@Kronifer Very well.

[2021-08-23 18:39] Xithrius commented on #787
Have we? Let me check.

[2021-08-23 18:40] Xithrius commented on #787
@VikranthMaster We have not.

[2021-08-23 18:40] Xithrius commented on #551
Very well.

[2021-08-23 18:41] Xithrius commented on #325
@LeptoFlare Thanks!

[2021-08-23 18:44] doublevcodes commented on #787
I think `discord.Message.created_at` is tz aware, is it not?

[2021-08-23 18:55] ChrisLovering commented on #787
It is tz-aware yes, but that just means that it includes the tzinfo that it's UTC, it does not include the timezone of the invoker.

[2021-08-23 19:12] TizzySaurus commented on #612
@InvisibleOS has stated on discord that they'd like someone else to take over, so I'll do so. Have reassigned the issue accordingly

[2021-08-23 19:14] doublevcodes commented on #787
Ah ok thanks, I misunderstood. I obviously need to go change some code I've written. 😅

[2021-08-23 22:04] Objectivitix opened #815 "Quiz command: 30 - 70 new questions to the Python category"
## Description
Add 30 to 70 (tbd, we're making the q/a pairs currently as we speak) new question/answer pairs to the Python category. They will range from easier topics such as dunder methods for container classes, to harder and more obscure ones like whether `__prepare__` in a metaclass should be an instance, static, or class method.

The subsequent PR, if this issue is approved, will also add so

[2021-08-24 12:08] wookie184 opened #817 "Limit internal eval command to bot owner"
## Description

In https://github.com/python-discord/bot/issues/1683 we decided to limit the internal eval command to owners if the bot is in debug mode, it would probably make sense to do a similar thing for sir-lancebot.
We already have a debug constant that seems to default to true
https://github.com/python-discord/sir-lancebot/blob/0a1b7b4bedbb6c19ad572869b57b466adae66b4a/bot/constants.py#L137

[2021-08-24 12:20] VikranthMaster commented on #787
@Xithrius No offense would love to Implement but my exams are going on currently..so..sorry 😔

[2021-08-24 19:34] Xithrius commented on #787
@VikranthMaster Good luck with your exams!

[2021-08-25 04:56] VikranthMaster commented on #787
Thanks :) I will :)

[2021-08-26 14:52] ChrisLovering opened #819 "Improve the error message when .bm fails to convert a message id"
## Description

I propose that we change the error message given to users when they run the bookmark command and it fails to find the message they specified.

## Reasoning

Users sometimes assume that just giving a message ID to the bookmark command is enough to bookmark a message, even if it's in another channel.

However, if the message they are trying to bookmark is in another channel the comma

[2021-08-27 13:21] KittyBorgX opened #821 "Add anaconda snake to the snake hatch command"
## Description
Since python, the language is named after a snake and anaconda, a very famous data science platform for python also goes by the name of a snake, my idea was to implement an anaconda snake to the .snake hatch command

## Reasoning
The extra snake gives a more possible or a rarer chance to own the snake in the discord server and people hatch snakes all the time in #sir-lancebot-playgr

[2021-08-27 18:38] DMFriends opened #823 "Add Mastermind game command"
## Description

For those who don't know what Mastermind is, it is a 2 player game, where 1 of the players is the "codemaker" and the other is the "codebreaker". The codemaker thinks of a combination (code) that consists of 4 different colors. Then, the codebreaker tries to guess the codemaker's code.
Here is a complete list of rules: https://magisterrex.files.wordpress.com/2014/07/mastermindrules