[2018-10-02 18:11] heavysaturn opened #1 "Set up some simple Discord bot boilerplate."
Get a simple discord.py bot running on rewrite. We will be filling it with fun cogs during Hacktober, as our event handlers and staff come up with worthy challenges and post them as issues.

[2018-10-02 18:29] LordHemlock commented on #1
I'll take care of it when I get home.

[2018-10-03 07:30] heavysaturn opened #3 "Implement pipenv, and write documentation."
This bot should be using the excellent `pipenv` instead of `requirements.txt`, but because the former is less known than the latter, it is important that we also write documentation explaining exactly how to get this project set up.

This issue asks that you create a pipfile, then write the documentation in this repos wiki to explain what pipenv is, and how to use it for this project. The article

[2018-10-03 18:46] heavysaturn commented on #1
Solved by Natsu in #2

[2018-10-03 18:46] #1 closed

[2018-10-03 20:35] sco1 commented on #3
I'll give this a whirl.

Which version of Python should be required for hacktoberbot? 3.6 or 3.7?

[2018-10-03 21:22] sco1 commented on #3
I can't edit this project's wiki so I've added a draft to my fork for review:

https://github.com/sco1/hacktoberbot/wiki/Hacktoberbot-and-Pipenv

[2018-10-04 17:11] sco1 opened #5 "[Feature Request] Logging"
Logging events and errors while an application is running is extremely useful for tasks like diagnosing issues and analyzing usage patterns.

Python's [`logging` library](https://docs.python.org/3/library/logging.html) provides a great built-in tool to enable application-level logging. Python's documentation also offers a [comprehensive series of tutorials](https://docs.python.org/3/howto/logging.

[2018-10-04 17:20] sco1 opened #6 "[Feature Request] October PR User Stats Command"
Hacktoberfest provides both a [global statistics page](https://hacktoberfest.digitalocean.com/stats) (which seems broken atm) and a [per-user statistics page ](https://hacktoberfest.digitalocean.com/stats/sco1) summarizing PR contributions during the event.

This proposed feature:

- [x] Query GitHub's API for user PR contributions during the month of October
- [x] Generate user statistics similar

[2018-10-04 17:21] sco1 commented on #6
A proof of concept cog has been generated, pending request review & approval:

![image](https://user-images.githubusercontent.com/5323929/46491328-6a97d980-c7d8-11e8-9dce-66fb7d24bb3c.png)

[2018-10-05 20:36] jodth07 opened #8 "[Feature Request] Random spooky gif"
This feature is a command to the bot that will automatically spit out a spooky, scary, Halloweeny gif.
This is similar to hugs, and hand shake gif bot commands, as see below.

<img width="498" alt="screen shot 2018-10-07 at 1 06 53 pm" src="https://user-images.githubusercontent.com/8127555/46584503-2c95f200-ca32-11e8-9e2e-dac72fca3fb8.png">

- [ ] get a list of spooky ... gifs
- [ ] generate a ran

[2018-10-05 20:40] jodth07 opened #9 "[Feature Request] Random scary movie generator"
The goal of this tasks is to access the OMDB API, and find movies that are scary / spooky, and make them searchable/accessible via the bot.
- [ ] generate a random movie tag scary and/or spooky
- [ ] should contain, title, main actors and image, and year
- [ ] should also link to OMDB
- [ ] Perhaps also a spookiness/scary rating

[2018-10-05 20:42] jodth07 opened #10 "[Feature Request] Spooky Nickname Changer"
Create a new feature for the bot called `halloweenify`. This is a version of our `hiphopify` feature, except it works a bit differently.
* Instead of being a moderation tool, the command can only be invoked upon yourself.
* When invoked, it randomly changes your own name to a scary spooky halloween name, and delivers a hiphopify-esque embed with a picture.
* The nickname change is not enforced in

[2018-10-05 20:43] jodth07 opened #11 "[Feature Request] Candy collection game"
In the spirit of halloween, let's go Trick or Treat in a form of a game:
This game will be a feature of the bot, where it will post a candy on main chat as an emoji (may want to use python emoji module, or other emoji sources or thumbnail image modules).

The first person who react to the emji will gets a candy if it's a treat, or a candy eating pumpkin that eats 5 to 10 of their candies. (Higher

[2018-10-05 20:49] jodth07 opened #12 "[Feature Request] Spooky 8-ball"
The goal of this task is to create an 8-ball that will generate random answers in a spookifying way, to support the halloween theme.

![screen shot 2018-10-07 at 2 04 29 pm](https://user-images.githubusercontent.com/8127555/46585252-87344b80-ca3c-11e8-83fb-ea04a0cc197e.png)

A user will ask a the bot a question via a command `!8ball, is discord python awesome?` and the bot will answer just like an

[2018-10-05 21:32] xedre opened #13 "Implement .gitignore"
Implement .gitignore for files to be ignored during push and pull

- [ ] implement .gitignore
- [ ] add logs to .gitignore

[2018-10-05 21:39] xedre opened #14 "A better readme"
The new README should include

- [x] Motivations
- [x] Commands
- [x] Getting started

[2018-10-05 22:27] ninexball commented on #5
I am interested in doing this

[2018-10-05 22:30] heavysaturn commented on #5
it's all yours!

[2018-10-05 22:40] GhostofGoes opened #15 "GitHub Pull Request template"
Add a template for pull requests. Ideally, this would have a checklist of the basic things the PR should have, and sections to fill in with content.

[GitHub's documentation](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)
[Examples of templates](https://github.com/stevemao/github-issue-templates)

[2018-10-05 22:44] GhostofGoes opened #16 "GitHub Issue templates"
Add templates for new issues.
* [ ] Bug reports
* [ ] Feature requests

These should be created in `.github/ISSUE_TEMPLATES`, and named `<template-name>.md`.

[GitHub's documentation](https://help.github.com/articles/creating-issue-templates-for-your-repository/)
[Examples of templates](https://github.com/stevemao/github-issue-templates)

[2018-10-05 22:56] GhostofGoes opened #17 "[Feature Request] Bot configuration"
Being able to configure the bot without having to modify the source code would enhance ease of use, and enable users to easily update the bot without worrying about their settings being overwritten. Having the settings in a single location improves discoverability and makes changes to the configuration quicker and easier.

Discussion items
* File format to use: INI, JSON, YAML, or other
* Should l

[2018-10-05 22:57] sco1 commented on #17
An example of the types of things we're looking to be configurable would be useful.

[2018-10-05 23:07] sco1 commented on #11
There needs to be some more details about what this game is about. What *is* the game? What are the objectives? How to people play?

[2018-10-05 23:12] GhostofGoes commented on #17
@sco1 Updated with some examples

[2018-10-06 01:07] WrightKD commented on #12
Hey , can I give this a shot ?

[2018-10-06 02:49] danieldeveloper001 commented on #16
@GhostofGoes, please, take a look at the templates on issue #19 and let me know if you like them!

[2018-10-06 02:50] danieldeveloper001 commented on #16
P.S.: I'm using the template myself to open the pull request :stuck_out_tongue:

[2018-10-06 03:29] danieldeveloper001 commented on #13
Please, take a look at pull request #20 and let me know it there is something that has to be changed!

[2018-10-06 05:48] akashsara commented on #9
Can I take this?

[2018-10-06 06:39] rgables commented on #9
I'd like to take a crack at this

[2018-10-06 09:58] heavysaturn commented on #13
hi @danieldeveloper001, and thanks for the pull request! I'm not entirely sure if you're a member of our discord community, if you are I'm sorry to say that this issue was already claimed by @xedre in the #event-hacktoberfest channel before your PR came in. If you are not, please note that we require all pull requests for this repo to be made by members of the community (this is explained in the `

[2018-10-06 12:34] danieldeveloper001 commented on #13
@heavysaturn, if his solution is better, that's fine, no hard feelings!
also, you're right, not a member right now, but I'll take a look at your community and maybe join it.

best regards!

[2018-10-06 22:08] markylon commented on #8
Could we get a more detailed description? Not sure if I should be creating something that spits out a random spooky gif or something which allows you to create a spooky gif.

[2018-10-06 22:11] markylon commented on #10
I'll tackle this, could you just confirm that https://www.empireonline.com/movies/features/best-horror-characters/ is a good source for the spooky names and images?

[2018-10-06 22:35] markylon commented on #10
Also, where do you suggest to store the JSON file?

[2018-10-07 11:40] jodth07 commented on #9
have at it @rgables

[2018-10-07 16:39] ByteCommander commented on #8
I would say fetching a random GIF from the web would be enough for this issue, just make sure it is spooky in some kind (and not NSFW).

[2018-10-08 09:50] heavysaturn commented on #8
yeah, fetch a random halloween or spooky themed gif from wherever you please, and post the url in the channel. make sure it's not porn. as simple as that.

[2018-10-08 09:52] heavysaturn commented on #10
okay, marking this as work in progress as @markylon has claimed it.

[2018-10-08 09:53] heavysaturn commented on #6
Closing the issue as this has already been merged.

[2018-10-08 09:53] #6 closed

[2018-10-08 10:08] heavysaturn opened #26 "[Feature Request] Candy collection game"
The hacktoberbot will randomly post a :candy: reaction on one of the latest messages in the #event-hacktober channel. The first user to click it, consumes it (which makes the bot remove both reactions). At any point, you can use the `.candy` command to view a leaderboard of who has collected the most candies.

Occasionally the bot will also post a :skull: reaction, and if the user who clicks this

[2018-10-08 10:08] heavysaturn commented on #11
We've discussed this a bit internally and come up with an implementation that might work. I will create a new issue for it, for the sake of clarity. #26

[2018-10-08 10:08] #11 closed

[2018-10-08 10:13] heavysaturn commented on #16
Solved in #19

[2018-10-08 10:13] #16 closed

[2018-10-08 10:26] heavysaturn opened #27 "[Feature Request] Spooky bot reactions!"
When someone in the channel uses the word spooky, the bot should automatically react to the message with a :ghost:.

## Implementation details

- [ ] Make a new cog for the bot
- [ ] In this cog, implement the `on_message` event, which will trigger every time the bot sees a new message.
- [ ] If the message contents contain the word `spooky` (or other halloween themed words), add an appropriate re

[2018-10-08 10:35] heavysaturn opened #28 "[Feature Request] Spooky voice channel sounds"
When the `.spookysound` command is triggered, the bot should connect to the hacktoberfest voice channel and play a spooky sound, such as ghosts oooing, chains rattling, or a bat fluttering its wings.

## Implementation details

- [ ] Find some spooky sound effects we can use for this. These **must** be licensed for free use.
- [ ] When the command is triggered, connect to the channel, play a rando

[2018-10-08 10:44] xedre commented on #17
I'd like to work on this if approved

[2018-10-08 10:44] martmists commented on #27
I'll see if I can implement this today

spooky -> 👻
skeleton/doot -> 💀
pumpkin/halloween -> 🎃

feel free to suggest more, I'll implement as many as I can

[2018-10-08 10:46] heavysaturn opened #29 "[Feature Request] Halloweenify my avatar"
When invoked, `.spookyavatar` should post a version of my avatar with the spookiness factor turned up to 11. Perhaps it adds stuff like bats or pumpkins to it, messes with colors to make it look more sinister, or draws evil symbols like pentagrams or skulls and crossbones on it in blood red.

## Implementation details

This implementation is intentionally left open to interpretation. How you modif

[2018-10-08 10:50] heavysaturn commented on #27
@martmists Maybe it'd be better if you handled one of the more difficult issues? this is way too easy for you, dude.

[2018-10-08 10:51] heavysaturn commented on #17
Let's wait a little bit with this one until some of the others have been merged, so we actually have some stuff to configure first. But it does seem reasonable apart from that.

[2018-10-08 10:58] lemonsaurus opened #30 "[Feature Request] Monster bio generator"
This command should take your nickname and your avatar and generate an embed that shows what kind of monster you are and all the horrors you have wrought upon this mortal plane.

## Implementation details

Build and return an embed which classifies the user as a type of monster, and lists that monsters characteristics. This should always return the same thing for the same user, so you'll need to u

[2018-10-08 11:12] mathsman5133 commented on #26
I'll give this one a shot tomorrow 😊 Might need a hand with json stuff but its all part of the fun 👍

[2018-10-08 11:12] heavysaturn opened #31 "[Feature Request] Vote for your favorite monster"
This command lists five classic Halloween monsters, and lets users vote for their favorite. You can also see a leaderboard for which monster is winning the vote.

The five monsters could be iconic monsters like Dracula, Frankenstein's Monster, The Creature from the Black Lagoon, Cthulu, and so on.

Users can view the list of candidates, vote for the monster they prefer, and change their vote if th

[2018-10-08 11:17] heavysaturn commented on #26
alright, it's all yours!

[2018-10-08 11:36] sco1 commented on #28
As a starting point in your search for free sounds with APIs:

- [Freesound](https://freesound.org/docs/api/)
- [Google Sound Library](https://developers.google.com/actions/tools/sound-library/)
- [BBC Sound Effects](http://bbcsfx.acropolis.org.uk) (advanced)

[2018-10-08 23:35] jodth07 opened #32 "[Feature Request] Interesting Halloween facts"
Have you ever wanted to get random interesting (Maybe) facts about Halloween, the month of October and other related things?

## General info

Well, you have come to the right place. Instead of looking for these facts, you get to create a list containing those facts that can be posted by the bot, as in:
`Your daily random information about Halloween:  Did you know that Halloween's  origins date ba

[2018-10-09 09:56] markylon commented on #8
Ready to PR after #34

[2018-10-09 13:34] jodth07 commented on #32
you can have it post multiple facts daily, and the command is there just to recall the last fact posted.

[2018-10-09 15:40] sco1 commented on #28
Another possible option as a learning exercise for the Spotify API:

* [Stranger Things Halloween Sounds From The Upside Down](https://open.spotify.com/album/75CmkjqYUefIuXg649pKKJ)

[2018-10-09 21:11] heavysaturn commented on #8
I feel like you referenced the wrong issue, @markylon. This is for a spooky gif, not for halloweenifying nicknames.

[2018-10-09 21:14] #13 closed

[2018-10-09 21:14] #14 closed

[2018-10-09 21:16] heavysaturn commented on #5
Solved in #22

[2018-10-09 21:16] #5 closed

[2018-10-10 08:31] hundredrab commented on #27
Hi, could I take this up?

[2018-10-10 09:42] heavysaturn commented on #10
solved in #34

[2018-10-10 09:42] #10 closed

[2018-10-10 09:42] heavysaturn commented on #9
solved in #23

[2018-10-10 09:42] #9 closed

[2018-10-10 10:27] gables opened #38 "Replace requests with aiohttp in Scary Movie Generator"
## Description

The scary movie generator cog (PR #23) was written using requests, which can cause blocking with asyncio.  The api calls to TMDb need to be made using aiohttp instead.

Thanks @meooow25 !

[2018-10-10 10:29] rgables commented on #38
I'll work on this tomorrow

[2018-10-10 11:52] gdude2002 opened #39 "Bot startup logic is in the wrong file"
Pretty simple - as per the standard, when you start the bot using `-m` - as in, as a module - Python looks for a `__main__.py` to run. Instead of this, we have all of the bot startup logic in `__init__.py`.

[2018-10-10 11:56] sco1 commented on #39
I'm assuming you mean `bot.py`? `__init.py__` only contains the logging initialization.

[2018-10-10 12:30] gdude2002 commented on #39
Ah, you're right, `bot.py`. Either way, if we're just running that directly then the `Pipfile` is incorrect, as it actually just runs the module.

[2018-10-10 13:17] gdude2002 commented on #39
I'm gonna take it because I've got changes pending that need this

[2018-10-10 16:13] LordHemlock commented on #38
We'll need to make sure that aiohttp is properly added to the pipfile so that it gets installed properly when we deploy the bot.

[2018-10-10 16:57] sco1 commented on #38
aiohttp is a requirement for d.py

________________________________
From: Daniel Brown <notifications@github.com>
Sent: Wednesday, October 10, 2018 12:14:23 PM
To: discord-python/hacktoberbot
Cc: Subscribed
Subject: Re: [discord-python/hacktoberbot] Replace requests with aiohttp in Scary Movie Generator (#38)

We'll need to make sure that aiohttp is properly added to the pipfile so that it gets in

[2018-10-10 16:59] LordHemlock commented on #38
Doh.  Right.

[2018-10-11 09:45] heavysaturn commented on #38
the bot breaks quite spectacularly without this so I don't think we can wait for it.

[2018-10-11 10:22] #38 closed, assigned to nobody

[2018-10-11 18:50] #27 closed

[2018-10-11 19:15] hundredrab commented on #31
I'll be working on this next if that's okay.

[2018-10-11 20:57] dfitzpatrick commented on #31
Hey hundredrab, I started some work too (should have posted.) Do you want to work on the vote function? I currently have the logic to display the monsters and show details.

[2018-10-12 01:18] hundredrab commented on #31
@dfitzpatrick, sure thing!

[2018-10-12 10:01] sco1 opened #44 "[Enhancement Request] Per-User Hacktoberfest Stats Configuration"
Currently, the `hacktoberstats` cog is only able to query a GH name explicitly provided on command invocation.

The following enhancements are proposed:

- [ ] Add a `.stats link github_username` subcommand to link the invoking user with their `github_username`. This should overwrite any existing links.
- [ ] Write this registration to a local JSON file
- [ ] If `.stats` is invoked without a usern

[2018-10-12 10:02] gdude2002 commented on #44
Note: If writing any files, they should be placed within a subdirectory so I can map the volume in deployment

[2018-10-12 11:47] IgnatiusFlo commented on #15
Hello, I'm very much a beginner but I'll have a stab at this.

[2018-10-12 11:49] jodth07 commented on #44
sounds fun

[2018-10-12 12:39] IgnatiusFlo commented on #15
I have created a generic form for PRs. Could you let me know what specific criteria you'd like met for each tick box?

Cheers

[2018-10-12 13:39] sco1 commented on #44
I'll work on this today

[2018-10-12 14:46] meooow25 commented on #28
I'd like to take this up :D

[2018-10-12 18:56] Rahisulhaque commented on #32
I can do that too!

[2018-10-13 14:35] meooow25 commented on #32
@Rahisulhaque the PR has been merged. Perhaps you would like to take up another issue.
This issue should be closed, thanks.

[2018-10-13 15:36] hundredrab commented on #29
Working on this.

[2018-10-13 15:38] hundredrab commented on #31
Abandoning, since others have been working on this.

[2018-10-13 19:12] jos-b commented on #15
Added in #49

[2018-10-13 19:12] #15 closed

[2018-10-13 19:16] jos-b commented on #32
Added in #36

[2018-10-13 19:16] #32 closed

[2018-10-15 17:57] RohanJnr opened #54 "[Feature Request] Spooky rating"
This command would genrate a random spooky rating from a range of 1-100 [or any other range].It would play display a hallooween character picture according to the rating given [like witch,dracula,etc etc]

***Implementation details***
1. To build a function which would generate a random number in the range 1-100 [or any other range] which would resemble the spooky rating of the user.
2. The rating

[2018-10-16 00:13] jodth07 commented on #12
Hey @WrightKD how is it coming? Are you still working on this?

[2018-10-16 04:50] RohanJnr commented on #54
I think giving a cool down time for this would be good ! so the user is locked to one rating for certain amount of time.

[2018-10-16 04:59] RohanJnr commented on #54
And also i could make a nice embed which would contain all the users with their rating in the descending order....

[2018-10-16 16:39] jodth07 commented on #54
that sounds good. Have at it.

[2018-10-16 17:04] RohanJnr commented on #54
Thanks Mate !

[2018-10-25 09:01] heavysaturn commented on #17
yep!

[2018-10-25 09:08] xedre commented on #17
Okay working on it

[2018-10-25 16:55] jodth07 opened #57 "[Feature Request] How long till end of hacktoberFest?"
Would you not like to know how long you have left to create a PR before it's too late?

![maxresdefault](https://user-images.githubusercontent.com/8127555/47517053-07d4b380-d855-11e8-9a53-75e580931cab.jpg)

Well, you can answer that question by creating this simple but awesome PR.

This is a simple feature request, that calculate the amount of time left till end of hacktoberFest.

## Implementatio

[2018-10-25 17:24] jodth07 opened #58 "[Feature Request] how many PR left?"
### Is it still possible for you to get a t-shirt for completing 5 PRs now?
In order to find that out, we want to know how maybe has been completed, and how many are left. Therefore, we have proposed the create of this Feature Request, which will tell us these info whenever we want to know, as we are pushing towards the finish line.

<img width="1423" alt="screen shot 2018-10-25 at 1 30 42 pm" src

[2018-10-26 13:31] tejasvee98 commented on #57
Hey, can I work on this issue?

[2018-10-29 17:58] JoshuaRM commented on #57
Not sure if @tejasvee98, but I will take this up as well. If they have worked on it/completed it, it is okay, eager to work this

[2018-10-31 12:54] ByteCommander commented on #31
Adding link: PR for this is on #48

[2018-11-17 12:59] pydis-bot opened #312 "#esoteric-python Cog"
**Originally posted by Shawn McLaughlin:**

**TLDR** I believe that the #esoteric-python channel could benefit from some bot commands.

---

Of course, we currently only have a handful of users who actively participate in challenges every week, so the usefulness of this can be debated. I do think though that if we deem this unworthy for the moment that we should reconsider at a later date if I man

[2018-11-17 13:22] pydis-bot opened #93 "Write a roll function for the Fun cog"
**Originally posted by Gareth Coles:**

Originally submitted by **Automation** to ClickUp:

---

**Volcyy** commented:

[2018-11-19 18:17] sco1 commented on #17
Being tackled now as part of #64

[2018-11-20 12:35] sco1 commented on #26
Merged in #33

[2018-11-20 12:35] #26 closed

[2018-11-20 12:35] sco1 commented on #31
Merged in #48, #67

[2018-11-20 12:35] #31 closed

[2018-11-20 12:38] sco1 commented on #29
Merged in #56

[2018-11-20 12:38] #29 closed

[2018-11-20 13:11] sco1 commented on #28
Merged in #51

[2018-11-20 13:11] #28 closed

[2018-11-20 13:12] #17 closed

[2018-11-20 14:15] heavysaturn commented on #8
resolved in #37

[2018-11-20 14:15] #8 closed

[2018-11-20 19:40] heavysaturn opened #68 "[Feature Request] All halloween commands should use bot.typing where appropriate."
Currently the bot does not do `with bot.typing` while calculating its response on many of the halloween-related commands. Someone should go through all commands and implement this where appropriate.

[2018-11-20 19:48] sco1 commented on #68
Before or after #64 is merged?

[2018-11-20 19:49] heavysaturn commented on #68
I don't mind, feel free to push to my branch if you wanna do it.

[2018-11-21 12:00] #68 closed

[2018-11-23 14:37] heavysaturn opened #71 "Season change improvements."
When the bot changes the season, it should make an announcement and change the server icon to match its new avatar. It is important that this **does not** happen during testing, only during production.

## Implementation details

- [ ] When the season changes, the bot should change the server icon.
- [ ] Instead of storing the icons in this repo, we should be getting them out of the [branding](htt

[2018-11-23 15:15] lemonsaurus opened #72 "[Meta] Ideas for seasons"
The Season system will only be fun if we have many seasons occurring all throughout the year. Let's use this issue to come up with a couple of ideas. Please use the following format:

**Halloween**
**Bot name**: SpookyBot
**Start**: 1st of October
**End**: 1st of November

[2018-11-23 15:15] heavysaturn commented on #72
**Thanksgiving**
**Bot name**: GratefulBot
**Start**: 1st of November
**End**: 1st of December

[2018-11-23 15:15] heavysaturn commented on #72
**Christmas**
**Bot name**: MerryBot
**Start**: 1st of December
**End**: 1st of January

[2018-11-23 15:15] heavysaturn commented on #72
**Winter**
**Bot name**: WinterBot
**Start**: 1st of January
**End**: 1st of February

[2018-11-23 15:15] heavysaturn commented on #72
**Valentine**
**Bot name**: TenderBot
**Start**: 1st of February
**End**: 1st of March

[2018-11-23 15:17] heavysaturn commented on #72
For the record I'm not really sure about winterbots and thanksgivingbots, no idea what they'd do. maybe we should only have a season every second month.

[2018-11-23 15:40] ImportErr commented on #72
**Summer**
**Bot name**: SwelterBot
**Start**: 1st of June
**End**: 1st of July

[2018-11-23 15:46] ByteCommander commented on #72
**Summer**
**Bot name:** SummerBot / VacationBot / HolidayBot / TravelBot / SchoolsOutBot
**Start:** 1st of August
**End:** 1st of September

[2018-11-23 15:48] ByteCommander commented on #72
**Independence day**
**Bot name:** IndependenceBot / HistoryBot
**Start:** 1st of June
**End:** 1st of July

[2018-11-23 15:58] sco1 opened #73 "[Feature Request] Seasonal information"
This should add a year-round feature for the bot that responds with the current season (by hemisphere), and time to the next season.

| Start Date         | End Date          | Northern Hemisphere Season | Southern Hemisphere Season |
| :-:                       | :-:                     | :-:                                                | :-:                                               |
| 20

[2018-11-23 16:03] sco1 opened #74 "[Feature Request] Hanukkah Embed"
While Hannukah is ongoing, when this command is invoked the bot should respond with an ASCII (or emoji) menorah depicting where we are in the holiday.

If the holiday hasn't yet begun, the bot should respond with how much time is left before it begins.

https://en.wikipedia.org/wiki/Hanukkah

[2018-11-23 16:08] sco1 opened #75 "[Feature Request] Be My Valentine"
As is traditional on Valentine's day, users can request that the bot send a Valentine to another user. This can be something cheesy, something sweet, or even a poem! The command should be able to send a user-specified valentine, or pick one randomly from a set if one is not provided. This command should have a cooldown.

Another possible option could allow a user to DM a valentine to be given anon

[2018-11-23 16:15] heavysaturn commented on #72
april could be an easter thingy, but at that point we've got a pretty christian looking calendar.

Independence day is a very american thing, not sure that goes with out mostly EU server makeup.

[2018-11-23 16:40] heavysaturn commented on #72
Maybe `SizzleBot`? `BeachBot`?

[2018-11-26 12:12] heavysaturn opened #77 "Create a new avatar for valentines"
We need an avatar that the bot will use during February, when we celebrate love!

[2018-11-26 12:12] heavysaturn commented on #77
Actually, this should be on the brandings repo.

[2018-11-26 12:12] #77 closed

[2018-11-30 11:01] scragly opened #78 "Christmas avatar image isn't vertically centred."
## Description

`avatars/christmas.png` resource isn't vertically centred.

## Steps to Reproduce
Open manually or change the bot avatar to that specific image.

## Expected Behavior
![image](https://user-images.githubusercontent.com/29337040/49285305-d057c780-f4e2-11e8-98fb-d3e2dbacb861.png)

## Actual Behavior
![image](https://user-images.githubusercontent.com/29337040/49285322-db125c80-f4e2-11e

[2018-12-02 20:03] heavysaturn opened #83 "Deliver a notification when bot has started - like Python."
Right now, there's no easy way to check if the bot has restarted (you'd have to keep doing `.uptime`). Python delivers an embed into #dev-logs when it starts, we should probably be doing that for this bot as well.

[2018-12-02 21:01] heavysaturn opened #84 "Update CONTRIBUTING.md with commit quality expectations"
We should update `CONTRIBUTING.md` with a section that explains our expectations towards commit message quality and what should constitute a commit.

For example:
- You should write a good commit message for every commit. Not just `maybe it'll work now`.
- You should not be committing linting fixes because the build failed, just use a git hook and lint on pre-commit! There is info on how to do thi

[2018-12-03 02:29] scragly commented on #83
I figured it would be good to make a devlog each time a season is loaded, so:
- Restarts
- Start of new seasons
- End of seasons, on reverting to `evergreen`

We also can have it use the exact module name of the loaded season, meaning if a future season has multiple words it would show as snake_case, as the module is:
![image](https://user-images.githubusercontent.com/29337040/49348386-d622f800-f6

[2018-12-04 19:05] #71 closed

[2018-12-06 18:10] #83 closed

[2018-12-29 09:20] heavysaturn commented on #72
I watched Nightmare Before Christmas during the holidays (as one does), and was reminded of this discussion when I saw these doors that Jack finds in the forest:

![image](https://user-images.githubusercontent.com/2098517/50536275-f9579080-0b52-11e9-8d7b-cd2de5650420.png)

One for each major holiday. Now, this is a pretty american set of holidays - Easter, Independence Day, St Patricks, Valentines

[2019-02-03 15:55] AnonGuy opened #96 "[Feature Request] Love Calculator!"
Create a bot command that calculates an affinity value based on two users: The author of the message and the user pinged by the message. This could be implemented by adding the two user IDs, and generating a percentage value from this.

![image](https://user-images.githubusercontent.com/25161069/52178931-1162a580-27cc-11e9-82e7-d03aa89ae975.png)

An example of this functionality can be seen here:

[2019-02-03 16:11] AnonGuy commented on #58
Closing until next October.

[2019-02-03 16:12] AnonGuy commented on #57
Closing until next October.

[2019-02-03 16:12] AnonGuy commented on #54
Closing until next October.

[2019-02-03 16:12] AnonGuy commented on #12
Closing until next October.

[2019-02-03 16:12] AnonGuy commented on #30
Closing until next October.

[2019-02-05 11:01] RohanJnr commented on #75
"The command should be able to send a user-specified valentine, or pick one randomly from a set if one is not provided."
-Whats that set? are people gonna enroll for the SET ? like people who are fine to be messaged by the bot etc etc?

[2019-02-05 12:06] heavysaturn opened #98 "test issue please ignore"

[2019-02-05 12:07] #98 closed

[2019-02-05 15:04] sco1 commented on #75
It's a static file prepopulated with some Valentine's messages that is to be created as part of this feature addition.

You can assume that there will be a role present for people to sign up as recipients. Subscribing/unsubscribing for this role (ID TBD) should be part of this feature.

[2019-02-05 15:12] RohanJnr commented on #75
okay,thanks !

[2019-02-05 16:19] sco1 commented on #75
When #99 is merged, `bot.constants.Lovefest.role_id` will contain a role (as `int`) that can be used for this feature.

[2019-02-06 04:48] jodth07 opened #101 "[Feature request] save the date"
Sometimes coming up with ideas for valentines day is tedious, (don't quote me on that), so to solve this problem we are going to create a bot that gives a random date idea.

## Implementation details

- [ ] Write the bot command `!savethedate` (open to other command names)
- [ ] Provide a random suggestion, for a valentines date (let your mind work).

!savetheDate

![0b862dd521d3a5bc140e6b780784a8

[2019-02-06 05:10] jodth07 opened #102 "[Feature request] whoisvalentine"
I have heard rumors about Saint Valentine, and the green hat, but I am not sure what is true or not. It would be nice if there was a bot that would tell me fact about this holiday and Saint Valentine, or even if they are related. who knows.

So for this bot creation, you will provide information from history, or today about Saint Valentine, as well as the Valentines day.

## Implementation details

[2019-02-06 07:52] MarkKoz opened #103 "Show how to run the bot as a module in the PyCharm tutorial"
The bot is meant to be ran as a module but the tutorial still shows it being ran via `bot.py`. The tutorial should be updated accordingly.

[2019-02-06 10:20] sco1 commented on #103
See: #99

[2019-02-06 13:37] RohanJnr commented on #101
I will do this !

[2019-02-06 14:12] sco1 commented on #103
Merged

[2019-02-06 14:12] #103 closed

[2019-02-06 19:41] MarkKoz commented on #103
Sorry, it didn't occur to me to look in the PRs too.

[2019-02-06 19:52] sco1 opened #104 "Add cog commands to README"
This project's README doesn't contain any information about the available commands. For this issue, go through all of the existing cogs and add their public commands, along with a brief description, to a new section in the README.

Current cogs:
- [ ] Evergreen
- [ ] Christmas
- [ ] Halloween

Note that there are currently no merged cogs for LoveFest, so these should be documented by the feature a

[2019-02-06 20:21] heavysaturn commented on #104
this quickly becomes an unmaintainable mess. I think the readme in earlier versions actually did document some of the halloween commands, but it was removed because it was incomplete and of very inconsistent quality.

[2019-02-06 20:22] #104 closed

[2019-02-09 03:55] #101 closed

[2019-02-09 15:18] RohanJnr commented on #102
I will do this!

[2019-02-09 15:27] RohanJnr commented on #102
never mind, Darth Delay#7475 is already working on it.

[2019-02-09 15:46] RohanJnr commented on #75
I will give this a shot !

[2019-02-11 01:59] jodth07 opened #107 "[Feature request] ValentineZodiac"
Have you ever wanted to know what zodiac sign you would be most compatible with? Well, this is your lucky day to find out.

This bot command will look at someone's zodiac sign, and give them the sign with which they are most compatible with. You can optionally provide the least compatible as well.

## Implementation details

- [ ] Write the bot command !partnerzodiac
- [ ] The command will take on

[2019-02-11 02:10] jodth07 opened #108 "[Feature request] myvalenstate"
Which country or state would be more befitting to me for a beautiful valentine, if could go there?

I would like you to write a bot, that based on my tag name, would find a state with the most matching characters. And that state will be my (probably) next valentine vacation spot.

## Implementation details

- [ ] Write the bot command !myvalenstate
- [ ] Return a state with the most matching chara

[2019-02-11 03:04] jodth07 opened #109 "[Feature request] Random romance movie generator"
Netfilx and chill, or just look up some old or new romantic movies to spend sometime with the one (or a one). But why spend the time to choose a movie, when you can have a bot choose it for you, and maybe enjoy that movie then chill?

For this bot command, you will pick a random romantic movie from the OMDB database. and provide some information about it to the requester. (could be you too, you ne

[2019-02-11 05:02] astieman commented on #93
I'm wiling to work on it.

[2019-02-12 00:23] DuckyQuack opened #110 "[Feature Request] List of reactions for each message in #show-your-projects"
So every message that is sent in the `#show-your-projects` channel, the bot sends this list of reactions in order:
👍 👎 ❤️ 🚩 👀
This can be changed any way you want, but essentially whenever someone posts a message showing their project, the bot immediately sends these reactions, so that people can quickly react with those emojis without looking for them in a menu. You can even have it so you turn o

[2019-02-12 00:33] jos-b commented on #110
I'm a little opposed to the idea of having a 👎 emoji on the messages. show-your-projects is frequently used by beginners to show off their first projects or whatever and if they post it and someone nasty reacts with a downvote then it could be quite demoralising.

If someone does have improvements to make to the project they should voice them in the discussion channel instead of just reacting with

[2019-02-12 00:38] DuckyQuack commented on #110
@jos-b Good point, the list of emojis are definitely not final, (there was another one I was thinking of: 👍  ❤️ 👀  ⭐️  🚩) but I want to see what more people think about a good list of reactions.

[2019-02-12 07:03] RohanJnr commented on #75
hey !
should we make the anonymous command DM specific only?

[2019-02-12 07:16] RohanJnr commented on #75
and another thing, will 30min be a good cooldown time?

[2019-02-13 01:39] sco1 commented on #75
Yes, it wouldn't be very anonymous otherwise

[2019-02-13 05:53] 3bodyZZ commented on #109
Do i have to specifically use OMDB API?

[2019-02-13 11:36] heavysaturn commented on #109
Sorry, actually you have to use TMDB. The reason for this is that it's already in use in the bot, and we have a token for it set up.

See https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/halloween/scarymovie.py for an example of a similar feature using TMDB.

[2019-02-14 15:18] 3bodyZZ commented on #109
Working on it !

[2019-02-16 01:01] sco1 commented on #96
Merged in #100

[2019-02-16 01:01] #96 closed

[2019-02-16 19:12] #109 closed

[2019-02-17 04:16] #93 closed

[2019-02-17 16:42] RohanJnr commented on #110
can i use "on_message" ?

[2019-02-17 17:06] RohanJnr commented on #110
I got this.

[2019-02-17 17:07] DuckyQuack commented on #110
one second, 👍 ❤️ 👀 🎉 🚀 ⭐️ 🚩  is the my decided list of emojis just so you know

[2019-02-17 17:09] RohanJnr commented on #110
oh okay,cool.
I too will look into those emojis and see if i can find something intresting.

[2019-02-17 17:09] sco1 commented on #110
Please wait for issues to have the "Approved" label before claiming

[2019-02-17 17:09] RohanJnr commented on #110
oh okay,got it.ill wait

[2019-02-17 17:11] RohanJnr commented on #107
I will take this one!

[2019-02-21 11:23] darthdelay commented on #108
I'll do that. However there's one question I need to ask. Should I take all countries of the world or just from a specific region, or am I free to choose what countries I use?

[2019-02-21 14:43] jodth07 commented on #108
@darthdelay Since there are about 195 + 3 countries in the world, (country-state) then, there are additional territories / dependencies. Excluding the substate divisions ( departments, us-states, etc ...)
So, to answer your question, YES, you are free to choose.

You may also create a subset thereof of beautiful states/cities/vacation destinations  as well.

[2019-02-21 19:43] #102 closed

[2019-02-23 22:02] sco1 opened #124 "[Feature Request] Magic 8 Ball"
The [Magic 8 Ball](https://en.m.wikipedia.org/wiki/Magic_8-Ball) has been helping folks answer life’s most difficult questions for decades, and it’s only fitting that Seasonalbot help us do the same!

![](https://user-images.githubusercontent.com/8127555/46585256-987d5800-ca3c-11e8-9f4d-9240e5b0b1a5.png)

This cog should accept any arbitrary question from the user and return sage wisdom from a pre

[2019-02-24 14:52] jodth07 opened #125 "[Feature Request] Cheesy pick-up lines"
Every once in a while, we have the urge to use the most cheesiest of pick up lines, for serious reasons, or just for fun. Lemon brought us an algorithm that you can use to create these cheesy lines ( which can be cheese base, milk base) or not.

- His algorithm goes as such :
hey baby did you `<weird thing>` because `<stupid pun>`
- example :
"hey baby are you allergic to dairy cause I laktose clo

[2019-02-24 15:38] glowingrunes commented on #124
First time in a seasonal event but I'd like to give this a go

[2019-02-25 14:49] sco1 opened #126 "Update Cogs for New d.py Changes"
d.py rewrite introduced some breaking changes to cogs in [caf3d17](https://github.com/Rapptz/discord.py/commit/caf3d17d4aa3ce45435bb96ea6d99317bfef8618) that need to be mitigated before we can bump our locked version of the library.

A [migration guide](https://discordpy.readthedocs.io/en/rewrite/migrating.html#cog-changes) can be found in the documentation.

[2019-02-26 03:40] #107 closed

[2019-02-27 08:46] #75 closed

[2019-02-28 07:56] jodth07 commented on #108
completed

[2019-02-28 09:03] heavysaturn opened #127 "[Feature Request] Love poem generator"
A command that uses Markov to generate a poem.

@martmists already started working on this, but the PR was closed for inactivity in https://github.com/python-discord/seasonalbot/pull/97.  Marty said he might have time to look at this some more in 4 weeks, so I'm assigning this ticket to him so we can get this finished at that time.

Here's what remains to be done with this:

- [ ] Fix all of the o

[2019-02-28 10:11] kazo2 commented on #72
Summer is June, July, and August, right?
3 Months is a lot for a single season so maybe it should just be stuck during July, the peak of summer.

[2019-02-28 10:12] SebastiaanZ commented on #72
From some of the discussions in staff meetings and meta:

**Saint Patrick's Day**
**Bot:** Cloverbot (Thanks, Grote)
**Start:** 1st of May
**End:** 31st of May

*Note: This overlaps almost perfectly with Ramadan in 2019. Could be a reason to include that as well, since it's a major event of a large part of the world.*

[2019-02-28 10:36] heavysaturn commented on #72
After some discussion in #meta, this seems like one that a lot of people agree could be good:

**Easter**
Issues here could be related to various easter celebration traditions, see https://www.getaway.co.za/event-blogs/festivals-events/countries-celebrate-easter-differently/. We could also have issues related to Earth Day and April Fools Day. The icon should be a yellow pydis logo.

**Bot:** Eggbo

[2019-02-28 10:42] heavysaturn opened #128 "Implement an Easter season."
As mentioned in #72 and after some discussion in #meta with the community and many members of staff, let's go ahead and make preparations for an Easter event starting in April.

[2019-02-28 10:47] SebastiaanZ commented on #72
So, that would mean our calendar would look like this for now:

- February: Tenderbot with Valentine's Day (and maybe something else)
- April: Easter, including Earth day and April Fools
- June: ?
- August: Possibly Summerbot, with summer-related/school's out for summer activities
- October: Hacktober
- December: Merrybot, with Advent of Code and midwinter features

[2019-02-28 11:11] kazo2 commented on #72
as gdude suggested and then many echo'd, June can be represented as pride month.

[2019-02-28 11:16] heavysaturn commented on #72
yep, we'll be looking into Pride for June. Stay tuned for more info.

[2019-02-28 11:27] kazo2 commented on #72
If I could repeat my own thoughts I expressed on it in #meta, I disagree on it's implementation as it isn't a universal holiday or season that everyone can relate to, from what I've gathered these events are supposed to be inclusive of everyone regardless of race, gender, sexuality, religion and region, but with pride month a part of the server's members would not be able to relate personally sinc

[2019-02-28 13:08] RohanJnr commented on #72
How about sports? Olympics? I bet there are a lot of sport loving people out there in our server. World cups of famous sports  and Olympics should be good.(esports too - by gdude).

[2019-03-03 15:32] AnonGuy opened #130 "Implement a Pride season."
After some discussion with staff and helpers, we've agreed on creating a pride season for June.

[2019-03-03 22:30] sco1 opened #131 "Migrate Snakes cog from Bot"
See: https://github.com/python-discord/bot/issues/327

Since there's no API support for the [Snakes cog](https://github.com/python-discord/bot/blob/master/bot/cogs/snakes.py) in the Django rewrite, this cog should be moved to [Seasonalbot](https://github.com/python-discord/seasonalbot) and refactored to use static resources rather than API calls.

[2019-03-05 16:13] jodth07 commented on #72
That is a good idea.

[2019-03-05 21:22] #108 closed

[2019-03-06 04:14] kazo2 commented on #130
I think it was in favor but nothing is final, I'm going to copypaste what i said in the other issue discussing seasons;

[2019-03-06 04:45] GhostofGoes commented on #130
You don't have to be LGBT enjoy pride month, just like you don't have to be a traditional sports fan to enjoy a sports themed season.

[2019-03-06 05:47] heavysaturn commented on #130
let's keep the discussion in the discussion issue. #72

Removing the previous comments.

[2019-03-06 12:33] heavysaturn opened #134 "Different bot and server icon for evergreen"
We now have a new icon for the SeasonalBot to use in lovely green colors. I did a terribly naive implementation of this so I could see it in action, but forgot that the bot would then change the server icon to green as well.

So - we need to be able to have the evergreen icon for the bot and the standard blue icon for the server during off-season periods, but the same avatar and icon during season

[2019-03-07 09:52] #134 closed

[2019-03-07 09:55] scragly opened #136 "Change omdb api usage to use tmdb."
The snakes extension was moved to this bot now, but it uses the omdb api.
We should adjust whatever uses omdb to use tmdb, which is already used in a halloween feature.

[2019-03-07 11:34] empathic-geek commented on #136
@scragly -  happy to attempt this, this will be my first issue. So please forgive if its slow...

[2019-03-07 16:25] sco1 opened #137 "Add flake8-docstrings"
Documentation is the answer to the ultimate question of life, the universe, and everything.

Let's add [`flake8-docstrings`](https://github.com/PyCQA/flake8-docstrings) to our repository to enforce adding docstrings to our functions.

Since the default docstring linting this provides is fairly strict, we will instead implement a (TBD) subset of the [error codes](http://www.pydocstyle.org/en/stable

[2019-03-09 11:23] #131 closed

[2019-03-13 06:50] PBJF commented on #72
International Dog Day
Bot name: DoggyBot
Start, end: 26th of August

[2019-03-13 06:52] PBJF commented on #72
Pi Day
Bot name: 3.14Bot
Start, end: 14th of March (Tommorow :P)

[2019-03-13 07:54] kazo2 commented on #72
not gonna happen this year 😛
takes a lot of planning to organize an event

[2019-03-13 08:46] PBJF commented on #72
this should be all-major event related?

[2019-03-13 10:29] heavysaturn commented on #72
I'm not opposed to having single-day events in addition to our seasons. That's not the focus on this particular issue, but it is something we might wanna talk about. Perhaps in a second issue?

For the record, I'd be open to having icons and maybe pingless announcements for these events, but it doesn't seem to make sense to have a _season_ for them with bot commands and event channels and all that

[2019-03-13 10:33] kazo2 commented on #72
ping me if you open another issue.
What would we even do for these single day events exactly?
Also why might it be pingless? it seems worthy of a ping of @announcements at least. You guys _have_ pinged over less 😛

[2019-03-13 10:42] scragly opened #139 "[Meta] Single-day events"
Spinning off from #72 and the meta channel in the server was the concept of single-day seasons.

The idea has been expressed before, and was actually something taken into consideration when re-designing the new seasonal event manager within the bot. At the least, I do remember testing to ensure that it could handle multiple seasons being active at the same time, and rough testing to make sure it c

[2019-03-13 10:43] scragly commented on #72
@kazo2 #139 is now created. Feel free to post questions, concerns, ideas over there regarding it.

[2019-03-13 10:49] heavysaturn commented on #139
I think Earth Day and Pi Day are both good ideas to start off with. Google does this kind of thing all throughout the year, and it's just plain fun. It also demonstrates that we're a happening place where things like the server icon can change at any time, and I think that helps draw people who aren't necessarily super active into our community. If the logo changes, it gives you a reason to click

[2019-03-13 11:25] RubenJ01 commented on #12
Id like to take a shot at this, if no one else has.

[2019-03-13 11:27] heavysaturn commented on #12
it's all yours,

[2019-03-13 20:50] kazo2 commented on #139
I like all these events but I think some of the names are a bit bland, I'm sure we could come up with something better than "FoolBot."
I'm also curious about what we would be doing for these events? Most people won't have enough time to make something for these events unless they were to span multiple days (which kind of defeats the purpose of a "single-day event.")
Are we just going for a purely

[2019-03-13 21:24] scragly commented on #139
Make sure you provide actually recommendations as it's not too constructive otherwise. The names aren't final by any measure, just the events are considered accepted as a good idea. If you have better names, let us know.

Why would people be limited to making something on the day of the event? Anyone is capable of seeing what's upcoming and adding relevant features in time for it.

In future, plea

[2019-03-14 04:58] Suhail6inkling commented on #125
I'd like to take a shot at this, if that's ok

[2019-03-14 05:59] kazo2 commented on #139
Didn't realize that was a problem.

That's not really a response, I don't think most people will be looking ahead of time for events, maybe instead it should be extended to a week to let more people prepare and know about it.

[2019-03-14 16:36] Suhail6inkling commented on #54
I'll take a shot at this too

[2019-03-14 21:49] Suhail6inkling commented on #57
Imma work on this too

[2019-03-17 02:43] jodth07 opened #143 "[Feature Request] Independence Day"
Well, for those who are interested in the global community of the worlds, a bit of information could do us good.
The idea for this bot is to provide information about countries, and their independence date, as well as some additional information.

If the current day is the anniversary of a country, the command should provide that, and it can also provide dates for countries, if the name of the cou

[2019-03-17 09:04] heavysaturn commented on #139
I think most of these events will indeed be purely cosmetic - a server icon and a bot name - but like @scragly said, it's entirely possible to make an Earth Day feature (or whatever) at any point during the year and then have it be available the next time the event rolls around.

[2019-03-17 09:07] heavysaturn commented on #139
I'd also like to suggest a **Eid Al-Fitr** event - the end of Ramadan. This poses a challenge as this is a movable holiday, so we may need some sort of system for determining when a holiday will fall. I don't have a solution in mind but I'm open to suggestions. maybe FeastBot for the botname.

[2019-03-17 11:37] XCanG commented on #139
@heavysaturn
[code]
This is actually what happened. I just saw strange different icon between blues from guilds Discord API, Discord Testers, and some other, I check the server and check announcement, and saw post what referenced to this issue. In our country we don't celebrate this event, so it was interested to see this idea.

[2019-03-17 12:10] Suhail6inkling commented on #139
I like the idea, however, I believe that since it's a religious event, we may need to include other events from other religions. Because of this, I'd like to suggest a **Diwali** as another single-day, moveable holiday. Maybe LampBot, CandleBot or something along those lines for a name.

[2019-03-17 20:16] AnonGuy commented on #137
We've agreed on the following list of errors to ignore:
[code]

[2019-03-18 07:30] Flxtcha commented on #139
I'd like to suggest Finnish indepence day. In Finland we celebrate it on the sixth of December and a possible name could be SuomiBot?

[2019-03-18 07:37] MarkKoz commented on #139
@Flxtcha Something similar is already being worked on. See #143.

[2019-03-19 04:37] RohanJnr opened #145 "Snake related facts"
a simple feature which gets facts about snakes.
This feature can also provide something like:
-deadly snakes around the world
-endangered snakes
-Festivals where snakes are a part of
etc etc
## Implementation details

List the changes required for the implementation here.

- [x] A bot command to get a snake fact.
- [ ] A bot command to get top ten 'something'
example : Top ten deadly snakes. top t

[2019-03-19 04:52] MadisonMcdonald commented on #145
I think this might be implemented already .snake card command.

[2019-03-19 07:23] #145 closed

[2019-03-19 13:06] RohanJnr commented on #74
I would like to work on this one.

[2019-03-19 18:52] sco1 opened #147 "Move Save The Date Static Resource Load"
The static JSON resource for the Save the Date Cog is currently loaded every time the command is invoked:

https://github.com/python-discord/seasonalbot/blob/3e8a07af29428f33f51942bc9568fde8175611d3/bot/seasons/valentines/savethedate.py#L29-L30

This load should be moved either to the module namespace or the Cog's `__init__` so it is only loaded once.

[2019-03-19 23:13] Suhail6inkling commented on #147
I'll work on this.

[2019-03-21 02:12] sco1 opened #149 "Add TRACE log level"
The `TRACE` log level wasn't ported over with the Snakes Cog, so the paginator will throw an exception if it encounters an attempted trace log with `log.trace`.

The implementation can be found in the [bot repo's `__init__.py`](https://github.com/python-discord/bot/blob/master/bot/__init__.py)

[2019-03-21 02:30] GhostofGoes commented on #149
That's my bad. I'll get on this.

[2019-03-21 15:30] jodth07 commented on #139
ok, so do we want to have an independence-day, and a global-events where global events would include global holidays, including by not limited to pi day, Earth day, amongst others.

Considering some days have many of these events, whilst others have none, so long as we making this information readable, and understandable, it should be awesome to be had.

That would be cool. We can certainly have t

[2019-03-21 15:32] jodth07 commented on #139
Xmas is also a religious events, but I would ramadan is more cultural than religious. which is the purpose of these events, to expose our members to different cultures and information about other countries around the globe. But if comes to religion, I do not see that being a problem either, since we have taken to lgbt within our events. So, why stop there?

[2019-03-21 16:40] jodth07 commented on #143
what would be a good yet short command for this?

[2019-03-22 14:27] bramz commented on #124
@glowingrunes just curious as to the status of this feature? Have you begun implementation? I do not see any progress and if you've abandoned the idea I'd like to add this feature.

[2019-03-22 14:38] glowingrunes commented on #124
@bramz I am trying to work on this issue, but I've been having trouble setting up my Pipenv environment in PyCharm for some reason. I'll see if I can get it all working later today, but if I can't then I'll pass the issue over to you :)

[2019-03-22 14:46] jodth07 commented on #130
pride season as been implemented.

[2019-03-22 14:46] #130 closed

[2019-03-22 16:15] bramz commented on #124
Ok, let me know because I've already implemented this, my apologies, I asked in discord and may have assumed they gave me the approval.

[2019-03-22 16:16] glowingrunes commented on #124
@bramz Well since you've already done it, then you might as well take over this task and submit what you've done.

[2019-03-22 16:19] bramz commented on #124
Thank you, once again, my apologies for jumping the gun here. If you need any assistance setting up the bot, I am available on discord, feel free to ask any questions you may have.

[2019-03-22 16:21] SebastiaanZ commented on #124
There seems to have been some confusion and I'm sorry for that, @bramz and @glowingrunes

To be honest, I think the best way to avoid this is to always ask people to comment to the issue on the repository, since Discord chat scrolls to fast to keep track of who's doing what. I'll discuss this with the other staff so we'll make sure to tell people that on server as well.

[2019-03-22 16:47] glowingrunes commented on #124
@SebastiaanZ I know my Discord name isn't the same as my GitHub name which might be confusing. But I can't check Discord while I'm at work, or else I would have responded earlier. Luckily I was notified by email of the comments here.

[2019-03-24 03:07] jodth07 opened #154 "[Enhancement Request] Implement global flags"
add countries flags in our resources to be used for cogs

## Implementation details
download images of all 195+ countries in the world
make them accessible in our bot

[2019-03-24 03:08] jodth07 commented on #154
being implemented by @scragly

[2019-03-25 13:08] scragly commented on #58
Hackstats already show how many PRs are left for a set github username or a members linked account. This essentially covers the scope of this feature, so this can be closed.

[2019-03-25 13:14] #147 closed

[2019-03-25 13:14] #125 closed

[2019-03-25 13:21] scragly commented on #58
I mistook the feature to be for personal PRs until the member get's a shirt, not an indicator for when all shirts have been given out and the cutoff has been reached for any future PRs being able to claim it. Reopened.

[2019-03-25 14:04] #128 closed

[2019-03-25 14:12] #124 closed

[2019-03-25 16:56] #149 closed

[2019-03-26 04:41] #126 closed

[2019-03-27 04:01] jodth07 commented on #12
merged

[2019-03-27 09:14] sco1 commented on #12
No PR for this has been created

[2019-03-28 02:35] jodth07 opened #157 "[Feature Request] Easter Customs / Traditions"
We would all love to know what it's like on the other side, and for this season, we would like to know how the other sides celebrate Easter. Each country, territory, group, may have their own way of celebrating Easter, and to that end, we are going to create a bot command that will provide such information.

When called, the bot command will provide one random easter tradition/custom found in a pa

[2019-03-28 02:45] jodth07 opened #158 "[Feature Request] April Fool's video"
In the spirit of April Fool's, many companies have created ads that are less on the serious, and more on the fun side. Some of these can be quite believable.

So, for this particular issue, we would like to fetch a random April Fool's video from YouTube  from a pre-compiled list of these videos that we can watch for our entertainment.

## Implementation details

List the changes required for the i

[2019-03-28 03:05] RohanJnr commented on #158
I'll take this

[2019-03-28 18:15] #57 closed

[2019-03-29 14:42] scragly commented on #154
Added to relevant PR branch.

[2019-03-29 14:42] #154 closed

[2019-03-29 17:38] scragly opened #160 "Easter Egg Hunt"
For 48 hours, centred around Easter Sunday (21st April), an egg hunt is to begin.

For every message sent in public channels of the server (excluding `#bot-commands`), there'll be a chance of an egg reaction appearing.

Every server member will be assigned into one of two teams: Blue Eggs and White Eggs. The two teams will fight to catch as many eggs as they can.

The eggs that appear will be eith

[2019-03-30 14:38] #137 closed

[2019-03-31 10:22] SebastiaanZ opened #167 "[Feature Request] Easter Egg Facts"
### You have now been subscribed to Easter Egg Facts!

There are plenty of eggs in the world and we want to know everything about them! This feature shows a random fact about eggs when triggered by an `.eggfact` (or similar) command in one of the channels watched by seasonal bot. Facts can be related to eggs, famous Easter Eggs in software, animals that lay eggs, chocolate eggs, things like Faberg

[2019-03-31 11:33] RohanJnr commented on #167
i will work on this.

[2019-03-31 11:40] SebastiaanZ opened #168 "[Feature Request] Easter Egg Decorating"
What's Easter without decorated Easter Eggs? Implement a command takes a color palette as an argument and returns a newly "painted" Easter Egg with a nice pattern/design in the specified colors.

Seasonal bot already has Pillow installed as a dependency, so try using that to manipulate your images. One possible implementation idea is to create bunch of template image files with very well defined c

[2019-03-31 12:22] SebastiaanZ opened #169 "[Feature Request] Egghead Quiz"
Deep inside of us all there's a brainiac hiding and all it knows are egg facts! And bunny facts! Let's get our inner eggheads out for our amazing Egghead Quiz!

Write a command that triggers a multiple choice question about a fact that's tangentially connected to our Easter Event. It doesn't matter if it's a serious question or a humorous one, but make sure that it has a correct answer.

The range

[2019-03-31 13:22] Suhail6inkling commented on #169
I'll work on this if that's okay

[2019-03-31 16:12] lemonsaurus opened #170 "[Feature Request] Bunny name generator"
`.bunny_name` generates a random name for a bunny, like Thumper or Floofy. It should also be able to _bunnify_ a user's existing username, so that lemon becomes lemonfoot and Volcyy becomes Voolfy, or something like that.

This issue intentionally leaves a lot of room for creativity. Please find your own way to solve this. As long as it's fun to play with and the names generated sound like they mi

[2019-03-31 16:35] lemonsaurus opened #171 "[Feature Request] Save the planet!"
`.save_the_planet` should give the user helpful suggestions for how they can help reduce their carbon footprint, or otherwise participate in the battle against climate change. This is related to Earth Day.

This may return images, videos, text, or all of the above. As long it returns helpful suggestions, the formats are up to you. It'd be great if it returned more than just a string, however, so d

[2019-03-31 16:50] Refisio opened #172 "[Feature Request] Avatar Easterifier"
Alters a message attachment, or the user's avatar if an attachment is not provided, to be more "Easter-like".

## Implementation details
- Take in an image, be it through an image attachment or by grabbing the user's avatar
- Overlay the image with a translucent layer of Easter colors in order to "Easterify" the image.
- - Alternatively, you could regenerate the image using colors from an Easter c

[2019-03-31 18:18] lemonsaurus opened #174 "Earth Photos"
`.earth_photo` should should make the bot post a random beautiful earth / environment photograph.

These must be licensed as public domain or CC. Either add a selection of appropriately licensed photos to this repository that the feature can draw from, use hotlinks to a page that allows it (like imgur or similar), or use an appropriate API.

See https://github.com/python-discord/seasonalbot/pull/1

[2019-03-31 22:44] Suhail6inkling commented on #168
I'll work on this

[2019-04-01 03:15] jodth07 opened #177 "[Feature request] Puzzle me"
`.riddlemethis` asks the user a question about anything that falls in the category of Easter/Earth day/ April Fools day. The user can request a number of hints in order to solve the riddle. The riddle/puzzle can be an anagram, a question, an actual riddle, or a mixture thereof.

The hint can be in a form of another riddle, an image, or a text.

The user can request a certain number of hints, after

[2019-04-01 03:55] jodth07 opened #178 "[Feature request] off-topic conversation starter"
Every once in a while, we would like some random topic to talk about, particularly in regards to Easter.

This one will be for an off-topic channel, in which every once in a while, and `an engaging topic` will be presented, in a form of a comment/question, or which ever format you would like.

This must stimulate conversations.

## Implementation details

List the changes required for the implemen

[2019-04-02 04:20] JulieGumerman commented on #139
Equinoxes and solstices? SolBot and EquiBot?

[2019-04-02 04:24] JulieGumerman commented on #157
So, I have never contributed to an open source project, but I am interested in participating in this one. What can I do to help? I'm newish to coding.

[2019-04-02 05:31] scragly commented on #157
@JulieGumerman if you're in the Python Discord server, pop into the `#seasonalbot-chat` channel and we'll help give you an introduction to the project and guide you in getting started.

If you're not part of our discord community yet, you'll have to join us over there first in order to participate, [so come on over](https://discord.gg/python), we'll be happy to have you :)

[2019-04-02 05:48] Rizpag commented on #170
Hi I am interested

[2019-04-02 05:49] scragly commented on #170
Sure thing, thanks.

[2019-04-02 06:42] scragly opened #179 "Announcement line-wrapping refinement needed."
Season announcements are processed in order to keep paragraphs (`"\n\n"`) and replace standard newlines (`"\n"`) with a single space to enforce line-wrapping in the announcement embed.

Currently this isn't a perfect solution due to us needing to occasionally force newlines once such as in lists.

The current situation forces us to add an extra newline between each list item to enforce separation

[2019-04-02 07:05] RohanRadia commented on #157
I can handle this. Thanks.

[2019-04-02 07:06] Rizpag commented on #170
yeah no problemo man

[2019-04-02 12:51] Suhail6inkling commented on #172
I'll take this, if that's okay :D

[2019-04-02 12:56] Refisio commented on #172
Go for it.

[2019-04-03 01:54] #169 closed

[2019-04-03 02:04] #54 closed

[2019-04-03 07:55] RohanRadia opened #182 "[Feature Request]"
Very simple command. Just have .whats_easter

The reason behind this is for some people like myself who aren't Christian sometimes follow all the celebrations related to Easter but don't really know why it is celebrated.

The command would output an explanation regarding what Easter is and the historical/religious background behind it.

I would be happy to handle this if it gets approved.

[2019-04-03 07:55] #182 closed

[2019-04-03 07:56] RohanRadia opened #183 "[Feature Request] What is Easter?"
Very simple command. Just have .whats_easter

The reason behind this is for some people like myself who aren't Christian sometimes follow all the celebrations related to Easter but don't really know why it is celebrated.

The command would output an explanation regarding what Easter is and the historical/religious background behind it.

I would be happy to handle this if it gets approved.

[2019-04-03 09:53] lemonsaurus commented on #183
I don't like this idea, I'd like us to try to stick to secular commands and keep religion out of seasonalbot.

[2019-04-03 09:53] #183 closed

[2019-04-03 11:43] SebastiaanZ commented on #157
This was merged with #181

[2019-04-03 11:43] #157 closed

[2019-04-03 22:34] RohanRadia commented on #178
I got this. If an admin can tell me I am good to go ahead I can get this sorted.

[2019-04-03 22:43] sco1 commented on #178
It has an approved label and no other claim, you don't need any other permission.

[2019-04-04 14:53] scragly opened #185 "All-seasons Topic Command"
## Description

Recently, a PR was made for the Easter season for a command named `topic` that gives a random topic of conversation to start discussions with.

This feature no doubt would be wanting to be replicated across most seasons in general and would do well to be refined, improved and moved into Evergreen. The improved topic command would detect the active season and load the relevant topic

[2019-04-04 22:50] #168 closed

[2019-04-04 22:55] #178 closed

[2019-04-05 09:42] Akarys42 commented on #177
I can do the coding part, but I’m not very good at riddle :( I will need some help ;)

[2019-04-05 12:59] RohanRadia opened #186 "Clarification on creation of .env file"
While setting up the seasonal bot I realised that the description was not very clear. The specific section I am talking about is in the RADME.md file. It states:

`Create a .env file in your project root and copy the following text into it:`

In my opinion this sounds like 'Make a file with any name you choose and make the extension .env'. I think this should be clarified and Scragly seems to agre

[2019-04-05 17:10] odCat commented on #186
Create a file named `.env` in your project root and copy the following text into it:

Is this satisfactory?

[2019-04-05 17:12] scragly commented on #186
Not in this case. It needs clear clarification that the instruction should state clearly that the entire file name is `.env`.

[2019-04-05 18:06] RohanRadia commented on #186
Maybe:

Create a text file called `.env` in your projects root directory and copy the following text into it. @scragly

[2019-04-05 18:08] RohanRadia opened #188 "Adjustments to conversationstarters.py"
I believe 2 adjustments are needed:

First being add a command alias called `bored` as it is firstly memorable and secondly will be one of the better names for the commands once it is moved into ever green.

Secondly, add a check to the file to ensure that either the command can only be used in one of the three off-topic channels OR if it is run anywhere else it outputs the conversation starter in

[2019-04-05 18:10] scragly commented on #188
The offtopic limitation was mentioned in the relevant issue #185.

The command alias of bored could be proposed as a comment there instead since it's within the scope of refinement.

[2019-04-05 18:10] #188 closed

[2019-04-08 05:36] Rizpag commented on #170
I won't be able to work on this so if someone want's to take over please do!

[2019-04-08 14:35] RubenJ01 commented on #170
I can if no one else is on it atm

[2019-04-08 14:37] SebastiaanZ commented on #170
Sure! If you like! Thanks.

[2019-04-08 14:38] RubenJ01 commented on #170
im just not sure if im capable of the bunnify a name thing

[2019-04-08 14:39] SebastiaanZ commented on #170
Feel free to discuss it with people in the seasonalbot-chat channel in the events category. Maybe you can come up with a nice approach to this with someone in there.

[2019-04-08 14:39] SebastiaanZ commented on #170
Feel free to discuss it with people in the seasonalbot-chat channel in the events category. Maybe you can come up with a nice approach to this with someone in there.

[2019-04-08 18:50] RohanRadia commented on #12
Has this been completed? If not I am down to take this on. Please do let me know.

[2019-04-08 18:51] RohanRadia commented on #170
@RubenJ01 Are you going to make this command? If not I would like to **try** it out and see if I can tackle this. Please do let me know if you are **not** doing it then I can get started.

[2019-04-09 13:07] RubenJ01 commented on #170
Yes @RohanRadia im working on this.

[2019-04-09 13:11] RohanRadia commented on #170
@RubenJ01 Thanks for the response.

[2019-04-10 18:19] jodth07 commented on #177
@Akarys42 did you find someone to work with?

[2019-04-10 18:45] Akarys42 commented on #177
No :(

If someone good at riddle can help me I will be happy to work with them :D

[2019-04-14 14:07] RohanRadia commented on #170
Any progress? @RubenJ01

[2019-04-14 17:26] lemonsaurus commented on #170
I'm gonna open up this issue again, since there hasn't been any progress from @RubenJ01 and other users seem interested in it.

If anyone wants to do this, just claim it here.

[2019-04-15 04:20] sco1 opened #191 "Migrate d.py dependency to PyPI"
Now that Rewrite has been merged into master, we can now pin to PyPI rather than to the rewrite branch on GH.

The merge introduced a few more breaking changes since #156 but Seasonalbot should not be affected.

[2019-04-16 01:28] sco1 opened #192 "Spring Cleaning: Seasonalbot's Constants"
In the spirit of [Spring Cleaning](https://en.wikipedia.org/wiki/Spring_cleaning) here in the Northern Hemisphere, [Seasonalbot's constants](https://github.com/python-discord/seasonalbot/blob/master/bot/constants.py) could use a bit of a cleaning!

Currently, there are multiple seasons specifying an event channel constant (some pointing to the wrong channel). To clean this up before we run into is

[2019-04-19 11:49] glowingrunes commented on #170
I'd like to take a shot at this!

[2019-04-19 11:52] SebastiaanZ commented on #170
As far as I can tell, it's open, so go ahead, @glowingrunes!

If you could keep us updated about your progress, that would be great.

[2019-04-21 02:21] #160 closed

[2019-04-21 17:01] Suhail6inkling opened #197 "[Feature Request] Egg hunt rank"
As discussed in #seasonalbot-chat with @scragly

Allow `.hunt rank` to include the number of points a person has.

![image](https://user-images.githubusercontent.com/38522108/56473191-6921bc00-645f-11e9-90e0-eb04d96e1857.png)

Added this to ensure nobody forgets :D
Happy Egg Hunting Everyone!

[2019-04-23 13:58] Suhail6inkling commented on #192
I'll take this on.

[2019-04-23 13:59] scragly commented on #192
Sure thing.

[2019-04-23 16:54] #158 closed

[2019-04-23 16:56] #172 closed

[2019-04-23 18:00] RohanJnr commented on #136
ill take this

[2019-04-23 20:59] glowingrunes commented on #170
I'm almost done with this now and will be able to complete it by the end of the week, if not before.

[2019-04-24 19:45] lemonsaurus opened #199 "Enable D202 and D204 for flake8-docstrings"
In a discussion on #dev-contrib, it was decided to no longer ignore these across all repos. See https://github.com/python-discord/organisation/issues/53#issuecomment-486371508 for more information.

Remove these from the ignore list, lint, and open a pull request.

@sco1 said he'd do this when the open PRs are merged, so I'm assigning it to him.

[2019-04-26 04:08] RohanJnr commented on #136
im sorry i will not be able to do this as my broadband service provider blocks tmdb in India for some reason.
here are a few links which say that (and yes obvi i cannot open tmdb website so i cannot work on this :/)
https://twitter.com/themoviedb/status/1085566644573749248
https://www.quora.com/Why-has-ACT-Fibernet-blocked-tmdb-themoviedb-in-India

[2019-04-26 11:53] Suhail6inkling commented on #197
I'll work on it if that's okay :

[2019-04-28 01:15] glowingrunes commented on #170
Got everything working now. Just needs a good tidy up and then I'll be ready to submit tomorrow. Hopefully it's not too spaghetti!

[2019-04-28 19:37] #192 closed

[2019-05-03 19:04] landizz commented on #72
I am suprised this is not implemented yet considering you have scandinavian admins/owner but midsummer or summer solstices. It happens on the day when the sky is at it's peak in the sky and when they day has the most sun during the whole year (northern hemisphere). It has different background celebrations behind it, some of them are Christianity, celebration of (can't find the correct word) sex (i

[2019-05-03 19:13] sco1 commented on #72
There's some additional discussions on seasons in #73

[2019-05-09 17:13] RohanRadia commented on #110
What is the position with this @sco1 ? Is this going to be approved. It is a good idea and I would be happy to implement.

[2019-05-09 20:42] RohanRadia commented on #139
I believe Diwali should be changed from LampBot and CandleBot to LightBot. Diwalis is the festival of light and purity for us Hindus. We use Diya (Candles) to have a burning flame to present light. Not sure 'Lamp' and 'Candle' are fair/correct names to use.

[2019-05-10 00:52] Refisio commented on #110
I'm going to go ahead and approve this. It doesn't actually hurt anyone to add this on, and could be a nice feature for users to have. However, I'd like to ask @DuckyQuack if he would like to tackle this issue on first, since they were the one to bring it up.

[2019-05-10 18:56] #74 closed

[2019-05-11 06:57] RohanRadia commented on #110
Looks like no response from Owner. Regardless, another thing you could have is a leaderboard maybe and set command? For example to submit a message in that channel you run a command like:

!submit url=... description=...

If a file is attached then no need for the URL.  Upon a message being sent the bot deletes it, processes it and posts in an embed. This way when users react we have all info such

[2019-05-11 16:33] RohanRadia opened #206 "[Feature Request] Profile Picture Pride-ify"
User would run a command and upon doing so their profile picture would be taken, would have a rainbow gradient put on top and then would have the image sent back in the same channel.

Any questions? Feel free to ask below! Try and make sure that the picture generation time doesn't take too long! If it is going to take a while maybe make the bot have the 'typing' status so the user knows that somet

[2019-05-11 16:38] RohanRadia opened #207 "[Feature Request] Pride"
Simple command to either:
 - send a message with the acronym LGBTQ+ in a line going down with the completed word next to each letter
 - send a simple paragraph explaining the Pride movement and the why so many people who are part of the LGBTQ+ community or not still support it because they want to stop discrimination.

[2019-05-11 20:37] lemonsaurus commented on #206
Okay, this is a fun idea, but we feel like the gradient thing has been done to death. How about a nice frame around your avatar?

![image](https://user-images.githubusercontent.com/2098517/57574640-fba0f400-743c-11e9-9db4-c41a33631804.png)

We'd also like whoever wants to solve this to provide more than one option, and to let the user pick one of these. If no option is picked, the bot randomly sel

[2019-05-11 20:44] RohanRadia commented on #206
I agree. That would be awesome! It's funny you mention that as we were just talking about that idea in a different server!

[2019-05-11 22:34] Suhail6inkling commented on #206
I'll work on this :D

[2019-05-11 23:31] Refisio commented on #110
@RohanRadia Since @DuckyQuack hasn't responded to this since it was brought up, I'm going to let you work on it.

[2019-05-12 00:13] MadisonMcdonald opened #208 "Tech Leaders Pride"
A bot a command that would return a random Tech leader in the LGBTQ community, with a picture of them, a small write up of who they are, what they do, and how they represent the community. possible bot command could be !techlgbtq

[2019-05-12 03:46] scragly commented on #208
Adding a command to showcase notable LGBTQ+ community leaders active in the tech industry sounds good.

I would recommend though simplifying the command name. Most of the pride commands should be trying to have a similar command name structure to keep things easy to remember, so using the currently approved `.prideavatar` command as a basis, `.prideleaders` or similar would be better.

[2019-05-12 08:34] #191 closed

[2019-05-12 09:20] lemonsaurus commented on #208
`.pridehero` or `.prideleader` seems good. plural strikes me as odd.

[2019-05-12 13:24] RohanRadia opened #210 "[Feature Request] Issue Call"
Command to easily call an issue from a repository and receive the link in the channel you invoked it in.

`!issue 42` - Call issue 42 from Seasonal Bot
`!issue 42 meta` - Call issue 42 from Meta

List the changes required for the implementation here.

- [ ] Write the bot command
- [ ] If no repository stated then default to SeasonalBot
- [ ] If issue doesn't exist then make it return an error mess

[2019-05-12 13:25] RohanRadia commented on #210
I can handle this once accepted. Please let me know.

[2019-05-13 10:56] #12 closed

[2019-05-14 09:07] scragly commented on #210
Go for it.

[2019-05-15 00:03] #110 closed

[2019-05-28 19:14] SebastiaanZ commented on #207
Thanks for the suggestion! I'm going to use this as the basis for one of our issues for the upcoming event.

[2019-05-28 19:14] #207 closed

[2019-05-28 19:31] SebastiaanZ opened #213 "[Feature Request] Pride Movie Generator"
What a SeasonalBot event without a movie generator? There are plenty of movies out there that showcase, celebrate, or are otherwise associated with the LGBTQI+ community. For this feature, it's your job to write a command that suggests such a movie to the user.

## Implementation details

Instead of suggesting a random movie, it would be nice if the suggestion was based on the movie preferences of

[2019-05-28 19:45] SebastiaanZ opened #214 "[Feature Request] Pride Event Calendar"
There are plenty of places around that celebrate Pride events on a yearly basis. This command will list a number of upcoming Pride events, either world-wide or filtered by a provided location.

## Implementation details

The location feature can take several forms, ranging from a relatively simple "city/country"-matching algorithm to more complex implementations that try to find events near the lo

[2019-05-28 20:04] SebastiaanZ opened #215 "[Feature Request] Drag Queen Name Generator"
To be able to follow in the footsteps of famous Drag Queens, like [Eggz Benedict](https://www.instagram.com/eggzbenedictt/), [Hedda Lettuce](https://www.instagram.com/heddalettucenyc/), and [Penny Tentiary](https://www.instagram.com/pennytentiary/), it's high time that we get a Drag Queen Name of our own. This feature is meant to help us find our name by generating one for us!

## Implementation d

[2019-05-29 18:30] SebastiaanZ commented on #208
@MadisonMcdonald said she's going to work on this one.

[2019-05-29 19:46] SebastiaanZ opened #216 "[Feature Request] Fact of the Day"
What do those letters in LGTBQI+ stand for? Which countries have legalized gay marriage? What's the largest Pride event in the world? There are many interesting and informative facts that are somehow related to Pride and/or the LGTBQI+ community; it's your task to write a command that supplies our users with a new fact every day of our event.

The facts you include do not necessarily have to be th

[2019-05-29 20:33] SebastiaanZ opened #217 "[Feature Request] Alternating server icons with different LGTBQI+ flags as background"
The [default server icon for this event](https://github.com/python-discord/branding/tree/master/logos/logo_seasonal/pride) has the Gay Pride flag as the background behind the Python snakes. However, this isn't the only [LGTBQI+ Pride flag](https://en.wikipedia.org/wiki/LGBT_symbols#LGBT_pride_flags), so this feature changes the server logo every other day to feature another Pride Flag in the backg

[2019-05-30 12:29] lemonsaurus opened #218 "[Bug] .snakes draw not working"
`.snakes draw` is currently not providing any output in production. Please investigate and fix.

[2019-05-30 12:45] MarkKoz commented on #218
For what it's worth, I did successfully test it locally on the 22nd of March when I was working on cleaning up docker images.

[2019-05-30 14:29] sco1 commented on #218
Can reproduce this locally outside of the container:

[code]

This was likely introduced by the dependency updates introduced by #201, since this was working locally with the initial breaking changes migrated in #132. If I had to guess I'd say that Pillow is the culprit (#201 bumped this to `v6.0.0` from `v5.4.1`), should be able to clean it up in a little bit.

[2019-05-30 15:18] SebastiaanZ opened #219 "[Feature Request] Pride Anthems"
Almost every Pride event involves music, so why not ours? This commands picks a random song out of a list of Pride Anthems and embeds a YouTube-video of it in the channel it was issued in.

## Implementation details

- [ ] Research Pride Anthems and create a static resource of anthems with YouTube-urls
- [ ] Code a command (e.g., `.prideanthem`) that embeds a random song of the list
- [ ] Think of

[2019-05-30 15:46] sco1 commented on #218
Should now be fixed by #200

[2019-05-31 00:27] #199 closed

[2019-05-31 00:27] #218 closed

[2019-06-02 08:09] AvianAnalyst commented on #219
I think I'd like to try to tackle this one, if that's ok!

[2019-06-02 08:34] SebastiaanZ commented on #219
@AvianAnalyst Sure! I'll mark it as in progress.

[2019-06-02 16:08] AvianAnalyst commented on #219
What do you guys think about optional parameters to selection genres and/or decades to select from?

[2019-06-02 16:33] SebastiaanZ commented on #219
Sounds like a great idea to me!

[2019-06-02 16:43] AvianAnalyst commented on #219
Awesome, also are there guidelines on anthems in other languages? I was thinking since it's an English only server, keep it to English songs, but also I don't want to exclude others?

[2019-06-02 17:12] Suhail6inkling commented on #219
I'd say leave them to English songs but if you find really good foreign songs, make "foreign" or "Spanish" parameters for different languages?

[2019-06-02 17:16] AvianAnalyst commented on #219
Ok cool, I like that idea, thank you!

[2019-06-02 20:36] sco1 opened #220 "Wikify Seasonalbot's README"
[Seasonalbot's README](https://github.com/python-discord/seasonalbot/blob/master/README.md) is a bit dense, and will only get moreso as we add guidance on getting the database up and running for local dev along with any other editor-specific guidance we work on adding.

This will be a great addition to our upcoming Django-wiki, but this can live in this project's GH wiki for now since both will ac

[2019-06-02 21:18] #206 closed

[2019-06-03 03:03] GhostofGoes opened #222 "[Feature Request] List possible flag options to prideavatar"
The prideavatar command takes a flag option string to select which background should be used. Presently, there isn't a way that I know of to view what options are available without peeking at the bots code or bugging a developer (sorry Ref). This feature request seeks to rectify that.

## Implementation details

- [ ] Extend the `prideavatar` command to show the list of options either in the help

[2019-06-03 06:35] Suhail6inkling commented on #222
I can do this :D

[2019-06-03 19:31] MarkKoz opened #224 "[Feature Request] Make prideavatar support specifying image URLs in addition to avatars"
Why limit the command to avatars only? It can be easily adapted to work with any image!

## Implementation details

- [ ] Create a `.prideavatar image` subcommand which accepts an image URL as the first argument. The rest of the arguments should be identical to the base `.prideavatar` command.
- [ ] Properly account for invalid URLs, invalid images, or images which otherwise fail to be retrieved.

[2019-06-03 20:44] AvianAnalyst commented on #219
What about explicit songs? Cursing seems to be allowed in the surver, so I'm not sure if I should mark it at all or not? Maybe leave it for a future feature to implement.

[2019-06-05 07:14] SebastiaanZ commented on #219
That's a good question. I think it depends a bit on what kind of "explicit" material it is. In general, everything on our server must be SFW. That's not only our policy, but also the policy laid out in the Discord Partnership Code of Conduct.

We're not too pedantic about cursing that's not inherently discriminatory/offensive/derogatory or directed at another member. We don't moderate "fuck", unle

[2019-06-05 08:03] SebastiaanZ commented on #217
We now have a nice animated server icon showing all the flags on hoover, so I'm closing this issue as nobody was already working on this anyway.

[2019-06-05 08:03] #217 closed

[2019-06-05 22:38] jos-b opened #226 "[Feature Request] Seasonal Emoji"
We recently introduced a selection of emoji for the pride event we are currently having and gdude suggested that we could reserve a few of our emoji slots (since we have extra thanks to nitro boosting) in the main guild so we can bring along a set of new emoji for every new season.

This could include things like the pride flags for pride month, winter stuff at Christmas, Easter egg emojis, all so

[2019-06-06 05:52] #222 closed

[2019-06-06 14:04] Suhail6inkling commented on #226
I can work on this

[2019-06-13 05:59] SebastiaanZ commented on #219
@AvianAnalyst Did you get anywhere with this?

[2019-06-13 06:00] SebastiaanZ commented on #208
@MadisonMcdonald Hey Madi, how are you doing on this issue?

[2019-06-14 00:53] AvianAnalyst commented on #219
I have a decent list of songs compiled. (I do need to go through them and take out a few that are explicit.) But I've been struggling with implementing it as far as understanding how the bot works at all, and how to implement a command.

[2019-06-14 06:44] SebastiaanZ commented on #219
@AvianAnalyst Maybe we can look into it together, although I'm not if our time zones match. Mention me in the seasonalbot channel on Discord and we can talk about it.

[2019-06-14 06:49] AvianAnalyst commented on #219
Ok, thank you! I'm UTC-04:00 right now, but I tend to be up around noonish to 3ish am my time. So I'm going to sleep tonight. but Ill try to catch you tomorrow!

[2019-06-16 15:19] RohanJnr commented on #177
i will work on this.

[2019-06-16 15:20] RohanJnr commented on #177
Would it be better if the riddle asked would be of a general topic rather than just Easter/Earth day/ April Fools day? So that it can be used anytime.

[2019-06-16 15:21] RohanJnr commented on #177
nvm,i guess its work in progress...

[2019-06-18 05:26] AvianAnalyst commented on #219
Alright, I've finished with this, just waiting to get mod approval on a couple songs  before opening a PR.

I was wondering, do you think it'd be useful to have an argument to add a pride anthem from discord, that's maybe role locked? Or better to just add them manually through the source?

[2019-06-18 15:13] TheClonerx opened #228 "Flag background for prideavatar."
For transparent avatars, having the desired flag as the background would be better than just a black color.

[2019-06-20 19:21] SebastiaanZ opened #229 "[Feature Request] Cycle Evergreen Animated Server Icons"
Thanks to @kwzrd, we now have [four animated versions](https://github.com/python-discord/branding/tree/master/logos/logo_animated) of the default logo we use as the server icon between seasonalbot events (i.e., the so called "evergreen" seasons). We would like to have a seasonalbot feature that allows us to cycle through the different versions on a daily basis.

## Implementation details

- [ ] Cr

[2019-06-21 00:56] MarkKoz commented on #220
I'm working creating a general "getting started" page. I've ran into [this](https://github.com/python-discord/seasonalbot/wiki/Getting-Started-With-PyCharm#working-with-git) section which bugs me:

This is a confusing explanation. It legitimately took me a few minutes to make sense of it. And once I understood, I knew I could just do `git pull upstream master` and it wouldn't even matter what `ori

[2019-06-21 03:20] MarkKoz commented on #220
Should we link to [GitHub's guide](https://help.github.com/en/articles/creating-a-pull-request-from-a-fork) instead for creating a PR? It actually nicely done. However, we may need to emphasise that `Allow edits from maintainers` must remain checked.

[2019-06-21 08:49] lemonsaurus commented on #220
@MarkKoz you asked a lot of questions, here's a lot of answers.

# Git
* `git diff` and `git log` are probably worth mentioning. Perhaps we could just link to an article about "other useful git commands" and put it there?
* I like to use the argument that we create other branches on the fork so that we can work on multiple issues at the same time. If we don't, we would need to wait for one pull re

[2019-06-21 09:07] Suhail6inkling commented on #229
I'll work on this :D

[2019-06-21 17:37] MarkKoz commented on #220
I guess I contradicted myself by saying "focus purely on how to do something". The workflow covers the steps to take, but doesn't explain what anything is by itself (what is a branch? what is a commit? what is a push?). Considering that we are suggesting PyCharm as the beginner-friendly route, I think it is worthwhile to provide some explanation at least for PyCharm.

I like how I briefly explaine

[2019-06-22 16:43] RohanJnr commented on #214
I will try this.

[2019-06-23 16:59] RohanJnr commented on #214
i was thinking make a common event calendar command for all seasons.Example we can select a specific website which shows the events happening/going to happen for each season and just scrape the information for it.

[2019-06-26 12:49] jodth07 commented on #228
@TheClonerx can you provide some examples?

[2019-06-28 02:45] RohanJnr commented on #214
I will start working on this after the code jam.

[2019-06-28 22:25] #229 closed

[2019-07-03 10:05] lemonsaurus opened #232 ".roll appears to only resolve to emojis some of the time"
# Problem description
Some of the time when you do `.roll`, it will only show the emoji name, like `:terning6:` instead of the emoji itself. Reproduce this problem locally and see if you can figure out why this happens. Is it a Discord problem or is there anything we can change in the code to make this more consistent?

# Repro steps
Just do `.roll 6` a bunch of times, some of them will fail.

![i

[2019-07-03 10:40] SebastiaanZ commented on #232
The problem is that we removed :terning4: a while ago and then added it back.

The id in the constants is still the id of the old, removed emoji, not the new one. I'll fix that.

[2019-07-03 11:03] SebastiaanZ commented on #232
This was fixed by changing the emoji id to the correct one.

[2019-07-03 11:03] #232 closed

[2019-07-10 23:14] sco1 commented on #210
Will be merged by https://github.com/python-discord/seasonalbot/pull/234

[2019-07-10 23:14] #210 closed

[2019-07-10 23:15] sco1 commented on #170
Will be merged by https://github.com/python-discord/seasonalbot/pull/234

[2019-07-10 23:15] #170 closed

[2019-07-10 23:15] sco1 commented on #167
Will be merged by https://github.com/python-discord/seasonalbot/pull/234

[2019-07-10 23:15] #167 closed

[2019-07-20 13:58] adityaprakash-bobby commented on #136
I would like to take this issue if no one is working on this.

[2019-07-30 20:42] SebastiaanZ opened #235 "[Feature Request] Trivia Quiz"
How about a retro game asking questions about retro gaming? If that doesn't fit the theme, I don't know what does.

Trivia bots are part of Internet history, with the earliest incarnations popping about two decades ago on IRC. The concept is simple: A bot asks a question, gives a clue indicating the number of characters per word in the answer (e.g., `******** **** ********`) and users try to answe

[2019-07-30 21:49] SebastiaanZ opened #236 "[Feature Request] Spoiler Minesweeper"
We could have achieved greatness in the 90s and 00s, but instead we spend our time playing minesweeper. This feature request is simple: Implement a "spoiler" minesweeper game for Seasonal Bot.

The bot creates a minesweeper field, renders it as emojis hidden by spoilers, and sends it to the channel for us to play. Since the bot can't see which fields are being clicked, the bot won't check for winn

[2019-07-31 00:35] MarkKoz opened #237 "[Feature Request] Random Speedrun Record"
Competitive speedrunning is a major part of retro gaming community. Write a feature which adds a command to display a speedrun record for a random game. You may additionally explore other things to do with speedrunning data such as displaying famous historic records or famous speedrunners.

## Implementation details

- [ ] Create a command which lets users filter games by criteria such as year, ge

[2019-07-31 22:21] lemonsaurus opened #238 "[Feature Request] Text Based Adventure"
Slay the dragon! Implement an old-school text-based adventure for our bot!

You can write the adventure any way you want, and pick any theme you want, no dragons required! The only hard requirement is that you must implement this in a way that isn't super _noisy_. That means, we can't have the bot posting dozens of messages every time you play a game.

An example of an implementation that isn't ve

[2019-07-31 22:37] shawnmcla opened #239 "[Feature Request] 8bitify my avatar"
Who remembers the glory days of [8-bit color graphics](https://en.wikipedia.org/wiki/8-bit_color)? Even if you weren't personally around back then, looking back it's easy to see how people fell in love with the sweet, sweet pixels.

The advent of 4K+ resolution displays highlighted a glaring flaw in humanity: *we're just not that nice to look at*. Help us remedy this situation by adding an avatar

[2019-07-31 22:47] lemonsaurus opened #240 "[Feature Request] What should I play?"
Sometimes you know you wanna play something, but you're not really sure what to play. You ask in a channel, and someone comes along and recommends something you'd never have thought of playing, with an impassioned explanation of exactly why that game deserves your time. This game totally defined their childhood! It has the perfect blend of storytelling, great pacing, and sharp controls! It's repla

[2019-07-31 22:51] #177 closed

[2019-07-31 23:27] fiskenslakt opened #241 "[Feature Request] Random Speedrun Video"
A huge part of retro gaming is speedrunning, and there are countless videos on youtube showing off these speedruns. Write a feature that randomly posts a link to one of these videos.

# Implementation details
## Youtube API
- Creating your personal API key for testing: [Official Documentation](https://developers.google.com/youtube/v3/getting-started)
- Python Quickstart [Official Documentation](ht

[2019-07-31 23:39] fiskenslakt opened #242 "[Feature Request] Random World Record Speedrun Video"
Speedrunning is a huge part of retro gaming. Arguably the most entertaining speedruns to watch are the world records. Curate a list of world record speedruns of classic video games and write a command to link to a random video from that list.

## Implementation details

- [ ] Curate list of world record speedruns on youtube in JSON file
- [ ] Write command to randomly pick from this list

## Addit

[2019-08-01 00:12] Suhail6inkling commented on #239
I'd like to take a shot at this if you don't mind

[2019-08-01 00:13] A5rocks commented on #239
Seems like the perfect place to learn to use Pillow... Count me in!

[2019-08-01 00:22] lemonsaurus commented on #239
@A5rocks looks like @Suhail6inkling got there first with the claim. If you guys would like to work on it together, you're welcome to do that. Otherwise, this will be @Suhail6inkling's.

[2019-08-01 00:27] sco1 commented on #186
This should be appropriately clarified [in the wiki now](https://github.com/python-discord/seasonalbot/wiki/Configuring-Environment-Variables), which will eventually supersede the README

[2019-08-01 00:27] #186 closed

[2019-08-01 00:27] #242 closed

[2019-08-01 00:27] #241 closed

[2019-08-01 02:11] RohanJnr commented on #235
I will do this.

[2019-08-01 10:32] TheRockettek commented on #239
You could always use pillows quantization feature for this

[2019-08-01 13:08] A5rocks commented on #238
Quick question: Could it be a rogue-like? (Just asking, I don't really think I want to do this)

[2019-08-01 16:50] lemonsaurus commented on #235
alright Iceman. The quiz you made for the code jam was great, so this should suit you well.

[2019-08-02 02:57] RohanJnr commented on #235
Yea, I'll try my best

[2019-08-03 19:20] SebastiaanZ opened #244 "[Feature Request] Connect Four!"
![Connect Four](https://user-images.githubusercontent.com/33516116/62415879-5196c980-b631-11e9-9648-f727fa792d50.jpg)

When it comes to tabletop-style games, you can't go more retro than [Connect Four](https://boardgamegeek.com/boardgame/2719/connect-four)! In this game, you drop disks in your color into a grid hoping to get four of your disks in a row before your opponent manages to do just that.

[2019-08-03 20:14] SebastiaanZ opened #245 "[Feature Request] Retro Games Done Quick"
I still remember how proud I felt for being able to beat [Super Mario Bros.](https://en.wikipedia.org/wiki/Super_Mario_Bros.) when I was kid. These days, there are people that beat it in [under 5 minutes...](https://www.youtube.com/watch?v=CdTLDDvmNFs)

For this feature, implement a command that posts a link to a random YouTube-video of someone speedrunnning a classic game like Super Mario Bros so

[2019-08-03 20:28] vivax3794 commented on #236
maybe something like this, we could use reactions to play the game.
![image](https://user-images.githubusercontent.com/51753506/62416594-f4eddb80-b63d-11e9-8333-acc9f531b121.png)

[2019-08-03 21:18] lemonsaurus commented on #245
https://www.youtube.com/watch?v=jNE28SDXdyQ is a great speedrun. Cosmo explains the entire history of OoT speedrunning as he demolishes it with tons of really tricky frame-perfect glitches.

[2019-08-03 21:33] Suhail6inkling commented on #239
@A5rocks lemme know if you wanna work on this together. Otherwise, I'll do it myself

[2019-08-03 21:46] SebastiaanZ opened #246 "[Feature Request] Battleship"
Let's be honest, who doesn't like to fire heavy artillery at their opponent's battleships? Well, this feature will allow you to do just that! So, ready your cannons and fire at coordinate A4!

In this game, two players will shoot at each others battleships until one of them has lost all their ships. The battle will take place over DM, since there's some secrecy involved in the position of the ship

[2019-08-03 22:40] Suhail6inkling commented on #246
I can work on this

[2019-08-03 22:50] SebastiaanZ commented on #246
Sounds good!

[2019-08-04 09:32] Chlorophytus commented on #238
Putting some notes down here:
I have worked with recursive divide/etc. maze generation algorithms in an obscure game engine, but not with Python.

I was also thinking you can use the arrow indicators to move around, in reactions.

[2019-08-04 13:32] #239 closed

[2019-08-04 18:59] MarkKoz commented on #220
Might be worth adding how to create the `.env` file e.g. with `touch .env` or `type nul > .env` on Windows.

[2019-08-04 19:00] sco1 commented on #220
Sounds good, go for it

[2019-08-04 19:16] MarkKoz commented on #220
I added the two I mentioned but it could also use a PowerShell one if someone wants to figure that out.

[2019-08-04 20:00] sco1 opened #248 "Add Linting for Function Definition Type Hinting"
This will investigate linting our function definitions for type annotations using tools like [flake8-mypy](https://github.com/ambv/flake8-mypy).

See: https://github.com/python-discord/organisation/issues/106 for additional discussion.

[2019-08-04 20:06] glowingrunes commented on #238
I'd love to give this a shot!

[2019-08-04 20:11] A5rocks commented on #236
^ Or we could reply to the prompt with `1-2` (for example). And then, the bot attempts to delete the response (keeping the channel clean), and updates the game state. Though this would raise the question: "Who should be able to play?" and "How do we prevent the game from disappearing from view?"

[2019-08-04 20:22] SebastiaanZ commented on #238
There are multiple people that have expressed interest in this issue, maybe we can work out a collaboration? I know Patrol was looking for someone to collaborate with for this issue on server, but they haven't commented here on the issue yet.

[2019-08-04 20:27] imPatrol commented on #238
Hi, I have arrived Sebastian

[2019-08-04 20:28] SebastiaanZ commented on #238
Hi! You mentioned on server yesterday that you want to take a shot at this, but would really like to work together with someone. Maybe you and @glowingrunes can work something out for that?

[2019-08-04 20:29] imPatrol commented on #238
Yeah! of course, I would just need his discord so we can communicate better

[2019-08-04 21:02] SebastiaanZ commented on #238
@imPatrol and @glowingrunes are going to collaborate on this. I'll mark it as "in progress".

[2019-08-04 21:46] vivax3794 commented on #236
@A5rocks that sounds good, about it going out of view, there is the same problem with .snake (antidote/guess/quiz), and the player should be one that activated the command. just like the last examples.

[2019-08-05 17:17] vivax3794 commented on #236
I would like to work on this, I just can't work on it until Friday. so if somebody could do it before then feel free to.

[2019-08-05 21:05] Suhail6inkling commented on #244
I wanna work on this if that's okay

[2019-08-06 01:47] spyoungtech commented on #244
I have a simple ConnectFour implementation I made a few years back: https://github.com/spyoungtech/connectfour

The `Board.show` method and prints could be changed to send the same in discord messages.

[2019-08-06 06:42] SebastiaanZ commented on #244
@Suhail6inkling Sounds good to me. Decide for yourself if you want to use (parts) of @spyoungtech's code or take inspiration from it. Programming it yourself from scratch may be part of the fun, but inspiration can't hurt either.

[2019-08-06 11:43] SebastiaanZ commented on #236
That's okay, we're not in a rush. I'll mark this as in progress.

[2019-08-08 10:46] alucebur commented on #228
When an avatar has already an alpha channel, `avatar.putalpha(mask)`, in the `crop_avatar` method, replaces it, so the original transparent pixels become black.

A solution would be preserving the original transparent pixels by extracting the alpha channel of the image and performing a `logical and` with the crop mask before applying it to the avatar (it would be necessary to import ImageChops mod

[2019-08-08 14:56] RohanJnr opened #252 "Snake and ladders(sal) not stopping."
Recently encountered an error with the sal game where the game would not respond to any reaction, its been running and cannot be stopped due to some reason.

## Steps to Reproduce
possible fix:
- Make a timer after which the game shuts down automatically due to inactivity.

## Other
Comment if you got any any other ideas for this fix.

[2019-08-08 14:57] sco1 commented on #252
The permissions for ending the game should be expanded to moderation staff rather than locked to the person who started the game.

[2019-08-08 15:03] SebastiaanZ commented on #252
I agree that's a good idea.

In this case, the game became totally unresponsive, though. The member that originally started the game couldn't/can't get it to stop either, so this probably won't fix this specific problem.

Another alternative is to have it check how old the "already running" game is and, if it's older than an hour (or something), discard the old game and start a new game anyway.

[2019-08-08 15:09] sco1 commented on #252
Looking at the source, the game should be getting cancelled if nobody reacts (or the game doesn't start) after 5 minutes, but the timeout exception handling likely isn't correct:

https://github.com/python-discord/seasonalbot/blob/e906696dbc880f283146cb04aa8916f04f8ab545/bot/seasons/evergreen/snakes/utils.py#L464-L467

[2019-08-08 15:10] SebastiaanZ commented on #252
The problem is line 466, it should be:

[code]

From the logs:
[code]

[2019-08-08 22:05] jakeHebert commented on #245
I would like to work on this.

[2019-08-08 22:11] MarkKoz commented on #245
Sure, go for it @jakeHebert

[2019-08-09 21:10] jakeHebert commented on #245
#254

[2019-08-10 13:10] vivax3794 commented on #236
I have opened a pull request for this. https://github.com/python-discord/seasonalbot/pull/255

[2019-08-14 16:52] jakeHebert commented on #240
Id like to work on this

[2019-08-14 18:48] sco1 commented on #236
Merged by #255

[2019-08-14 18:48] #236 closed

[2019-08-14 18:50] sco1 commented on #245
Merged by #254

[2019-08-14 18:50] #245 closed

[2019-08-14 21:40] dmitriy1555 commented on #240
hello, I would like to participate in this

[2019-08-14 21:51] jakeHebert commented on #240
@dmitriy1555 I've got a solution for this in my fork, still working on formatting the Embed currently, and it probably still needs some cleaning up. It could also use more recommendations. You're more than welcome to take a look. https://github.com/jakeHebert/seasonalbot

[2019-08-15 14:07] jakeHebert commented on #240
I'll have a PR ready for this when I get home this afternoon.

[2019-08-17 20:12] glowingrunes commented on #238
@imPatrol has told me that he no longer wants to collaborate on this project, so I'll be working alone on this for the moment. I'm open to working with someone new, but in the meantime I'll just be doing my own thing.

[2019-08-17 20:37] MarkKoz commented on #244
Hi @Suhail6inkling, can you give us an update on your progress with this?

[2019-08-17 23:38] Suhail6inkling commented on #244
Adding the finishing touches on this and should be all done! hopefully will PR within the week

[2019-08-20 21:19] vivax3794 opened #262 "[Meta] User-event Features"
I think it would be interesting to have features related to the severs user-events, currently: Minecraft, jackbox and Clash of Code

## Implementation details
for the Minecraft cog, it can send updates when a user joins/leaves the sever and when the server goes online/offline. should we have a separate channel for this or just #user-event-chat?

for Clash Of Code I think bots are allowed to make p

[2019-08-29 02:36] RohanJnr opened #267 "Fetch posts from reddit"
We can fetch posts from python subreddit using the pydis bot, but what if we could fetch posts from any subreddits that are avilable?

## Implementation details

-  Write a bot command called reddit(or any better name).
- The command should have the following features:
    - The command will take in 2 arguments : 1) Subreddit name 2) sort (from which the post should be fetched: hot, top or new).

[2019-08-29 10:16] lemonsaurus commented on #267
Okay, this looks like a good issue and we will approve it as soon as we agree on the implementation.

@python-discord/admins @python-discord/core-developers do you think we need a mechanism to block problematic subreddits (like porn, gore, hate), or do we just moderate any problematic use of the feature like we would with any other community interaction? And, if we should have a mechanism, how wou

[2019-08-29 10:20] SebastiaanZ commented on #267
Regarding the problematic subreddits and/or individual posts, why don't we just block posts (and subreddits) tagged as `nsfw` and use regular moderation if people hunt for posts without that label on Reddit but with `nsfw` content. (Should be fairly limited, since subreddits that don't tag appropriately get removed.)

[2019-08-29 10:51] lemonsaurus commented on #267
I think that sounds like a good compromise. A complete ban of nsfw subreddits, normal moderation for anything that isn't marked appropriately. I'd be okay with this.

[2019-08-29 12:54] RohanJnr commented on #267
Updated issue, added more details @lemonsaurus @SebastiaanZ

[2019-09-03 01:27] RohanJnr commented on #267
Guys?

[2019-09-03 12:03] lemonsaurus commented on #267
@RohanJnr

Having `r/python` be the default seems good to me, I don't think we need to discuss that further.

Perhaps we can get the actual reddit upvote and downvote emojis for this. We have plenty of emoji slots and I bet these exist on a number of reddit related discord servers so we can nab them from there.

I'd also like to see you update the issue to include the information regarding blocked

[2019-09-03 13:33] scragly commented on #267
Sorry, been a bit busy, thanks for the remind prompt. I have a few thoughts, which I'll pop below.

Sounds like a good idea to me too, I think this is for the best.

It should be named just 'sort'.

I don't think downvotes are necessary to show. They're mostly irrelevant.

Agree, something relatively small but still have most of the basic info for showing them. I threw together a concept design as

[2019-09-03 15:24] RohanJnr commented on #267
I dunno how to paginate 🙁

[2019-09-03 15:26] scragly commented on #267
We have a special paginator class. Don't be sad about not knowing how to use it, be excited that you'll be able to learn! :smile: We'll all try help you out when it comes to that time.

[2019-09-04 07:18] RohanJnr commented on #267
yea, and really like those red color emojis in ur pic scragly.
Updated the issue post as well.
So can i start working on this?
@lemonsaurus

[2019-09-04 08:03] lemonsaurus commented on #267
I don't think you've really updated the issue to reflect the suggestions made by me and @scragly quite yet?

[2019-09-04 11:08] sco1 commented on #252
Hi @RohanJnr, what’s the status of this fix? Are you still working on it or should we reassign?

[2019-09-04 15:10] RohanJnr commented on #252
Probably reassign, sorry :(

[2019-09-07 00:38] jakeHebert commented on #237
Hey guys, I've been tinkering around with a solution for this for a while now, and I'm starting to get one together finally.
So I would like to formally request permission to work on this.

[2019-09-09 19:01] sco1 commented on #237
Go for it @jakeHebert

[2019-09-09 22:15] sco1 commented on #240
Merged in #258

[2019-09-09 22:15] #240 closed

[2019-09-11 04:34] #252 closed

[2019-09-13 17:09] #248 closed

[2019-09-20 11:46] SebastiaanZ opened #274 "Update HacktoberStats cog to use persistent storage"
Since the [HacktoberStats cog](https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/halloween/hacktoberstats.py) relies on storing data in a file, it needs to be adjusted to use the new persistent storage feature that will be added by #273. While the implementation obviously depends on the final form #273 will take, I'm creating this issue now because we have a deadline: Ideally,

[2019-09-22 20:36] jos-b commented on #226
@Suhail6inkling Did you get anywhere with this?

[2019-09-23 17:43] glowingrunes commented on #238
Hello! It's been a while so I thought I'd give you a quick progress update. I've been collaborating with @Chlorophytus on this. Between us, we haven't had much time to work on it, but so far we've made the room navigation and an inventory system. We've got a long way to go, but we have a team Trello board with our remaining tasks on. I'll report back once we hit the next milestone.

[2019-09-24 12:33] RohanJnr commented on #267
updated

[2019-09-26 20:42] sco1 commented on #274
Merged by #273

[2019-09-26 20:42] #274 closed

[2019-09-29 17:31] kosayoda opened #277 "[Feature Request] Spook Name Rate Game"
It's the Spook Name Rate Game! Try saying that multiple times in a row...
The bot will generate a random first+last name from a database/list of names, and the players will have to come up with a halloweenified version of that name! After a certain period of time, the bot will gather up all the entries and put up a poll! Winner gets a hearty congrats and a pat on the back!

## Implementation detai

[2019-09-29 18:46] kosayoda opened #278 "[Feature Request] Horror Game Recommendations"
It's that spooky time of the year, and there's no better time to turn off the lights and cower in fear in front of a screen! To also keep up with the gaming spirit, what game should you play? Ask Spookybot!

## Implementation details
- [ ] Return an embed containing information on a random popular horror game

## Information in the embed
- Summary of the game
- Developer of the game
- Publisher of

[2019-09-29 18:55] kosayoda opened #279 "[Feature Request] Hacktober issue finder!"
What to hack during hacktober? Stuck looking for projects to contribute? Look no further! Spookybot's got your back!

## Implementation details

- [x] Implement a `!hacktoberissues` command
- [x] Retrieve issues with the label `hacktober` and/or `hacktoberfest` using the [Github API](https://developer.github.com/v3/)
- [x] `!hacktoberissues beginner` narrows issues down to also having the `good fi

[2019-09-30 20:36] Greenfoot5 commented on #277
Would it be better to use a wait_for and then their next message in that channel, is their entry. Rather than command?

[2019-09-30 20:43] vivax3794 commented on #279
I can do this I believe.
We would use the [issues api](https://developer.github.com/v3/issues/#list-issues).
and recarding that checking for python, what would be best?
- Take random issues until we find a python one.
- Filter the list for python and then take a random one.

And a question regarding the api:
 the `labels` parameter, does it return issues that have any of them or all of them?

[2019-09-30 20:50] Greenfoot5 commented on #30
For this one, to keep the user the same, one way to do it would be to save each id and their monster type. However, if you didn't want to save stuff, you could to maths on their user id. For example, if you have 10 monsters, take the last digit of their if and use that as the monster number.

[2019-09-30 21:07] Numerlor commented on #279
using the search api would allow for filtering by language but an `or` on the labels isn't possible there

[2019-09-30 21:10] vivax3794 commented on #279
that's a better api to use, We could just do 2 requests and join the lists. then take a random one.

[2019-09-30 21:36] vivax3794 commented on #279
should I just start working on this?  or is there anything else to talk about first?

[2019-09-30 21:47] Greenfoot5 commented on #277
I'd like to work on this one.

[2019-09-30 21:51] Numerlor commented on #279
Was also thinking about working on this but need to familiarise myself with discord py first

[2019-09-30 21:54] vivax3794 commented on #279
well, since I have already used discord.py and was here first. But if you really want you can have it. I just like working with apis, and tought this would be fun. But not going to hold you back. I can find another issue todo.

[2019-09-30 22:04] Numerlor commented on #279
Oh, you can stay on it since you were here first and are familiar with the environment. But if you need anything by chance I'll be happy to help

[2019-09-30 22:05] vivax3794 commented on #279
okay, I will start working on it then.

[2019-10-01 00:01] vivax3794 commented on #279
I looked and as of now, `hacktober` has 2 issues, while `hacktoberfest` as like 4000, (searching for open, and python). should we maybe only search for `hacktoberfest`?
that would make it faster too.

[2019-10-01 00:07] vivax3794 commented on #279
Should we get authentication? or do you think this will not be a problem?

[2019-10-01 00:16] scragly commented on #279
I agree it's best to use the `hacktoberfest` label as it seems to be the official one in use.

Auth isn't required, just be respectful of using the API and cache the response and put an expiry of 1 minute on it or something. Sure we could request it more often, but why when it's also saving us time avoiding an extra HTTP request.

[2019-10-01 00:18] vivax3794 commented on #279
just to clarify, we should only do 1 request per minute?

[2019-10-01 00:20] scragly commented on #279
I think that's a good amount personally, yeah. It's respectful, our data is still pretty current between usages and sudden spurts of the command being used will allow for quicker command response as we're not requesting new data every 6 seconds.

[2019-10-01 00:22] vivax3794 commented on #279
Got it, we need 2 caches then, 1 for normal, and 1 for `good first issue`.

[2019-10-01 01:46] LeptoSpira commented on #279
Should we add extra customization?
One already defined is `good first issue`. But should we also look for just Python issues?

[2019-10-01 01:47] LeptoSpira commented on #279
I also believe there should be a way to filter out poor repos, ones that have no attention, lazy requests, etc

[2019-10-01 01:48] vivax3794 commented on #279
we already only look for python:

poor repos, hm. we might want to talk more about that on the server maybe.

[2019-10-01 01:49] scragly commented on #279
It's better to not overcomplicate things with checking repo quality, humans are best for that, leave it to them.

[2019-10-01 01:49] vivax3794 commented on #279
yhe, I think that's the best option.

[2019-10-01 01:50] LeptoSpira commented on #279
There are simple ways to do that, such as if there is a commit in the last 6 months, how many stars.

[2019-10-01 01:51] scragly commented on #279
The simple ways also exclude valid repositories that probably could use some love, and newer repositories that are perfectly valid.

[2019-10-01 01:55] LeptoSpira commented on #279
True... Alright let's leave it to ~~you~~ *i-mean-us* humans

[2019-10-01 03:32] RohanJnr commented on #277
just wondering if we could make this like a global event rather than channel wise.
The bot sends the name in the off topic and event channels at once and people can come up with a halloweenified version of it.

[2019-10-01 04:49] christopherwalkerml commented on #215
Do the names have to make sense? making a random generator for names that are good puns would be tricky. If they dont have to make sense, I'd do this.

[2019-10-01 09:11] Greenfoot5 commented on #277
Would you then put that on a timer, so it triggers every hour say?

[2019-10-01 17:06] sco1 opened #282 "Hacktoberstats GH Query Timezone Incorrect"
New to Hacktoberfest 2019 is a change to the date window used to validate PRs that count towards the goal. Where last year the timezones were based on UTC, for this year's event a PR is valid as long as it was made when somewhere in the world was beyond October 1st.

This will require an adjustment to the query used by the Hacktoberstats command:

https://github.com/python-discord/seasonalbot/blob

[2019-10-01 17:09] sco1 opened #283 "Update Channel Whitelist to Include the 2019 Hacktoberfest Event Channel"
Seasonalbot commands are limited by a decorator to a subset of the server's channels, which currently does not include our 2019 Hacktoberfest event channel.

This channel (ID: `628184417646411776`) should be added to Seasonalbot's constants:

https://github.com/python-discord/seasonalbot/blob/526dbc465c2d458c893c72b614282937d15190d7/bot/constants.py#L23

And the whitelist updated:

https://github.

[2019-10-01 17:40] cjtaylor1990 commented on #282
I'm looking around for places to help on Github and I noticed this. Looking at the documentation listed, it does seem that the search has UTC offset. So, perhaps something like:

`date_range = f"{CURRENT_YEAR}-10-01 00:00:00+14:00..{CURRENT_YEAR}-11-01 00:00:00-10:00"`

where the last one was changed to allow for people to contribute to the point where it is no longer October anywhere on Earth (-1

[2019-10-01 17:50] Numerlor commented on #282
Should the end date UTC offset be -11 or -12h here? Wiki lists UTC-12:00 as unofficial and it is a nautical timezone

[2019-10-01 17:50] sco1 opened #284 "Update Candy Collection Cog for Persistent Storage"
PR #273 introduced persistent storage for our cogs, allowing for things like leaderboards to remain in between bot restarts. The [candy collection cog](https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/halloween/candy_collection.py) needs to be updated to utilize this functionality.

The utility code itself can be found here: https://github.com/python-discord/seasonalbot/blob/m

[2019-10-01 17:55] cjtaylor1990 commented on #282
@Numerlor Yes, I was incorrect. I've corrected that. I misread.

[2019-10-01 18:01] siqueira-ec commented on #282
I think we must use UTC -11 as the final offset, since Howland and Baker island time are just mere formality.

[2019-10-01 18:16] WillDaSilva commented on #216
I would like to take on this issue. Could you please assign it to me.

[2019-10-01 18:16] WillDaSilva commented on #215
I would like to take on this issue. Could you please assign it to me.

[2019-10-01 18:20] scragly commented on #216
Sure

[2019-10-01 18:53] WillDaSilva commented on #215
I've got a list of 247 sfw drag queen names, which should be enough for now. This cog shouldn't take much longer to finish.

[2019-10-01 21:25] martinwjwilson commented on #244
If this hasn't been done yet I'm happy to do it

[2019-10-02 01:24] LeptoSpira opened #288 ".hackstats edge case, contributing on late September 30th in some time zones will cause false results"
## Description

![image](https://user-images.githubusercontent.com/47790183/66011461-31e51b80-e491-11e9-840d-9bbdc5954ac5.png)
I created a PR on September 30 and it counts on the official page. However, using `.hackstats` only shows the PR's I have created *after* September 30, im my time zone.

## Steps to Reproduce

- Go back in time :sweat_smile:
- Make a PR on September 30, when the first time

[2019-10-02 01:27] sco1 commented on #288
Already handled by #285, via #282

[2019-10-02 01:27] #288 closed

[2019-10-02 02:09] RohanJnr commented on #277
Kinda, let's see what others think of this

[2019-10-02 15:16] #282 closed

[2019-10-02 16:14] sco1 commented on #283
Closed by #285

[2019-10-02 16:14] #283 closed

[2019-10-02 18:51] RohanRadia opened #290 "[Feature Request] Update .issues Command"
Improvement to the issues command. Current command is not only cluttered but takes up a large amount of room when the command is run.

## Implementation details

List the changes required for the implementation here.

- [ ] Output Look; This entails a logo (corresponds with GitHub's PR/Issue logos), more succinct descriptio of issue and hyperlink to the issue itself.

[2019-10-02 19:30] Niladri24dutta commented on #284
@sco1 Can I work on this? it seems we need to add a new class member like `link_json` to replace the `json_location` being used in this code https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/halloween/candy_collection.py#L15 and use the utility for persistent storage. Let me know if my understanding is correct.

[2019-10-02 19:36] scragly commented on #284
Sounds about right.

Are you a member of the discord server? If so, can you please let us know your in-server username. Thanks.

[2019-10-02 19:48] sco1 commented on #58
A very good point was raised that this feature kinda detracts from the core mission of the event: getting folks interested in and experienced with contributing to open source. Getting a shirt is just an added bonus and we don't want to discourage folks from contributing just because they're not going to get one.

[2019-10-02 19:48] #58 closed

[2019-10-02 20:49] vivax3794 commented on #279
It's going well so far, the only thing is it's only getting issues from the first "page" (100 issues each).
the returned data contains the total number of items, we could use that to find the max page number.

the only thing is, if the number of issues changes enough between caches, it can be a problem. If it goes up, that's okay. if it goes down we might pick a too high number.

[2019-10-02 20:51] vivax3794 commented on #279
it's unlikely since it's a new cache every minute, but if the command is not called for a while it might happen. but it's only a problem if it goes down. wich is more unlikely than issues getting added,

[2019-10-02 20:54] Numerlor commented on #279
There's a hard limit of 1 000 issues through all the pages. It gets rid of the variable cache length but well... limits the issues. It could be circumvented with a query that has a time range set

[2019-10-02 21:04] vivax3794 commented on #279
I see, well the current issues are over 5000. but the beginner ones are around 900. so it must be dynamic. with a max of 1000 then. and time range is a good idea, from what I see it get's issues before the specified time. this means we need to know the oldest one.

[2019-10-02 21:09] vivax3794 commented on #279
it can be done, but maybe 1000 is a good pool of issues, but then we are like ignoring around 4000 issues.

[2019-10-03 04:17] WillDaSilva commented on #216
I've decided to hand pick facts for each day. Currently I've amassed 30 facts, which is enough for June 2020. An update will be required to add more facts for future years.

[2019-10-03 06:17] Niladri24dutta commented on #284
@scragly I have not signed up in discord till now , I will send you my username once done.

[2019-10-03 11:53] scragly commented on #284
@Niladri24dutta Sure, just keep in mind it's a requirement for any of our community repositories (seasonalbot, bot and site), so this will have to be kept available for others until that time. Hope to see you in the server sometime soon!

[2019-10-03 12:07] Numerlor opened #293 "Limit the AoC and issue commands to certain channels instead of being allowed everywhere"
Currently, the AoC and issue commands override the global channel whitelist which allows them to be used in any channel.
The decorator was rewritten to accept a new channel whitelist that will be used in place of the global whitelist, this makes the implementation quite simple:

## Implementation details
- [ ] Construct a new whitelist and pass it to `override_in_channel` in issues
- [ ] Construct

[2019-10-04 02:18] RohanJnr commented on #290
I think it's nice to have to the issue title, assignes if any and maybe full description?if the description goes too long use pagination. Cuz the main role of the cmd is to view to issue from discord and not from Github, so it's important to have all details

[2019-10-04 02:19] RohanJnr commented on #290
The issue link can be the embed title

[2019-10-04 02:19] RohanJnr commented on #290
Embed link I Mena

[2019-10-04 08:14] Niladri24dutta commented on #284
@scragly  thanks in the mean time can you please assign this issue to me?

[2019-10-04 14:25] sco1 opened #295 "Add Pagination to .help"
With all of the contributions made to Seasonalbot over the last year, the `.help` command is starting to get really unwieldy:

![image](https://user-images.githubusercontent.com/5323929/66215079-d5e8e580-e690-11e9-8dea-a474fde1ba84.png)

A [pagination utility](https://github.com/python-discord/seasonalbot/blob/master/bot/pagination.py) is provided by Seasonalbot, and you can see an example of this

[2019-10-04 14:47] Numerlor commented on #295
I'd like to give this a try

[2019-10-04 16:38] #235 closed

[2019-10-04 18:37] Niladri24dutta commented on #284
I have joined the discord server and posted in the channel #event-hacktoberfest-2019. My username is nil2441139

[2019-10-04 20:59] Numerlor commented on #295
Have noticed that Python's help doesn't seem to use the LinePaginator to the full extend (Haven't looked into the why); should I aim to use it more in this help or would modifying Python's code to work with this bot be enough?

[2019-10-04 21:10] sco1 commented on #295
Can you elaborate?

[2019-10-04 21:17] Numerlor commented on #295
Well, it doesn't call the paginate class method anywhere and has it's own implementation for iterating over the pages

[2019-10-06 02:23] RohanJnr opened #297 "Trivia quiz refinement"
## Description

recently the trivia quiz PR was merged but there very small stuff which I didn't really take care of.
So here are the list of changes that have to be done to make the trivia quiz functionality proper.

## Steps to Reproduce

- Update docstring
  - Remove the start/stop info in the docstring and only talk about categories.
- The scoreboard doesn't refresh after a game so we want the

[2019-10-06 02:23] RohanJnr commented on #297
Quite an easy issue to solve if anyone is intrested

[2019-10-07 16:04] RohanRadia opened #299 "[Feature Request] Link GH Account"
The command lets people link their github to their discord. For example I wanted to see Icemans (Rohan's) PR's but couldn't remember his Github. If this command existed then I could just do .github @icemanjr and it would return his github username.

## Additional information

You would have a database (perhapse JSON) to store discord handle and github name pairs.

The included commands would be:

[2019-10-07 17:24] HeroicHitesh commented on #297
Can I take up this issue?

[2019-10-07 17:43] RohanJnr commented on #297
Ops looks like u were a bit late, I already got a PR on this, I did assign myself before starting as the trivia quiz was being used a lot and the bugs had to to be immediately :/

[2019-10-07 17:45] HeroicHitesh commented on #297
Ok. No problem I'll try some different issue.

[2019-10-07 18:06] HeroicHitesh commented on #278
@kosayoda I would like to work on it.

[2019-10-09 10:34] kraktus commented on #297
I found a bug on this command. If you tape `.quiz` while already doing one, it does not stop it but instead launch a new one!

[2019-10-09 11:49] RohanJnr commented on #297
should be fixed in the PR #298

[2019-10-10 04:58] jakeHebert commented on #299
I've got a solution for this!

[2019-10-10 11:17] nekitdev opened #300 "Tic-Tac-Toe command"
`.ttt` or `.tictactoe` command lets users play tic-tac-toe using reactions, either player vs player or player vs AI-like program.

## Implementation details

List the changes required for the implementation here.

- [ ] Write the bot command (a new cog)
- [x] Draw beautiful x, o emojis
- [x] Add required emojis
- [ ] Add the command to our README.md

## Additional information

Emojis have been cre

[2019-10-10 11:27] RohanJnr commented on #300
Should be an awesome feature

[2019-10-10 11:27] RohanJnr commented on #300
Perfect addition

[2019-10-10 12:06] RohanRadia commented on #299
@jakeHebert I’m waiting for this issue to be accepted. I would like to take it on if that’s ok as I proposed it. Hope that’s fine.

[2019-10-10 16:34] jakeHebert commented on #299
@RohanRadia Oh, I'm sorry, I didn't realize that you were asking to do this yourself. I whipped up a quick solution for it last night, so if you need any help, just lemme know!

[2019-10-10 22:16] MarkKoz commented on #278
@HeroicHitesh You can go for it!

[2019-10-10 22:18] MarkKoz commented on #277
@Greenfoot5 Are you still interested in this issue? If so, feel free to start working on it and let us know so you can be assigned to the issue.

[2019-10-10 23:44] quizzicaltrains commented on #30
I'm interested in working on this feature. Woud that be alright?

[2019-10-11 00:27] MarkKoz commented on #30
@quizzicaltrains Yes. I'll go ahead and assign you.

[2019-10-11 14:49] kosayoda commented on #299
A few things I would like added to the specs:
- Reverse lookup functionality for `.github [@user]`, where you supply a GitHub username and the bot returns the Discord User if found.
- Allow Moderators+ to unlink a user's GitHub profile, in cases where they intend to impersonate others with harmful intent.
- A Moderators+ restricted `.github list` command that enumerates currently stored users and

[2019-10-11 22:12] #216 closed

[2019-10-11 22:17] #215 closed

[2019-10-13 14:54] kosayoda opened #304 "Ignore draft PRs for .hackstats"
@SebastiaanZ brought up that not all PRs counted by `.hackstats` are valid in the DigitalOcean event due to draft PRs being ignored.

## Implementation details

- [x] Ignore draft Pull Requests returned by the GitHub API.

[2019-10-13 16:53] RohanRadia commented on #299
@kosayoda Done and added more ontop of that.

[2019-10-14 07:02] #293 closed

[2019-10-14 18:20] scragly commented on #299
This is approved for working on and assigned to you now @RohanRadia

[2019-10-15 13:10] Greenfoot5 commented on #277
I am, yes. I've done a little. I'll make sure to finish it and add it in.

[2019-10-15 15:16] glowingrunes commented on #197
Hey, is anyone still working on this? I'd like to do this for Hacktoberfest if it's free.

[2019-10-15 15:19] scragly commented on #197
This issue is actually out of date now and should have been closed due to changes, sorry!

[2019-10-15 15:19] #197 closed

[2019-10-15 17:20] glowingrunes commented on #226
Is anyone still interested in doing this issue? Else I would like to do it for Hacktoberfest.

[2019-10-15 19:12] RohanRadia commented on #299
Thanks Scrag. Will get started and PR in a week or so.

[2019-10-18 16:14] sco1 commented on #290
Closed by #291

[2019-10-18 16:14] #290 closed

[2019-10-18 18:34] Akarys42 opened #307 "Autodelete error messages"
Hi, error messages take a lot of space in the chat (especially the wrong channel one), this is why I think we should make it self-delete after 7.5 seconds

# Implementation details
* Modify [the error handler in case of `InChannelCheckFailure`](https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/evergreen/error_handler.py#L42).

[2019-10-18 19:17] sco1 commented on #307
I'd rather just have the message self-destruct

[2019-10-18 19:38] Akarys42 commented on #307
@sco1 you mean just a timeout, no cross?

[2019-10-20 22:05] Numerlor commented on #304
Just got a confirmation mail after submitting a draft PR, this may not be needed unless it's not indented behavior and gets marked on review

[2019-10-20 22:12] sco1 commented on #304
Draft PRs counting towards the total is a known bug. The behavior of our command should match the behavior described by DigitalOcean

![image](https://user-images.githubusercontent.com/5323929/67167205-1e78f200-f365-11e9-8c10-c9b8334cc433.png)

[2019-10-21 15:53] #279 closed

[2019-10-21 15:54] vivax3794 commented on #279
forgot to close this.

[2019-10-21 21:23] sco1 commented on #220
Closing this as its been superseded by https://pythondiscord.com/pages/contributing/seasonalbot/

[2019-10-21 21:23] #220 closed

[2019-10-24 22:48] RohanRadia commented on #299
Going to stall this in order for further discussion to take place. I have seen that gdud has been working on something similar. Will wait for further information.

[2019-10-26 04:32] quizzicaltrains commented on #174
I am interested in implementing this by using the Unsplash API.

[2019-10-26 08:40] NeKitDS commented on #300
I am really busy irl, so really unsure when I can finish the cog :/

[2019-10-31 05:58] NeKitDS commented on #300
Sadly unable to finish this. Sorry.

[2019-10-31 19:08] NeKitDS commented on #300
Sure thing. Good luck to anyone working on this!

[2019-11-01 10:01] eivl opened #310 "Advent of Codes configuration need to change."
This is from [constants.py](https://github.com/python-discord/seasonalbot/blob/master/bot/constants.py) and it has the year hard-coded.

[code]
This should be changed to the 2019 and maybe we need to do something else and use the constant as a fallback.

We can get the year from datetime, but then you could not access the commands on the first of January.

The API have access to the event before i

[2019-11-01 13:24] kosayoda commented on #310
Not sure whether it should be constant, one way I see would be to use the current year if the month is December, else the previous year.

[2019-11-01 13:40] SebastiaanZ commented on #310
Do we want the commands to be accessible in January? The Advent of Code ends with Christmas, on the 25th of December and "our" seasonalbot" season ends at midnight UTC on the 31st. That means extracting it from `datetime.utcnow()` should work well.

By the way, this class does not control the availability of commands; the start and end date of the seasonalbot event itself are specified in the [`__

[2019-11-06 09:27] jos-b commented on #226
Sorry didn't see this @glowingrunes. If you are still willing to complete it I think we would be interested in this feature. With our new emoji slots we could have a huge amount of emoji. I'd like thoughts from @lemonsaurus or @SebastiaanZ about this issue.

[2019-11-15 16:02] scragly commented on #312
Transferred this issue to seasonalbot due to being an event-related feature.

[2019-11-20 12:57] hot9cups opened #331 "Addition of a new command !wiki"
Hi

So I have a suggestion, not sure if here's where I should post. If it's the wrong place, let me know so I could relocate it

I was thinking, we could have a !wiki command
where !wiki 'xyz' would make the bot fetch the wikipedia article on xyz if it exists.

Just a thought

[2019-11-28 21:01] #310 closed

[2019-12-01 05:53] Starwort opened #318 "`adventofcode.is_in_advent` has an incorrect docstring."
Can fix immediately but rules say I have to get the issue approved before I PR

[2019-12-01 06:05] MarkKoz commented on #318
I do think this is an incorrect range rather than an incorrect docstring because AoC does have 25 days. @sco1 can you confirm?

[2019-12-01 06:15] MarkKoz commented on #318
Never mind, it's intentionally up to the 24th to prevent scheduling things for the next day (26th), which would be after the event is over. However, I will point out the countdown command's message is inaccurate to say that AoC is no longer running when it's invoked on the 25th.

Regarding the docstring, I think it should be specified that the 25th is exclusive, or change it 24th and specify inclu

[2019-12-01 19:34] lemonsaurus commented on #318
Please make issues that actually explain what the issue is in the top comment.

that said, this seems fine, approved.

[2019-12-02 13:36] Skaft opened #321 "AoC: Leaderboard per star"
We currently show two types of statistics for the participants of Advent of Code:

- The leaderboard; a cumulative rundown of each players' progress
- The number and percentage of users who has completed each star

Some more granular statistics would be cool to see. I suggest an alternative leaderboard, which shows scores for a specific star only, and times instead of score (like the [daily breakd

[2019-12-02 14:15] ikuyarihS opened #322 "`.aoc join` does not have any feedback"
Right now, at the `Advent of Code` season, we have many users doing `.aoc join`. But did it go through? Was there any error? We do not know, specially if the bot is offline / we have unhandled exception.

My proposal is that, after doing `.aoc join` for example, the bot will react with a ✅ for example, to tell the user ( and us ) that it was done successfully.

### Example:
Instead of this
![image

[2019-12-02 14:30] SebastiaanZ commented on #322
I'm slightly concerned that a green checkmark may convey the impression that the user has now successfully joined the event, instead of conveying that they should have received a DM with instructions on how to actually join the event. We have already had (at least) one user that was slightly confused by what the command did, although this case could be explained by them using the web interface wit

[2019-12-02 14:37] ikuyarihS commented on #322
That is true, the green checkmark can be misleading, an envelop / email sending ( like 📧
📨 ) reaction will be much more suitable!

[2019-12-02 17:01] AG4lyf opened #323 "Feature Request - personal Pins AKA bookmarks"
Bot command - !bookmark <message id> <hint>

Useful for the cases in which you want to pin some useful info from someone who sent it .

basically it sends a embed to DM of the author , consisting a link to that specific message in the server along side a hint to be able to find easily.

I am currently working for a code for this.

excuse my grammar

[2019-12-02 17:58] AG4lyf commented on #323
syntax - !bookmark <message id > <hints here>

[2019-12-02 17:59] AG4lyf commented on #323
syntax - !bookmark message_id hint

[2019-12-02 18:26] kwzrd commented on #322
Should we also add a reaction on failure? The bot will already respond with a message on `discord.errors.Forbidden`, but `add_reaction` [can raise other exceptions as well](https://discordpy.readthedocs.io/en/latest/api.html#discord.Message.add_reaction).

[2019-12-02 18:32] ikuyarihS commented on #322
That is actually a good call, I just look at the code ( finally ) and in [bot/seasons/christmas/adventofcode.py#L193:L206](https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/christmas/adventofcode.py#L193:L206) it is only catching and handling `discord.errors.Forbidden`.

One may argue, however, that if the bot does not add a reaction for successfully doing its job, it will be f

[2019-12-02 18:51] kwzrd commented on #322
Sorry, I'm not sure why I linked `add_reaction`, I meant to link [send](https://discordpy.readthedocs.io/en/latest/api.html#discord.User.send).

I'd say it may be worth it to also catch `discord.HTTPException` and add a ❌. We can then re-raise to make sure the exception propagates to the error handler. I'm not sure.

[2019-12-02 19:27] Akarys42 commented on #322
Adding a red cross can be quite confusing since it is used to delete messages, maybe a crossed emoji (like for the error message if the dm of an infraction failed) will suit better

[2019-12-02 21:56] kwzrd commented on #322
On a second thought I think I agree with @ikuyarihS - let's just add an envelope reaction if the message successfully dispatches. I will work on this then if that's ok, since people are still joining.

[2019-12-02 22:40] sco1 commented on #30
Merged by #303

[2019-12-02 22:40] #30 closed

[2019-12-02 22:41] sco1 commented on #284
@Niladri24dutta any luck?

[2019-12-03 03:14] #322 closed

[2019-12-03 11:58] AG4lyf commented on #323
Ps - I have the code ready , I will push a PR once this issue get approved

[2019-12-03 12:10] scragly commented on #323
We don't encourage working on code until approval as we often wish to discuss or communicate additional considerations for the implementation. The enthusiasm is great, but please keep it in mind for future.

This issue has been approved with some conditions on implementation:
 - The commands can only be used in `#seasonalbot-commands` and `#bot-commands` channels
 - The file to store data in will

[2019-12-03 13:07] AG4lyf commented on #323
that make the most useful feature of the command a trash , the one in which if the message_id is none , it select the last message

As suggested by Mr. Hemlock and Gdude . in https://discordapp.com/channels/267624335836053506/429409067623251969/651100570878345246
https://discordapp.com/channels/267624335836053506/429409067623251969/651098803591708713
respectively , I don't think we need to store t

[2019-12-03 13:27] scragly commented on #323
We had internally discussed where the command is to be allowed. At this time, we won't allow such a command to be usable in on-topic channels mid-way through conversations and help sessions as it's disruptive and isn't constructive to the current topic. It's just as usable by copying the message ID and using it in the command channels.

Regarding previous discussions on implementation details (the

[2019-12-03 14:38] AG4lyf commented on #323
I respect your opinion and decision , but , the way the discord py works , it don't give message by just message id , it also need channel id(history is a slow process and take so much compute power so no to history) , I can add a channel argument , when set to None it will take current channel , but it make the command hard to use TBH , Still I am adding the arg.

[2019-12-03 14:44] scragly commented on #323
Unlike some other bots, we do have the privilege of being a bit inefficient code-wise for the sake of a more simple user experience.

We know what guild the message will be in, so they can either provide a full jump link and have the [`discord.Message` converter](https://discordpy.readthedocs.io/en/latest/ext/commands/api.html#discord.ext.commands.MessageConverter) resolve it, or we can fallback t

[2019-12-03 14:51] AG4lyf commented on #323
So what i am thinking if am not wrong syntax will be like this
!bm (message_id, last message is taken if * given) (#channelmention(#help-0 for example), ctx.channel is taken if * given) (Hints)
!bm 145155412312315 #help-0 here are some hints
will that do , cuz as mentioned in convertor `Lookup by message ID (the message must be in the context channel)`
or maybe we can scratch all that and do 3rd w

[2019-12-03 14:54] AG4lyf commented on #323
By using 3rd way we also allow users to use !bm for other servers also

[2019-12-03 14:57] scragly commented on #323
Yeah, I'd agree there, just require a jumplink to the message. Less fussing.

[2019-12-03 14:59] AG4lyf commented on #323
Roger , adding the finishing touch and will add a PR , remember i am doing it for first time , so may take a little more time then normal , worst case scenario, i have to go to sleep cuz its alredy late in night

[2019-12-03 15:02] scragly commented on #323
No need to rush at all, take your time, and feel free to ask questions about the code style, dev setup, testing and linting (all the standard first-contrib stuff) in the server's contrib channel. We have a many contribs that will be able to help step through anything like that.

Making sure things are completed with care and quality is always the preference over pumping things out quickly.

[2019-12-03 15:20] AG4lyf commented on #323
also yeah , you didn't wanted a chat to be messed up in between, what if bot delete the message after it send the DM , no one will notice it tho , no one get bugged about it , chat stay clean and all

[2019-12-04 00:43] LeptoFlare opened #325 "Personal stats with something like !aoc mystats"
Instead of needing to go on the website to check your stats, you can use the bot!

## Implementation details
- Show your placement in the private leaderboard
- Show the stars you attained
- Show points that you have
- Suggestions?

- [ ] Write the bot command
- [ ] Add the command to our README.md

## Additional information
You can find your own stats here: https://adventofcode.com/2019/leaderboar

[2019-12-04 06:19] #304 closed

[2019-12-06 15:51] AG4lyf opened #330 "Feature Request - suggest. to suggest something any potential change in the server."
Its a basic command nothing more, just do `.suggest [a suggestion here]` which send a embed with a suggestion along two reaction (upvote, downvote) to choose whether people like it or not
Optional :- add a command(permission = mods/admins) that take a URL of that suggestion message to reply to a suggestion if that's not possible or is useless. and remove the reactions to stop allowing anymore voti

[2019-12-06 16:45] SebastiaanZ commented on #330
Suggestions to our resources list can be made as an issue on either our `meta` repository or, otherwise` our `site` repository. (It was traditionally the latter, since adding one required a PR to be merged, but now we've moved to a wiki-based resources page, maybe `meta` is a better place. I don't know.)

In any case, our resources list is highly curated and we aim to keep it as short as possible.

[2019-12-06 16:45] #330 closed

[2019-12-07 10:52] AG4lyf commented on #330
it have no relation to resources page.
its for suggesting possible changes in the servers or bots . etc . for people who don't use or know github.

[2019-12-07 13:37] SebastiaanZ commented on #330
Then I misunderstood your suggestion, but the answer does not really change.

Suggestions for our community can already be made over at the `meta` repository, where they can receive a proper discussion. We don't want to make decisions regarding the community based on simple upvote/downvote mechanisms and conversations between people living in vastly different timezones are much easier in the form

[2019-12-11 21:33] lemonsaurus commented on #331
@hot9cups the feature sounds okay, but I'd like it on SeasonalBot instead of on our main bot. I've transfered the issue over and given it an approval, so you can go ahead and work on this if you want.

[2019-12-12 11:18] Akarys42 commented on #323
Implemented in #327

[2019-12-12 11:18] #323 closed

[2019-12-14 10:28] hot9cups commented on #331
Alright lemon. I'll make it and report back when ready.

[2019-12-14 13:52] Skaft opened #334 "Cleanup: Add explicit encoding on open() calls"
A bunch of files in this repo are opening JSONs without an explicit encoding. This can cause errors when running SeasonalBot locally, if:
- On Windows (which applies the cp-1252 encoding by default)
- The file contains some character which confuses cp-1252
- The user does not have the PYTHONUTF8 environment variable set to 1.

I don't know how rare an actual error is (I suppose most jsons we use a

[2019-12-15 18:43] Skaft commented on #325
Just checking in if you've gnawed at this one at all? It seems related to #321 which I started on.

Seeing your issue, I had a thought that the per-star data that I'm setting up could be used to show things like your average time per star, which stars you did best on, maybe a personalized graph of the rankings you got over the days.

I think it would be cool with data like that, which isn't immedi

[2019-12-15 19:02] #307 closed

[2019-12-15 22:27] Lvl4Sword opened #335 ".aoc leaderboard #deleted-channel"
When ``.aoc leaderboard`` is ran in a channel that it isn't allowed in, the alert that people get:

Sorry, but you may only use this command within #bot-commands, #seasonalbot-commands, #ot0-everyone-is-lemon-except-you, #ot1-import-that, #ot2-change-the-colours-back, #deleted-channel, #advent-of-code.

references a ``#deleted-channel``

[2019-12-17 17:29] LeptoSpira commented on #325
Was I supposed to? I was expecting someone else to take care of it

[2019-12-17 17:41] sco1 commented on #325
It's polite to ask if whoever opens the issue hasn't specified if it's something they would be interested in implmementing, to avoid duplicate work.

[2019-12-23 08:55] RohanJnr commented on #297
This issue has been taken care of in #298. Closing it.

[2019-12-23 08:55] #297 closed

[2019-12-25 12:12] lemonsaurus commented on #267
Looks good.

[2020-01-06 17:35] AG4lyf opened #336 "Bookmark should limit the length of the description containing message.content"
## Description

When attempting to bookmark a message whose character count approaches Discord's character limit, the characters added by the bookmark command for its DM to the user may put the character count above Discord's field limit (2048 characters). This causes the bot to (silently) fail.

## Steps to Reproduce

* Attempt to bookmark a message whose length is near Discord's character limit

[2020-01-06 18:19] sco1 commented on #336
Seems fine. I've updated the OP to better explain the problem.

Rather than arbitrarily lasering in on a 256 character limit, this PR should provide samples of a few different truncation lengths to see which provides the best level of context.

[2020-01-06 20:12] ikuyarihS commented on #336
Hmm, shouldn't an embed's description be able to handle it, seeing that it also share the 2048 character limit? Do we hold extra info in the description? If so, should we move all of those to a single, new field instead of previewing / truncating?

It can be hard to remember what a bookmark is and clicking the jump link to check every time is not exactly convenient.

[2020-01-06 20:15] sco1 commented on #336
The code can be found here: https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/evergreen/bookmark.py#L31

The jump link and some additional text is added to the embed description.

Sure, but does one really need 2000 characters to do so?

[2020-01-06 20:17] AG4lyf commented on #336
I think 256 is the sweetest spot. it doesn't clutter the embed itself. looks clean .
One can easily see the original message whenever he wants to

[2020-01-06 20:18] sco1 commented on #336
You haven't provided any examples from which to judge whether or not 256 characters is a "sweet spot"

[2020-01-06 20:19] ikuyarihS commented on #336
The problem is the `whenever` - you will need to click on the jump url every time.

Since you only add one extra thing to the original message's content, it can be moved to another field, and thus retain the current format of the embed and that way we do not have to truncate anything at all, getting rid of the length checking logic.

[2020-01-06 20:20] AG4lyf commented on #336
https://user-images.githubusercontent.com/45149585/71840481-677a5000-30e3-11ea-9e5b-8f07e4625cef.png

yeah i think we should add a external field tho

[2020-01-07 13:52] AG4lyf commented on #336
After testings , embed name have a limit of 256 and description 1024
There is no way we can fit whole content in the message
So we have to truncate the message.

[2020-01-07 14:43] sco1 commented on #336
The proposal is to add the jump link to a separate field and leave the message content in the description of the embed.

Per the [developer documentation](https://discordapp.com/developers/docs/resources/channel#embed-limits), the description field has a character limit of 2048 characters, and normal messages have a limit of 2000 so there should be no conflict if this information is accurate.

[2020-01-07 15:19] AG4lyf commented on #336
Ok done!

[2020-01-07 15:22] AG4lyf commented on #336
New messages look like this now
<img width="197" alt="Screenshot_89" src="https://user-images.githubusercontent.com/45149585/71906204-a36aef00-318f-11ea-8f02-27e348af3607.png">
<img width="209" alt="Screenshot_90" src="https://user-images.githubusercontent.com/45149585/71906207-a534b280-318f-11ea-932a-3b8eeace3ce5.png">
Sorry had to split the images cuz it is actually large

[2020-01-09 11:09] ikuyarihS commented on #336
Closed with #337

[2020-01-09 11:09] #336 closed

[2020-01-12 16:11] jchristgit commented on #334
Wouldn't passing `-X utf8` to the interpreter be sufficient?

[2020-01-13 08:15] Skaft commented on #334
I think explicit code that handles the problem for everyone is better. Especially since this project is aimed at beginners, I figure that aiming towards code that "just works" for people running it for the first time is a good idea.

[2020-01-13 19:59] jchristgit commented on #334
How would passing that flag to the interpreter not "just work", though? The entry point is in the Pipfile, so unless you have some non-pipenv setup you're going to run it with the extra flag. I also have never seen another open source Python project using explicit encoding in `open` calls ..

[2020-01-13 20:50] Skaft commented on #334
Oh, right - fair point. A pipfile fix seems a good solution then.

[2020-01-17 10:59] RohanJnr commented on #267
I think it will be better just to send 5 posts at once and remove the option for sending only 1 option, I don't know why people will want to see only 1 post when they can see 5 at once.

[2020-01-24 22:05] Owez opened #338 "Blank .bm bookmarking request message"
As an alternative from explicitly giving the message ID to bookmark when using the `.bm [message id]` command, add a shorthand version with the entire command being `.bm`. This will work by simply getting the message saying "`.bm`"'s ID and bookmarking that. For example:

[code]

In this example, instead of USER2 writing `.bm 334` to bookmark the message ID, they can simply type `.bm` and bookmark

[2020-01-24 22:11] kwzrd commented on #338
I've also seen a suggestion that bot could listen for further clicks on its :incoming_envelope: reaction, and dispatch the bookmark to those who click as well. This would be a super clean way to ask to be given the bm as well, although it may not be very obvious that it does that.

[2020-01-24 22:24] LordHemlock commented on #338
It'd be more obvious if we also added a little footer to the embed that mentions that.  That's actually a really cool idea.  And would be relatively easy to implement.

The only thing we'll have to work out is making sure people don't accidentally spam themselves by clicking then unclicking then clicking rinse and repeat.  Although I guess in fairness they'd be doing it to themselves.

[2020-01-24 22:56] manusaurio opened #339 "`.bm` bookmarks messages from channels the user isn't in"
## Description
The seasonal bot bookmarks _any_ message for _anyone_, as long as SB can see it. This includes staff-only channels, giving the possibility of bookmarking messages you wouldn't usually have access to.

I am not super worried about this since getting a valid ID would be nearly impossible, but I would _still_ add the extra check.

## Steps to Reproduce
Use `.bm` with an ID taken from a

[2020-01-24 22:59] manusaurio commented on #339
Maybe @AG4lyf could do this. If not, I could tackle it later.

[2020-01-24 23:02] kwzrd commented on #339
Good catch, I wouldn't have thought of that.

#338 was just opened which also plans some changes for the feature, something to keep in mind.

[2020-01-25 08:17] Akarys42 commented on #338
Another thing that would be quite cool is to be able to delete a bookmark, since there is no way of doing it right now. We could just have a `.bm delete [id]` command, and the bot will search through the DMs and delete it. Another thing is that if the original message is deleted, the bookmark stays, but I don't think that's a real problem.

[2020-01-25 09:07] AG4lyf commented on #339
I am working on this first , cuz its high priority.
Will work on #338 after this one.

[2020-01-25 10:46] scOwez commented on #338
If the bot sent a message itself (as what @LordHemlock said), the shorthand `.bm` could bookmark the bot's own message, preventing any deletions.

[2020-01-25 12:43] AG4lyf commented on #338
Can i work on it , i am nearly done.

[2020-01-25 12:53] AG4lyf commented on #338
Also we can fetch the 334 id message
The way you are asking if you need to add hints you have to do `.bookmark * hints are here`
then why not use the message above that bookmark message
also it keep the way clean because one can react to that message and get same bookmark too.

[2020-01-27 15:59] AG4lyf commented on #339
added both of it in PR #340

[2020-01-27 23:51] sco1 opened #341 "Allow Users to React to a Bookmark to Recieve a Copy"
Spun off of conversations in https://github.com/python-discord/seasonalbot/issues/338#issuecomment-578322144 and https://github.com/python-discord/seasonalbot/pull/340#pullrequestreview-348784550:

@kwzrd:

@AG4lyf made a good initial implementation in #340 that exposed some UX concerns:

@sco1:

Since this implementation discussion shouldn't block the fix being implemented by #340, it has been re

[2020-01-28 04:24] AG4lyf commented on #341
assign me

[2020-01-28 04:26] #339 closed

[2020-01-30 02:40] JackyFWong commented on #224
Hi, can I work on this?

[2020-01-30 06:09] MarkKoz commented on #224
@JackyFWong sure

[2020-02-02 21:54] neonsea opened #343 ".icon command to explain the current guild icon"
## Implementation details

Whenever the guild icon changes, we get a lot of questions asking why it's so. The most recent one is the pink icon for the Valentine's season.

It would be good to have an !icon tag which shows the reason for why the current icon is active, and the duration it's active for. Maybe human-written explanations for each one can be written, but obviously that requires more wo

[2020-02-05 06:42] RohanJnr opened #344 "Changes to bemyvalentine command"
The command sends a lovely message to a person who has the lovefest role.
But the thing is, the person can use the command even though he/she does not have the lovefest role.

## Steps to Reproduce
- Have an additional check if the user has the lovefest role.

Additional :
- longer cooldown maybe?

[2020-02-05 07:07] RohanJnr opened #345 "Movie command"
Most of us fancy watching movies, be it horror, romantic, action, comedy, etc.
We already have 2 commands that get us a romantic and horror movie, but what about other genres?

## Implementation details

- [ ] Write a bot command called .movie (name can be changed)
- [ ] This command should take 1 argument and that is the genre.
- [ ] Use TMDB API to get movies according to that genre and send in

[2020-02-05 07:11] RohanJnr commented on #213
This can be merged with generalized movie command #345

[2020-02-09 13:37] #267 closed

[2020-02-09 15:37] RohanJnr opened #348 "Problems with Reddit command."
Recently, the Reddit command PR (#346) was merged with a number of problems being overlooked. This issue is to outline the required fixes and any additional enhancements to the feature.
## Current Problems

- When navigating using reactions, the embed is edited twice in succession, first making the embed blank and then with the new content. This sometimes results in slow updating and the embed sta

[2020-02-09 15:55] Suhail6inkling commented on #348
also - this is a minor error but

* “meant” is misspelt incorrectly ([shown on L60](https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/evergreen/reddit.py#L60))

[2020-02-09 15:56] scragly commented on #348
Definitely worth mentioning, thanks @Suhail6inkling.

[2020-02-11 10:23] AG4lyf commented on #341
I purpose a timeout system that remove all reaction and then put the incoming_envelope in the end . so that on_reaction does not cluster even if its temp.

[2020-02-11 10:56] SebastiaanZ commented on #341
Do you just mean the following?

[2020-02-11 11:18] AG4lyf commented on #341
yes

[2020-02-12 20:35] #343 closed

[2020-02-12 21:39] Suhail6inkling commented on #244
Hey! I know I'm a bit late to this (and I'm sorry for not replying) but I actually did almost finish the code for this so is it okay if I still work on this?

[2020-02-13 06:17] manusaurio opened #351 "[Trivia] Use fuzzywuzzy ONLY on the messages from the channel the game was activated in"
## Description
The current cog for the trivia game does a fuzzywuzzy check for every message in the entire server while it's being played.

We could check instead if the channel the message was sent from is the right one, then do the fuzzywuzzy.

There are other ways the cog could be enhanced in a larger scale, I'll try to open an issue later or suggest a refactoring.

## Reasoning
The way it curr

[2020-02-15 21:32] ikuyarihS opened #352 "pagination does not work when clicking LAST_EMOJI"
## Description
Right now, when using the pagination, clicking the LAST_EMOJI will raise an exception

[code]

## Proposed Implementation
This is because `paginator.pages` is a list. I believe it should be
[code]

This line of code can be found at [bot/paginator.py](https://github.com/python-discord/seasonalbot/blob/7ef23b4d42716883dd8d51d0b2ffab36e45b6f59/bot/pagination.py#L392)

[2020-02-16 11:51] SebastiaanZ commented on #331
@hot9cups Are you still planning to work on this? Some other members have also expressed interest in working on a `.wiki` command for Seasonal Bot.

[2020-02-16 15:37] F4zii commented on #352
Hey, can I work on this?

[2020-02-16 15:38] ikuyarihS commented on #352
Sure thing, I've assigned you @F4zii

[2020-02-16 17:18] F4zii commented on #344
Hey, can I work on this?

[2020-02-16 17:36] ks129 opened #354 "[Feature Request] .games Command"
## Description

There should `.games` command where you must provide genre to get random games from this genre (like my added `.movies` command) and also have following subcommands:
- `top <amount>` - Most popular games
- `company` - Get random game company

## Reasoning

I'd like to see this in SeasonalBot, and there is already something like this in Halloween Season, so this mean other peoples w

[2020-02-16 18:32] sco1 commented on #354
What is the proposed API for this?

Is this intended to be a replacement for the [existing cog](https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/evergreen/recommend_game.py) (Merged by #258)?

[2020-02-16 19:26] ks129 commented on #354
@sco1 i mean [IGDB API](https://www.igdb.com/api) . And yes, this will replace current game recommendation, but will add some more features

[2020-02-18 16:34] #345 closed

[2020-02-18 17:09] #352 closed

[2020-02-18 17:17] jos-b commented on #354
The IGDB API key has been added through the environment variable `IGDB_API_KEY`.

[2020-02-18 18:41] jos-b commented on #354
Does it have to replace the existing game stuff? Can we not extend the current system?

[2020-02-18 18:42] jos-b commented on #354
Though I guess the current system is limited... PRing to add a new game is not super efficient.

[2020-02-18 18:45] sco1 commented on #354
If there's a choice between a local JSON file and an API that can both accomplish nearly the same task I would rather tend towards an API solution, as our resource files are very rarely (if ever) updated beyond their state when initially merged into the codebase.

[2020-02-18 18:47] jos-b commented on #354
True, in that case I'm willing to approve this.

[2020-02-18 18:50] jos-b commented on #354
This shouldn't be too different from the movies command, the description seems fine so feel free to add this.

[2020-02-20 14:00] AG4lyf commented on #295
Can I work on this ?

[2020-02-23 15:29] lemonsaurus opened #355 "Add pep8-naming to the linting toolchain"
We've decided to use this plugin in our linting toolchain, which allows us to test things like variable name casing (no camelCase please!) and whether classes and methods use `cls` and `self`.

## Implementation
Here are the errors it can catch:

code | sample message
-- | --
N801 | class names should use CapWords convention
N802 | function name should be lowercase
N803 | argument name should be l

[2020-02-24 16:06] AG4lyf opened #357 ".apod command for Astronomy Picture of the Day."
## Description
Basic Idea is to use NASA's public API to fetch Astronomy Picture of the Day. This contain a description and a picture with a title with respect to the topic that changes every 24 hours.

## Reasoning
It looks cool similar to .games and .movies commands.

## Proposed Implementation
Use NASA's API and json to get a embed and send it . very easy
Also we will need a constant as nasa AP

[2020-02-24 16:11] lemonsaurus commented on #72
This is no longer relevant once we deseasonify the bot.

[2020-02-24 16:11] #72 closed

[2020-02-24 16:11] AG4lyf opened #358 ".nasa command to get random facts from NASA"
## Description
This command will retrieve a random fact from NASA's API , this can be anything.
Implementation similar to #357

## Reasoning
Looks nice, similar to .games and .movies commands.

## Proposed Implementation
Use NASA's API and json to get a embed and send it . very easy
Also we will need a constant as nasa API's Auth key.

## Additional Details
![image](https://user-images.githubuserc

[2020-02-24 16:15] AG4lyf opened #359 ".earth command to retrive random picture of earth."
## Description
This is not as cool as the other 3 of the commands. but it looks nice. retrives earth picture taken by NASA's satellite . Implementation similar to #357 .

## Reasoning
It looks cool similar to .games and .movies commands.

## Proposed Implementation
Use NASA's API and json to get a embed and send it . very easy
Also we will need a constant as nasa API's Auth key.

## Additional Det

[2020-02-24 16:21] AG4lyf opened #360 ".mars command to get pics by rovers on mars"
## Description
Out of all the command using this API this is the best looking and feeling command.
It come with 1 downside . There is lack of pictures provided by NASA through there API.
Implementation similar to #357

## Reasoning
It looks cool similar to .games and .movies commands.

## Proposed Implementation
Use NASA's API and json to get a embed and send it . very easy
Also we will need a con

[2020-02-25 03:26] sco1 opened #362 "Hello AG"
This is a test

[2020-02-25 03:27] #362 closed

[2020-02-25 03:29] AG4lyf commented on #362
Hiiii

[2020-02-25 15:27] sco1 commented on #262
The user events setup we have now seems to adequately address the gist of this proposal so there isn't much that can be actioned here.

[2020-02-25 15:27] #262 closed

[2020-02-25 15:32] sco1 commented on #139
With the impending overhaul of Seasonalbot's functionality to lose the season manager we'll be moving to a more hands-on, lower cadence implementation of events.

[2020-02-25 15:32] #139 closed

[2020-02-25 15:33] sco1 commented on #179
Automated season announcements are going away so we don't need to do this.

[2020-02-25 15:33] #179 closed

[2020-02-25 15:34] sco1 commented on #185
Season management is going away so this no longer needs to be implemented.

[2020-02-25 15:34] #185 closed

[2020-02-25 15:42] sco1 commented on #226
I'm going to revert the status of this to planning & defer it until after #329 is complete, with the removal of the seasonal manager we need to determine whether or not this feature is still wanted (probably yes) and how to implemented it inside of the new system.

[2020-02-25 15:50] sco1 commented on #360
All of these (#357, #358, #359, #360) look fine. Rather than implementing these as individual cogs, they should ultimately end up being contained inside one cog and implemented as subcommands.

With that in mind, please take a look at their respective APIs and see if there is any functionality that could be implemented for each beyond just returning a random picture. Are there any "generes" or oth

[2020-02-25 15:50] sco1 commented on #359
All of these (#357, #358, #359, #360) look fine. Rather than implementing these as individual cogs, they should ultimately end up being contained inside one cog and implemented as subcommands.

With that in mind, please take a look at their respective APIs and see if there is any functionality that could be implemented for each beyond just returning a random picture. Are there any "generes" or oth

[2020-02-25 15:50] sco1 commented on #358
All of these (#357, #358, #359, #360) look fine. Rather than implementing these as individual cogs, they should ultimately end up being contained inside one cog and implemented as subcommands.

With that in mind, please take a look at their respective APIs and see if there is any functionality that could be implemented for each beyond just returning a random picture. Are there any "generes" or oth

[2020-02-25 15:50] sco1 commented on #357
All of these (#357, #358, #359, #360) look fine. Rather than implementing these as individual cogs, they should ultimately end up being contained inside one cog and implemented as subcommands.

With that in mind, please take a look at their respective APIs and see if there is any functionality that could be implemented for each beyond just returning a random picture. Are there any "generes" or oth

[2020-02-25 15:53] AG4lyf commented on #357
so
cog named space :
.apod
.nasa
.mars
.earth
If i am not wrong.

[2020-02-25 15:53] sco1 commented on #357
That should be a fine start

[2020-02-26 08:00] lemonsaurus commented on #226
I agree with @sco1's assessment. It might be something we want, but it should not be implemented until after the deseasonification is complete.

[2020-03-01 10:23] AG4lyf commented on #348
Bot doesn't check if the reddit have any post in it.
Such reddit can be `/r/makemyideas`
Bot fails silently
I found this on private testing
[code]
It happened today
https://discordapp.com/channels/267624335836053506/607247579608121354/683523350353674313

[2020-03-01 11:24] ks129 commented on #295
@Numerlor Are you working on it? When not, can I work with it?

[2020-03-04 17:14] #278 closed

[2020-03-04 17:14] #354 closed

[2020-03-05 04:00] ikuyarihS opened #369 ".games not accurately get genre"
## Description
Right now when searching for a genre, the genre has to be 100% similar to the genre listed, otherwise it will be regarded as not correct. The code responsible for getting the searched genre and suggesting genres can be seen here:
https://github.com/python-discord/seasonalbot/blob/ce8fb0f8f541ade993d6c93bdcefa33a63287311/bot/seasons/evergreen/game.py#L194-L199

Some example of not be

[2020-03-05 04:06] #355 closed

[2020-03-08 20:47] kwzrd opened #372 "Upgrade Seasonalbot to Python 3.8"
With `bot` and `snekbox` now being bumped to 3.8, we should also look into bumping Seasonalbot.

This is a fairly self-explanatory issue.

As explained in https://github.com/python-discord/bot/issues/758, one of the motivations for upgrading were the improvements to unittesting asynchronous code. We do not have a testing suite for Seasonalbot, which means that we won't benefit from those improveme

[2020-03-09 00:13] DuckMasterAl opened #374 ".snakes about has the wrong prefix"
## Description

The text in the `.snakes about` command has the wrong prefix for the commands you should try. It uses `!` as a prefix instead of `.`

## Steps to Reproduce

1. Do `.snakes about`
2. Read the embed and notice the bot's command has a prefix with `!` not `.`

## Expected Behaviour

It talks about the bot then says
The bot says

in the embed

## Actual Behaviour

The bot says

in the e

[2020-03-09 00:18] DuckMasterAl commented on #374
Improper Lines: https://github.com/python-discord/seasonalbot/blob/master/bot/seasons/evergreen/snakes/snakes_cog.py#L953-L954

Just change them to:

[2020-03-09 14:15] DhruvDuseja commented on #143
@jodth07 For the 4th point, >  provide independence day date for specified country , do you expect DD/MM/YYYY or just DD/MM. Because there would have to be a second dictionary if it was by year, I believe. (The first dictionary to only hold all independence days in DD/MM format.)

[2020-03-10 13:36] kwzrd commented on #374
Good spot! Since you've ticked that you'd like to fix this, I'll assign you.

Statically referring to the prefix introduces a bit of a maintenance debt in the sense that should the prefix change in the future (or in a development environment), the help will be outdated again. At runtime, the prefix is available as a constant [here](https://github.com/python-discord/seasonalbot/blob/dc86d6714163f3d

[2020-03-13 13:37] AG4lyf commented on #360
@ks129 As you are the one who is currently working on this.
I want to bring in your view that there is a huge lack of picture from NAVCAM and Rear CAM
You should include pictures from inside cameras. otherwise it's quiet useless to see same 5-7 pictures

[2020-03-13 13:40] ks129 commented on #360
@AG4lyf Cameras is random in ny code, and my code support all 3 rovers. I think this will not affect it.

[2020-03-13 17:48] #295 closed

[2020-03-14 15:15] ks129 commented on #331
Due this have no activity, can I work on it?

[2020-03-15 14:38] hot9cups commented on #331
@SebastiaanZ Unfortunately, I haven't been able to complete it yet. It's been a while I know, so I won't stall anyone. I'll continue to work on it, but I don't mind it being assigned to others if someone wants it.

[2020-03-19 09:37] #372 closed

[2020-03-19 09:40] ks129 commented on #143
I think maybe will be cooler when `nationalday` is part of like `country` command, with what you can get much information about world countries.

[2020-03-20 14:41] DuckMasterAl commented on #374
Hey,
Sorry I kind of didn't open Github and just was on Github Desktop for a while...
I've just changed the prefix to the one right now since I'm a little busy this week, anyone else can feel free to help and change it though!
Thanks,
DuckMasterAl

[2020-03-20 15:06] kwzrd commented on #374
Sounds good, no worries.

Thanks for opening the PR, I will take a look tonight!

[2020-03-20 21:18] CharlieADavies opened #377 ".xkcd command to get xkcd comics"
## Description
A command to retrieve xkcd comics (by number, most recent, or at random) and display them in an embed. Idea was first proposed by Discord user AG.

## Reasoning
XKCD comics are funny, and they are often relevant to a conversation. I think a command to let people find comics such as the the Bobby Tables comic https://xkcd.com/327/ or to discover new comics would be a cool feature.

#

[2020-03-20 21:50] sco1 commented on #377
We could probably implement a persistent cache of at least the comic title & ID. Sites like [Explain XKCD](https://www.explainxkcd.com/wiki/index.php/Main_Page) do have [such tables](https://www.explainxkcd.com/wiki/index.php/List_of_all_comics) already, which would be an expensive cache for initial seed, with a smaller daily hit to update anything recent that is missing.

For deeper aliasing ther

[2020-03-20 22:27] #246 closed

[2020-03-21 12:55] kwzrd opened #379 "Persistence directory isn't .gitignored"
Seasonalbot's [persistence module](https://github.com/python-discord/seasonalbot/blob/master/bot/utils/persist.py) writes to a `data/` directory, which should be local only, and not version controlled.

However, this currently isn't declared in the `.gitignore`, and the directory could sneak into a commit on accident.

Let's fix this by adding it to the `.gitignore`.

[2020-03-21 13:07] #379 closed

[2020-03-23 18:04] ks129 commented on #300
Can I work on this?

[2020-03-23 18:11] kwzrd commented on #300
This looks like a fun feature, but what is the proposed control scheme?

Given a 3x3 board, how will users select which field they would like to place their mark on? The issue mentions `using reactions` - the bot could populate the board with the `1`, `2`, ... emojis, and slowly replace them with Xs and Os as they are placed, but then I'm consufed about the `:empty_square:` emoji.

Adding an optio

[2020-03-23 19:19] NeKitDS commented on #300
Hey everyone! Glad someone came to working on this. The idea of `:empty_square:` is to fill the spaces which don't have `X` or `O` at their places yet. Originally I thought about using `1-9` for controls, but arrow emojis also seem like a way to go. Good luck on this one! <3

[2020-03-23 19:35] ks129 commented on #300
My idea was use messages for controlling, like `1 1` will use top left. These messages will be deleted.

[2020-03-23 19:37] NeKitDS commented on #300
Well, that also works, but imho reactions would be better.

[2020-03-23 20:04] kwzrd commented on #300
I prefer @NeKitDS 's approach, I cannot imagine this being very user-friendly. You'd have to explain whether indices begin at 0 or 1, and whether origin is bottom-left or top-left. With arrows, most will instantly understand what to do, so it'll lead to much better UX.

Discord provides the full set of arrows necessary, including diagonal (e.g. `:arrow_lower_left:`), so with NeKit's `X`'s and `O`'

[2020-03-24 22:55] kwzrd commented on #335
Since the outdated constant still hasn't been removed I will do it in #329.

[2020-03-26 15:34] sco1 opened #384 "Logging Level Adjustments"
With the updated definition on logging levels (see: #378), there are a few events that are potentially issuing logs at too high of a level, alerting the DevOps team for things that aren't actionable, or at too low of a level.

Since a lot of things are changing with #329, will defer this until that work is completed.

[2020-03-26 21:28] kwzrd commented on #384
I was wondering whether this should be included in #329. But I agree that it's better deferred until that's done, and approached as a separate issue. All new code I'm writing is (hopefully) using sensible log levels.

[2020-03-26 21:47] sco1 commented on #384
There aren't that many, so there isn't much issue doing it in #329, I just didn't want to do it in the middle of all the other changes

[2020-03-28 23:10] vivax3794 commented on #331
I could work on this, I should be able to do it in a few days when I get the time since I have made exactly a command like this for my twitch bot. so it should mainly just be porting that code over and fixing up the spaghetti I normally leave in my personal projects xD

[2020-03-30 14:44] vivax3794 commented on #331
should I just start working on this?

[2020-03-30 16:17] sentry-io[bot] opened #387 "Minesweeper: KeyError in reveal command when game no longer exists"
Sentry Issue: [SEASONALBOT-A](https://sentry.io/organizations/python-discord/issues/1588105645/?referrer=github_integration)

[code]

[2020-03-31 06:47] ikuyarihS commented on #338
So what was the conclusion of the discussion?

Right now PR #386 is bookmarking the message invoking the command, will send this to the command invoker as well as everyone who reacted with the `pin` message:

![image](https://user-images.githubusercontent.com/19921765/77995495-1383ae00-7356-11ea-9b1d-8e6af55f2ff1.png)

I do not think this is a good design, because everytime I look at it, I have no

[2020-03-31 06:51] AG4lyf commented on #338
![image](https://user-images.githubusercontent.com/45149585/77995767-02cd3b00-734a-11ea-8c28-4e125ba6e0c2.png)
as the example given here we can do is bookmark the message with id 334, and one can always get the same bookmark by reacting.

[2020-03-31 06:55] ikuyarihS commented on #338
What do you refer here as "same bookmark" though? Because in everyone's DM they will see a single `.bm` like in the image above, which, 3 days later, will make no sense to them.

[2020-03-31 06:57] AG4lyf commented on #338
no i mean bookmark whose target message is m_id 334

[2020-03-31 06:58] ikuyarihS commented on #338
In that case are you going to bookmark the message with content `This is a cool post` or the message with `.bm`? Because right now the PR is bookmaking the one with `.bm` instead.

[2020-03-31 06:59] #357 closed

[2020-03-31 06:59] #358 closed

[2020-03-31 06:59] #359 closed

[2020-03-31 06:59] #360 closed

[2020-03-31 07:00] AG4lyf commented on #338
`This is a cool post` one, I can make some changes in PR. also that one will make more sense.

[2020-03-31 07:02] ikuyarihS commented on #338
In that case, what if the chat is like this
[code]
Which message will be bookmarked?

[2020-03-31 07:04] AG4lyf commented on #338
id 3
ofc
`USER3 [id 3]: Nice one!`

[2020-03-31 08:29] lemonsaurus commented on #331
sure @vivax3794, go ahead.

[2020-03-31 08:33] AG4lyf commented on #338
Ok after internal talking that we need to use union
so now
.bm @USER1
will bookmark the last message by USER1 in that channel
also that way you can use hints also

[2020-03-31 09:00] sentry-io[bot] opened #388 "KeyError: 'date' in apod command"
When passed a date not in the range of dates supported by the NASA Astronomy picture of the day a KeyError is raised.

We should confirm that the date passed is between June 16th 1995 and the current date.

Additionally, to be more fault tolerant we should handle API errors completely, I'll attach an example of an error response for people to work with should they want to take this issue on.

Sent

[2020-03-31 09:03] jos-b commented on #388
An error response from the API looks like this:
[code]

If we handle invalid dates and return any other errors we can eliminate KeyErrors.

[2020-03-31 17:45] #369 closed

[2020-04-01 16:56] AG4lyf commented on #338
I just got a really good idea. I saw something similar to this in one of my server . Here is link how it looks in working
https://ag-1436.xyz/indinet

[2020-04-01 16:57] sco1 commented on #338
Very funny. Please don't shitpost in GH issues.

[2020-04-02 12:39] #335 closed

[2020-04-03 17:44] kwzrd opened #390 "Send greeting message on start-up"
In https://github.com/python-discord/seasonalbot/pull/329, the `SeasonManager` cog was removed. It was responsible for dispatching a greeting message to the `#dev-log` channel, much like Python does:

![image](https://user-images.githubusercontent.com/44734341/78388719-c61b7100-75e1-11ea-8c67-3c6dd46668fb.png)

SeasonalBot does therefore not currently dispatch any such message. I think this is a r

[2020-04-03 18:08] scragly commented on #390
I agree, and there's something planned for this actually in Python botto that is very likely able to be transferred over to this botto once complete in the form of an extension.

For now, we don't have a pressing need for any dev-log output other than the startup and we actually [already have a helper method on the bot instance to send a message to the devlog channel](https://github.com/python-dis

[2020-04-03 22:14] #390 closed

[2020-04-03 23:56] Numerlor opened #393 "Verify channel constants on startup"
## Description
The bot should check that there are no channels missing from the guild which are present in the bot constants.

## Reasoning
As discussed in #342 this will help prevent issues like #335 and has already been implemented for bot.

## Proposed Implementation
With the current implementation of the constants as simple classes (not sure why they're NamedTuples) without any annotations or

[2020-04-04 09:50] kwzrd opened #394 "Port over `wait_until_guild_available` from `bot` repository"
## Context
It is a common pattern to have a task wait until the bot connects, perform some action, and send a message to Discord. An example is the greeting start-up message added yesterday in #391.

## Problem
Because it takes some time for the bot to populate its internal cache with data from Discord (e.g. guilds, channels, users, ...), `discord.py` provides a convenience coroutine [`wait_until_

[2020-04-05 22:01] jos-b commented on #226
We have a GitHub token in SeasonalBot. Why can't we do an API request to get folder listings.

[code]

[2020-04-06 08:45] lemonsaurus commented on #226
After discussing this with the core developers, we're gonna close this issue for now. It seems like a needlessly complicated solution to a problem we don't have - we have bucketloads of emoji slots available right now, and we don't really have any seasonal emojis to put into this system.

With the concept of seasons being less prevalent this year than last, I also don't think it makes as much sens

[2020-04-06 08:45] #226 closed

[2020-04-08 17:15] #387 closed

[2020-04-08 17:15] #388 closed

[2020-04-14 09:19] kosayoda opened #398 "Enhancement: Support requesting multiple issues using .issue"
## Description
The current usage for the `.issue` command looks like this:
[code]
It would be useful to allow multiple issue numbers, resulting in one embed listing all of the issues.

## Reasoning
Requesting multiple issues is a hassle, having to repeat the command for each issue. The resulting embed is also rather large and intrusive.
![image](https://user-images.githubusercontent.com/41782385/7

[2020-04-16 13:25] ks129 commented on #398
This can be done very easily:
- Collect IDs with `discord.Greedy`
- Loop requests to get information
- Create embed that `description` each line have one issue/PR
When this is gonna be approved, I'd like to work with it.

[2020-04-16 22:05] #394 closed

[2020-04-18 19:21] kwzrd opened #399 "Handle disabled DMs when starting Minesweeper"
The minesweeper cog does not currently handle the situation where a user invokes the start command, but doesn't have DMs enabled. Discord will return a 403 and the command will fail on this line.

https://github.com/python-discord/seasonalbot/blob/c6c87378cd6dd65e2fac83b97d48430c3cb0917c/bot/exts/evergreen/minesweeper.py#L154-L158

The problem should be solved similarly to how the AoC cog handles

[2020-04-25 23:18] fuzzmz commented on #399
Going to take a swing at this and submit a PR in the following days as I'm interested to take a dive in the codebase.

[2020-05-04 13:48] kwzrd opened #402 "Handle potential errors in halloweenify command"
The `halloweenify` cog will generate a Halloween-themed nickname for the invoking user, and then attempt to set it as a guild nickname.

https://github.com/python-discord/seasonalbot/blob/b45272aa62859abedc1ccc1836f0a61935394e87/bot/exts/halloween/halloweenify.py#L44

It does not currently handle the following situations.

## Lacking permissions

When invoked by a staff member, the bot lacks the r

[2020-05-04 14:00] Akarys42 commented on #402
Hi, can I work on that?

[2020-05-04 14:01] kwzrd commented on #402
@Akarys42 Absolutely, I've assigned you. Thanks!

[2020-05-05 12:49] AtieP opened #404 "Prefix rich presence"
Hello, I have a suggestion for this bot. Its to add a rich presence that shows the prefix of this bot. I think that it's a good idea because there's a lot of people struggling, including me.

[2020-05-05 12:52] AtieP commented on #404
By the way, it would be cool the rich presence to be like this: `Prefix: {prefix}`

[2020-05-05 13:01] kwzrd commented on #404
I think it may be nicer to copy what Python (the bot) does: `Commands: .help`

That way, it's consistent, hints at the help command, and still shows the prefix.

![image](https://user-images.githubusercontent.com/44734341/81068741-28b5a480-8ee1-11ea-9a89-71cdc5d5456e.png)

[2020-05-05 21:56] DuckMasterAl commented on #374
I came back to this and added ctx.prefix to the pr.

[2020-05-08 18:54] kwzrd commented on #404
I'll grab this one - would be cool to have.

[2020-05-13 14:16] kwzrd commented on #338
Issue is now available if anyone wants to work on it.

Contributions should take into account reviewer feedback from the two PRs:
https://github.com/python-discord/seasonalbot/pull/349
https://github.com/python-discord/seasonalbot/pull/386

[2020-05-13 14:17] kwzrd commented on #341
Issue is now available if anyone wants to work on it.

Contributions should take into account reviewer feedback from the two PRs:
https://github.com/python-discord/seasonalbot/pull/349
https://github.com/python-discord/seasonalbot/pull/386

[2020-05-13 14:51] Akarys42 commented on #341
Hi, can I work on this issue and #338? :grin:

[2020-05-13 15:58] kwzrd commented on #341
@Akarys42 Sure, go for it. I've assigned you on both.

[2020-05-14 01:51] Aaryan-K commented on #174
I'm interested in trying to do this

[2020-05-17 18:42] kwzrd opened #409 "Specify event loop on Windows"
Sister issue from `bot` repo: https://github.com/python-discord/bot/issues/894

With Python 3.8, the default asyncio event loop on Windows is now the [ProactorEventLoop](https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.ProactorEventLoop). One of our dependencies, `aiodns`, doesn't like that, as reported today by one of our contributors:

![loop](https://user-images.githubuserconten

[2020-05-17 22:22] #409 closed

[2020-05-18 02:02] Numerlor opened #411 "Files without an encoding specified may crash bot"
On windows (possibly some other OSs), non utf8 default encodings are used which produces `UnicodeDecodeError`s when files with characters not included in the default encodings are read.

The main issue comes from `bot\resources\evergreen\trivia_quiz.json` which is always ran on bot startup, and crashes with the latin1 encoding (english windows); other files incompatible with the encoding are opene

[2020-05-18 05:30] #404 closed

[2020-05-18 05:40] #374 closed

[2020-05-18 10:54] kwzrd commented on #411
Yeah, agreed. Thanks for looking into this.

This would be a good first issue if anyone is interested. If not, then I'll do it at some point.

[2020-05-19 01:41] jodth07 commented on #411
Working on it

[2020-05-19 04:36] #402 closed

[2020-05-19 10:43] ks129 opened #412 "Update help command"
## Description

python-discord/bot#519 got merged some days ago so these changes should get merged to here too.

## Reasoning

Because current help command is basically Python bot help command, just some small changes.

## Would you like to implement this yourself?

- [ ] I'd like to implement this feature myself
- [x] Anyone can implement this feature

[2020-05-21 14:06] Aaryan-K commented on #174
This seems to be beyond my ability - if it can be unassigned I can look for an issue that's more my level of experience to contribute to.

[2020-05-23 04:35] #399 closed

[2020-05-24 01:11] Den4200 commented on #377
@CharlieADavies Are you still planning on working on this issue?

[2020-05-24 02:12] CharlieADavies commented on #377
This kinda fell off my radar due to other real life things; sorry for not updating the issue or commenting.

I can (and would like to) implement this, but I won't be able to for a little while - so if someone else wants to work on this I can't really object.

[2020-05-24 20:27] jodth07 opened #414 "partnerzodiac ext update with dates | or new zodiac ext"
## Description

Add additional parameters that can return
 - the date based on zodiac sign
 - zodiac sign based on dates.

## Reasoning
I would like to for when `.partnerzodiac` is called with a zodiac sign,
In addition the zodiac info, we can also have the date range for the signs, such that those unfamiliar with the zodiac signs can learn about the dates as well.

## Proposed Implementation

.pa

[2020-05-25 09:34] #334 closed

[2020-05-25 09:34] #411 closed

[2020-05-30 15:13] htudu commented on #377
@CharlieADavies @Den4200  I have been working and implemented it.

[2020-06-03 23:45] doodspav opened #416 "Make pridavatar command work correctly with GIF avatars"
## Description
Right now the `.prideavatar <ring>` command works with all avatar image formats, but only produces PNG images. The proposed change would modify this command to produce GIFs if the avatar format is a GIF. This change could potentially be implemented for other commands that modify the avatar, however I haven't tried any others.

## Reasoning
It would be nice if commands that formatted

[2020-06-04 00:38] MarkKoz commented on #416
Good suggestion. In fact, I was just thinking about this issue the other day.

[2020-06-04 00:41] doodspav commented on #416
I thought I had something that worked, but turns out GIFs in PIL decay to Image as easily as c-arrays decay to pointers :/ (Pretty much any conversion from the original file will turn the GIF into an Image). So this might take me a little longer than I thought.

[2020-06-04 01:01] MarkKoz commented on #416
Since you're working on it, I'll assign you to the issue.

[2020-06-06 08:59] lemonsaurus opened #417 "Enable Sentry aiohttp integration"
Sentry has an integration for aiohttp, which will give us more relevant data collection for this repo to Sentry. I'll add this today.

I'll bump the sentry-sdk version up to 0.14.4 while I'm at it, too.

[2020-06-13 17:44] PureFunctor opened #420 "Caesar cipher command"
## Description
`.caesarcipher` or its alias `.caesar`, can be used to cipher the given text, given an integer offset.

## Reasoning
I've recently noticed that there was no caesar cipher command specifically in the [Fun](https://github.com/python-discord/seasonalbot/blob/bb30d2904b4a3273d4b10dc9548c542d65f0c379/bot/exts/evergreen/fun.py#L29) cog of the seasonalbot, and I think it would be a fair ad

[2020-06-13 18:43] kwzrd commented on #420
I think this would be fun to have. Could it somehow provide an `about` (or similar) subcommand to explain how a Caesar cipher works? This could have good educational value. Feel free to start working on it, if you haven't already.

[2020-06-14 02:07] PureFunctor commented on #420
I'm currently looking into making `.caesarcipher` a command group and adding an `about` subcommand. However, one of my concerns is the semantics of the command, which is currently:

![image](https://user-images.githubusercontent.com/66708316/84583015-38040800-ae26-11ea-96de-79d56aebe2d7.png)

What do you think about utilizing an `encrypt` and `decrypt` subcommands instead?

[2020-06-23 10:56] kwzrd commented on #420
I think the `encrypt`/`decrypt`/`about` is good. If you feel it's appropriate, `encrypt` could have an alias `rightshift/rshift` or similar.

The group command will also receive a `Context` object which should be aware of whether a sub-command was invoked, [see here](https://discordpy.readthedocs.io/en/latest/ext/commands/api.html#discord.ext.commands.Context.invoked_subcommand). Alternatively, it

[2020-06-23 11:10] PureFunctor commented on #420
Thanks for the insight. I'll look into delegating the arguments to an `encrypt` subcommand by default; currently I just have the `.caesarcipher` command group display its help embed. I'll be working on it soon and I should make a PR once it's ready.

[2020-06-23 11:15] kwzrd commented on #420
Yeah, that should probably stay, as it's the standard behaviour. It may become messy to only auto-invoke `encrypt` if the group receives valid params for it. Just having `encrypt` as a subcommand that has to be invoked explicitly is probably perfectly fine - the convenience of not having to invoke it directly isn't worth messy code, in my opinion. It's up to you - just wanted to share a couple of

[2020-06-29 17:21] Vincenwobdo commented on #414
I will be taking on this task. @jodth07

[2020-06-29 23:26] GalaxyCube101 opened #422 "Minesweeper issue"
## Description
Two issues, one: The top row of the XY board on iOS is broken, and two: I lost on my first move, which doesn’t happen in normal Minesweeper.

## Steps to Reproduce
Play Minesweeper on iOS

## Expected Behaviour
I expected normal letters on the top row and to not die on the first move.

## Actual Behaviour
The top row was bugged and I lost on my first move.

## Known Impacted Platfor

[2020-06-30 01:10] MarkKoz commented on #422
Unicode emoji are being used. It's a bug with the iOS app. Unicode flags are comprised of the regional indicators but the app doesn't realise displaying flags was not intended here. There seems to be no solution on our end. A workaround is to flip the top and side rows so that the letters are on the side.

I don't necessarily consider this a bug. This behaviour depends on the version of the game b